

<!-- LEFT SIDE -->
<div class="topics_left" ng-class="{hidden: (app.wWidth <= 750 && (('my/groups/groupId' | isState) || ('my/topics/topicId' | isState)))}">

    <!--div ng-if="filters" cos-dropdown class="classic_dropdown">

        <div class="dropdown_selection">
            <div class="dropdown_text" translate="{{filters.selected.name}}">
                Selected filter
            </div>

            <div class="arrow_holder">
                <div class="table_cell">
                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                    <div class="v_line"></div>
                </div>
            </div>
        </div>

        <div class="dropdown">

            <div class="dropdown_item" ng-repeat="item in filters.items">
                <div ng-if="item.children">
                    <div class="item_category" translate="{{item.name}}">
                        Item category
                    </div>
                    <div class="item_names_wrap">
                        <div ng-repeat="child in item.children" class="item_name" ng-click="onSelect(child.id)" ng-class="child === filters.selected ? 'bold' : ''">
                            <span translate="{{child.name}}">Child name</span>
                        </div>
                    </div>
                </div>

                <div ng-if="!item.children">
                    <div class="item_name" ng-click="onSelect(item.id)" ng-class="item === filters.selected ? 'bold' : ''" translate="{{item.name}}">
                        Item name
                    </div>
                </div>

                <div class="clearer"></div>
            </div>

        </div>
    </!--div>

    <!-- Topics -->
    <!--my-menu-item  item="group" ng-repeat="group in GroupService.groups"></!--my-menu-item>
    <my-menu-item--  item="topic" ng-repeat="topic in TopicService.topics"></my-menu-item-->
    <topic-list-item [topic]="topic" *ngFor="let topic of topics$ | async"></topic-list-item>
    <!-- No results -->
    <div class="no_results table" *ngIf="!UserTopicService.countTotal$">
        <!-- No Groups view -->
        <div class="v_align_cell">
            <div class="no_results_icon_wrap">
                <div class="sprite sprite-icon-no-results2x"></div>
            </div>
            <div class="title_area">
                <h3 translate="VIEWS.MY.NO_RESULTS_FOUND_TITLE">No results found</h3>
                <p translate="VIEWS.MY.NO_RESULTS_FOUND_DESCRIPTION">We can’t display results for what you’re searching. Maybe try another search?</p>
            </div>
        </div>
    </div>

</div>
