.topics_left {
  width: 28%;
  margin-bottom: 50px; // Make room for UV widget, would otherwise overlap content.

  @media (max-width: 1680px) {
      width: 33%;
  }

  @media (max-width: 1320px) {
      width: 38%;
  }

  @media (max-width: 750px) {
      width: 100%;
  }

  padding: 10px 11px 10px 10px;
  box-sizing: border-box;
  float: left;
  position: relative;

  .container_header {
      margin-top: 20px;
      .header_text {
          color: initial;
      }
  }
}