@use "mixins";
.argument_wrap {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  width: 85%;
  gap: 16px;

  &.pro {
    background-color: var(--color-argument-pro-light);
    border-left: solid 4px var(--color-argument-pro);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    align-self: flex-start;

    .btn_reply_argument {
      background-color: var(--color-argument-pro-medium);
      color: var(--color-argument-pro-text);
    }
  }
  &.con {
    background-color: var(--color-argument-con-light);
    border-right: solid 4px var(--color-argument-con);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-self: flex-end;

    .btn_reply_argument {
      background-color: var(--color-argument-con-medium);
      color: var(--color-argument-con-text);
    }
  }
  &.poi {
    background-color: var(--color-argument-info-light);
    align-self: center;
    width: 100%;

    .btn_reply_argument {
      background-color: var(--color-argument-info-medium);
      color: var(--color-argument-info-text);
    }
  }

  &.reply {
    background-color: var(--color-surfaces);
    align-self: center;
    width: 100%;

    .btn_reply_argument {
      background-color: var(--color-argument-info-medium);
      color: var(--color-argument-info-text);
    }
  }
  .argument_header {
    display: flex;
    justify-content: space-between;

    .header_left,
    .header_right {
      display: flex;
      gap: 8px;
      align-items: center;

      .dropdown {
        background-color: initial;
        .options {
          position: absolute;
        }
      }
      .btn_argument_actions {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &:hover {
          background-color: var(--color-surfaces);
        }
      }
    }
  }
  .argument_content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .argument_subject {
      display: flex;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    .argument_body {
      display: flex;
      flex-direction: column;
    }
  }
  .argument_footer {
    display: flex;
    justify-content: space-between;

    .footer_left,
    .footer_right {
      display: flex;
      gap: 8px;
      align-items: center;

      .btn_vote_argument {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        &:hover {
          background-color: var(--color-scrollbar);
        }
      }

      .btn_reply_argument {
        display: flex;
        height: 32px;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        font-weight: 600;
      }
    }
  }
  .replies_wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .reply_container {
      display: flex;
      gap: 8px;

      .reply_referer {
        height: 32px;
        width: 32px;
      }
    }
  }
}
