<div class="single_argument" [ngClass]="{'is_reply': isReply}">
  <div id="{{argument.id + '_v' + (argument.edits.length-1)}}" class="argument"
    [ngClass]="{post_argument_wrap: showEdit}">
    <!-- COMMENT HEADER -->
    <div class="argument_header">
      <div class="reply_icon sprite sprite-icon-arrow-reply2x" *ngIf="isReply">
      </div>
      <div class="argumentator">
        <div class="table_cell">
          <div *ngIf="!argument.creator.email" class="classic_dropdown borderless_dropdown">

            <div class="dropdown_selection">
              <div class="dropdown_text data_item bold">
                {{argument.creator.name}}
              </div>
            </div>
          </div>
          <div [cosDropdown] *ngIf="argument.creator.email" class="classic_dropdown borderless_dropdown">

            <div class="dropdown_selection">
              <div class="dropdown_text data_item bold">
                {{argument.creator.name}}
              </div>

              <div class="arrow_holder">
                <div class="table_cell">
                  <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                </div>
              </div>
            </div>

            <div class="dropdown comment_creator_dropdown">
              <!-- NO CATEGORY -->
              <div class="dropdown_item">
                <div class="item_name">
                  <a [href]="'mailto:'+argument.creator.email">{{argument.creator.email}}</a>
                </div>
                <div class="item_name" *ngIf="!!argument.creator.phoneNumber">{{argument.creator.phoneNumber}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="argument_header_widget">
        <div class="table_cell" [title]="argument.createdAt | date : 'yyyy-MM-dd HH:mm'">
          {{argument.createdAt | amTimeAgo}}
        </div>
      </div>
      <div *ngIf="isEdited()" class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div *ngIf="isEdited()" class="argument_header_widget underline_link" (click)="argument.showEdits = !argument.showEdits">
        <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_VIEW_PREVIOUS_VERSIONS"></div>
      </div>
      <div class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="table_cell">
        <div [cosDropdown] class="classic_dropdown borderless_dropdown">

          <div class="dropdown_selection">
            <div class="dropdown_text data_item" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_SELECT_ACTIONS"></div>

            <div class="arrow_holder">
              <div class="table_cell">
                <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <!-- NO CATEGORY -->
            <div class="dropdown_item">
              <div *ngIf="canEdit()" class="item_name" (click)="argumentEditMode()"
                translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_EDIT"></div>
              <div *ngIf="canEdit()" class="item_name" (click)="doShowDeleteArgument()"
                translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_DELETE"></div>
              <div class="item_name" (click)="copyArgumentLink($event)"><span translate="LNK_DIRECT_LINK"></span></div>
              <div class="item_name" #loggedIn (click)="doArgumentReport()"
                translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_REPORT"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <!-- END COMMENT HEADER -->
    <!-- EDIT COMMENT -->
    <edit-argument *ngIf="showEdit" [argument]="argument" [topicId]="topicId" (showEdit)="toggleEdit($event)"></edit-argument>
    <!-- END EDIT COMMENT -->
    <!-- COMMENT CONTENT -->
    <div class="argument_title">
      <span *ngIf="isVisible() && !showDeletedArgument" [innerHTML]="argument.subject"></span>
    </div>

    <div class="argument_text_wrap" check-height [ngClass]="{read_more: readMore}"> <!--check-height -->
      <a *ngIf="isReply && !argument.deletedAt && isVisible()" href="#" class="replys_reply"
        (click)="goToParentArgument()">@{{getParentAuthor()}}</a>
      <div *ngIf="isVisible() && !showDeletedArgument" class="argument_text" [innerHTML]="argument.text | markdown"></div>
      <!--| markdown-->
      <div *ngIf="!isVisible() && !showDeletedArgument && argument.deletedBy.id === argument.creator.id"
        class="argument_text italic" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_HAS_BEEN_DELETED_BY"
        [translateParams]="{usersFullName: argument.deletedBy.name}"></div>
      <div *ngIf="!isVisible() && !showDeletedArgument && argument.deletedBy.id !== argument.creator.id"
        class="argument_text italic" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_HAS_BEEN_DELETED_BY_MODERATOR"
        [translateParams]="{usersFullName: argument.deletedBy.name}"></div>
      <div class="argument_overlay"></div>
      <div class="blue_link read_more_link" (click)="readMore = !readMore"
        translate="{{(readMore) ? 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_CLOSE' : 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_READ_MORE'}}">
      </div>
    </div>
    <!-- END COMMENT CONTENT -->
    <!-- COMMENT DELETED -->
    <argument-deleted *ngIf="argument.deletedAt" [argument]="argument"></argument-deleted>
    <!-- END COMMENT DELETED-->
    <!-- COMMENT EDITS  && !$last-->
    <argument-edits *ngIf="argument.showEdits && isEdited()" [topicId]="topicId" [argument]="argument"></argument-edits>
    <!-- END COMMENT EDITS -->
    <!-- COMMENT FOOTER -->
    <div class="argument_footer">
      <div *ngIf="!argument.deletedAt">
        <div class="link_wrap">
          <div class="table_cell">
            <div class="blue_link black_text" (click)="showReply=!showReply"
              translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_REPLY"></div>
          </div>
        </div>

        <ng-container *ngIf="Auth.loggedIn$ | async; then loggedIn;"></ng-container>
        <ng-template #loggedIn>
          <div class="line_wrap">
            <div class="table_cell">
              <div class="v_line"></div>
            </div>
          </div>
          <div class="thumbs_up" [ngClass]="{'active': argument.votes.up.selected}">
            <div class="table_cell" (click)="doArgumentVote(1)">
              <div class="sprite sprite-icon-thumb-up-gray">
              </div>
            </div>
            <div class="table_cell comment_vote_count" (click)="doShowVotersList()">
              {{argument.votes.up.count}}
            </div>
          </div>
          <div class="thumbs_down" [ngClass]="{'active': argument.votes.down.selected}">
            <div class="table_cell" (click)="doArgumentVote(-1)">
              <div class="sprite sprite-icon-thumb-down-gray">
              </div>
            </div>
            <div class="table_cell comment_vote_count" (click)="doShowVotersList()">
              {{argument.votes.down.count}}
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="argument.replies.rows.length" class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="link_wrap" *ngIf="argument.replies.rows.length" (click)="showReplies = !showReplies">
        <div class="table_cell">
          <div *ngIf="!showReplies" class="blue_link bold" id="{{argument.id}}_replies" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_SHOW_REPLIES"
            [translateParams]="{count: argument.replies.rows.length}"></div>
          <div *ngIf="showReplies" class="blue_link bold" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_HIDE_REPLIES">
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <!-- END COMMENT FOOTER -->
  </div>

  <!-- REPLY TO COMMENT  -->
  <argument-reply *ngIf="showReply" [argument]="argument" [topicId]="topicId"></argument-reply>
  <!-- END REPLY TO COMMENT -->
</div>
<ng-container *ngIf="showReplies">
  <argument [argument]="reply" [topicId]="topicId" [root]="argument" *ngFor="let reply of argument.replies.rows"></argument>
</ng-container>
