<div class="single_argument">
  <div id="{{argument.id + '_v' + (argument.edits.length-1)}}" class="argument"
    [ngClass]="{post_argument_wrap: showEdit}">
    <!-- COMMENT HEADER -->
    <div class="argument_header">
      <div class="argumentator">
        <div class="table_cell">
          <div *ngIf="!argument.creator.email" class="classic_dropdown borderless_dropdown">

            <div class="dropdown_selection">
              <div class="dropdown_text data_item bold">
                {{argument.creator.name}}
              </div>
            </div>
          </div>
          <div [cosDropdown] *ngIf="argument.creator.email" class="classic_dropdown borderless_dropdown">

            <div class="dropdown_selection">
              <div class="dropdown_text data_item bold">
                {{argument.creator.name}}
              </div>

              <div class="arrow_holder">
                <div class="table_cell">
                  <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                </div>
              </div>
            </div>

            <div class="dropdown comment_creator_dropdown">
              <!-- NO CATEGORY -->
              <div class="dropdown_item">
                <div class="item_name">
                  <a [href]="'mailto:'+argument.creator.email">{{argument.creator.email}}</a>
                </div>
                <div class="item_name" *ngIf="!!argument.creator.phoneNumber">{{argument.creator.phoneNumber}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="argument_header_widget">
        <div class="table_cell" [title]="argument.createdAt | date : 'L LT'">
          {{argument.createdAt | date}}
        </div>
      </div>
      <div *ngIf="isEdited()" class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div *ngIf="isEdited()" class="argument_header_widget underline_link" (click)="showEdits = !showEdits">
        <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_VIEW_PREVIOUS_VERSIONS"></div>
      </div>
      <div class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="table_cell">
        <div [cosDropdown] class="classic_dropdown borderless_dropdown">

          <div class="dropdown_selection">
            <div class="dropdown_text data_item" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_SELECT_ACTIONS"></div>

            <div class="arrow_holder">
              <div class="table_cell">
                <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <!-- NO CATEGORY -->
            <div class="dropdown_item">
              <div *ngIf="canEdit()" class="item_name" (click)="argumentEditMode()"
                translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_EDIT"></div>
              <div *ngIf="canEdit()" class="item_name" (click)="doShowDeleteArgument()"
                translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_DELETE"></div>
              <div class="item_name" (click)="copyArgumentLink($event)"><span translate="LNK_DIRECT_LINK"></span><input
                  class="comment_link_input" id="comment_link_input_{{argument.id + '_v'+(argument.edits.length-1)}}"
                  value="" /></div>
              <div class="item_name" *ngIf="Auth.loggedIn$ | async" (click)="doArgumentReport()"
                translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_REPORT"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <!-- END COMMENT HEADER -->
    <!-- EDIT COMMENT -->
    <!--comment-edit *ngIf="comment.showEdit" comment="comment" topic-id="topicId"></!--comment-edit-->
    <!-- END EDIT COMMENT -->
    <!-- COMMENT CONTENT -->
    <div class="argument_title">
      <span *ngIf="isVisible() && !showDeletedArgument" [innerHTML]="argument.subject"></span>
    </div>

    <div class="argument_text_wrap" check-height
      ng-class="{overheight: offsetHeight > maxTextHeight, read_more: readMore}">
      <div *ngIf="isVisible() && !showDeletedArgument" class="argument_text" [innerHTML]="argument.text"></div>
      <!--| markdown-->
      <div *ngIf="!isVisible() && !showDeletedArgument && argument.deletedBy.id === argument.creator.id"
        class="argument_text italic" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_HAS_BEEN_DELETED_BY"
        [translateParams]="{usersFullName: argument.deletedBy.name}"></div>
      <div *ngIf="!isVisible() && !showDeletedArgument && argument.deletedBy.id !== argument.creator.id"
        class="argument_text italic" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_HAS_BEEN_DELETED_BY_MODERATOR"
        [translateParams]="{usersFullName: argument.deletedBy.name}"></div>
      <div class="argument_overlay"></div>
      <!--div class="blue_link read_more_link" (click)="$parent.readMore = !$parent.readMore"
               translate="{{($parent.readMore) ? 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_CLOSE' : 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_READ_MORE'}}">Read more
          </!--div-->
    </div>
    <!-- END COMMENT CONTENT -->
    <!-- COMMENT DELETED -->
    <div class="argument_footer delete_reasons" *ngIf="argument.deletedAt">
      <div class="link_wrap">
        <div class="table_cell">
          <div class="blue_link active_red" (click)="showDeleteReason = !showDeleteReason"
            translate="VIEWS.TOPICS_TOPICID.ARGUMENT_WHY">
          </div>
          <div class="active_red_triangle_wrap" *ngIf="showDeleteReason">
            <div class="active_red_triangle">
            </div>
          </div>
        </div>
      </div>
      <div class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="link_wrap">
        <div class="table_cell">
          <div class="blue_link active_red" (click)="showDeletedArgument = !showDeletedArgument"
            translate="VIEWS.TOPICS_TOPICID.ARGUMENT_VIEW_ARGUMENT_ANYWAY">
          </div>
          <div class="active_red_triangle_wrap" *ngIf="isVisible() && !showDeleteReason">
            <div class="active_red_triangle">
            </div>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>

    <div class="alert_argument" *ngIf="showDeleteReason" (click)="showDeleteReason = !showDeleteReason">
      <span translate="VIEWS.TOPICS_TOPICID.ARGUMENT_FOUND_INAPPRIOPRIATE_BY"
        [translateParams]="{usersFullName: argument.deletedBy.name}"></span><span
        *ngIf="argument.deletedReasonType || argument.deletedReasonText">:</span>
      <b *ngIf="argument.deletedReasonType">{{('TXT_REPORT_TYPES_' + argument.deletedReasonType | uppercase) |
        translate}}</b><br>
      <b *ngIf="argument.deletedReasonText" class="italic">{{argument.deletedReasonText}}</b>
      <br>
      <br>
      <span translate="VIEWS.TOPICS_TOPICID.ARGUMENT_READ_CODE_OF_CONDUCT"
        [translateParams]="{codeOfConduct: config.get('moderation').codeOfConduct}"></span>
    </div>
    <div class="alert_argument" *ngIf="argument.deletedAt && isVisible()">
      <span class="replys_reply italic"><b>{{argument.subject}}</b></span><br>
      <span class="italic" (click)="showDeletedArgument = !showDeletedArgument" [innerHTML]="argument.text"></span>
      <!-- pipe markdown -->
    </div>
    <!-- END COMMENT DELETED-->
    <!-- COMMENT EDITS -->
    <!--div-- id="{{argument.id + '_v' + version}}" class="argument" ng-class="'is_' + edit.type" *ngIf="comment.showEdits && TopicComment.isEdited(comment) && !$last"
           *ngFor="let item of argument.edits | keyvalue">
          <div class="argument_header">
              <div class="argument_header_widget">
                  <div class="table_cell" [title]="item.value.createdAt | date : 'L LT'">
                      {{item.value.createdAt | date}}
                  </div>
              </div>
              <div class="line_wrap">
                  <div class="table_cell">
                      <div class="v_line"></div>
                  </div>
              </div>
              <div class="argument_header_widget">
                  <div class="table_cell">
                      <a href="#" (click)="copyCommentLink(comment.id, version, $event)"><span translate="LNK_DIRECT_LINK"></span><input class="comment_link_input"
                                                                                                                                              id="comment_link_input_{{argument.id + '_v'+version}}"
                                                                                                                                              value=""/></a>
                  </div>
              </div>
              <div class="clearer"></div>
          </div>
          <div class="argument_title" *ngIf="edit.subject">
              {{item.value.subject}}
          </div>
          <div class="argument_text_wrap">
              <div class="argument_text italic" ng-bind-html="edit.text"></div>
          </div>
      </!--div-->
    <!-- END COMMENT EDITS -->
    <!-- COMMENT FOOTER -->
    <div class="argument_footer">
      <div *ngIf="!argument.deletedAt">
        <div class="link_wrap">
          <div class="table_cell">
            <div class="blue_link black_text" (click)="showReply=!showReply"
              translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_REPLY"></div>
          </div>
        </div>
        <ng-component *ngIf="Auth.loggedIn$ | async as loggedIn;"></ng-component>
        <ng-template #loggedIn>
          <div class="line_wrap">
            <div class="table_cell">
              <div class="v_line"></div>
            </div>
          </div>
          <div class="thumbs_up" ng-class="{'active': comment.votes.up.selected}" *ngIf="loggedIn">
            <div class="table_cell" (click)="doCommentVote(1)">
              <div class="sprite sprite-icon-thumb-up-gray">
              </div>
            </div>
            <div class="table_cell comment_vote_count" (click)="doShowVotersList()">
              {{argument.votes.up.count}}
            </div>
          </div>
          <div class="thumbs_down" ng-class="{'active': comment.votes.down.selected}" *ngIf="loggedIn">
            <div class="table_cell" (click)="doCommentVote(-1)">
              <div class="sprite sprite-icon-thumb-down-gray">
              </div>
            </div>
            <div class="table_cell comment_vote_count" (click)="doShowVotersList()">
              {{argument.votes.down.count}}
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="argument.replies.rows.length" class="line_wrap">
        <div class="table_cell">
          <div class="v_line"></div>
        </div>
      </div>
      <div class="link_wrap" *ngIf="argument.replies.rows.length" (click)="showReplies = !showReplies">
        <div class="table_cell">
          <div *ngIf="!showReplies" class="blue_link bold" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_SHOW_REPLIES"
            [translateParams]="{count: argument.replies.rows.length}"></div>
          <div *ngIf="showReplies" class="blue_link bold" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_HIDE_REPLIES">
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <!-- END COMMENT FOOTER -->
  </div>

  <!-- REPLY TO COMMENT  -->
  <!--comment-reply *ngIf="showReply" comment="comment" topic-id="topicId"></!--comment-reply-->
  <!-- END REPLY TO COMMENT -->
</div>