<div class="page_content">
  <div id="page_header">
    <div id="user_info_area">
      <div class="small_heading" [innerHTML]="'VIEWS.MY_TOPICS.HEADER' | translate"></div>
    </div>
    <div id="buttons_area">
      <button id="show_search" class="btn_medium_close icon" (click)="app.showSearch = !app.showSearch">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.1922 15.6064C13.0236 16.4816 11.5723 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5723 16.4816 13.0236 15.6064 14.1922L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L14.1922 15.6064ZM15 10C15 12.7614 12.7614 15 10 15C7.23858 15 5 12.7614 5 10C5 7.23858 7.23858 5 10 5C12.7614 5 15 7.23858 15 10Z"
            fill="#727C84" />
        </svg>
      </button>
      <activities-button *ngIf="auth.loggedIn$ | async"></activities-button>
    </div>
  </div>
  <div id="page_filters_wrap">
    <div id="options_area" [@openClose]="moreFilters ? 'open' : 'closed'" class="mobile_hidden">
      <div class="options_row" [@openClose]="moreFilters ? 'open' : 'closed'">
        <cos-input [placeholder]="'VIEWS.MY_TOPICS.FILTER_VISIBILITY' | translate" class="dropdown_input">
          <div class="dropdown" [cosDropdown] [multipleChoice]="true">
            <div class="selection">
              <div class="selected_item">
                <span *ngIf="topicFilters.status !=='favourite' && topicFilters.status !== 'showModerated'">
                  {{'TXT_TOPIC_STATUS_' + topicFilters.status | uppercase | translate}}</span>
                <span *ngIf="topicFilters.status === 'favourite'"> {{'VIEWS.MY_TOPICS.FILTERS.TOPICS_FAVOURITED' |
                  translate}}</span>
                <span *ngIf="topicFilters.status === 'showModerated'"> {{'VIEWS.MY_TOPICS.FILTERS.TOPICS_MODERATED' |
                  translate}}</span>
              </div>
              <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
            </div>
            <div class="options">
              <div class="option check">
                <label class="checkbox">
                  <span translate="VIEWS.MY_TOPICS.FILTER_ALL"></span>
                  <input type="checkbox" [checked]="topicFilters.status === 'all'" (click)="setStatus('all');">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="option check" *ngFor="let status of statuses$">
                <label class="checkbox">
                  <span [translate]="'TXT_TOPIC_STATUS_' + status | uppercase"></span>
                  <input type="checkbox" [checked]="topicFilters.status === status" (click)="setStatus(status);">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="option check">
                <label class="checkbox">
                  <span translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_FAVOURITED"></span>
                  <input type="checkbox" [checked]="topicFilters.status ==='favourite'"
                    (click)="setStatus('favourite');">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="option check">
                <label class="checkbox">
                  <span translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_MODERATED"></span>
                  <input type="checkbox" [checked]="topicFilters.status ==='showModerated'"
                    (click)="setStatus('showModerated');">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </cos-input>
        <cos-input [placeholder]="'VIEWS.MY_TOPICS.FILTER_MY_ENGAGEMENT' | translate" class="dropdown_input">
          <div class="dropdown" [cosDropdown]>
            <div class="selection">
              <div class="selected_item">
                <span translate="TXT_TOPIC_STATUS_ALL" *ngIf="topicFilters.engagements === 'all'"></span>
                <span translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_I_HAVE_VOTED"
                  *ngIf="topicFilters.engagements === 'hasVoted'"></span>
                <span translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_I_HAVE_NOT_VOTED"
                  *ngIf="topicFilters.engagements === 'hasNotVoted'"></span>
                <span translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_I_CREATED"
                  *ngIf="topicFilters.engagements === 'iCreated'"></span>
              </div>
              <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
            </div>
            <div class="options">
              <div class="option" translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_I_HAVE_VOTED"
                (click)="setFilter('hasVoted')"></div>
              <div class="option" translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_I_HAVE_NOT_VOTED"
                (click)="setFilter('hasNotVoted')"></div>
              <div class="option" translate="VIEWS.MY_TOPICS.FILTERS.TOPICS_I_CREATED" (click)="setFilter('iCreated')">
              </div>
            </div>
          </div>
        </cos-input>
        <cos-input [placeholder]="'VIEWS.MY_TOPICS.FILTER_CATEGORIES' | translate" class="dropdown_input tablet_hidden">
          <div class="dropdown" [cosDropdown]>
            <div class="selection">
              <div class="selected_item">{{'TXT_TOPIC_CATEGORY_' + topicFilters.category | uppercase | translate}}</div>
              <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
            </div>
            <div class="options">
              <div class="option" (click)="setCategory('all');" translate="TXT_TOPIC_CATEGORY_ALL"></div>
              <div class="option" *ngFor="let category of categories$" (click)="setCategory(category);">
                {{'TXT_TOPIC_CATEGORY_' + category | uppercase | translate}}
              </div>
            </div>
          </div>
        </cos-input>
        <!--cos-input [placeholder]="'VIEWS.MY_TOPICS.FILTER_ORDER' | translate" class="dropdown_input">
          <div class="dropdown" [cosDropdown]>
            <div class="selection">
              <div class="selected_item">All</div>
              <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
            </div>
            <div class="options">
              <div class="option">Most recent participant activity</div>
              <div class="option">Most activity</div>
              <div class="option">Most participants</div>
              <div class="option">Most recently created</div>
              <div class="option">Most topics</div>
            </div>
          </div>
        </!--cos-input-->
      </div>
      <div class="options_row" *ngIf="moreFilters" [@openClose]="moreFilters ? 'open' : 'closed'">
        <cos-input [placeholder]="'VIEWS.MY_TOPICS.FILTER_COUNTRY' | translate" class="dropdown_input">
          <div class="dropdown" [cosDropdown]>
            <div class="selection">
              <div class="selected_item">{{'TXT_TOPIC_CATEGORY_ALL' | translate}}</div>
              <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
            </div>
            <div class="options">
              <div class="option" (click)="setCountry('')" translate="TXT_TOPIC_CATEGORY_ALL"></div>
              <div class="option" *ngFor="let country of countries" (click)="setCountry(country.name)">
                {{country.name}}
              </div>
            </div>
          </div>
        </cos-input>
        <cos-input [placeholder]="'VIEWS.MY_TOPICS.FILTER_LANGUAGE' | translate" class="dropdown_input">
          <div class="dropdown" [cosDropdown]>
            <div class="selection">
              <div class="selected_item">{{'VIEWS.MY_TOPICS.FILTER_ALL' | translate}}</div>
              <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
            </div>
            <div class="options">
              <div class="option" (click)="setLanguage('')" translate="VIEWS.MY_TOPICS.FILTER_ALL"></div>
              <div class="option" *ngFor="let language of languages" (click)="setLanguage(language.name)">
                {{language.name}}
              </div>
            </div>
          </div>
        </cos-input>
        <div class="input_area">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.1922 15.6064C13.0236 16.4816 11.5723 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5723 16.4816 13.0236 15.6064 14.1922L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L14.1922 15.6064ZM15 10C15 12.7614 12.7614 15 10 15C7.23858 15 5 12.7614 5 10C5 7.23858 7.23858 5 10 5C12.7614 5 15 7.23858 15 10Z"
                fill="#727C84" />
            </svg>
          </div>
          <cos-input placeholder="{{'VIEWS.MY_TOPICS.PLACEHOLDER_SEARCH_TOPIC' | translate}}">
            <input type="text" [(ngModel)]="searchInput" (ngModelChange)="doSearch(searchInput)"
              [placeholder]="'VIEWS.MY_TOPICS.PLACEHOLDER_SEARCH_TOPIC' | translate">
          </cos-input>
          <a class="clear_search" translate="VIEWS.MY_TOPICS.LNK_CLEAR" (click)="searchInput='';doSearch('')"
            *ngIf="searchInput"></a>
        </div>
      </div>
    </div>
    <div class="filter_control_buttons mobile_hidden">
      <button class="btn_big_secondary" [ngClass]="moreFilters? 'flip' : ''" (click)="moreFilters = !moreFilters">
        <div class="btn_icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
          </svg>
        </div>
      </button>
      <button class="btn_big_secondary icon" *ngIf="moreFilters" (click)="doClearFilters()">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.4999 7L12.4999 5.0001C10.7069 5.0001 8.91716 5.68333 7.55013 7.05036C5.05581 9.54468 4.83742 13.4531 6.89495 16.195C7.22643 16.6368 7.23355 17.2664 6.84302 17.657C6.4525 18.0475 5.81399 18.0504 5.46866 17.6194C2.6374 14.0857 2.85982 8.91224 6.13592 5.63614C7.89308 3.87898 10.1981 3.0001 12.4999 3.0001L12.4999 1L16.4999 4L12.4999 7Z"
            fill="#2C3B47" />
          <path
            d="M12.4999 19.0001C14.2929 19.0001 16.0826 18.3169 17.4496 16.9499C19.9439 14.4555 20.1623 10.5471 18.1048 7.80519C17.7733 7.36345 17.7662 6.73377 18.1567 6.34325C18.5473 5.95273 19.1858 5.94982 19.5311 6.38083C22.3624 9.91455 22.1399 15.088 18.8638 18.3641C17.1067 20.1212 14.8016 21.0001 12.4999 21.0001L12.4999 23L8.49988 20L12.4999 17L12.4999 19.0001Z"
            fill="#2C3B47" />
        </svg>
      </button>
    </div>
    <div class="dropdown mobile_show" [cosDropdown] [multipleChoice]="true">
      <div class="selection">
        <div class="selected_item" translate="VIEWS.MY_TOPICS.LBL_FILTER"> </div>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
        </svg>
      </div>

      <div class="options filter_options">
        <div class="filter_option">
          <span translate="VIEWS.MY_TOPICS.FILTER_VISIBILITY"></span><a class="bold"
            (click)="mobile_filters.status = true">{{'TXT_TOPIC_STATUS_'+topicFilters.status | uppercase |
            translate}}</a>
        </div>
        <div class="filter_option">
          <span translate="VIEWS.MY_TOPICS.FILTER_CATEGORIES"></span><a class="bold"
            (click)="mobile_filters.category = true">{{'TXT_TOPIC_CATEGORY_'+topicFilters.category | uppercase |
            translate}}</a>
        </div>
        <button (click)="doClearFilters()" class="btn_medium_plain">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.4999 7L12.4999 5.0001C10.7069 5.0001 8.91716 5.68333 7.55013 7.05036C5.05581 9.54468 4.83742 13.4531 6.89495 16.195C7.22643 16.6368 7.23355 17.2664 6.84302 17.657C6.4525 18.0475 5.81399 18.0504 5.46866 17.6194C2.6374 14.0857 2.85982 8.91224 6.13592 5.63614C7.89308 3.87898 10.1981 3.0001 12.4999 3.0001L12.4999 1L16.4999 4L12.4999 7Z"
              fill="#2C3B47" />
            <path
              d="M12.4999 19.0001C14.2929 19.0001 16.0826 18.3169 17.4496 16.9499C19.9439 14.4555 20.1623 10.5471 18.1048 7.80519C17.7733 7.36345 17.7662 6.73377 18.1567 6.34325C18.5473 5.95273 19.1858 5.94982 19.5311 6.38083C22.3624 9.91455 22.1399 15.088 18.8638 18.3641C17.1067 20.1212 14.8016 21.0001 12.4999 21.0001L12.4999 23L8.49988 20L12.4999 17L12.4999 19.0001Z"
              fill="#2C3B47" />
          </svg>
          <span translate="VIEWS.MY_TOPICS.BTN_RESET_FILTER"></span>
        </button>
        <div class="input_area">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14.1922 15.6064C13.0236 16.4816 11.5723 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5723 16.4816 13.0236 15.6064 14.1922L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L14.1922 15.6064ZM15 10C15 12.7614 12.7614 15 10 15C7.23858 15 5 12.7614 5 10C5 7.23858 7.23858 5 10 5C12.7614 5 15 7.23858 15 10Z"
              fill="#727C84" />
          </svg>
          <cos-input placeholder="{{'VIEWS.MY_TOPICS.PLACEHOLDER_SEARCH_TOPIC' | translate}}">
            <input type="text" [(ngModel)]="searchInput" (ngModelChange)="doSearch(searchInput)"
              placeholder="{{'VIEWS.MY_TOPICS.PLACEHOLDER_SEARCH_TOPIC' | translate}}">
          </cos-input>
        </div>
      </div>

      <div class="options button_options" *ngIf="mobile_filters.status">
        <label class="checkbox" (click)="setStatus('all');">
          <span translate="TXT_TOPIC_STATUS_ALL"></span>
          <input type="radio" name="status">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" *ngFor="let status of statuses$" (click)="setStatus(status);">
          <span [translate]="'TXT_TOPIC_STATUS_'+status | uppercase"></span>
          <input type="radio" name="status">
          <span class="checkmark"></span>
        </label>
        <button class="btn_medium_secondary" (click)="mobile_filters.status= false;"
          translate="VIEWS.MY_TOPICS.BTN_APPLY"></button>
      </div>
      <div class="overlay" *ngIf="mobile_filters.category || mobile_filters.status"></div>
      <div class="options button_options" *ngIf="mobile_filters.category">
        <label class="checkbox">
          <span translate="TXT_TOPIC_CATEGORY_ALL"></span>
          <input type="radio" name="category">
          <span class="checkmark"></span>
        </label>

        <label class="checkbox" *ngFor="let category of categories$" (click)="setCategory(category);">
          <span [translate]="'TXT_TOPIC_CATEGORY_'+category | uppercase"></span>
          <input type="radio" name="category">
          <span class="checkmark"></span>
        </label>

        <button class="btn_medium_secondary" (click)="mobile_filters.category= false;"
          translate="VIEWS.MY_TOPICS.BTN_APPLY"></button>
      </div>
    </div>
  </div>
  <div class="topics_content">
    <ng-container *ngIf="topics$ | async as topics;">
      <topicbox [topic]="topic" *ngFor="let topic of topics; trackBy: trackByFn;"></topicbox>
    </ng-container>
  </div>
  <div class="pagination_wrap">
    <cos-pagination (select)="loadPage($event)"
    [totalPages]="(UserTopicService.totalPages$ | async) || 0"
    [page]="(UserTopicService.page$ | async) || 0"></cos-pagination>
  </div>
</div>