<div class="overlay" mat-dialog-close></div>
<div class="dialog">
  <div class="dialog_header info">
    <div class="header_with_icon">
      <div class="icon_notification_info"></div>
      <h4 class="title" translate="MODALS.PRIVACY_POLICY_HEADING"></h4>
    </div>
    <div class="dialog_close">
      <button class="btn_dialog_close" mat-dialog-close>
        <div class="icon_mobile_close"></div>
      </button>
    </div>
  </div>
  <div class="dialog_content">
    <div class="info_row" translate="MODALS.PRIVACY_POLICY_DESCRIPTION"></div>
  </div>
  <div class="dialog_info_wrap">
    <div class="dialog_info">
      <a class="info_row" target="_blank" [href]="config.termsOfUse">
        <div class="icon_general_arrow_small_right_link"></div>
        <span translate="MODALS.PRIVACY_POLICY_LNK_TERMS_OF_USE"></span>
      </a>
      <a class="info_row" target="_blank" [href]="config.privacyPolicy">
        <div class="icon_general_arrow_small_right_link"></div>
        <span translate="MODALS.PRIVACY_POLICY_LNK_PRIVACY_POLICY"></span>
      </a>
    </div>
  </div>
  <div class="dialog_content">
    <div class="button_wrap">
      <button class="btn_big_submit" (click)="accept()" translate="MODALS.PRIVACY_POLICY_BTN_ACCEPT"></button>
      <a (click)="reject()" translate="MODALS.PRIVACY_POLICY_BTN_REJECT"></a>
    </div>
  </div>
  <div class="dialog_footer">
  </div>
</div>
