@use 'vars';
@use 'mixins_n_extends';

#lightbox.privacy_policy_lightbox {
  width: 600px;

  @media (max-width: 640px) {
      width: 100%;
  }

  #lightbox_wrap {

      @media (max-width: 640px) {
          padding: 0 10px;
      }

      #lightbox_header {
          position: relative;

          #lightbox_header_text {
              font-weight: vars.$medium;
              float: left;
              padding: 17px 60px 17px 20px;
              height: 55px;
              overflow: hidden;

              .title {
                  @extend %text_dod_dot_dot;
                  opacity: .7;
                  font-weight: vars.$bold;
                  font-size: 16px;
                  padding-right: 60px;
                  position: absolute;
              }

          }

      }

      .lightbox_content {
          padding: 20px 20px;
          border-radius: 0 !important;
          border-top: 1px solid #E5E5E5;
          font-size: 16px;
          line-height: 28px;
          margin-bottom: 0;

          .lightbox_section {
              padding: 0 20px;
          }
      }

  }

  .lightbox_footer {
      position: relative;
      width: 100%;
      height: 80px;
      background: #FFF;
      border-radius: 0 0 4px 4px;
      display: table;
      box-sizing: border-box;
      color: #252525;

      .lightbox_section {
          display: table-row;
          height: 80px;
          padding: 0;

          .footer_button_wrap {
              position: relative;
              display: table-cell;
              vertical-align: middle;

              .blue_button {
                  padding: 10px;
                  display: inline-block;
                  min-width: 120px;
              }

              &.left {
                  left: 20px;
                  text-align: left;
              }

              &.right {
                  right: 20px;
                  text-align: right;
              }

          }
      }
  }

}