<div class="overlay" mat-dialog-close></div>
<div class="dialog">
  <div class="dialog_header">
    <div class="header_text">
      <h4 class="title" translate="COMPONENTS.TOPIC_INVITE_DIALOG.HEADING"></h4>
    </div>
    <div class="dialog_close">
      <a class="btn_dialog_close icon" mat-dialog-close>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.72152 6.29537C7.3277 5.90154 6.68919 5.90154 6.29537 6.29537C5.90154 6.68919 5.90154 7.3277 6.29537 7.72153L10.5738 12L6.29541 16.2785C5.90159 16.6723 5.90159 17.3108 6.29541 17.7046C6.68923 18.0985 7.32774 18.0985 7.72156 17.7046L12 13.4262L16.2784 17.7046C16.6723 18.0985 17.3108 18.0985 17.7046 17.7046C18.0984 17.3108 18.0984 16.6723 17.7046 16.2785L13.4262 12L17.7046 7.72153C18.0985 7.3277 18.0985 6.68919 17.7046 6.29537C17.3108 5.90154 16.6723 5.90154 16.2785 6.29537L12 10.5739L7.72152 6.29537Z"
            fill="#2C3B47" />
        </svg>
      </a>
    </div>
  </div>
  <div class="dialog_tabs_wrap">
    <a *ngIf="canInvite()" class="dialog_tab mobile_hidden" [ngClass]="{'active': activeTab ==='invite'}" (click)="activeTab = 'invite'"
      translate="COMPONENTS.TOPIC_INVITE_DIALOG.TAB_INVITE"></a>
    <a class="dialog_tab mobile_hidden" [ngClass]="{'active': activeTab ==='share'}" (click)="activeTab = 'share'"
      translate="COMPONENTS.TOPIC_INVITE_DIALOG.TAB_SHARE"></a>
    <div class="dropdown mobile_show" [cosDropdown]>
      <div class="selection">
        <div class="selected_item">
          {{'COMPONENTS.TOPIC_INVITE_DIALOG.TAB_'+activeTab | uppercase | translate}}
        </div>
        <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
      </div>
      <div class="options">
        <div class="option" (click)="activeTab = 'invite'" translate="COMPONENTS.TOPIC_INVITE_DIALOG.TAB_INVITE">
        </div>
        <div class="option" (click)="activeTab = 'share'" translate="COMPONENTS.TOPIC_INVITE_DIALOG.TAB_SHARE">
        </div>
      </div>
    </div>
  </div>
  <div class="dialog_content">
    <ng-container *ngIf="activeTab === 'invite' && canInvite()">
      <div id="form_area">
        <topic-invite class="create_content" [dialog]="true" [(inviteMessage)]="inviteMessage" [topic]="data.topic" [members]="members"></topic-invite>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTab === 'share'">
      <topic-share [topic]="data.topic"></topic-share>
    </ng-container>
  </div>
  <div class="dialog_footer with_buttons" *ngIf="activeTab === 'invite'">
    <div></div>
    <div class="button_row">
      <a mat-dialog-close translate="COMPONENTS.TOPIC_INVITE_DIALOG.LNK_CANCEL"></a>
      <button class="btn_medium_submit" translate="COMPONENTS.TOPIC_INVITE_DIALOG.BTN_SAVE"
        (click)="doInviteMembers()"></button>
    </div>
  </div>
</div>
