<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

  <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_INVITE_HEADING"></div>
          <div class="title_description">{{topic.title}}</div>
        </div>

        <div id="lightbox_close" class="ngdialog-close" mat-dialog-close>
          <div class="table_cell ngdialog-close">
            <div class="sprite sprite-btn-popup-close2x ngdialog-close">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

        <div class="header_row_wrap">
          <div class="header_row" slide-controller identifier="topicSettingsSlider">
            <div class="tab_button" (click)="tabSelected = 'invite'"
              [ngClass]="tabSelected === 'invite' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_INVITE_TAB_INVITE"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
            <div class="tab_button" (click)="tabSelected = 'share'" [ngClass]="tabSelected === 'share' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_INVITE_TAB_SHARE"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="line lightest_line"></div>
      <!-- INVITE USERS -->
      <div class="lightbox_content settings_section_wrap padding_bottom_zero" *ngIf="tabSelected === 'invite'">

        <div class="lightbox_section">
          <div class="input_text_margin_bottom" translate="MODALS.TOPIC_INVITE_LBL_OPTIONAL_MESSAGE"></div>

          <textarea id="invite_body" class="gray_borders" [(ngModel)]="inviteMessage"
            placeholder="{{'MODALS.TOPIC_INVITE_PLACHOLDER_OPTIONAL_MESSAGE' | translate}}"
            [maxlength]="inviteMessageMaxLength"></textarea>
          <div class="input_text_margin_bottom" translate="MODALS.TOPIC_INVITE_TXT_INVITE_USERS_AND_GROUPS"></div>

          <div class="searchbox_with_icon_and_text only_text">
            <div [cosDropdown] [ngClass]="{'search_with_dropdown dropdown_active' : resultCount}">
              <!--[items]="(searchResults$ | async)?.combined"-->
            <typeahead id="userSearch" class="auto-complete"  [term]="searchString"
                (search)="search($event)" (select)="addTopicMember($event)"
                placeholder="{{'MODALS.TOPIC_INVITE_PLACEHOLDER_INVITE_USERS_AND_GROUPS' | translate}}">
                <div class="search_area_wrap">
                  <div class="search_dropdown_area"
                    [ngClass]="{hidden: !resultCount}">
                    <div class="search_dropdown_item" *ngIf="(searchResults$ | async)?.users?.length">
                      <div class="table_cell" translate="MODALS.TOPIC_INVITE_TH_USERS"></div>
                    </div>
                    <div class="search_dropdown_item" [typeaheadItem]="user" *ngFor="let user of (searchResults$ | async)?.users">
                      <div class="table_cell search_item_text">
                        <b>{{user.name}}</b> {{user.email}}
                      </div>
                      <div class="table_cell blue_link">
                        <span class="submit_link" (click)="addTopicMemberUser(user)"
                          translate="MODALS.TOPIC_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD"></span>
                      </div>
                    </div>
                    <div class="search_dropdown_item" *ngIf="(searchResults$ | async)?.groups?.length">
                      <div class="table_cell" translate="MODALS.TOPIC_SETTINGS_TH_GROUPS"></div>
                    </div>
                    <div class="search_dropdown_item" [typeaheadItem]="group" *ngFor="let group of (searchResults$ | async)?.groups">
                      <div class="table_cell search_item_text">
                        <b>{{group.name}}</b>
                      </div>
                      <div class="table_cell blue_link">
                        <span class="submit_link" (click)="addTopicMemberGroup(group)"
                          translate="MODALS.TOPIC_SETTINGS_TXT_PRESS_ENTER_TO_ADD"></span>
                      </div>
                    </div>
                    <div class="search_dropdown_item" *ngIf="(searchResults$ | async)?.emails?.length">
                      <div class="table_cell" translate="MODALS.TOPIC_SETTINGS_RESULT_GROUP_EMAILS"></div>
                    </div>
                    <div class="search_dropdown_item" [typeaheadItem]="email" *ngFor="let email of (searchResults$ | async)?.emails">
                      <div class="table_cell search_item_text">
                        <b>{{email}}</b>
                      </div>
                      <div class="table_cell blue_link">
                        <span class="submit_link" (click)="addTopicMember(email)"
                          translate="MODALS.TOPIC_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search_text"
                  *ngIf="searchString && !resultCount">
                  <div class="table_cell blue_link" (click)="addTopicMember()"
                    translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD"></div>
                </div>
              </typeahead>
            </div>
          </div>

        </div>

        <div class="lightbox_section double_row_list user_list" *ngIf="invalid.length">
          <div class="category_title">
            <div class="input_text_margin_bottom  error_label">
              <div class="sprite sprite-icon-inputfield-error2x"></div>
              <span translate="MODALS.TOPIC_SETTINGS_ERROR_MSG_INVALID_EMAILS_FOUND"></span>
            </div>
          </div>
          <table>
            <tr *ngFor="let email of invalid | keyvalue">
              <td>
                <input name="invalid" type="text" class="error_input" [(ngModel)]="email.value"
                  (keypress)="($event.which === 13)? addCorrectedEmail(email.value, email.key) : 0" />

                <div class="mobile_extra_info">
                  <div class="left">
                    <div class="light_gray_button" (click)="addCorrectedEmail(email.value, email.key)"
                      translate="MODALS.TOPIC_SETTINGS_BTN_ADD"></div>
                  </div>

                  <div class="right">
                    <div class="btn_wrap recycle_bin white_bg">
                      <div class="btn" (click)="removeInvalidEmail(email.key)">
                        <div class="table_cell">
                          <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                <div class="light_gray_button" (click)="addCorrectedEmail(email.value, email.key)"
                  translate="MODALS.TOPIC_SETTINGS_BTN_ADD"></div>
              </td>
              <td>
                <div class="btn_wrap recycle_bin white_bg">
                  <div class="btn" (click)="removeInvalidEmail(email.key)">
                    <div class="table_cell">
                      <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                      <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="lightbox_section double_row_list user_list" *ngIf="members.length">
          <table>
            <tr *ngIf="members.length > 1">
              <td><span translate="MODALS.TOPIC_SETTINGS_LBL_CHANGE_ALL"></span>
                <div class="mobile_extra_info">
                  <div class="left">
                    <div [cosDropdown] class="classic_dropdown">

                      <div class="dropdown_selection">
                        <div class="dropdown_text">
                          {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                        </div>

                        <div class="arrow_holder">
                          <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                          </div>
                        </div>
                      </div>

                      <div class="dropdown">
                        <div class="dropdown_item" *ngFor="let level of topicLevels">
                          <div class="item_name" (click)="updateGroupLevel(level)">
                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="right">
                    <div class="btn_wrap recycle_bin white_bg">
                      <div class="btn" (click)="removeAllMembers()">
                        <div class="table_cell">
                          <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div [cosDropdown] class="classic_dropdown">

                  <div class="dropdown_selection">
                    <div class="dropdown_text">
                      {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                    </div>

                    <div class="arrow_holder">
                      <div class="table_cell">
                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                        <div class="v_line"></div>
                      </div>
                    </div>
                  </div>

                  <div class="dropdown">
                    <div class="dropdown_item" *ngFor="let level of topicLevels">
                      <div class="item_name" (click)="updateGroupLevel(level)">
                        {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="btn_wrap recycle_bin white_bg">
                  <div class="btn" (click)="removeAllMembers()">
                    <div class="table_cell">
                      <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                      <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <ng-container *ngFor="let title of memberGroups">
            <div class="category_title" *ngIf="itemsExist(title)">
              <div class="table_cell">
                <span>{{"MODALS.TOPIC_SETTINGS_RESULT_GROUP_" + title | uppercase | translate}}</span>
              </div>
            </div>

            <table *ngIf="itemsExist(title)">
              <ng-container *ngFor="let member of members | keyvalue; index as i;">
                <tr *ngIf="isOnPage(i, membersPage) && isInGroup(member.value, title)">
                  <td>
                    <div class="profile_image_wrapper dark">
                      <!--div class="profile_moon sprite"></div-->
                      <div class="account_picture">
                        <img *ngIf="member.value.imageUrl" [src]="member.value.imageUrl">
                        <div class="profile_image_filler">
                          <cos-initials class="table_cell" [name]="member.value.name"></cos-initials>
                          <div class="profile_circle"></div>
                        </div>
                      </div>
                    </div>
                    <div class="name_wrap">
                      <div class="table_cell">
                        <div class="blue_link" (click)="doRemoveMemberUser(member.value)">{{member.value.name}}</div>
                        <div class="via">{{member.value.company}}</div>
                        <div class="via" translate="MODALS.TOPIC_SETTINGS_INVITE_EXPIRES"
                          [translateParams]="{expiresAt: (getExpiresAt() | amTimeAgo)}">{{getExpiresAt() | amTimeAgo}}
                        </div>
                      </div>
                    </div>

                    <div class="mobile_extra_info">
                      <div class="left">
                        <div [cosDropdown] class="classic_dropdown">

                          <div class="dropdown_selection">
                            <div class="dropdown_text">
                              {{'TXT_TOPIC_LEVELS_' + member.value.level | uppercase | translate}}
                            </div>

                            <div class="arrow_holder">
                              <div class="table_cell">
                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                <div class="v_line"></div>
                              </div>
                            </div>
                          </div>

                          <div class="dropdown">
                            <div class="dropdown_item" *ngFor="let level of topicLevels">
                              <div class="item_name"
                                (click)="updateTopicMemberUserLevel(member.value, level)">
                                {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="right">
                        <div class="btn_wrap recycle_bin white_bg">
                          <div class="btn" (click)="doRemoveMemberUser(member.value)">
                            <div class="table_cell">
                              <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div [cosDropdown] class="classic_dropdown">

                      <div class="dropdown_selection">
                        <div class="dropdown_text">
                          {{'TXT_TOPIC_LEVELS_' + member.value.level | uppercase | translate}}
                        </div>

                        <div class="arrow_holder">
                          <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                          </div>
                        </div>
                      </div>

                      <div class="dropdown">
                        <div class="dropdown_item" *ngFor="let level of topicLevels">
                          <div class="item_name" (click)="updateTopicMemberUserLevel(member.value, level)">
                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="btn_wrap recycle_bin white_bg">
                      <div class="btn" (click)="doRemoveMemberUser(member.value)">
                        <div class="table_cell">
                          <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                          <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </ng-container>
          <cos-pagination class="pagination" (select)="loadPage($event)" [totalPages]="totalPages()"
            [page]="membersPage"></cos-pagination>
        </div>

      </div>

      <!-- SHARE -->
      <topic-share class="lightbox_content invite_url" *ngIf="tabSelected === 'share'" [topic]="topic"></topic-share>

      <div class="lightbox_footer" *ngIf="TopicService.canEdit(topic) && tabSelected === 'invite'">
        <div class="line lightest_line"></div>
        <div class="blue_button_wrap">
          <div class="blue_button" [cosDisabled]="!members.length" (click)="doSaveTopic()"
            translate="MODALS.TOPIC_SETTINGS_BTN_SEND_INVITES"></div>
        </div>
      </div>

    </div>
  </div>

  <div id="close_lightbox" class="ngdialog-close" mat-dialog-close>
  </div>

</div>
