@use "mixins";

#create_tabs {
  @include mixins.tablet {
    gap: 40px;
  }

  @include mixins.mobile {
    gap: 0;
  }
  .create_tab {
    display: flex;

    .tab_number {
      display: flex;
      align-items: center;
    }

    @include mixins.tablet {
      width: 72px;
      padding: 16px 12px;
      text-align: center;
      justify-content: center;
    }
    @include mixins.mobile {
      flex-grow: 1;
      padding: 12px;
      text-align: center;
      justify-content: center;

      &.active {
        .mobile_show {
          svg {
            path {
              fill: var(--color-link);
            }
          }
        }
      }
    }
    &.tablet_tab {
      display: none;
      border-radius: 8px 8px 0 0;
      padding: 12px 8px;
      background-color: var(--color-scrollbar);

      @include mixins.tablet {
        display: flex;
      }

      @include mixins.mobile {
        display: none;
      }
    }
    &.invite_users_tab {
      padding: 12px 16px;
      font-weight: 600;
      display: none;
      gap: 8px;
      flex-grow: 0;
      margin-left: 8px;
      position: relative;

      @include mixins.tablet {
        display: flex;
      }

      @include mixins.mobile {
        display: none;
      }

      &:after {
        content: "";
        height: 8px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, #d7e9f8 0%, #c1d8eb 100%);
      }
      &.active {
        border-bottom: none;
        &:after {
          display: none;
        }
      }
    }
  }
}

#editors_wrap {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}

#editors_select_mobile {
  display: none;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-scrollbar);
  border-radius: 16px;
  gap: 16px;

  @include mixins.tablet {
    display: flex;
  }
  &.open {
    border-radius: 16px 16px 0 0;
  }

  #text_wrap {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .text {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
  }
  .arrow {
    display: flex;
    justify-self: flex-end;
    right: 0;
  }
}
#editors_tablet {
  background-color: var(--color-scrollbar);
  border-radius: 0 0 16px 16px;
}

#image_upload_input {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
}

#topic_image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  min-height: 60px;
  max-height: 324px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}

#title_input {
  border: none;
  padding: 0;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-left: -8px;
}

#intro_input {
  border: none;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-left: -8px;
}

#description_input {
  border: none;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: -8px;
  height: max-content;
}

#create_footer {
  @include mixins.mobile {
    padding: 0;
    gap: 0;
    .items_row {
      padding: 8px;
    }
  }
}

#create_footer {
  #close_create,
  #buttons_wrap,
  #navigate_create {
    flex: 3 3 0;
  }
  #buttons_wrap {
    justify-content: center;
  }

  #navigate_create {
    justify-content: flex-end;
  }
}

.invite_collaborators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--color-surfaces);
  text-align: center;
  max-width: 288px;

  @include mixins.tablet {
    max-width: 100%;
  }

  &.empty {
    padding: 16px 24px 24px 24px;
    gap: 8px;
  }

  button {
    margin-top: 16px;
    width: 100%;
  }
}

#help_wrap {
  flex-direction: column;
  gap: 16px;
}
.topic_editors_header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .title {
    font-weight: 600;
  }
}

.topic_members_list_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .topic_member {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;

    .profile_image_wrap {
      width: 24px;
      height: 24px;

      .profile_image {
        width: 24px;
        height: 24px;
      }
    }
  }
}
#add_section_wrap {
  display: flex;
  background-color: var(--color-surfaces);
  border-radius: 40px;
  max-width: max-content;
  gap: 8px;
  padding: 8px 16px;

  .label {
    gap: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}

.counter_wrap {
  display: flex;
  gap: 8px;
  .char_counter {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
}

#topic_groups_list,
.row_header {
  .row_cell {
    &:first-child {
      min-width: 45%;
    }
    &.with_tooltip {
      gap: 0px;
      .tooltip {
        height: initial;
      }
    }
  }
}

.dropdown {
  @include mixins.mobile {
    .options {
      z-index: 99999999;
    }
  }
}

#form_area {
  width: calc(100% - 320px);
  @include mixins.tablet {
    width: 100%;
  }
}

.btn_medium_submit {
  &.disabled {
    opacity: 0.5;

    &:hover {
      background: var(--btn-submit);
      cursor: default;
    }
  }
}
#mobile_action_buttons_row {
  button {
    width: 100%;
  }
}

#topic_members_list_wrap {
  .row_list,
  .row_header {
    .row_cell {
      &:first-child {
        min-width: 45%;
      }
      &:nth-child(2) {
        min-width: 30%;
        justify-content: flex-start;
      }
      &:nth-child(3) {
        min-width: 15%;
        text-align: right;
        justify-content: flex-end;
      }
    }
  }
}

.date_selector {
  width: 100%;

  &.selected {
    max-width: 546px;
  }
  .checkbox {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    .checkbox_text_wrap {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 40px);

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.deadline_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .date_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 24px;

    @include mixins.mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .date_row_title {
      min-width: 25%;
    }

    .input_wrap {
      flex-grow: 2;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      .time_wrap {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mixins.mobile {
          width: 100%;
        }
      }

      .time_input {
        min-width: max-content;
        max-width: max-content;
      }

      .dropdown {
        width: 100%;
      }
    }
  }
}

.no_feature_yet {
  padding: 24px;
  border-radius: 16px;
}
.arguments_wrap {
  display: flex;
  flex-direction: column;

  .arguments_header {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    border-radius: 16px 16px 0 0;
    background-color: #c9dff1;
    @include mixins.mobile {
      padding: 16px;
    }

    .header_section {
      display: flex;
      justify-content: space-between;

      .question {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
      }
    }
    .data_section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
      .deadline {
      }
    }
    button {
      padding: 8px 16px;
      font-weight: 600;
    }
  }

  .arguments_content {
    background-color: var(--color-scrollbar);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .section_header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include mixins.mobile {
        flex-direction: column;
        align-items: initial;
        gap: 16px;
      }

      .title_wrap {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
        }

        .data_items_wrap {
          display: flex;
          gap: 8px;
          .data_item {
            display: flex;
            font-weight: 600;
          }
        }
      }
    }
  }

  .pagination {
    button {
      background-color: var(--color-surfaces);
      &:hover,
      &.active {
        background-color: initial;
      }
    }
  }
}
.setting_button {
  border-radius: 24px;
  height: max-content;
  button {
    gap: 4px;
  }
  @include mixins.mobile {
    width: max-content;
  }
}
#mobile_actions {
  max-width: max-content;
  align-self: flex-end;
}
