<div id="search_area_wrap">
  <div id="donate_wrap" *ngIf="!app.showSearchResults">
    <div class="donate_item" id="donate_icon"></div>
    <div class="donate_item" id="donate_text" translate="DONATE_TXT"></div>
    <a class="donate_item" id="donate_button" target="_blank" [href]="lnkDonate" translate="DONATE_BTN"></a>
  </div>
  <!-- [items]="searchResults" -->
  <typeahead class="auto-complete" [term]="searchInput" (search)="doSearch($event)"
    (select)="goToView($event)" [placeholder]="'LAYOUTS.MAIN.PLACEHOLDER_SEARCH_TOPICS_USERS_GROUPS' | translate"
    [selectLimit]="3" (enterAction)="doSearch($event)">
    <div id="search_results_area">
      <div id="m_search_icon">
        <div class="table_cell">
          <div class="sprite sprite-icon-search-b-2x"></div>
        </div>
      </div>
      <div id="m_search_close" (click)="app.showSearch = !app.showSearch; app.showSearchResults = false">
        <div class="table_cell">
          <div class="sprite sprite-icon-closemenu-b-2x"></div>
        </div>
      </div>

      <div id="search_icon">
        <div class="table_cell">
          <div class="sprite sprite-x3-icon-topbar-earch2x"></div>
        </div>
      </div>

      <div id="close_search_icon" (click)="closeSearchArea()" [ngClass]="{hidden: !app.showSearchResults}">
        <div class="table_cell">
          <div class="sprite sprite-icon-closemenu-b-2x"></div>
        </div>
      </div>
    </div>
    <div id="search_results_list" *ngIf="app.showSearchResults">
      <ng-container *ngFor="let context of contexts">
        <ng-container *ngFor="let model of models">
          <ng-container
            *ngIf="searchResults[context] && searchResults[context][model] && searchResults[context][model].count">

            <div class="search_cat">
              <div class="cat_wrap"><span [innerHtml]="'DEFAULT.SEARCH.HEADING_RESULTS_IN' | translate:{context: ('LBL_CONTEXT_' + context + '_' + model | uppercase | translate)}"> </span></div>
            </div>
            <div class="results_area" *ngIf="searchResults[context][model].rows.length">
              <div class="result_group">
                <div class="result_links" [typeaheadItem]="row"
                  *ngFor="let row of searchResults[context][model].rows">
                  <div *ngIf="model !== 'viewMore'" class="links_wrap">
                    <span>
                      <a (click)="goToView(row, context)" class="blue_link result_link">
                        {{row.name || row.title}}</a>
                    </span>
                  </div>
                </div>
                <div *ngIf="searchResults[context][model].count > searchResults[context][model].rows.length" class="result_links" [typeaheadItem]="{id:'viewMore', model, context}" [noClose]="true">
                  <div class="more_results" (click)="goToView({id:'viewMore', context, model}, context)"
                    translate="DEFAULT.SEARCH.LNK_VIEW_MORE_RESULTS">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="results_area" *ngIf="noResults">
        <div class="result_group">

          <div class="no_results">
            <b class="search_msgb" translate="DEFAULT.SEARCH.TXT_OOPS_NO_RESULTS"></b>
            <br>
            <div class="search_msg" translate="DEFAULT.SEARCH.TXT_MAYBE_TYPO"></div>
          </div>
        </div>
      </div>
    </div>
  </typeahead>
</div>
