.dialog {
  max-width: 560px;
}
.warn {
  .icon_notification {
    rect {
      fill: var(--color-warn);
    }
  }
}

.error {
  .icon_notification {
    rect {
      fill: var(--color-error);
    }
  }
}
