@use 'mixins_n_extends';
@use 'vars';

#lightbox.confirm {

  @include mixins_n_extends.mobile {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin-right: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      width: 100%;
  }

  @media (max-width: 640px) {
      top: 0;
  }

  #lightbox_wrap {
      @include mixins_n_extends.mobile {
          padding: 0;
      }

      #lightbox_header {
          display: none !important;
          height: 55px;

          .line {
              position: absolute;
              bottom: 0;
          }

          @include mixins_n_extends.mobile {
              border-radius: 0 !important;
              display: block !important;
          }

          .first_header {
              display: none;
              @include mixins_n_extends.mobile {
                  display: block;
              }
          }
      }

      .lightbox_content {
          padding: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;

          @include mixins_n_extends.mobile {
              border-radius: 0;
              bottom: 0;
              right: 0;
              left: 0;
              top: 55px;
              position: absolute;
              margin: 0;
              overflow: auto;
          }

          .second_header {
              padding: 20px 20px 22px 20px;
              text-align: center;

              background: vars.$white;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;

              @include mixins_n_extends.mobile {
                  background: vars.$light_gray;
                  padding-top: 40px;
                  border-radius: 0;
              }

              .sprite-icon-delete-topic2x, .sprite-icon-warn-topic2x {
                  margin: 0 auto 16px auto;
              }

              .delete_title {
                  color: vars.$pinky_red !important;
                  font-size: 22px;
                  font-weight: vars.$bold;
                  margin-bottom: 5px;
              }

              .warn_title {
                  color: vars.$dark_blue !important;
                  font-size: 22px;
                  font-weight: vars.$bold;
                  margin-bottom: 5px;
              }

              .delete_description {
                  font-size: 14px;
              }

          }

          .line_wrap {
              @media (min-width: 560px) {
                  display: block;
                  padding: 0;
                  margin: 0;
              }
          }

          #delete_info_wrap {
              margin: 0 auto;
              padding: 40px;

              :first-child {
                  margin-top: 0;
              }

              .text-block {
                  padding: 20px;
                  background-color: vars.$white;

              }

              @include mixins_n_extends.mobile {
                  width: 100%;
                  box-sizing: border-box;
                  padding: 0 20px;
              }

              .delete_info_text_wrap {
                  @include mixins_n_extends.mobile {
                      margin-bottom: 124px;
                  }

                  .delete_info {
                      margin-bottom: 10px;
                      display: table;

                      .sprite-checkmark2x {
                          display: table-cell;
                          float: left;
                          margin-bottom: -1px;
                      }

                      .delete_info_text {
                          display: table-cell;
                          padding-left: 20px;
                      }
                  }
              }

              .delete_info_button_wrap {
                  display: table;
                  width: 100%;
                  margin-top: 40px;

                  .table_cell:first-child {
                      padding-right: 5px;
                  }

                  .table_cell:last-child {
                      padding-left: 5px;
                  }

                  @include mixins_n_extends.mobile {
                      position: fixed;
                      bottom: 10px;
                      left: 0;
                      padding: 0 20px;
                      box-sizing: border-box;

                      .table_cell {
                          display: block;
                          padding: 0 !important;
                          margin-bottom: 10px;
                      }
                  }

              }

          }

      }

  }

}