<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
  <div id="lightbox" class="confirm wide_lightbox">
      <div id="lightbox_wrap">

          <div id="lightbox_header">


              <div id="lightbox_header_text">
                  <div class="title" translate="{{data.heading}}"></div>
              </div>

              <div id="lightbox_close" mat-dialog-close>
                  <div class="table_cell">
                      <div class="sprite sprite-btn-popup-close2x">
                      </div>
                  </div>
              </div>

              <div class="line lightest_line"></div>

          </div>


          <div class="lightbox_content">

              <div class="second_header">

                  <div class="sprite sprite-icon-warn-topic2x"></div>
                  <div class="warn_title" translate="{{data.title}}"></div>

                  <div id="lightbox_close" mat-dialog-close>
                      <div class="table_cell">
                          <div class="sprite sprite-btn-popup-close2x">
                          </div>
                      </div>
                  </div>

              </div>

              <div class="line_wrap">
                  <div class="line lightest_line"></div>
              </div>

              <div id="delete_info_wrap">

                  <div class="delete_info_text_wrap">
                      <div class="delete_info_button_wrap" *ngIf="data.description">
                          <div class="delete_info_text" translate="{{data.description}}"></div>
                      </div>
                      <div class="delete_info" *ngFor="let point of data.points">
                          <div class="sprite sprite-checkmark2x"></div>
                          <div class="delete_info_text" translate="{{point}}"></div>
                      </div>
                  </div>

                  <div class="delete_info_button_wrap">

                      <div class="table_cell">
                          <div class="blue_button no" mat-dialog-close translate="{{data.closeBtn}}"></div>
                      </div>

                      <div class="table_cell">
                          <div class="blue_button"  [mat-dialog-close]="true" translate="{{data.confirmBtn}}"></div>
                      </div>

                  </div>

              </div>

          </div>

      </div>
  </div>

  <div id="close_lightbox" mat-dialog-close></div>

</div>
