.dialog {
  max-width: 560px;

  .title {
    color: var(--color-link);
  }
}

.reason {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
}

.dialog_content {
  gap: 24px;
  padding: 24px;
}

.content_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.explanation {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
