<!-- INFO BAR - base.scss -->
<div class="info_bar_wrap">
  <!-- ORANGE MESSAGE for TESTING ENV NOTIFICATION -->
  <div class="info_bar bar_orange" [ngClass]="{'info_bar_show': showTestingEnvNotification}">
      <div class="info_icon">
          <div class="sprite sprite-icon-notification-error2x"></div>
      </div>

      <div class="info_bar_text">
          PLEASE NOTE! This Citizen OS is a testing environment and is for TESTING ONLY, all data here MAY be deleted at any time! Please visit <a href="https://app.citizenos.com">https://app.citizenos.com</a> for LIVE application.
      </div>

      <div class="info_icon" (click)="showTestingEnvNotification = false">
          <div class="sprite sprite-icon-closemenu2x"></div>
      </div>
  </div>

  <!-- RED MESSAGE -->
  <div class="info_bar bar_red" [ngClass]="{'info_bar_show': notifications.messages[notifications.levels.ERROR]?.length}" >
      <div class="info_icon">
          <div class="sprite sprite-icon-notification-error2x"></div>
      </div>

      <div class="info_bar_text">
          <div class="info_row" *ngFor="let key of notifications.messages[notifications.levels.ERROR];trackBy: trackByIndex;">
              <span translate="{{key}}"></span>
          </div>
      </div>

      <div class="info_icon" (click)="notifications.removeAll(notifications.levels.ERROR)">
          <div class="sprite sprite-icon-closemenu2x"></div>
      </div>
  </div>

  <!-- BLUE MESSAGE -->
  <div class="info_bar bar_blue"  [ngClass]="{'info_bar_show': notifications.messages[notifications.levels.INFO].length}">
      <div class="info_icon">
          <div class="sprite sprite-icon-notification-info2x"></div>
      </div>

      <div class="info_bar_text">
          <div class="info_row" *ngFor="let key of notifications.messages[notifications.levels.INFO]; trackBy: trackByIndex;">
              <span translate="{{key}}"></span>
          </div>
      </div>

      <div class="info_icon" (click)="notifications.removeAll(notifications.levels.INFO)">
          <div class="sprite sprite-icon-closemenu2x"></div>
      </div>
  </div>

  <!-- GREEN MESSAGE -->
  <div class="info_bar bar_green" [ngClass]="{'info_bar_show': notifications.messages[notifications.levels.SUCCESS].length}">
      <div class="info_icon">
          <div class="sprite sprite-icon-notification-check2x"></div>
      </div>

      <div class="info_bar_text">
          <div class="info_row" *ngFor="let key of notifications.messages[notifications.levels.SUCCESS]; trackBy: trackByIndex;">
              <span translate="{{key}}"></span>
          </div>
      </div>

      <div class="info_icon" (click)="notifications.removeAll(notifications.levels.SUCCESS)">
          <div class="sprite sprite-btn-popup-close-2x-green"></div>
      </div>
  </div>
</div>
