@use "icons_new";
@use "mixins";

.notification_top {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 12px 16px 16px 16px;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
  min-height: 50px;
  border-top: 4px solid;
  z-index: 9999;
  position: relative;
  left: 0;
  top: 0;
  background-color: var(--color-surfaces);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  @include mixins.mobile {
    flex-direction: column;
    position: fixed;
    width: auto;
    margin: 0px 16px 16px 16px;
  }

  .btn_medium_nav {
    position: absolute;
    float: right;
    right: 16px;
    top: 16px;
  }

  .message {
    width: calc(100% - 77px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    .title {
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
    }
  }
  &.error {
    border-color: var(--color-error-background);

    .icon_notification {
      @extend %icon_notification_error;

      @include mixins.mobile {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }
  }

  &.info {
    border-color: var(--color-info-background);

    .icon_notification {
      @extend %icon_notification_info;
      @include mixins.mobile {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }
  }

  &.warning {
    border-color: var(--color-warn-background);

    .icon_notification {
      @extend %icon_notification_warning;
      @include mixins.mobile {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }
  }

  &.success {
    border-color: var(--color-success-background);

    .icon_notification {
      @extend %icon_notification_success;
      @include mixins.mobile {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }
  }
}
