.arrow {
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 999999999999;
  transition: all .5s ease-in-out;
  visibility: visible;
  /* Shadow/Heavy */
  box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
    0px 12px 16px 0px rgba(50, 85, 112, 0.1);

    &.hidden {
      visibility: hidden;
    }
  &.bottom_arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--color-text);
    bottom: 100%;
    left: 50%;
  }
  &.left_arrow {
      border-right: 6px solid var(--color-text);
      right: 100%;
      top: 16px;
      margin-top: -6px;
  }

  &.right_arrow {
      border-left: 6px solid var(--color-text);
      left: 100%;
      top: 16px;
      margin-top: -6px;
  }
  &.top_arrow {
      border-top: 6px solid var(--color-text);
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      top: 100%;
      left: 50%;
  }
}
