.tour_box {
  display: flex;
  flex-direction: column;
  z-index: 999999999999;
  border-radius: 8px;
  background: var(--color-text);
  padding: 16px;
  gap: 16px;
  position: fixed;
  width: 400px;
  /* Shadow/Heavy */
  box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
    0px 12px 16px 0px rgba(50, 85, 112, 0.1);

  &.hidden {
    display: none;
  }
  .tour_header,
  .tour_footer {
    display: flex;
    justify-content: space-between;
    color: var(--color-scrollbar-thumb);
    a {
      color: var(--color-scrollbar-thumb);

      &.skip {
        color: var(--color-error-background);
      }
    }

    .nav_items_wrap {
      display: flex;
      gap: 8px;

      .nav_item {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: var(--color-argument-info);

        &.active {
          background-color: var(--color-scrollbar-thumb);
        }
      }
    }

    .nav_links_wrap {
      display: flex;
      gap: 16px;
    }
  }

  .tour_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 8px;

    .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
    }

    .description {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      color: var(--color-surfaces);
    }
  }
}
