<div class="tour_box" #tourBox [ngClass]="(showItem$ | async)? '': 'hidden'" [style.left]="left" [style.top]="top">
  <div class="tour_header">
    <div>{{'COMPONENTS.TOUR.HEADING_'+(tourId$ | async) | uppercase | translate}}</div>
    <div>
      <a class="skip" (click)="closeTour($event)" translate="COMPONENTS.TOUR.LNK_SKIP"></a>
    </div>
  </div>
  <div class="tour_content" #tourContent>
  </div>
  <div class="tour_footer">
    <ng-container *ngIf="items$ | async as items">
      <div class="nav_items_wrap">
        <div class="nav_item" *ngFor="let item of sort(items)" [ngClass]="{active: isActive(item)}"></div>
      </div>
      <div class="nav_links_wrap">
        <a *ngIf="activeIndex() > 1" (click)="prevItem($event)" translate="COMPONENTS.TOUR.LNK_BACK"></a>
        <a *ngIf="items.length > 1" (click)="nextItem($event)">
          <span *ngIf="activeIndex() !== items.length" translate="COMPONENTS.TOUR.LNK_NEXT"></span>
          <span *ngIf="activeIndex() === items.length" translate="COMPONENTS.TOUR.LNK_FINISH"></span>
        </a>

      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="templateSubscription | async"></ng-container>
<ng-container *ngIf="setPosition() | async"></ng-container>
