<div class="overlay" dialog-close></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_with_icon">
        <div class="icon_notification">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#1168A8" />
            <path
              d="M23 11.5292C23 12.926 21.9255 14.0583 20.6 14.0583C19.2745 14.0583 18 12.926 18 11.5292C18 10.1323 19.2745 9 20.6 9C21.9255 9 23 10.1323 23 11.5292Z"
              fill="white" />
            <path
              d="M17.3359 16.5357L22.8319 15.8098L20.4295 27.7096C20.2591 28.5695 20.4991 29.0576 21.1591 29.0576C21.6247 29.0576 22.3255 28.8806 22.8055 28.4354L22.5943 29.4876C21.9055 30.3626 20.3863 31 19.0783 31C17.3911 31 16.6735 29.9327 17.1391 27.664L18.9103 18.8929C19.0639 18.1518 18.9247 17.8837 18.2191 17.7067L17.1391 17.4968L17.3359 16.5357Z"
              fill="white" />
          </svg>
        </div>
        <h4 class="title" translate="MODALS.TOPIC_INVITE_VIEW_HEADING"></h4>
      </div>
      <div class="dialog_close">
        <a class="btn_dialog_close icon" dialog-close>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.72152 6.29537C7.3277 5.90154 6.68919 5.90154 6.29537 6.29537C5.90154 6.68919 5.90154 7.3277 6.29537 7.72153L10.5738 12L6.29541 16.2785C5.90159 16.6723 5.90159 17.3108 6.29541 17.7046C6.68923 18.0985 7.32774 18.0985 7.72156 17.7046L12 13.4262L16.2784 17.7046C16.6723 18.0985 17.3108 18.0985 17.7046 17.7046C18.0984 17.3108 18.0984 16.6723 17.7046 16.2785L13.4262 12L17.7046 7.72153C18.0985 7.3277 18.0985 6.68919 17.7046 6.29537C17.3108 5.90154 16.6723 5.90154 16.2785 6.29537L12 10.5739L7.72152 6.29537Z"
              fill="#2C3B47" />
          </svg>
        </a>
      </div>
    </div>
    <div class="dialog_content">
      <div class="dialog_info_wrap">
        <div class="dialog_info row">
          <div class="delete_info_button_wrap">
            <div class="delete_info_text" translate="MODALS.TOPIC_INVITE_VIEW_MESSAGE_MAIN"></div>
            <div class="profile_image_wrap">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 4C7 3.44772 7.44772 3 8 3H18.1716C18.4368 3 18.6911 3.10536 18.8787 3.29289L24.7071 9.12132L25.4142 8.41421L24.7071 9.12132C24.8946 9.30886 25 9.56321 25 9.82843V28C25 28.5523 24.5523 29 24 29H8C7.44772 29 7 28.5523 7 28V4Z"
                  fill="white" stroke="#2C3B47" stroke-width="2" />
                <path d="M17 2.5L25.5 11H18C17.4477 11 17 10.5523 17 10V2.5Z" fill="#2C3B47" />
                <rect x="11" y="18" width="10" height="1" rx="0.5" fill="#4D5C6A" />
                <rect x="11" y="15" width="10" height="1" rx="0.5" fill="#4D5C6A" />
                <rect x="11" y="21" width="10" height="1" rx="0.5" fill="#4D5C6A" />
                <rect x="11" y="24" width="6" height="1" rx="0.5" fill="#4D5C6A" />
              </svg>

            </div>

            <div class="bold" [innerHTML]="invite.topic.title"></div>
          </div>
        </div>
      </div>
      <div class="dialog_info_wrap">
        <div class="dialog_info_heading">
          <div class="bold" translate="MODALS.TOPIC_INVITE_VIEW_HEADING_INVITATION_DETAILS"></div>
        </div>
        <div class="dialog_info">
          <div class="dialog_info_content">
            <div class="bold" translate="MODALS.TOPIC_INVITE_VIEW_LBL_INVITED_BY"></div>
            <div>{{invite.creator.name}}</div>
          </div>
          <div class="dialog_info_content">
            <div class="bold" translate="MODALS.TOPIC_INVITE_VIEW_LBL_INVITATION_SENT_TO"></div>
            <div>{{invite.user.email}}</div>
          </div>
          <div class="dialog_info_content">
            <div class="bold" translate="MODALS.TOPIC_INVITE_VIEW_LBL_TOPIC_LEVEL"></div>
            <div>{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</div>
          </div>
        </div>
      </div>
      <div class="dialog_info_wrap">
        <div class="dialog_info">
          <div class="dialog_info_content">
            <div class="bold" translate="MODALS.TOPIC_INVITE_VIEW_HEADING_AFTER_JOIN"></div>
          </div>
          <div class="dialog_info_content">
            <div class="row">
              <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.38602 14.8088L17.5256 6L19 7.59558L9.38602 18L5 13.2534L6.47436 11.6578L9.38602 14.8088Z"
                    fill="#2C3B47" />
                </svg>
              </div>
              <span translate="MODALS.TOPIC_INVITE_VIEW_AFTER_JOIN_ITEM_1"></span>
            </div>
            <div class="row">
              <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.38602 14.8088L17.5256 6L19 7.59558L9.38602 18L5 13.2534L6.47436 11.6578L9.38602 14.8088Z"
                    fill="#2C3B47" />
                </svg>
              </div>
              <span translate="MODALS.TOPIC_INVITE_VIEW_AFTER_JOIN_ITEM_2"></span>
            </div>
            <!--div class="row">
            <div>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.38602 14.8088L17.5256 6L19 7.59558L9.38602 18L5 13.2534L6.47436 11.6578L9.38602 14.8088Z"
                  fill="#2C3B47" />
              </svg>
            </div>
            <span translate="MODALS.TOPIC_INVITE_VIEW_AFTER_JOIN_ITEM_3"></span>
          </!--div-->
          </div>
        </div>
      </div>
      <div class="notification_inline warning" *ngIf="!invite.user.isRegistered">
        <div class="icon_notification">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="24" height="24" rx="12" fill="#F39129" />
            <path
              d="M11.4385 4.7998C11.0924 4.7998 10.8181 5.09181 10.8396 5.43723L11.3646 13.8372C11.3844 14.1535 11.6466 14.3998 11.9635 14.3998H12.0361C12.353 14.3998 12.6152 14.1535 12.635 13.8372L13.16 5.43723C13.1816 5.09181 12.9072 4.7998 12.5611 4.7998H11.4385Z"
              fill="white" />
            <path
              d="M11.9998 18.5998C12.6625 18.5998 13.1998 18.0625 13.1998 17.3998C13.1998 16.7371 12.6625 16.1998 11.9998 16.1998C11.3371 16.1998 10.7998 16.7371 10.7998 17.3998C10.7998 18.0625 11.3371 18.5998 11.9998 18.5998Z"
              fill="white" />
          </svg>
        </div>
        <div class="message" [innerHTML]="'MODALS.TOPIC_INVITE_VIEW_TXT_COMPLETE_ACCOUNT' | translate:{email: invite.user.email}"></div>
      </div>
      <div class="notification_inline warning" *ngIf="invite.user.isRegistered">
        <div class="icon_notification">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="24" height="24" rx="12" fill="#F39129" />
            <path
              d="M11.4385 4.7998C11.0924 4.7998 10.8181 5.09181 10.8396 5.43723L11.3646 13.8372C11.3844 14.1535 11.6466 14.3998 11.9635 14.3998H12.0361C12.353 14.3998 12.6152 14.1535 12.635 13.8372L13.16 5.43723C13.1816 5.09181 12.9072 4.7998 12.5611 4.7998H11.4385Z"
              fill="white" />
            <path
              d="M11.9998 18.5998C12.6625 18.5998 13.1998 18.0625 13.1998 17.3998C13.1998 16.7371 12.6625 16.1998 11.9998 16.1998C11.3371 16.1998 10.7998 16.7371 10.7998 17.3998C10.7998 18.0625 11.3371 18.5998 11.9998 18.5998Z"
              fill="white" />
          </svg>
        </div>
        <div class="message">
          <div class="content">
            <div class="content_description"
              [innerHTML]="'MODALS.TOPIC_INVITE_VIEW_BTN_LOGIN_AS' | translate:{email: invite.user.email}"></div>
          </div>
        </div>
      </div>

      <div class="button_wrap">
        <button class="btn_medium_submit" dialog-close (click)="doAccept()">
          <span *ngIf="invite.user.isRegistered && loggedIn()" translate="MODALS.TOPIC_INVITE_VIEW_BTN_JOIN"></span>
          <span *ngIf="invite.user.isRegistered && !loggedIn()" translate="MODALS.TOPIC_INVITE_VIEW_BTN_GO_TO_LOGIN"></span>
          <span *ngIf="!invite.user.isRegistered" translate="MODALS.TOPIC_INVITE_VIEW_BTN_COMPLETE_ACCOUNT"></span>
        </button>
        <a [dialog-close]="true" translate="MODALS.TOPIC_INVITE_VIEW_LNK_CANCEL"></a>
      </div>
    </div>

    <!--div class="dialog_content">
    <div class="dialog_info_wrap">
      <div class="dialog_info row">
        <div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="24" height="24" rx="4" fill="#1168a8"></rect>
          <path d="M13.75 6.5C13.75 7.32843 13.0784 8 12.25 8C11.4216 8 10.75 7.32843 10.75 6.5C10.75 5.67157 11.4216 5 12.25 5C13.0784 5 13.75 5.67157 13.75 6.5Z" fill="white"></path>
          <path d="M10.2099 10.0623L13.6449 9.63184L12.1434 16.6893C12.0369 17.1993 12.1869 17.4888 12.5994 17.4888C12.8904 17.4888 13.3284 17.3838 13.6284 17.1198L13.4964 17.7438C13.0659 18.2628 12.1164 18.6408 11.2989 18.6408C10.2444 18.6408 9.79593 18.0078 10.0869 16.6623L11.1939 11.4603C11.2899 11.0208 11.2029 10.8618 10.7619 10.7568L10.0869 10.6323L10.2099 10.0623Z" fill="white"></path>
          </svg>
        </div>
        <span translate="MODALS.TOPIC_INVITE_VIEW_LBL_ADDITIONAL_ACTIONS"> </span>
        <a [href]="config.about" translate="MODALS.TOPIC_INVITE_VIEW_LNK_LEARN_MORE"></a>
      </div>
    </div>
  </!--div-->
  </div>
</div>
