@use "mixins";

#login_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  width: 100%;
  max-width: 400px;
  .main_heading,
  p {
    text-align: center;
  }

  @include mixins.mobile {
    padding: 24px 16px;

    .main_heading {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
    }
  }
}

.icons_wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;

  a.login_icon {
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-color: #f9fbfd;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 48px;
  }
}
