<ng-container *ngIf="member">
  <div class="pretend_td image_cell">
    <div class="profile_image_wrapper dark">
      <div class="account_picture">
        <img *ngIf="member.imageUrl" [src]="member.imageUrl">
        <div *ngIf="!member.imageUrl" class="profile_image_filler">
          <cos-initials class="table_cell" [name]="member.name"></cos-initials>
          <div class="profile_circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pretend_td user_cell bold">
    <div [innerText]="member.name">John Smith</div>
    <div class="via">
      {{member.email}} {{member.phoneNumber}}
    </div>
  </div>
  <div class="pretend_td" *ngIf="isVisibleField('lastActivity')">
    <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_LAST_ACTIVITY">
    </div>
    <div [innerText]="member.latestActivity | date : 'yyyy-MM-dd HH:mm'">12.02.2015 21:40</div>
  </div>
  <div class="pretend_td" *ngIf="isVisibleField('level')">
    <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_ROLE"></div>
    <div [cosDropdown] class="classic_dropdown" *ngIf="this.group && canUpdate()">
      <div class="dropdown_selection">
        <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}</div>

        <div class="arrow_holder">
          <div class="table_cell">
            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

            <div class="v_line"></div>
          </div>
        </div>
      </div>
      <div class="dropdown" *ngIf="this.group && canUpdate()">
        <div class="dropdown_item" *ngFor="let level of memberLevels">
          <div class="item_name" (click)="doUpdateMemberUser(level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase |
            translate}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="this.group && !canUpdate()">
      <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}</span>
    </div>
  </div>
  <div class="pretend_td recycle_bin_wrap" *ngIf="this.group && canUpdate() && isVisibleField('remove')">
    <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LBL_REMOVE"></div>
    <div class="btn_wrap recycle_bin">
      <div class="btn" (click)="doDeleteMemberUser()">
        <div class="table_cell">
          <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
          <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
