@use "mixins";

.ideas_wrap {
  padding: 24px;
  display: flex;
  gap: 16px;
  grid-row-gap: 24px;
  flex-wrap: wrap;
}

.setting_button {
  border-radius: 24px;
}

.tabs_wrap {
  padding: 24px 24px 0 24px;
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;

  .tabs_row {
    width: 100%;
    border-bottom: 1px solid var(--color-dialog-ideation-contrast);
    @include mixins.mobile {
      justify-content: center;
    }

    .tab_item {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      padding: 8px 0;
      &.active {
        color: var(--color-text);
        font-weight: 600;
        border-bottom: 2px solid var(--color-ideation);
      }
    }
  }

  button {
    min-width: max-content;
    padding: 8px 24px;
    @include mixins.mobile {
      display: none;
    }
  }
}
.folder_data_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  width: 100%;

  .left {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .right {
    display: flex;
  }
  .folder_name {
    display: flex;
    gap: 4px;
  }
}
.idea_filters_wrap {
  display: flex;
  gap: 16px;
  flex-direction: row;
  padding: 24px;
  width: 100%;

  .options_row {
    display: flex;
    gap: 24px;
    width: 100%;

    .dropdown_input {
      width: 100%;
    }
  }
}

.folders_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  .folder_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .folder_name {
      display: flex;
      gap: 16px;
      align-items: center;

      .icon {
        display: flex;
      }
    }
  }
}
.button_dropdown {
  background-color:initial;

  .line_separator {
    background-color: var(--color-border);
  }
  .option {
    gap: 8px;
  }
}

.line_separator {
  background-color: var(--color-dialog-ideation-contrast);
}

#add_folder_btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  button {
    max-width: max-content;
    background-color: var(--color-dialog-ideation-contrast);
    color: var(--color-text);
    path, span {
      color: var(--color-text);
      fill: var(--color-text);
    }
  }
}

.author_wrap {
  display: flex;
  gap: 8px;
  align-items: center;

  .image_wrap {
    width: 32px;
    height: 32px;
    display: flex;

    .profile_image {
      width: 32px;
      height: 32px;
      display: flex;
      border-radius: 32px;
      aspect-ratio: 1;
      object-fit: cover;
    }

    .profile_image_filler {
      width: 100%;
      background-color: var(--color-surfaces);
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cos-initials {
        font-size: 14px;
      }
    }
  }
}

.selected_participant_wrap {
  display: flex;
  background-color: var(--color-surfaces);
  border-radius: 8px;
  flex-direction: column;
  position: absolute;
  top: 58px;
  z-index: 2;
  width: 100%;

  .participant_row {
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
  }

  .info_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
    background-color: var(--color-surface-contrast);
    .buttons_wrap {
      align-items: center;
      display: flex;
    }
  }
  .line_separator {
    background: var(--color-border);
  }
}
