@use "mixins";

.ideas_wrap {
  padding: 24px;
  display: flex;
  gap: 16px;
  grid-row-gap: 24px;
  flex-wrap: wrap;
}

.setting_button {
  border-radius: 24px;
}

.tabs_wrap {
  padding: 24px 24px 0 24px;
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;

  .tabs_row {
    width: 100%;
    border-bottom: 1px solid var(--color-dialog-ideation-contrast);
    @include mixins.mobile {
      justify-content: center;
    }

    .tab_item {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      padding: 8px 0;
      &.active {
        color: var(--color-text);
        font-weight: 600;
        border-bottom: 2px solid var(--color-ideation);
      }
    }
  }

  button {
    min-width: max-content;
    padding: 8px 24px;
    @include mixins.mobile {
      display: none;
    }
  }
}

.idea_filters_wrap {
  display: flex;
  gap: 16px;
  flex-direction: row;
  padding: 24px;
  width: 100%;

  .options_row {
    display: flex;
    gap: 24px;
    width: 100%;

    .dropdown_input {
      width: 100%;
    }
  }
}

.folders_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  .folder_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .folder_name {
      display: flex;
      gap: 16px;
      align-items: center;

      .icon {
        display: flex;
      }
    }
  }
}
.button_dropdown {
  background-color:initial;
}

.line_separator {
  background-color: var(--color-dialog-ideation-contrast);
}

#add_folder_btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  button {
    max-width: max-content;
    background-color: var(--color-dialog-ideation-contrast);
    color: var(--color-text);
    path, span {
      color: var(--color-text);
      fill: var(--color-text);
    }
  }
}
