<div class="post_argument_wrap">
  <div *ngIf="!(AuthService.loggedIn$ | async)">
    <h3 class="text-center" translate-compile translate="VIEWS.TOPICS_TOPICID.LOG_IN_TO_PARTICIPATE"></h3>
  </div>
  <form  *ngIf="AuthService.loggedIn$ | async" name="argumentReply">
    <textarea cosmarkdown
      cosmarkdowntranslatecharacterstatuskey="'VIEWS.TOPICS_TOPICID.COMMENT_TYPE_CHARACTER_LIMIT'"
      id="argument_reply_text" [(item)]="reply.text" class="gray_borders"
       [ngClass]="{'error_input': errors?.text}"
      placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_WRITE_REPLY_HERE' | translate}}"
      [limit]="ARGUMENT_TYPES_MAXLENGTH['reply']" ></textarea><!--(keyup)="argumentTextLengthCheck(form, form.text)"-->
    <label for="argument_reply_text" class="error_label" *ngIf="errors?.text">
      <div class="table_cell">
        <div class="sprite sprite-icon-inputfield-error2x"></div>
        <span translate="{{errors?.text}}"></span>
      </div>
    </label>
    <div class="blue_button" (click)="saveReply()"
      translate="VIEWS.TOPICS_TOPICID.BTN_ARGUMENT_POST_REPLY">
    </div>
    <div class="clearer"></div>
  </form>
</div>