<div class="overlay" mat-dialog-close></div>
<div class="dialog">
  <div class="dialog_header info">
    <div class="header_with_icon">
      <div class="icon_notification_info"></div>
      <h4 class="title" translate="MODALS.ADD_EID_HEADING"></h4>
    </div>
    <div class="dialog_close">
      <button class="btn_dialog_close" mat-dialog-close>
        <div class="icon_mobile_close"></div>
      </button>
    </div>
  </div>
  <div class="dialog_content">
    <div class="info_row" translate="MODALS.ADD_EID_DESCRIPTION"></div>
  </div>
  <div class="dialog_info_wrap">
    <div class="dialog_info">
      <a *ngIf="authMethodsAvailable.mobiilId || authMethodsAvailable.idCard" (click)="doConnectEsteId()">
        <div class="social_icon">
          <div class="table_cell">
            <div class="sprite sprite-login-icon-id2x"></div>
          </div>
        </div>
        <span translate="MODALS.ADD_EID_BTN_CONNECT_ID_CARD_MID"></span>
      </a>
      <a *ngIf="authMethodsAvailable.smartId" (click)="doConnectSmartId()">
        <div class="social_icon">
          <div class="table_cell">
            <div class="sprite sprite-login-icon-smartid2x"></div>
          </div>
        </div>
        <span translate="MODALS.ADD_EID_BTN_CONNECT_SMART_ID"></span>
      </a>
    </div>
  </div>
  <div class="dialog_content">
    <div class="button_wrap">
      <button class="btn_big_submit" mat-dialog-close translate="MODALS.ADD_EID_BTN_CONTINUE"></button>
      <a mat-dialog-close translate="MODALS.ADD_EID_LNK_BACK"></a>
    </div>
  </div>
  <div class="dialog_footer">
  </div>
</div>
