@use "mixins_n_extends";
@use "vars";

#lightbox.my_account_lightbox {
  #lightbox_wrap {
    @include mixins_n_extends.mobile {
      padding: 0;
    }

    .lightbox_content {
      padding: 0;

      .lightbox_section {
        padding: 20px;

      }
    }
  }
}

.second_header {
  padding: 20px 20px 22px 20px;
  text-align: center;

  background: vars.$white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  @include mixins_n_extends.mobile {
    background: vars.$light_gray;
    padding-top: 40px;
    border-radius: 0;
  }

  .sprite-icon-warn-topic2x {
    margin: 0 auto 16px auto;
  }

  .warn_title {
    color: vars.$dark_blue !important;
    font-size: 22px;
    font-weight: vars.$bold;
    margin-bottom: 5px;
  }
}
