@use 'mixins';
.page_content {
  gap: 24px;
  padding: 16px 24px 0px 24px;

  @include mixins.tablet {
    margin: 60px 0;
  }

  @include mixins.mobile {
    padding: 0;
  }
}
#create_tabs .create_tab {
  padding: 28px 40px;
}
#image_upload_input {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
}

#topic_image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  max-height: 324px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
}

#title_input {
  border: none;
  padding: 0;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-left: -8px;
}

#intro_input {
  border: none;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-left: -8px;
}

#description_input {
  border: none;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: -8px;
  height: max-content;
}

#add_section_wrap {
  display: flex;
  background-color: var(--color-surfaces);
  border-radius: 40px;
  max-width: max-content;
  gap: 8px;
  padding: 8px 16px;

  button {
    gap: 0;
  }
}

.counter_wrap {
  display: flex;
  gap: 8px;
  .char_counter {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
}

#add_attachment {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.dropdown {
  .button_options {
    button {
      justify-content: flex-start;
    }
  }
}

.attachments_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .attachment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 40px;
    background-color: var(--color-background);

    .attachment_name_input {
      border: none;
      padding: 0;
      width: 100%;
      color: var(--color-link);
      background: var(--color-background);
    }
  }
}

#topic_groups_list,
.row_header {
  .row_cell {
    &:first-child {
      min-width: 45%;
    }
  }
}

.topic_content_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  margin-bottom: 24px;

  .info_bar {
    display: flex;
    gap: 16px;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 16px;
    background-color: var(--color-info-background);
    position: absolute;
    top: 0;
    width: 100%;
  }

  .topic_image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    max-height: 324px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1;
    }
  }
  .topic_title {
    display: flex;
    padding: 8px 16px;
  }

  .topic_intro {
    display: flex;
    padding: 8px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
  }

  .topic_content {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;

    .button_wrap {
      display: flex;
      position: absolute;
      bottom: -21px;
      align-self: center;
      justify-self: center;
      button {
        path {
          fill: none;
        }
        &:hover {
          path {
            stroke: var(--color-surfaces);
          }
        }
      }
    }
  }
}

#help_wrap {
  flex-direction: column;
  gap: 16px;
}
