.dialog {
  max-width: 560px;
  padding: 0;
  .dialog_content {
    padding: 0;
  }
}
#form_area {
  gap: 0;
  .create_content {
    margin-bottom: 0;
    .create_content_section {
      padding: 24px;
    }
  }

  .notification_wrap {
    padding: 0 16px 16px 16px;

    .notification_inline {
      align-items: center;

      .message {
        width: 100%;
      }
    }
  }
}

.dialog_footer {
  .button_row {
    width: 100%;
    justify-content: space-between;
  }
}

