<div class="bubble_section">
  <div class="month_chooser">
      <div class="arrow" (click)="prev()">
          <div class="sprite sprite-arrow-calendar-left2x"></div>
      </div>
      <div class="month_text" (click)="setView('month')">{{date}}</div> <!--date|mFormat:'MMMM YYYY':tz-->
      <div class="arrow" (click)="next()">
          <div class="sprite sprite-arrow-calendar-right2x"></div>
      </div>
  </div>
</div>
<div class="bubble_section_table">
  <table>
      <tr>
          <th *ngFor="let day of weekdays">{{day | date: 'EE'}}</th>
      </tr>
      <tr *ngFor="let week of weeks; let $index2 = index">
          <td *ngFor="let day of week; let $index = index;" (click)="selectDate(day)">
              <div class="date_circle" [ngClass]="classes[$index2]"> <!--[$index]-->
                  <div class="table_cell">
                      {{day | date: 'dd'}} <!--|mFormat:'DD':tz-->
                  </div>
              </div>
          </td>
      </tr>
  </table>
</div>
