@use "../add-idea/add-idea.component.scss" as add-idea;
@use "mixins";
#create_idea_footer {
  position: fixed;
  left: max(224px, calc(200px + ((100% - 1392px)/2)));

  @include mixins.tablet {
    left: 0;
  }
}
