<div class="overlay" mat-dialog-close></div>
<div class="dialog">
  <div class="dialog_header">
    <div class="header_text">
      <h4 class="title" translate="MODALS.ADD_EID_BTN_CONNECT_ID_CARD_MID"></h4>
    </div>
    <div class="dialog_close">
      <button class="btn_dialog_close" mat-dialog-close>
        <div class="icon_mobile_close"></div>
      </button>
    </div>
  </div>
  <div class="dialog_content">
    <est-id-login-form></est-id-login-form>
  </div>
  <div class="dialog_footer">
  </div>
</div>
