<!-- RIGHT SIDE -->
<div class="topics_right" *ngIf="topic$ | async as topic">
  <div class="v_line separator"></div>

  <!-- GENERAL INFO TOPIC VIEW -->
  <div class="info_container">

    <div class="container_header" (click)="generalInfo = !generalInfo">
      <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_GENERAL_INFORMATION"></div>
      <div class="minimize_container">
        <div [ngClass]="!generalInfo ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>

    <div class="container_content" *ngIf="generalInfo === true">

      <div class="content_top">
        <div class="container_title" [routerLink]="['/topics/', topic.id]" [textContent]="topic.title">Topic title
        </div>
        <div class="container_visibility">
          <div *ngIf="topic" class="ff_table_fix"
            [tooltip]="('TOOLTIP_TOPIC_VISIBILITY_'+topic.visibility | uppercase | translate)">
            <div class="table_cell">
              <div class="sprite"
                [ngClass]="{'sprite-icon-public-topic': !TopicService.isPrivate(topic), 'sprite-icon-private-topic': TopicService.isPrivate(topic)}">
              </div>
            </div>
          </div>
        </div>
        <div class="container_pin" [ngClass]="topic.pinned ? 'pinned' : ''" (click)="TopicService.togglePin(topic)">
          <div class="ff_table_fix" [tooltip]="('TOOLTIP_PIN_TOPIC' | translate)">
            <div class="table_cell">
              <div class="sprite sprite-icon-favourite2x-white"></div>
              <div class="yellow_bg"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="line lightest_line"></div>

      <div class="content_bottom">


        <!-- COLUMN 1 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_AUTHOR"></div>
            <div class="item_content">
              <div class="item_text" [textContent]="topic.creator.name">Autor autor</div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_DATE_CREATED"></div>
            <div class="item_content">
              <div class="item_text" [textContent]="topic.createdAt | date:'dd/mm/yyyy'">12/12/2017</div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_YOUR_RIGHTS"></div>
            <div class="item_content" *ngIf="topic">
            </div>
            <div class="clearer"></div>
          </div>

        </div>


        <!-- COLUMN 2 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_USERS"></div>
            <div class="item_content">
              <div class="item_text">
                <span [textContent]="(TopicMemberUserService.countTotal$ | async) || topic.members.users.count"></span>
                <span class="separator">|</span>
                <span class="item_link blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW"
                  (click)="viewMemberUsers();"></span>
                <!-- (click)="viewMemberUsers();"-->
              </div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_GROUPS"></div>
            <div class="item_content">
              <div class="item_text">
                <span
                  [textContent]="(TopicMemberGroupService.countTotal$ | async) || topic.members.groups.count">0</span>
                <span class="separator">|</span>
                <span class="item_link blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW"
                  (click)="viewMemberGroups();"></span>
                <!--(click)="viewMemberGroups();"-->
              </div>
            </div>
            <div class="clearer"></div>
          </div>

        </div>


        <!-- COLUMN 3 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_STATUS"></div>
            <div class="item_content" *ngIf="topic">
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_TOPIC_ACTIONS"></div>
            <div class="item_content">
              <span class="item_text blue_link" *ngIf="TopicService.canUpdate(topic)"
                [routerLink]="['/my/topics/', topic.id, 'settings']"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_SETTINGS"></span>
              <span class="separator" *ngIf="TopicService.canUpdate(topic)">|</span>
              <span class="item_text blue_link" (click)="goToTopicView(topic)"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW"></span>
              <span class="separator" *ngIf="TopicService.canEditDescription(topic)">|</span>
              <span class="item_text blue_link" *ngIf="TopicService.canEditDescription(topic)"
                [routerLink]="['/topics/',topic.id]" [queryParams]="{editMode:true}"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_EDIT"></span>
              <span class="separator">|</span>
              <span class="item_text blue_link" (click)="doLeaveTopic(topic)"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_LEAVE"></span>
              <span *ngIf="TopicService.canDelete(topic)">
                <span class="separator">|</span>
                <span (click)="doDeleteTopic(topic)">
                  <span class="sprite sprite-mytopics-icon-deletetopic2x"></span>
                  <span class="item_text remove blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_DELETE"></span>
                </span>
              </span>
            </div>
            <div class="clearer"></div>
          </div>

        </div>

        <div class="clearer"></div>

      </div>

    </div>


  </div>

  <!-- ACTIVITY FEED & NOTIFICATIONS -->
  <div id="activities_list" class="info_container">

    <div class="container_header" (click)="doToggleActivities();">
      <div class="header_text">
        <span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_ACTIVITY_FEED_AND_NOTIFICATIONS"></span>
        <span>|</span>
        <a class="blue_link" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SET_TOPIC_NOTIFICATIONS"
          (click)="$event.stopPropagation(); app.doShowTopicNotificationSettings(topic.id)"></a>
      </div>
      <div class="minimize_container">
        <div [ngClass]="!activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>

    <div class="container_content activity_container" *ngIf="activityFeed" (scroll)="loadMoreActivities($event)">
      <div class="activity_wrap compact">
        <div class="activity_area">
          <activity [activitygroup]="item" *ngFor="let item of activities$ | async"></activity>
        </div>
      </div>
    </div>

  </div>

  <!-- CURRENT VOTE WITH VOTING -->

  <div id="vote_results" class="info_container vote_results" *ngIf="topic.voteId">

    <div class="container_header" (click)="doToggleVoteResults()">
      <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_CURRENT_VOTE_RESULTS">Current vote results
      </div>
      <div class="minimize_container">
        <div [ngClass]="!voteResults ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>
    <div class="container_content" *ngIf="voteResults">
      <div class="content_bottom">
        <!-- COLUMN 1 -->
        <topic-vote-cast class="content_column" [vote]="topic.vote" [topic]="topic"></topic-vote-cast>
        <!--COLUMN 2 -->
        <!--div class="content_column">
          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_VOTES_COUNTED">Votes counted</div>
            <div class="item_content">
              <div class="item_text">
                {{topic.vote.getVoteCountTotal()}}
                <span class="separator">|</span>
                <span class="item_link blue_link">
                  view who voted TODO!
                </span>
              </div>
            </div>
            <div class="clearer"></div>
          </div>
          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE">Vote deadline</div>
            <div class="item_content">
              <div class="item_text">
                <span [textContent]="(topic.vote.endsAt | amDateFormat : 'L LT Z') || ('VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE_NONE' | translate)"></span>
                <span class="separator">|</span>
                <!--cos-modal-datepicker ng-model="topic.vote.endsAt"
                  cos-modal-title="'VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE' | translate"
                  cos-modal-description="topic.title" cos-modal-on-save="doSaveVoteEndsAt"></!--cos-modal-datepicker>
              </div>
            </div>
          </div>
        </!--div-->
        <div class="clearer"></div>
      </div>
    </div>
  </div>

  <!-- GROUP LIST -->
  <div class="info_container group_list" id="group_list" #groupListEl>
    <div class="container_header" (click)="doToggleMemberGroupList();">
      <div class="header_text"><span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_GROUP_LIST"></span> <span>
          ({{(TopicMemberGroupService.countTotal$ | async)}})</span> |
        <div class="blue_link" *ngIf="TopicMemberGroupService.countTotal$ | async"
          (click)="groupListSearch = !groupListSearch; groupList=true; $event.stopPropagation()"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_SEARCH"></div>
        <span *ngIf="(TopicMemberGroupService.countTotal$ | async) && TopicService.canUpdate(topic)">|</span>
        <div class="blue_link" *ngIf="TopicService.canUpdate(topic)" [routerLink]="['invite']"
          [queryParams]="{tab: 'invite'}" (click)="$event.stopPropagation()"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_ADD"></div>
      </div>
      <div class="minimize_container" *ngIf="TopicMemberGroupService.countTotal$ | async">
        <div [ngClass]="!groupList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>
    <div class="container_header second_header" *ngIf="groupListSearch">
      <div class="table_cell">
        <input placeholder="{{'VIEWS.MY_TOPICS_TOPICID.PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate}}"
          (ngModelChange)="TopicMemberGroupService.setParam('search', TopicMemberGroupService.params.search)"
          [(ngModel)]="TopicMemberGroupService.params.search">
      </div>
      <div class="table_cell">
        <div class="blue_link"
          (click)="TopicMemberGroupService.params.search = '';TopicMemberGroupService.setParam('search', TopicMemberGroupService.params.search);"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_CLEAR_SEARCH"></div>
      </div>
    </div>
    <div class="container_content" *ngIf="groupList">
      <div class="pretend_table">
        <div class="pretend_tr">
          <div class="mobile_text pretend_th" *ngIf="wWidth <= 560">
            <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY"></div>
          </div>
          <div class="pretend_th" (click)="TopicMemberGroupService.doOrder('name')">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_NAME"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                *ngIf="TopicMemberGroupService.params.orderBy === 'name'"></div>
            </div>
          </div>
          <div class="pretend_th" (click)="TopicMemberGroupService.doOrder('level')">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_ROLES"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                *ngIf="TopicMemberGroupService.params.orderBy === 'level'"></div>

            </div>
          </div>
          <div class="pretend_th" (click)="TopicMemberGroupService.doOrder('members.users.count')">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_USERS"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                *ngIf="TopicMemberGroupService.params.orderBy === 'members.users.count'"></div>
            </div>
          </div>
          <div class="pretend_th not_sortable">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_REMOVE_FROM_TOPIC"></span>
            </div>
          </div>
        </div>
        <topic-member-group [topic]="topic" [group]="group" class="pretend_tr"
          *ngFor="let group of memberGroups$ | async"></topic-member-group>
        <div class="pretend_tr">
          <div class="pagination_wrapper">
            <cos-pagination class="pagination" (select)="TopicMemberGroupService.loadPage($event)"
              [totalPages]="(TopicMemberGroupService.totalPages$ | async) || 0"
              [page]="(TopicMemberGroupService.page$ | async) || 0"></cos-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- USER LIST -->
  <div class="info_container group_list user_list" id="user_list" #userListEl>
    <div class="container_header" (click)="doToggleMemberUserList(); $event.stopPropagation();">
      <div class="header_text">
        <span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_USERS_LIST"></span>
        <span> ({{((TopicMemberUserService.countTotal$ | async) || topic.members.users.count)}})</span> |
        <div class="blue_link" (click)="userListSearch = !userListSearch; userList = true; $event.stopPropagation();"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_FILTER"></div>
        <span *ngIf="TopicService.canUpdate(topic)">|</span>
        <div class="blue_link" *ngIf="TopicService.canUpdate(topic)" translate="VIEWS.MY_TOPICS_TOPICID.LNK_INVITE"
          [routerLink]="['invite']" [queryParams]="{tab: 'invite'}" (click)="$event.stopPropagation()">
        </div>
      </div>
      <div class="minimize_container">
        <div [ngClass]="!userList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>
    <div class="container_header second_header" *ngIf="userListSearch">
      <div class="table_cell">
        <input placeholder="{{'VIEWS.MY_TOPICS_TOPICID.PLACEHOLDER_NAME_PERMISSION' | translate}}"
          (ngModelChange)="TopicMemberUserService.setParam('search', TopicMemberUserService.params.search)"
          ng-model-options="{debounce:250}" [(ngModel)]="TopicMemberUserService.params.search">
      </div>
      <div class="table_cell">
        <div class="blue_link"
          (click)="TopicMemberUserService.params.search = '';TopicMemberUserService.setParam('search', TopicMemberUserService.params.search);"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_CLEAR_FILTER"></div>
      </div>
    </div>
    <div class="container_content" *ngIf="userList">
      <div class="pretend_table">
        <div class="pretend_tr">
          <div class="mobile_text pretend_th" *ngIf="wWidth <= 560">
            <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY"></div>
          </div>
          <div class="pretend_th" (click)="TopicMemberUserService.doOrder('name');">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_PROFILE"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberUserService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberUserService.params.order === 'DESC' }"
                *ngIf="TopicMemberUserService.params.orderBy === 'name'"></div>
            </div>
          </div>
          <div class="pretend_th" (click)="TopicMemberUserService.doOrder('level');">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_ROLES"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberUserService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberUserService.params.order === 'DESC' }"
                *ngIf="TopicMemberUserService.params.orderBy === 'level'"></div>
            </div>
          </div>
          <div class="pretend_th not_sortable" *ngIf="TopicService.canUpdate(topic)">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_REMOVE_FROM_TOPIC"></span>
            </div>
          </div>
        </div>
        <!-- TopicMemberUsers -->
        <topic-member-user class="pretend_tr" *ngFor="let user of memberUsers$ | async" [member]="user" [topic]="topic"
          fields="['level', 'remove']"></topic-member-user>

        <div class="pretend_tr">
          <div class="pagination_wrapper">
            <cos-pagination class="pagination" (select)="TopicMemberUserService.loadPage($event)"
              [totalPages]="(TopicMemberUserService.totalPages$ | async) || 0"
              [page]="(TopicMemberUserService.page$ | async) || 0"></cos-pagination>
          </div>
        </div>
        <!-- TopicInviteUsers -->
        <topic-member-invite class="pretend_tr" *ngFor="let invite of memberInvites$ | async" [invite]="invite"
          [topic]="topic" fields="['level', 'remove']"></topic-member-invite>
        <div class="pretend_tr">
          <div class="pagination_wrapper">
            <cos-pagination class="pagination" (select)="TopicInviteUserService.loadPage($event)"
              [totalPages]="(TopicInviteUserService.totalPages$ | async) || 0"
              [page]="(TopicInviteUserService.page$ | async) || 0"></cos-pagination>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>