<!-- RIGHT SIDE -->
<div class="topics_right" *ngIf="topic$ | async as topic">
  <div class="v_line separator"></div>

  <!-- GENERAL INFO TOPIC VIEW -->
  <div class="info_container">

    <div class="container_header" (click)="generalInfo = !generalInfo">
      <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_GENERAL_INFORMATION"></div>
      <div class="minimize_container">
        <div [ngClass]="!generalInfo ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>

    <div class="container_content" *ngIf="generalInfo === true">

      <div class="content_top">
        <div class="container_title" ui-sref="topics/view({topicId: topic.id})" [textContent]="topic.title">Topic title
        </div>
        <div class="container_visibility">
          <div *ngIf="topic" class="ff_table_fix"
            [tooltip]="('TOOLTIP_TOPIC_VISIBILITY_'+topic.visibility | uppercase | translate)">
            <div class="table_cell">
              <div class="sprite"
                [ngClass]="{'sprite-icon-public-topic': !TopicService.isPrivate(topic), 'sprite-icon-private-topic': TopicService.isPrivate(topic)}">
              </div>
            </div>
          </div>
        </div>
        <div class="container_pin" [ngClass]="topic.pinned ? 'pinned' : ''" (click)="TopicService.togglePin(topic)">
          <div class="ff_table_fix" [tooltip]="('TOOLTIP_PIN_TOPIC' | translate)">
            <div class="table_cell">
              <div class="sprite sprite-icon-favourite2x-white"></div>
              <div class="yellow_bg"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="line lightest_line"></div>

      <div class="content_bottom">


        <!-- COLUMN 1 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_AUTHOR"></div>
            <div class="item_content">
              <div class="item_text" [textContent]="topic.creator.name">Autor autor</div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_DATE_CREATED"></div>
            <div class="item_content">
              <div class="item_text" [textContent]="topic.createdAt | date:'dd/mm/yyyy'">12/12/2017</div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_YOUR_RIGHTS"></div>
            <div class="item_content" *ngIf="topic">
            </div>
            <div class="clearer"></div>
          </div>

        </div>


        <!-- COLUMN 2 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_USERS"></div>
            <div class="item_content">
              <div class="item_text">
                <span [textContent]="(TopicMemberUserService.countTotal$ | async) || topic.members.users.count"></span>
                <span class="separator">|</span>
                <span class="item_link blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW" (click)="viewMemberUsers();"></span>
                <!-- (click)="viewMemberUsers();"-->
              </div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_GROUPS"></div>
            <div class="item_content">
              <div class="item_text">
                <span [textContent]="(TopicMemberGroupService.countTotal$ | async) || topic.members.groups.count">0</span>
                <span class="separator">|</span>
                <span class="item_link blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW" (click)="viewMemberGroups();"></span>
                <!--(click)="viewMemberGroups();"-->
              </div>
            </div>
            <div class="clearer"></div>
          </div>

        </div>


        <!-- COLUMN 3 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_STATUS"></div>
            <div class="item_content" *ngIf="topic">
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_TOPIC_ACTIONS"></div>
            <div class="item_content">
              <span class="item_text blue_link" *ngIf="TopicService.canUpdate(topic)"
                ui-sref="my/topics/topicId/settings({topicId: topic.id})"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_SETTINGS"></span>
              <span class="separator" *ngIf="TopicService.canUpdate(topic)">|</span>
              <span class="item_text blue_link" (click)="goToTopicView(topic)"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW"></span>
              <span class="separator" *ngIf="TopicService.canEditDescription(topic)">|</span>
              <span class="item_text blue_link" *ngIf="TopicService.canEditDescription(topic)"
                ui-sref="topics/view({topicId: topic.id, editMode: true})"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_EDIT"></span>
              <span class="separator">|</span>
              <span class="item_text blue_link" (click)="doLeaveTopic(topic)"
                translate="VIEWS.MY_TOPICS_TOPICID.LNK_LEAVE"></span>
              <span *ngIf="TopicService.canDelete(topic)">
                <span class="separator">|</span>
                <span (click)="doDeleteTopic(topic)">
                  <span class="sprite sprite-mytopics-icon-deletetopic2x"></span>
                  <span class="item_text remove blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_DELETE"></span>
                </span>
              </span>
            </div>
            <div class="clearer"></div>
          </div>

        </div>

        <div class="clearer"></div>

      </div>

    </div>


  </div>

  <!-- ACTIVITY FEED & NOTIFICATIONS -->
  <div id="activities_list" class="info_container">

    <div class="container_header" (click)="doToggleActivities();">
      <div class="header_text">
        <span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_ACTIVITY_FEED_AND_NOTIFICATIONS"></span>
        <span>|</span>
        <a class="blue_link" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SET_TOPIC_NOTIFICATIONS"
          (click)="$event.stopPropagation(); doShowTopicNotificationSettings(topic.id)"></a>
      </div>
      <div class="minimize_container">
        <div [ngClass]="!activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>

    <div class="container_content activity_container" *ngIf="activityFeed" (scroll)="loadMoreActivities($event)">
      <div class="activity_wrap compact">
        <div class="activity_area">
          <activity [activitygroup]="item" *ngFor="let item of activities$ | async"></activity>
        </div>
      </div>
    </div>

  </div>

  <!-- CURRENT VOTE WITH VOTING -->

  <!--div id="vote_results" class="info_container vote_results" *ngIf="topic.voteId">

      <div class="container_header" (click)="doToggleVoteResults()">
          <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_CURRENT_VOTE_RESULTS">Current vote results</div>
          <div class="minimize_container">
              <div [ngClass]="!voteResults.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
          </div>
      </div>

      <div class="container_content" *ngIf="voteResults.isVisible">


          <div class="content_bottom">

              < COLUMN 1 >
              <topic-vote-cast-- class="content_column" vote="topic.vote"></topic-vote-cast-->


  <!--COLUMN 2 >
              <div class="content_column">


                  <div class="content_item">
                      <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_VOTES_COUNTED">Votes counted</div>
                      <div class="item_content">
                          <div class="item_text">
                              {{topic.vote.getVoteCountTotal()}}
                              <span class="separator">|</span>
                              <span class="item_link blue_link">
                                  view who voted TODO!
                              </span>
                          </div>
                      </div>
                      <div class="clearer"></div>
                  </div>

                  <div class="content_item">
                      <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE">Vote deadline</div>
                      <div class="item_content">
                          <div class="item_text">
                              <span [textContent]=" (topic.vote.endsAt | amDateFormat : 'L LT Z') || ('VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE_NONE' | translate)">12/12/2017</span>
                              <span class="separator">|</span>
                              <cos-modal-datepicker ng-model="topic.vote.endsAt" cos-modal-title="'VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE' | translate" cos-modal-description="topic.title" cos-modal-on-save="doSaveVoteEndsAt"></cos-modal-datepicker>
                          </div>
                      </div>
                  </div>

              </div>

              <div class="clearer"></div>

          </div>

      </div>


  </!--div-->

  <!-- GROUP LIST -->
  <div class="info_container group_list" id="group_list">
    <div class="container_header" (click)="doToggleMemberGroupList();">
      <div class="header_text"><span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_GROUP_LIST"></span> <span> ({{(TopicMemberGroupService.countTotal$ | async)}})</span> |
        <div class="blue_link" *ngIf="TopicMemberGroupService.countTotal$ | async"
          (click)="groupListSearch = !groupListSearch; groupList=true; $event.stopPropagation()"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_SEARCH"></div>
        <span *ngIf="(TopicMemberGroupService.countTotal$ | async) && TopicService.canUpdate(topic)">|</span>
        <div class="blue_link" *ngIf="TopicService.canUpdate(topic)"
          ui-sref="my/topics/topicId/invite({topicId: topic.id, tab: 'invite'})" (click)="$event.stopPropagation()"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_ADD"></div>
      </div>
      <div class="minimize_container" *ngIf="TopicMemberGroupService.countTotal$ | async">
        <div [ngClass]="!groupList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
      </div>
    </div>
    <!--div class="container_header second_header" *ngIf="groupListSearch">
      <div class="table_cell">
        <input placeholder="{{'VIEWS.MY_TOPICS_TOPICID.PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate}}"
          (change)="TopicMemberGroupService.setParam('search', '')" ng-model-options="{debounce:250}"
          [(ngModel)]="TopicMemberGroupService.params.search">
      </div>
      <div class="table_cell">
        <div class="blue_link" (click)="TopicMemberGroupService.setParam('search', '')"
          translate="VIEWS.MY_TOPICS_TOPICID.LNK_CLEAR_SEARCH">clear filter</div>
      </div>
    </!--div-->
    <div class="container_content" *ngIf="groupList">
      <div class="pretend_table">
        <div class="pretend_tr">
          <div class="mobile_text pretend_th" *ngIf="wWidth <= 560">
            <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY"></div>
          </div>
          <div class="pretend_th" (click)="TopicMemberGroupService.doOrder('name')">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_NAME"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                *ngIf="TopicMemberGroupService.params.orderBy === 'name'"></div>
            </div>
          </div>
          <div class="pretend_th" (click)="TopicMemberGroupService.doOrder('level')">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_ROLES"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                *ngIf="TopicMemberGroupService.params.orderBy === 'level'"></div>

            </div>
          </div>
          <div class="pretend_th" (click)="TopicMemberGroupService.doOrder('members.users.count')">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_USERS"></span>
              <div
                [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                *ngIf="TopicMemberGroupService.params.orderBy === 'members.users.count'"></div>
            </div>
          </div>
          <div class="pretend_th not_sortable">
            <div class="th_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_REMOVE_FROM_TOPIC"></span>
            </div>
          </div>
        </div>
        <div class="pretend_tr" *ngFor="let group of memberGroups$ | async">
          <div class="pretend_td">
            <div class="blue_link" *ngIf="group.permission.level"
              ui-sref="my/groups/groupId({groupId: group.id, filter: 'grouped'})" ui-sref-opts="{reload: true}"
              [textContent]="group.name">Group name</div>
            <div *ngIf="!group.permission.level"><i class="disabled"
                translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP">Inaccessible Group</i></div>
          </div>
          <div class="pretend_td">
            <div cos-dropdown class="classic_dropdown" *ngIf="TopicService.canUpdate(topic)">
              <div class="dropdown_selection">
                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}</div>

                <div class="arrow_holder">
                  <div class="table_cell">
                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                    <div class="v_line"></div>
                  </div>
                </div>
              </div>
              <div class="dropdown">
                <div class="dropdown_item" *ngFor="let level of groupLevels">
                  <div class="item_name" (click)="doUpdateMemberGroup(topic, group, level)">{{'TXT_TOPIC_LEVELS_' +
                    level |
                    uppercase | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pretend_td">
            <span class="pretend_table_mobile_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_USERS_COUNT"
              [translateParams]="{count: group.members.users.count}">Users: 0</span>
            <span *ngIf="wWidth >= 560" [textContent]="group.members.users.count">1</span>
          </div>
          <div class="pretend_td recycle_bin_wrap">
            <div class="btn_wrap recycle_bin" *ngIf="TopicService.canUpdate(topic)">
              <div class="btn" (click)="doDeleteMemberGroup(group)">
                <div class="table_cell">
                  <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                  <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pretend_tr">
          <div class="pagination_wrapper">
            <cos-pagination class="pagination" (select)="TopicMemberGroupService.loadPage($event)"
              [totalPages]="(TopicMemberGroupService.totalPages$ | async) || 0"
              [page]="(TopicMemberGroupService.page$ | async) || 0"></cos-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- USER LIST -->
  <!--div class="info_container group_list user_list" id="user_list">
      <div class="container_header" (click)="doToggleMemberUserList(); $event.stopPropagation();">
          <div class="header_text">
              <span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_USERS_LIST">User list</span> <span [textContent]="'(' + topicMemberUserService.countTotal + ')'">(0)</span> |
              <div class="blue_link" (click)="userList.isSearchVisible = !userList.isSearchVisible; doShowMemberUserList(); $event.stopPropagation();" translate="VIEWS.MY_TOPICS_TOPICID.LNK_FILTER">filter</div>
              <span *ngIf="topic.canUpdate(topic)">|</span>
              <div class="blue_link" *ngIf="topic.canUpdate(topic)" translate="VIEWS.MY_TOPICS_TOPICID.LNK_INVITE" ui-sref="my/topics/topicId/invite({topicId: topic.id, tab: 'invite'})" (click)="$event.stopPropagation()">invite</div>
          </div>
          <div class="minimize_container">
              <div [ngClass]="!userList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
          </div>
      </div>
      <div class="container_header second_header" *ngIf="userList.isSearchVisible">
          <div class="table_cell">
              <input placeholder="{{'VIEWS.MY_TOPICS_TOPICID.PLACEHOLDER_NAME_PERMISSION' | translate}}" ng-change="topicMemberUserService.doSearch(); loadTopicInviteUserList();" ng-model-options="{debounce:250}" ng-model="topicMemberUserService.search">
          </div>
          <div class="table_cell">
              <div class="blue_link" (click)="topicMemberUserService.search = ''" translate="VIEWS.MY_TOPICS_TOPICID.LNK_CLEAR_FILTER">clear filter</div>
          </div>
      </div>
      <div class="container_content" *ngIf="userList.isVisible">
          <div class="pretend_table">
              <div class="pretend_tr">
                  <div class="mobile_text pretend_th" *ngIf="app.wWidth <= 560">
                      <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY">Order by:</div>
                  </div>
                  <div class="pretend_th" (click)="topicMemberUserService.doOrder('name');">
                      <div class="th_text">
                          <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_PROFILE">Profile</span>
                          <div [ngClass]="{'sprite sprite-icon-list-ordering2x': topicMemberUserService.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': topicMemberUserService.order === 'DESC' }" *ngIf="topicMemberUserService.orderBy === 'name'"></div>
                      </div>
                  </div>
                  <div class="pretend_th" (click)="topicMemberUserService.doOrder('level');">
                      <div class="th_text">
                          <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_ROLES">Roles</span>
                          <div [ngClass]="{'sprite sprite-icon-list-ordering2x': topicMemberUserService.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': topicMemberUserService.order === 'DESC' }" *ngIf="topicMemberUserService.orderBy === 'level'"></div>
                      </div>
                  </div>
                  <div class="pretend_th not_sortable" *ngIf="topic.canUpdate(topic)">
                      <div class="th_text">
                          <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_REMOVE_FROM_TOPIC">Remove from topic</span>
                      </div>
                  </div>
              </div>
              <!-- TopicMemberUsers -->
  <!--my-member-user class="pretend_tr" ng-repeat="user in topicMemberUserService.users" member="user" topic="topic" fields="['level', 'remove']"></!--my-member-user>

              <div class="pretend_tr">
                  <div class="pagination_wrapper">
                      <cos-pagination class="pagination" select="topicMemberUserService.loadPage(page)" total-pages="topicMemberUserService.totalPages" page="topicMemberUserService.page"></cos-pagination>
                  </div>
              </div>
              <!-- TopicInviteUsers -->
  <!--div class="pretend_tr" ng-repeat="invite in topicInviteUserService.users">
                  <div class="pretend_td">
                      <div class="profile_image_wrapper dark">
                          <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div>
                          <div class="account_picture">
                              <img *ngIf="invite.user.imageUrl" ng-src="{{invite.user.imageUrl}}">
                              <div *ngIf="!invite.user.imageUrl" class="profile_image_filler">
                                  <cos-initials class="table_cell" ng-model="invite.user.name"></cos-initials>
                                  <div class="profile_circle"></div>
                              </div>
                          </div>
                      </div>
                      <div class="name_wrap">
                          <div class="table_cell smooth_gray">
                              <div [textContent]="invite.user.name">John Smith</div>
                              <div class="via">
                                  <span *ngIf="invite.user.email || invite.user.phoneNumber">
                                      {{invite.user.email}} {{invite.user.phoneNumber}}
                                  </span>
                                  <span>
                                      <span *ngIf="invite.user.email || invite.user.phoneNumber"> • </span>
                                      <span translate="VIEWS.MY_TOPICS_TOPICID.TXT_INVITE_PENDING">Pending invite</span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="pretend_td">
                      <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</span>
                      <!--div cos-dropdown class="classic_dropdown" cos-disabled>
                          <div class="dropdown_selection">
                              <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</div>

                              <div class="arrow_holder">
                                  <div class="table_cell">
                                      <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                      <div class="v_line"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="pretend_td recycle_bin_wrap">
                      <div class="btn_wrap recycle_bin" *ngIf="topic.canUpdate(topic)">
                          <div class="btn" (click)="doDeleteInviteUser(invite)">
                              <div class="table_cell">
                                  <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                  <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </!--div>
              <div class="pretend_tr">
                  <div class="pagination_wrapper">
                      <cos-pagination class="pagination" select="topicInviteUserService.loadPage(page)" total-pages="topicInviteUserService.totalPages" page="topicInviteUserService.page"></cos-pagination>
                  </div>
              </div>
          </div>
      </div>

  </div-->

</div>