@use "mixins";

.dialog {
  max-width: 560px;
  .dialog_tabs_wrap {
    padding-top: 8px;
    @include mixins.mobile {
      background-color: var(--color-argument-pro-light);
      padding: 16px;
    }
  }
  .dialog_content {
    gap: 16px;
    padding: 24px;

    @include mixins.mobile {
      padding: 16px;
    }

    .introduction_wrap {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .intro_heading {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .dialog_footer {
    @include mixins.mobile {
      gap: 16px;
      flex-direction: column-reverse;

      button {
        width: 100%;
      }
    }
  }
}

.input_area {

  input {
    background-color: var(--color-surfaces);
  }
  button {
    width: max-content;
    padding: 8px 16px;
  }
  &.min_max_options {
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
  }
}

.date_selector {
  width: 100%;

  .checkbox {
    width: 100%;

    .deadline {
      position: absolute;
      right: 0;
    }
  }
}

.deadline_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .date_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 24px;

    .date_row_title {
      min-width: 25%;
    }

    .input_wrap {
      flex-grow: 2;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;

      .time_input {
        max-width: max-content;
      }

      .dropdown {
        width: 100%;
      }
    }
  }
}

.reminder_wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--color-argument-pro-medium);
  padding: 16px;
  gap: 8px;

  .dropdown {
    width: 100%;
  }
}

.dialog_info_wrap {
  .dialog_info {
    .dialog_info_header {
      display: flex;
      background-color: var(--color-argument-pro-medium);
    }

    .dialog_info_content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      width: 100%;
    }
  }
}
