<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
  <div id="lightbox">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <span translate="MODALS.PASSWORD_RESET_HEADING"></span>
        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>

      </div>

      <div class="lightbox_content">
        <div id="login_lightbox">
          <div class="line lightest_line"></div>

          <div class="lightbox_section">
            <form [formGroup]="resetForm" name="passwordResetForm" (ngSubmit)="doPasswordReset()" novalidate>
              <span translate="MODALS.PASSWORD_RESET_LBL_EMAIL"></span>
              <b>{{resetForm.value.email}}</b>
              <input id="password" formControlName="password" type="password"
                [placeholder]="'MODALS.PASSWORD_RESET_PLACEHOLDER_PASSWORD' | translate"
                [ngClass]="{'error_input': errors?.password}" required>
              <input id="password_confirm" formControlName="passwordConfirm" type="password"
              [placeholder]="'MODALS.PASSWORD_RESET_PLACEHOLDER_PASSWORD_CONFIRM' | translate"
              [ngClass]="{'error_input': errors?.password}" [maxlength]="64">
              <label for="password" class="error_label" *ngIf="errors?.password">
                <div class="table_cell">
                  <div class="sprite sprite-icon-inputfield-error2x"></div>
                  <span translate="{{errors.password}}"></span>
                </div>
              </label>
              <button type="submit" [disabled]="resetForm.invalid"
                class="blue_button" translate="MODALS.PASSWORD_RESET_BTN_RESET_PASSWORD"></button>
              <div class="link_section">
                <a class="lightbox_link" href="" mat-dialog-close
                  translate="MODALS.PASSWORD_RESET_LNK_CANCEL"></a>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div id="close_lightbox" mat-dialog-close>
  </div>

</div>
