@use 'mixins';

.page_content {
  gap: 24px;
}

#page_filters_wrap {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  width: 100%;
  padding: 16px;
  gap: 16px;

  max-height: 90px;
  overflow: hidden;

  &.slide-out {
    max-height: 180px;
    overflow: initial;
  }

  #options_area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    .dropdown_input {
      flex-grow: 1;
      min-width: calc(25% - 12px);
    }

    .search_input {
      flex-grow: 2;
    }
  }

  button {
    width: 40px;
    height: 40px;

    .btn_icon {
      display: flex;
      width: 24px;
      height: 24px;

      path {
        fill: none;
      }
    }
  }
}

.groups_content {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
}
