@use "mixins";

.page_content {
  gap: 24px;
}

#page_filters_wrap {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  width: 100%;
  padding: 16px;
  gap: 16px;


  #options_area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    .options_row {
      display: flex;
      gap: 16px;
      width: 100%;
      .dropdown_input {
        flex-grow: 1;
        min-width: calc(25% - 12px);
      }

      .input_area {
        flex-grow: 2;
        padding: 0 16px;
        cos-input {
          width: 100%;
        }
      }
    }
  }

  button {
    width: 40px;
    height: 40px;

    .btn_icon {
      display: flex;
      width: 24px;
      height: 24px;

      path {
        fill: none;
      }
    }
  }
}

.groups_content {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
}
