<div class="timeline print_never">
  <div class="milestones_wrap">
    <div class="milestones_section">
      <div class="table_cell milestones_checkmark">
        <div class="sprite sprite-check-timeline-gray2x">
        </div>
      </div>
      <div class="table_cell">
        <div class="bold" translate="VIEWS.TOPICS_TOPICID.BAR_MILESTONES"
          [translateParams]="{count: (topic.status==STATUSES.voting ? 1 :  topic.status==STATUSES.followUp ? 2: 0)}">
        </div>
      </div>
    </div>

  </div>

  <div class="table_cell">
    <div class="background_line timeline_gray_background">
    </div>

    <div *ngIf="isValidStatus(2)" class="progress_line bar_blue follow_up_line"
      [ngClass]="{in_follow_up_line: STATUSES.followUp === topic.status}">
    </div>

    <div *ngIf="isValidStatus(3)" class="progress_line voting_line bar_green"
      [ngClass]="{in_voting_line: STATUSES.voting === topic.status}">
    </div>

    <div *ngIf="isValidStatus(4)" class="progress_line pin_yellow_background progress_status_line"
      [ngClass]="{in_progress_line: STATUSES.inProgress === topic.status}">
    </div>

    <div class="days_left_wrap" [ngClass]="{'pin_yellow_background days_left_in_progress': topic.status === STATUSES.inProgress,
              'bar_green days_left_voting': topic.status === STATUSES.voting,
              'bar_blue days_left_follow_up': topic.status === STATUSES.followUp,
              'timeline_gray_background days_left_closed': topic.status === STATUSES.closed
           }">
      <div class="table_cell">
        {{'TXT_TOPIC_STATUS_' + topic.status | uppercase | translate}}
      </div>
    </div>

    <div class="checkmark">
      <div class="table_cell">
        <div class="sprite sprite-check-timeline-yellow-start2x">
        </div>
      </div>
    </div>

    <div *ngIf="isValidStatus(3)" class="checkmark checkmark_in_progress">
      <div class="table_cell">
        <div class="sprite sprite-check-timeline-yellow2x">
        </div>
      </div>
      <div class="tooltip">
        <span translate="VIEWS.TOPICS_TOPICID.BAR_TOOLTIP_PHASE"></span> <span class="bold"
          translate="VIEWS.TOPICS_TOPICID.BAR_TOOLTIP_IN_PROGRESS"></span>
      </div>
    </div>

    <div *ngIf="isValidStatus(2)" class="checkmark checkmark_voting">
      <div class="table_cell">
        <div class="sprite sprite-check-timeline-green2x">
        </div>
      </div>
      <div class="tooltip">
        <span translate="VIEWS.TOPICS_TOPICID.BAR_TOOLTIP_PHASE"></span> <span class="bold"
          translate="VIEWS.TOPICS_TOPICID.BAR_TOOLTIP_VOTING"></span>
      </div>
    </div>

  </div>

  <div class="additional_info signing_deadline" *ngIf="topic.vote?.endsAt">
    <span translate="VIEWS.TOPICS_TOPICID.BAR_SIGNING_DEADLINE"></span> <span class="bold">{{topic.vote?.endsAt |
      date:'L LT Z'}}</span>
  </div>

</div>