<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

  <div id="lightbox" class="wide_lightbox with_title_description with_header_menu member_lightbox">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_MEMBERS_HEADING"></div>
          <div class="title_description">{{topic.title}}</div>
        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell ngdialog-close">
            <div class="sprite sprite-btn-popup-close2x ngdialog-close">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

        <div class="header_row_wrap">
          <div class="header_row" slide-controller identifier="topicSettingsSlider">
            <div class="tab_button" (click)="selectTab('participants')"
              [ngClass]="tabSelected === 'participants' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_MEMBERS_TAB_PARTICIPANTS"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
            <div class="tab_button" (click)="selectTab('groups')" [ngClass]="tabSelected === 'groups' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_MEMBERS_TAB_GROUPS"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
            <div class="tab_button" (click)="selectTab('invited')"
              [ngClass]="tabSelected === 'invited' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_MEMBERS_TAB_INVITED"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="line lightest_line"></div>
      <!-- PARTICIPANTS USERS -->
      <div class="lightbox_content settings_section_wrap padding_bottom_zero" *ngIf="tabSelected === 'participants'">
        <div class="lightbox_section">
          <table>
            <tr>
              <td>
                <input [placeholder]="('MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate)"
                  (ngModelChange)="TopicMemberUserService.setParam('search', TopicMemberUserService.params.search)"
                  [(ngModel)]="TopicMemberUserService.params.search">
              </td>
            </tr>
          </table>
        </div>
        <ng-container *ngIf="memberUsers$ | async as memberUsers">
          <div class="lightbox_section participants_list" *ngIf="TopicMemberUserService.countTotal$ | async">
            <table>
              <tr>
                <th (click)="TopicMemberUserService.doOrder('name')">
                  <div class="th_text">
                    <span translate="MODALS.TOPIC_MEMBERS_LNK_PROFILE"></span>
                    <div
                      [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberUserService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberUserService.params.order === 'DESC' }"
                      *ngIf="TopicMemberUserService.params.orderBy === 'name'"></div>
                  </div>
                </th>
                <th (click)="TopicMemberUserService.doOrder('level')">
                  <div class="th_text">
                    <span translate="MODALS.TOPIC_MEMBERS_LNK_ROLES"></span>
                    <div
                      [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberUserService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberUserService.params.order === 'DESC' }"
                      *ngIf="TopicMemberUserService.params.orderBy === 'level'"></div>
                  </div>
                </th>
                <th class="not_sortable">
                  <div class="th_text">
                  </div>
                </th>
              </tr>
              <topic-member-user class="pretend_tr" *ngFor="let user of memberUsers" [member]="user" [topic]="topic"
                fields="['level', 'remove']"></topic-member-user>
            </table>
            <div class="pagination_row">
              <div class="pagination_wrapper">
                <cos-pagination class="pagination" (select)="TopicMemberUserService.loadPage($event)"
                  [totalPages]="(TopicMemberUserService.totalPages$ | async) || 0"
                  [page]="(TopicMemberUserService.page$ | async) || 0"></cos-pagination>
              </div>
            </div>
          </div>

        </ng-container>
      </div>

      <!-- GROUPS -->
      <div class="lightbox_content settings_section_wrap padding_bottom_zero" *ngIf="tabSelected === 'groups'">
        <div class="lightbox_section">
          <table>
            <tr>
              <td>
                <input [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate"
                  (change)="TopicMemberGroupService.setParam('search', TopicMemberGroupService.params.search)"
                  [(ngModel)]="TopicMemberGroupService.params.search">
              </td>
            </tr>
          </table>
        </div>
        <ng-container *ngIf="memberGroups$ | async as memberGroups">
          <div class="lightbox_section participants_list" *ngIf="TopicMemberGroupService.countTotal$ | async">

            <table>
              <tr>
                <th (click)="TopicMemberGroupService.doOrder('name')">
                  <div class="th_text">
                    <span translate="MODALS.TOPIC_MEMBERS_LNK_NAME"></span>
                    <div
                      [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                      *ngIf="TopicMemberGroupService.params.orderBy === 'name'"></div>
                  </div>
                </th>
                <th (click)="TopicMemberGroupService.doOrder('level')">
                  <div class="th_text">
                    <span translate="MODALS.TOPIC_MEMBERS_LNK_ROLES"></span>
                    <div
                      [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicMemberGroupService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicMemberGroupService.params.order === 'DESC' }"
                      *ngIf="TopicMemberGroupService.params.orderBy === 'level'"></div>
                  </div>
                </th>
                <th class="not_sortable">
                  <div class="th_text">
                  </div>
                </th>
              </tr>
              <topic-member-group [topic]="topic" [group]="group" class="pretend_tr"
                *ngFor="let group of memberGroups"></topic-member-group>
            </table>
            <div class="pagination_row">
              <div class="pagination_wrapper">
                <cos-pagination class="pagination" (select)="TopicMemberGroupService.loadPage($event)"
                  [totalPages]="(TopicMemberGroupService.totalPages$ | async) || 0"
                  [page]="(TopicMemberGroupService.page$ | async) || 0"></cos-pagination>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="lightbox_content settings_section_wrap padding_bottom_zero" *ngIf="tabSelected === 'invited'">
        <div class="lightbox_section">
          <table>
            <tr>
              <td>
                <input [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate"
                  (change)="TopicInviteUserService.setParam('search', TopicInviteUserService.params.search);"
                  [(ngModel)]="TopicInviteUserService.params.search">
              </td>
            </tr>
          </table>
        </div>
        <ng-container *ngIf="memberInvites$ | async as memberInvites">
        <div class="lightbox_section participants_list" *ngIf="TopicInviteUserService.countTotal$ | async">
          <!-- TopicInviteUsers -->
          <table>
            <tr>
              <th (click)="TopicInviteUserService.doOrder('name')">
                <div class="th_text">
                  <span translate="MODALS.TOPIC_MEMBERS_LNK_PROFILE"></span>
                  <div
                    [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicInviteUserService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicInviteUserService.params.order === 'DESC' }"
                    *ngIf="TopicInviteUserService.params.orderBy === 'name'"></div>
                </div>
              </th>
              <th (click)="TopicInviteUserService.doOrder('level')">
                <div class="th_text">
                  <span translate="MODALS.TOPIC_MEMBERS_LNK_ROLES"></span>
                  <div
                    [ngClass]="{'sprite sprite-icon-list-ordering2x': TopicInviteUserService.params.order === 'ASC', 'sprite sprite-icon-list-ordering-down-black2x': TopicInviteUserService.params.order === 'DESC' }"
                    *ngIf="TopicInviteUserService.params.orderBy === 'level'"></div>
                </div>
              </th>
              <th class=" not_sortable">
                <div class="th_text">
                </div>
              </th>
            </tr>
            <topic-member-invite class="pretend_tr" *ngFor="let invite of memberInvites" [invite]="invite"
              [topic]="topic" fields="['level', 'remove']"></topic-member-invite>
          </table>
          <div class="pagination_row">
            <div class="pagination_wrapper">
              <cos-pagination class="pagination" (select)="TopicInviteUserService.loadPage($event)"
                [totalPages]="(TopicInviteUserService.totalPages$ | async) || 0"
                [page]="(TopicInviteUserService.page$ | async) || 0"></cos-pagination>
            </div>
          </div>
        </div>
      </ng-container>
      </div>

      <div class="lightbox_footer">
        <div class="line lightest_line"></div>
        <div class="blue_button_wrap">
          <div class="blue_button" mat-dialog-close translate="MODALS.TOPIC_MEMBERS_BTN_SAVE"></div>
        </div>
      </div>

    </div>
  </div>
  <div id="close_lightbox" class="ngdialog-close" mat-dialog-close></div>