@use "mixins";

.follow_up_wrap {
  background-color: var(--color-dialog-follow-up);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-bottom: 20px;

  .follow_up_header {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dialog-follow-up-contrast);
    border-radius: 16px 16px 0px 0px;

    .header_division {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    .follow_up_title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
    }
    .follow_up_deadline {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .follow_up_content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

    .milestone {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 16px 24px 24px 24px;
      display: flex;
      background-color: var(--color-surfaces);
      border-radius: 8px;
      gap: 16px;

      @include mixins.mobile {
        padding: 24px 16px;
      }
      .milestone_header {
        display: flex;
        justify-content: space-between;
        /*   @include mixins.mobile {
          flex-direction: column;
          gap: 8px;
        }*/
        .title_wrap {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: flex-start;

          .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-dialog-follow-up);
            color: var(--color-follow-up);
            width: 40px;
            height: 40px;
            border-radius: 20px;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }
          .title_text_area {
            display: flex;
            flex-direction: column;

            .title_description {
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              color: var(--color-border-active);
            }
            .title {
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }
          }
        }
        .button_wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 24px;

          .milestone_date {
            display: flex;
            align-items: center;
            gap: 8px;
          }

          .button_dropdown {
            background-color: initial;

            .options {
              right: 0;
              @include mixins.mobile {
                position: absolute;
                width: max-content;
                max-width: max-content;
              }
              .option {
                width: max-content;
                gap: 8px;
              }
            }
          }
        }
      }

      .section_content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include mixins.mobile {
          gap: 16px;
        }

        .title_text_area {
          .title_description {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            color: var(--color-border-active);
          }
          display: flex;
          flex-direction: column;
        }

        .heading {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          margin-top: 8px;
        }
      }
    }

    .section_buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: 56px;

      .btn_medium_submit {
        @include mixins.mobile {
          width: 100%;
        }
      }
    }

    #add_section_wrap {
      display: flex;
      background-color: var(--color-surfaces);
      border-radius: 40px;
      max-width: max-content;
      gap: 8px;
      padding: 8px 16px;

      button {
        gap: 0;
      }
    }
  }
}
