@use "mixins";

#mobile_login {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  gap: 8px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-surfaces);
  height: 56px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  z-index: 9;

  button {
    font-weight: 600;
    width: 100%;
  }
}
.btn_notifications {
  circle {
    stroke: var(--color-surfaces);
  }
  text {
    font-size: 10px;
  }

  &:hover {
    circle {
      stroke: var(--color-surfaces);
    }
  }
}

#tablet_nav,
#mobile_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: row;
  background-color: var(--color-surfaces);
  align-items: center;
  justify-content: space-evenly;
  height: 56px;
  width: 100%;
  z-index: 9999;

  &.pos_absolute {
    position: absolute;
    z-index: unset;
  }
}

#tablet_nav {
  @include mixins.tablet {
    display: flex;
  }

  @include mixins.mobile {
    display: none;
  }

  &.hidden {
    display: none;
  }
}

#mobile_nav {
  @include mixins.mobile {
    display: flex;
  }

  &.hidden {
    display: none;
  }
}
