@use "vars";
@use "mixins_n_extends";

.logo_area {
  width: 190px;
  height: 60px;
  background: vars.$dark_black;
  display: inline-block;
  cursor: pointer;

  @include mixins_n_extends.tablet {
    background: none;
    position: absolute;
    left: 0;
  }

  @media (max-width: "750px") {
    width: 59px;
  }

  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
    @media (max-width: "750px") {
      width: 28px;
    }
  }
}

.logo {
  margin: 0 auto;
}

.nav_is_open {
  right: 0;
  width: vars.$nav_t_width;
}

.header_button_wrap {
  display: block;
  right: 0;
  position: absolute;
}

.header_button {
  height: 60px;
  position: relative;
  color: vars.$white;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.45);

  .header_button_content{
    height: 60px;
  }
  .line_holder,
  .header_button_icon,
  .header_button_text {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    top: 15px;
  }

  .line_holder {
    height: 30px;
    display: inline-block;
  }
  @include mixins_n_extends.mobile {
    width: 53px;
    .header_button_icon {
      .sprite {
        display: inline-block;
        margin: 0 auto;
        top: 45%;
        transform: translateY(-65%);
      }
    }

    .header_button_text:first-child {
      display: inline-block;
    }
    .header_button_text {
      display: none;
    }
    .first_holder {
      width: 2px;
    }
  }

  .header_button_icon {
    width: 34px;
  }

  .sprite {
    display: inline-block;
    vertical-align: middle;
    top: 15px;
    position: relative;
  }

  .v_line {
    height: 30px;
    width: 1px;
    float: left;
  }
}

/* SEARCH BAR (search area styles in content.scss) */

#m_search_bar {
  display: inline-block;
  height: 60px;
  width: 100%;
  position: relative;

  #m_search_icon,
  #m_search_close {
    position: absolute;
    height: 60px;
    width: 32px;
    display: inline-block;
    z-index: 6;

    .sprite {
      margin: 0 auto;
    }
  }

  #m_search_close {
    right: 0;
    cursor: pointer;
  }

  #m_search_bar_wrap {
    @extend %table_cell;

    input {
      border-radius: 15px;
      border: none;
      height: 30px;
      padding: 0 34px 1px 34px;
      box-sizing: border-box;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    #search_input_placeholder {
      border-radius: 15px;
      border: none;
      height: 30px;
      padding: 0 34px 1px 34px;
      box-sizing: border-box;
      width: 100%;
      background: vars.$medium_black;
    }
  }
}

.navOpen {
  padding-right: vars.$nav_t_width;
  right: vars.$nav_t_width;
  @include mixins_n_extends.mobile {
    right: 0;
    margin-left: -(vars.$nav_t_width);
  }
}
