@use "mixins";

#mobile_login{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  gap: 8px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-surfaces);
  height: 56px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;

  button {
    font-weight: 600;
    width: 100%;
  }
}

#mobile_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--color-surfaces);
  align-items: center;
  justify-content: space-evenly;
  height: 56px;
  width: 100%;
  z-index: 9999;
}