@use 'mixins_n_extends';
@use 'vars';

#help_tooltip {
  width: 240px;
  height: 404px;
  position: absolute;
  background: #2A2A2A;
  border-radius: 8px;
  color: vars.$white;
  z-index: 999;

  top: auto;
  bottom: 20px;
  right: 100px;

  &::before {
    border-bottom: 10px solid transparent;
    border-left: 10px solid #2A2A2A;
    border-top: 10px solid transparent;
    content: '';
    height: 0;
    left: 100%;
    margin-top: -6px;
    position: absolute;
    bottom: 20px;
    width: 0;


  }

  &.help_visible {
      top: 38px;
      right: 372px;
      bottom: auto;

      &::before {
          top: 32px;
          bottom: auto;
      }
  }
  .tip_heading {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      padding: 16px;
      text-align: center;

      color: #BADCFF;
  }

  .tip_desription {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: vars.$white;
      padding-left: 16px;
      padding-right: 16px;
  }

  .tip_button_wrap {
      .tip_button {
          padding: 10px;
          width: 90%;
          background: vars.$dark_black;
          color: vars.$white;
          border-radius: 4px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          right: 0;
          left: 0;
          position: absolute;
          font-weight: bold;
          font-size: 14px;
      }
  }

  .help_bubble_icon {
      padding-top: 24px;
      padding-bottom: 32px;

      .help_icon {
          width: 60px;
          height: 60px;
          border-radius: 30px;
          background-color: vars.$deep_sky_blue;
          background-image: url(./imgs/icon_bubble_help.svg);
          background-repeat: no-repeat;
          background-position: center;
          margin-left: auto;
          margin-right: auto;
      }
  }
}
#help_bubble {
  z-index: 999;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: vars.$deep_sky_blue;
  background-image: url(./imgs/icon_bubble_help.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  box-shadow: 0 0 8px 0 vars.$dark_gray;

  &:hover {
      cursor: pointer;
  }

  &.animate {
      cursor: unset;
      -webkit-animation-name: jump;
      -webkit-animation-duration: 500ms;
      -webkit-animation-direction: alternate-reverse;
      -webkit-animation-iteration-count: 2;
      -webkit-animation-timing-function: linear;

      -moz-animation-name: jump;
      -moz-animation-duration: 500ms;
      -moz-animation-direction: alternate-reverse;
      -moz-animation-iteration-count: 2;
      -moz-animation-timing-function: linear;

      -ms-animation-name: jump;
      -ms-animation-duration: 500ms;
      -ms-animation-direction: alternate-reverse;
      -ms-animation-iteration-count: 2;
      -ms-animation-timing-function: linear;

      animation-name: jump;
      animation-duration: 500ms;
      animation-direction: alternate-reverse;
      animation-iteration-count: 2;
      animation-timing-function: linear;
  }
}
.help_widget {
  z-index: 999999;
  width: 360px;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  border-radius: 4px;
  background: vars.$white;
  box-shadow: 0 0 8px 0 vars.$dark_gray;

  #help_close {
      height: 54px;
      border-radius: 0 4px;
      position: absolute;
      float: none;
      right: 10px;
      top: 10px;
  }

  .help_content {
      width: 360px;
      height: 100vh;

      iframe {
          width: 100%;
          height: 90%;
      }
  }

  .help_top {
      border-radius: 4px 4px 0 0;
      width: 100%;

      .help_back_link {
          padding: 10px;
          position: absolute;
      }

      .help_title_text_wrapper {
          padding: 10px 0px;
          width: 100%;
          text-align: center;

          .help_title_text {
              font-size: 12px;
              line-height: 16px;
              font-weight: 700;
              color: vars.$dark_gray;
              text-transform: uppercase;
          }
      }

      .help_description {
          padding: 0 20px 20px 20px;
          font-size: 14px;

          a {
              width: 100%;
              margin-top: 10px;
              line-height: 24px;
              clear: both;
              display: inline-block;
              text-decoration: underline;
              cursor: pointer;
              color: vars.$white;

              &:hover {
                  color: vars.$lightest_gray;
              }

              &:visited {
                  color: vars.$white;
              }

              span {
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 5px;
                  text-decoration: underline;
              }
          }
      }
  }

  .help_bottom {
      width: 280px;
      padding: 0 20px 0 20px;

      .help_bottom_title {
          color: vars.$medium_black;
          width: 100%;
          line-height: 24px;
          font-size: 18px;
          font-weight: vars.$bold;
          margin: 20px 0 20px 0;
      }

      input, textarea {
          width: 269px;
          border-radius: 4px;
          border: solid 1px vars.$lightest_gray;
          margin-bottom: 10px;
          padding: 5px;

          &.help_input_checkbox {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
          }
      }

      .checkcontainer {
          span {
              font-size: 14px;
          }

          .help_checkbox {
              position: relative;
              top: 5px;
              left: 0;
              height: 20px;
              width: 20px;
              background-color: vars.$white;
              display: inline-block;
              border: 1px solid #e5e5e5;
              -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, .15);
              box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, .15);
              -moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, .15);

              &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 5px;
                  top: 2px;
                  width: 7px;
                  height: 10px;
                  border: solid vars.$deep_sky_blue;
                  border-width: 0 3px 3px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
              }
          }

          input:checked ~ .help_checkbox:after {
              display: block;
          }
      }

      textarea {
          height: 160px;
      }

      .blue_button_wrap {
          .blue_button {
              float: right;
              width: max-content;
              margin-bottom: 20px;
              padding: 12px 20px 13px;
              border: none;
          }
      }

      .error_label {
          margin-top: 0;
          margin-bottom: 10px;
      }
  }
}
