@use "mixins";

.page_content {
  gap: 24px;

  @include mixins.tablet {
    margin: 60px 0;
    padding: 8px;
    gap: 16px;
  }

  @include mixins.mobile {
    padding: 0;
  }
  #create_add_container {
    position: relative;
  }
  #create_menu_wrap {
    max-width: 320px;
    top: 56px;
    right: -265px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: absolute;
    z-index: 999999;
    background-color: var(--color-surfaces);
    box-shadow: 0px 12px 16px rgba(50, 85, 112, 0.1),
      0px 8px 20px rgba(220, 231, 240, 0.3);
    border-radius: 16px;
    &.hidden {
      display: none;
    }

    .header_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu_title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
      button {
        min-width: 40px;
        max-width: 40px;
      }
    }

    @include mixins.mobile {
      bottom: 0;
      width: 100%;
      right: 0;
      left: 0;
      top: initial;
      max-width: 100%;
      border-radius: 16px 16px 0 0;
      position: fixed;
    }

    #create_menu {
      position: relative;
      background-color: var(--color-background);
      border-radius: 0;
      bottom: auto;
      box-shadow: none;
      gap: 16px;

      .menu_heading {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
      .line_separator {
        background-color: var(--color-dialog-contrast);
        margin-bottom: 8px;
      }
      .create_menu_item {
        width: 100%;
        max-width: 100%;
        position: relative;
        padding: 0;

        .item_text_wrap {
          max-width: 100%;
          width: 100%;
        }
        .icon_arrow_right {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    .create_item {
      display: flex;
      position: relative;
      background-color: var(--color-background);
      justify-content: space-between;
      align-items: center;
      border-radius: 0;
      bottom: auto;
      box-shadow: none;
      gap: 16px;
      width: 100%;
      padding: 16px;

      .item_heading {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }

      .icon {
        height: 24px;
        width: 24px;
      }
    }
  }
  #close_create {
    @extend %all_zero;
    position: fixed;
    cursor: pointer;
    z-index: 99999;

    background-color: rgba(44, 59, 71, 0.8);
  }

  #page_header {
    padding: 16px 0 0 0;
    .permissions_lable {
      display: flex;
      height: 40px;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: var(--color-scrollbar);
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      text-transform: capitalize;
    }
    .dropdown {
      .options {
        position: absolute;
        width: max-content;
        min-width: max-content;
        @include mixins.mobile {
          position: fixed;
          width: 100%;
          min-width: initial;
        }
      }
    }

    activities-button {
      display: none;
    }
    @include mixins.tablet {
      background-color: var(--color-surfaces);
      border-radius: 16px 16px 0 0;
      margin: 0;
      padding: 8px 0;
      height: 56px;
      align-items: center;
      vertical-align: middle;
      margin-bottom: -14px;

      activities-button {
        display: flex;
      }

      #buttons_area {
        display: flex;

        .btn_medium_activity {
          display: none !important;
        }
        #join_button,
        #leave_button {
          display: none;
        }
      }
    }

    @include mixins.mobile {
      padding: 8px;
    }
    .button_dropdown {
      background-color: initial;

      .options {
        right: 0;

        .option {
          width: max-content;
          gap: 8px;
        }
      }
    }
  }
  .content_section {
    .filter_section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      @include mixins.mobile {
        gap: 8px;
      }
      cos-input {
        width: inherit;
      }
      .dropdown_input {
        max-width: 200px;
      }
      @include mixins.mobile {
        flex-direction: column;

        cos-input,
        .dropdown_input {
          max-width: 100%;
          width: 100%;
        }
      }

      .input_area {
        width: 100%;
        padding: 0px 0px 0px 16px;
        gap: 0;

        @include mixins.mobile {
          input,
          cos-input {
            width: 100%;
            background-color: unset;
          }
        }
        cos-input {
          width: 100%;
        }
      }
    }
  }
}
.filter_control_buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: 40px;
    height: 40px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 40px;

    &.flip {
      transform: rotateX(180deg);
    }

    .btn_icon {
      display: flex;
      width: 24px;
      height: 24px;

      path {
        fill: none;
      }
    }

    &:hover {
      .btn_icon {
        transform: rotate(-360deg);
        transition: transform 150ms ease;
        transition-delay: 200ms;
        path {
          stroke: var(--color-surfaces);
        }
      }
    }
  }
}
#group_info_area {
  display: flex;
  padding: 16px;
  background-color: var(--color-surfaces);
  border-radius: 16px;
  gap: 24px;
  justify-content: space-between;
  position: relative;
  min-height: 180px;
  max-height: 180px;
  height: 180px;
  overflow: hidden;
  transition: max-height 0.2s ease-in;

  &.open {
    min-height: min-content;
    max-height: 1000px;
    height: 100%;
  }
  @include mixins.tablet {
    border-radius: 0 0 16px 16px;
    min-height: 323px;
    max-height: 323px;
    height: 3230px;
  }

  @include mixins.mobile {
    min-height: 393px;
  }

  #group_image_wrap {
    display: flex;
    max-width: 80px;
    align-items: top;

    @include mixins.tablet {
      display: none;
    }
    .group_circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: var(--color-surface-contrast);
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  #view_more {
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
    bottom: 16px;
    margin-top: 8px;

    @include mixins.mobile {
      align-self: center;
    }
  }

  #group_content_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    transition: height 0.2s ease-in;

    #group_description_wrap {
      display: flex;
      gap: 32px;
      position: relative;
      justify-content: space-between;

      @include mixins.tablet {
        flex-direction: column;
      }
      #description_left,
      #description_right {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      #description_left {
        max-width: 600px;

        @include mixins.tablet {
          max-width: 100%;
        }
      }

      #group_name_wrap {
        display: flex;
        gap: 8px;
        align-items: center;

        h2 {
          margin: 0;
          line-height: initial;
        }
        @include mixins.tablet {
          vertical-align: middle;
        }

        @include mixins.mobile {
          flex-direction: column;
          justify-content: center;
        }

        #group_image_tablet_wrap {
          display: none;
          max-width: 64px;
          align-items: top;

          @include mixins.tablet {
            display: flex;
          }
          .group_circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            border-radius: 64px;
            background-color: var(--color-surface-contrast);
          }

          img {
            width: 64px;
            height: 64px;
            border-radius: 64px;
            aspect-ratio: 1;
            object-fit: cover;
          }
        }
        .group_visbility_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: var(--color-surface-contrast);

          @include mixins.mobile {
            position: absolute;
            right: 8px;
            top: 8px;
          }
        }
      }

      #group_description {
        min-height: 50px;
        max-height: 60px;
        overflow-y: hidden;

        &.open {
          min-height: auto;
          max-height: initial;
          overflow-y: initial;
        }
      }

      #description_right {
        gap: 20px;
        min-width: 368px;
        max-width: 368px;

        @include mixins.tablet {
          max-width: 100%;
          min-width: initial;
        }

        activities-button {
          display: flex;
          justify-content: flex-end;

          @include mixins.tablet {
            display: none;
          }
        }
        #info_items_wrap {
          display: flex;
          gap: 16px;
          justify-content: flex-end;

          @include mixins.tablet {
            justify-content: center;
          }

          .info_item {
            width: 80px;
            height: 88px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            background-color: var(--color-surface-contrast);

            @include mixins.tablet {
              width: 160px;
            }

            @include mixins.mobile {
              width: 100%;
            }
          }
        }
      }
    }

    #group_extra_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;

      @include mixins.tablet {
        flex-direction: column-reverse;
        display: none;
        &.open {
          display: flex;
        }
      }

      #extra_info_left,
      #extra_info_right {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      #extra_info_left {
        max-width: 600px;
        @include mixins.tablet {
          max-width: 100%;
        }
      }

      #extra_info_right {
        min-width: 368px;
        max-width: 368px;
        @include mixins.tablet {
          max-width: 100%;
        }
        @include mixins.mobile {
          min-width: 100%;
        }
      }

      #rule_items_wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .rule_item {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      #tag_items_wrap {
        display: flex;
        gap: 8px;
        flex-flow: row wrap;
        .tag_item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          background-color: var(--color-surface-contrast);
          border-radius: 8px;
          padding: 8px;
          font-weight: 800;
        }
      }

      #group_extra_info_wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border-radius: 16px;
        background-color: var(--color-surface-contrast);
        .info_items_wrap {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .info_item {
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }

        #categories_wrap {
          display: flex;
          flex-flow: wrap row;

          .category {
            color: var(--color-link);
          }
        }
      }
    }
  }
}

.tabs_wrap {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;

  .tabs_row {
    width: 100%;

    @include mixins.mobile {
      justify-content: center;
    }
  }

  button {
    min-width: 240px;

    @include mixins.mobile {
      display: none;
    }
  }
}

#topic_list_filters {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  width: 100%;
  padding: 16px;
  gap: 16px;

  @include mixins.mobile {
    margin: 0 8px;
    padding: 0;
    width: auto;
  }

  .dropdown {
    width: 100%;
  }

  #options_area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    position: relative;

    .options_row {
      display: flex;
      gap: 16px;
      width: 100%;
      position: relative;

      @include mixins.tablet {
        flex-flow: row wrap;
      }

      .dropdown_input {
        flex-grow: 1;
        min-width: calc(25% - 12px);

        @include mixins.tablet {
          flex-grow: 2;
          min-width: calc(50% - 12px);
        }

        &.dropdown {
          width: calc(50% - 12px);
        }
      }

      .input_area {
        flex-grow: 4;
        padding: 0 16px;
        cos-input {
          width: 100%;
        }
      }
    }
  }

  .filter_control_buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      transition: transform 0.6s;
      transform-style: preserve-3d;
      perspective: 40px;

      &.flip {
        transform: rotateX(180deg);
      }

      .btn_icon {
        display: flex;
        width: 24px;
        height: 24px;
        position: absolute;
        path {
          fill: none;
        }
      }

      #reload_button {
        path {
          fill: initial;
        }
      }
    }
  }
}

#topics_area {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  @include mixins.tablet {
    gap: 8px;
  }

  @include mixins.mobile {
    padding: 8px;
    padding-bottom: 64px;
    width: 100%;

    topicbox {
      width: 100%;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  gap: 8px;

  group-member-user {
    display: contents;
  }

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    border-radius: 8px;

    .cell_title {
      display: none;
      @include mixins.mobile {
        display: flex;
        width: 100%;
      }
    }

    @include mixins.mobile {
      flex-direction: column;
      gap: 16px;
    }

    &.header_row {
      padding: 12px 16px;

      @include mixins.mobile {
        display: none;
      }
    }

    &:nth-child(even) {
      background-color: var(--color-surface-contrast);
    }
    .name,
    .level,
    .actions {
      display: flex;
      @include mixins.mobile {
        gap: 8px;
        justify-content: flex-start;
        width: 100%;
      }
    }

    .name {
      flex: 6 6 0;
      text-align: start;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }

    .level {
      flex: 2 2 0;
      justify-content: center;

      .level_heading,
      .dropdown {
        flex: 1 1 0;
      }
      .button_heading {
        justify-content: center;
        flex: 1 1 0;
        display: flex;
      }

      button {
        flex: 1 1 0;
      }

      @include mixins.mobile {
        width: 100%;
        justify-content: space-between;
        flex: initial;
        gap: 8px;
        .dropdown {
          flex: initial;
          width: 100%;
        }
        button {
          flex: initial;
          width: 32px;
        }
      }
    }
  }
}
