#group_info_area {
  display: flex;
  padding: 16px;
  background-color: var(--color-surfaces);
  border-radius: 16px;
  gap: 24px;

  #group_image_wrap {
    display: flex;
    max-width: 80px;
    align-items: center;

    .group_circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: var(--color-surface-contrast);
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      aspect-ratio: 1;
      object-fit: contain;
    }
  }

  #group_description_wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #group_name_wrap {
      display: flex;
      gap: 8px;
      align-items: center;

      .group_visbility_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: var(--color-surface-contrast);
      }
    }
  }

  #buttons_wrap {

  }
}
