@use "mixins";

#create_menu {
  /* Create Menu */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  position: fixed;
  top: 74px;
  left: 200px;
  z-index: 9;
  background: var(--color-surfaces);

  box-shadow: 0px 12px 16px rgba(50, 85, 112, 0.1),
    0px 8px 20px rgba(220, 231, 240, 0.3);
  border-radius: 16px;

  @include mixins.tablet {
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: auto;
    justify-content: space-around;
  }

  @include mixins.mobile {
    bottom: 56px;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .create_menu_item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
    cursor: pointer;
    justify-content: space-around;

    @include mixins.mobile {
      width: 100%;
      justify-content: space-between;
    }

    &:hover {
      background: var(--color-secondary);
      border-radius: 8px;
    }

    .left_wrap {
      display: flex;
      gap: 16px;
    }

    .icon_wrap {
      width: 32px;
      height: 32px;
      border-radius: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .item_text_wrap {
      /* Auto layout */

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      width: 255px;

      /* Inside auto layout */

      .item_title {
        width: 181px;
        height: 24px;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-text);
      }

      .item_description {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-text);
      }
    }
    .icon_item {
      display: flex;
      margin-top: 6px;
    }
  }
}

#close_dialog {
  @extend %all_zero;
  position: fixed;
  cursor: pointer;
  z-index: 1;

  @include mixins.tablet {
    background-color: rgba(44, 59, 71, 0.8);
  }
}
