<div id="create_menu">
  <div class="create_menu_item" [routerLink]="['/', translate.currentLang, 'topics', 'create']" routerLinkActive="active" mat-dialog-close>
    <div class="icon_wrap">
      <div class="icon_create_discussion">
      </div>
    </div>
    <div class="item_text_wrap">
      <div class="item_title" translate="MODALS.CREATE_TITLE_DISCUSSION"></div>
      <div class="item_description" translate="MODALS.CREATE_DESC_DISCUSSION"></div>
    </div>
    <div class="icon_item icon_arrow_right"></div>
  </div>

  <!--div class="create_menu_item">
    <div class="icon_wrap">
      <div class="icon_create_ideation">
      </div>
    </div>
    <div class="item_text_wrap">
      <div class="item_title" translate="MODALS.CREATE_TITLE_IDEATION"></div>
      <div class="item_description" translate="MODALS.CREATE_DESC_IDEATION"></div>
    </div>
    <div class="icon_item icon_arrow_right"></div>
  </div-->

  <div class="create_menu_item" [routerLink]="['/', translate.currentLang, 'topics', 'vote', 'create']" routerLinkActive="active" mat-dialog-close>
    <div class="icon_wrap">
      <div class="icon_create_voting">
      </div>
    </div>
    <div class="item_text_wrap">
      <div class="item_title" translate="MODALS.CREATE_TITLE_VOTE"></div>
      <div class="item_description" translate="MODALS.CREATE_DESC_VOTE"></div>
    </div>
    <div class="icon_item icon_arrow_right"></div>
  </div>

  <div class="line_separator"></div>

  <div class="create_menu_item" [routerLink]="['/', translate.currentLang, 'my', 'groups', 'create']" routerLinkActive="active" mat-dialog-close>
    <div class="icon_wrap">
      <div class="icon_create_group">
      </div>
    </div>
    <div class="item_text_wrap">
      <div class="item_title" translate="MODALS.CREATE_TITLE_GROUP"></div>
      <div class="item_description" translate="MODALS.CREATE_DESC_GROUP"></div>
    </div>
    <div class="icon_item icon_arrow_right"></div>
  </div>
</div>

<div id="close_dialog" mat-dialog-close></div>
