@use "mixins";

#create_menu {
  /* Create Menu */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  position: fixed;
  top: 74px;
  left: 200px;
  z-index: 9;
  background: var(--color-surfaces);

  box-shadow: 0px 12px 16px rgba(50, 85, 112, 0.1),
    0px 8px 20px rgba(220, 231, 240, 0.3);
  border-radius: 16px;

  @include mixins.tablet {
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: auto;
    justify-content: space-around;
  }

  @include mixins.mobile {
    bottom: 56px;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .create_menu_item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
    justify-content: space-around;

    @include mixins.mobile {
      width: 100%;
      justify-content: space-between;
    }

    &:hover {
      background: var(--color-secondary);
      border-radius: 8px;
    }
    .icon_wrap {
      width: 32px;
      height: 32px;
      border-radius: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .icon_create_discussion {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%231168A8'/%3E%3Cpath d='M22.0002 17.7634C22.0243 17.7288 22.0474 17.6928 22.0712 17.6591C22.6755 16.7608 22.999 15.703 23.0002 14.6203C23.0102 11.5172 20.3921 9 17.1546 9C14.3308 9 11.9752 10.9216 11.4233 13.4725C11.3406 13.8506 11.2986 14.2364 11.2983 14.6234C11.2983 17.7297 13.8158 20.3144 17.0533 20.3144C17.568 20.3144 18.2615 20.1597 18.6418 20.0553C19.0221 19.9509 19.399 19.8131 19.4965 19.7759C19.594 19.7387 19.7465 19.7006 19.868 19.7356L22.2874 20.435C22.3087 20.4413 22.3312 20.4418 22.3528 20.4365C22.3743 20.4312 22.394 20.4202 22.4099 20.4048C22.4258 20.3893 22.4374 20.3699 22.4433 20.3485C22.4492 20.3271 22.4493 20.3046 22.4437 20.2831L21.8899 18.1741C21.8515 18.0178 21.8465 17.9884 22.0002 17.7634Z' fill='white'/%3E%3Cpath d='M17.7669 20.9809C17.5264 21.0193 17.2835 21.0407 17.04 21.0449C15.7141 21.0449 14.4619 20.6949 13.4463 20.0387C12.7966 19.6399 12.2327 19.116 11.7872 18.4974C10.9722 17.4171 10.5278 16.044 10.5278 14.6071C10.5278 14.5093 10.5313 14.4152 10.5347 14.3209C10.536 14.293 10.5286 14.2655 10.5136 14.242C10.4987 14.2185 10.4768 14.2002 10.4511 14.1895C10.4253 14.1789 10.3969 14.1764 10.3698 14.1824C10.3426 14.1885 10.3179 14.2028 10.2991 14.2234C9.55083 15.0421 9.09849 16.0879 9.01431 17.1939C8.93014 18.2998 9.21898 19.4021 9.83472 20.3246C9.91191 20.4424 9.95566 20.5334 9.94222 20.594L9.50191 22.8521C9.49785 22.8736 9.49949 22.8957 9.50666 22.9164C9.51384 22.937 9.5263 22.9554 9.5428 22.9697C9.55931 22.9841 9.57928 22.9938 9.60073 22.998C9.62218 23.0022 9.64435 23.0007 9.66504 22.9937L11.79 22.2362C11.8545 22.2107 11.9233 22.1982 11.9926 22.1994C12.0619 22.2005 12.1302 22.2154 12.1938 22.243C12.8297 22.493 13.5332 22.6468 14.2366 22.6468C15.5906 22.6512 16.8949 22.1368 17.8813 21.2093C17.9017 21.1894 17.9152 21.1636 17.9199 21.1356C17.9246 21.1075 17.9203 21.0787 17.9076 21.0533C17.8948 21.0278 17.8744 21.0071 17.8491 20.9941C17.8238 20.9811 17.795 20.9764 17.7669 20.9809Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 32px;
        height: 32px;
      }

      .icon_create_ideation {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23E4B722'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9998 15.9667C21.6317 15.9667 21.3332 15.6682 21.3332 15.3C21.3332 14.9318 21.6317 14.6333 21.9998 14.6333H22.6665C23.0347 14.6333 23.3332 14.9318 23.3332 15.3C23.3332 15.6682 23.0347 15.9667 22.6665 15.9667H21.9998ZM21.1645 10.138C20.9044 9.87789 20.4825 9.87848 20.2232 10.1393L19.9672 10.3967C19.7089 10.6565 19.7095 11.0763 19.9685 11.3354C20.2286 11.5954 20.6505 11.5949 20.9098 11.334L21.1658 11.0767C21.4241 10.8169 21.4235 10.397 21.1645 10.138ZM15.3332 9.3C15.3332 9.66819 15.6316 9.96667 15.9998 9.96667C16.368 9.96667 16.6665 9.66819 16.6665 9.3V8.66667C16.6665 8.29848 16.368 8 15.9998 8C15.6316 8 15.3332 8.29848 15.3332 8.66667V9.3ZM9.99984 14.6333C10.368 14.6333 10.6665 14.9318 10.6665 15.3C10.6665 15.6682 10.368 15.9667 9.99984 15.9667L9.33317 15.9667C8.96498 15.9667 8.6665 15.6682 8.6665 15.3C8.6665 14.9318 8.96498 14.6333 9.33317 14.6333L9.99984 14.6333ZM11.7819 10.1313C11.5232 9.87122 11.1025 9.87064 10.8432 10.13C10.5838 10.3894 10.5844 10.8101 10.8445 11.0687L11.1052 11.328C11.3639 11.5852 11.7819 11.5846 12.0398 11.3267C12.2978 11.0687 12.2984 10.6507 12.0411 10.392L11.7819 10.1313ZM11.8407 15.2612C11.8407 12.8819 13.8869 11.1999 16.0007 11.1999C18.1146 11.1999 20.1607 12.8821 20.1607 15.2612C20.1607 16.9416 19.491 17.8986 18.881 18.7705C18.4342 19.409 18.0193 20.0019 17.9228 20.7999H14.0828C13.9863 20.0018 13.5706 19.4088 13.1229 18.7702C12.5116 17.8984 11.8407 16.9414 11.8407 15.2612ZM14.0819 22.0819H17.9219V21.4401H14.0819V22.0819ZM14.0819 22.7201H17.9219C17.9219 23.427 17.3489 24.0001 16.6419 24.0001H15.3619C14.655 24.0001 14.0819 23.427 14.0819 22.7201Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 32px;
        height: 32px;
      }

      .icon_create_voting {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%235AB467'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C11.584 8 8 11.584 8 16C8 20.416 11.584 24 16 24C20.416 24 24 20.416 24 16C24 11.584 20.416 8 16 8ZM14.4444 20L20.6667 13.8246L19.5 12.6667L14.4444 17.6842L12.5 15.7544L11.3333 16.9123L14.4444 20Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 32px;
        height: 32px;
      }

      .icon_create_group {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23D7E9F8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9998 16.0002C15.8408 16.0002 17.3332 14.5078 17.3332 12.6668C17.3332 10.8259 15.8408 9.3335 13.9998 9.3335C12.1589 9.3335 10.6665 10.8259 10.6665 12.6668C10.6665 14.5078 12.1589 16.0002 13.9998 16.0002Z' fill='%231168A8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 12.6668C20 11.3217 18.9139 10.6668 18 10.6668V9.3335C19.4328 9.3335 21.3333 10.3853 21.3333 12.6668C21.3333 14.9484 19.4328 16.0002 18 16.0002V14.6668C18.9139 14.6668 20 14.0119 20 12.6668Z' fill='%231168A8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6665 16.6665H19.3332C20.8059 16.6665 21.9998 17.8604 21.9998 19.3332V22.6665H20.6665V19.3332C20.6665 18.5968 20.0696 17.9998 19.3332 17.9998H18.6665V16.6665Z' fill='%231168A8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 19.3332C10 17.8604 11.1939 16.6665 12.6667 16.6665H15.3333C16.8061 16.6665 18 17.8604 18 19.3332V22.6665H10V19.3332Z' fill='%231168A8'/%3E%3C/svg%3E%0A");
        width: 32px;
        height: 32px;
      }
    }

    .item_text_wrap {
      /* Auto layout */

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      width: 255px;

      /* Inside auto layout */

      .item_title {
        width: 181px;
        height: 24px;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-text);
      }

      .item_description {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-text);
      }
    }
    .icon_item {
      display: flex;
      margin-top: 6px;
    }
  }
}

#close_dialog {
  @extend %all_zero;
  position: fixed;
  cursor: pointer;
  z-index: 1;

  @include mixins.tablet {
    background-color: rgba(44, 59, 71, 0.8);
  }
}
