<div id="cos_calendar">
  <div class="cos_cal_month_selector">
    <button (click)="setMonth(-1)">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.5 7.5L9.5 12.5L14.5 17.5" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    <div class="text_wrap">
      <span [translate]="'COMPONENTS.COS_CALENDAR.MONTHS.'+month"></span>
      <span>{{year}}</span>
    </div>
    <button (click)="setMonth(1)">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.5 17.5L14.5 12.5L9.5 7.5" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
  </div>
  <div class="cos_cal_weekdays">
    <div class="cos_cal_weekday bold" *ngFor="let day of weekdays">
      {{'COMPONENTS.COS_CALENDAR.WEEKDAYS.'+day | translate | slice:0:1}}
    </div>
  </div>
  <div class="line_separator"></div>
  <div class="cos_cal_days" *ngFor="let week of calendar; let i = index">
    <div class="cos_cal_week">
      <button class="cos_cal_day" (click)="selectDate(day)" *ngFor="let day of week">
        <span class="day_item" [ngClass]="{ 'empty': day < 0, 'selected': isSelected(day) }">{{getDay(day)}}</span>
      </button>
    </div>
  </div>
</div>
