<div class="overlay" mat-dialog-close></div>
<div class="dialog" *ngIf="topic$ | async as topic">
  <div class="dialog_header">
    <div class="header_text">
      <h4 class="title" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_TITLE"></h4>
    </div>
    <div class="dialog_close">
      <button class="btn_dialog_close" mat-dialog-close>
        <div class="icon_mobile_close"></div>
      </button>
    </div>
  </div>
  <div class="dialog_info_wrap">
    <div class="dialog_info">
      <div class="info_row">
        <div class="icon_mobile_topics_detail"></div>
        <div class="bold" [innerHTML]="topic.title"></div>
      </div>
    </div>
  </div>
  <div class="dialog_info_wrap">
    <div class="dialog_info" [ngClass]="{'toggle_off': !allowNotifications, 'toggle_on': allowNotifications}">
      <div class="info_row with_toggle">
        <div class="bold" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_NOTIFICATIONS"></div>
        <cos-toggle [cosToggleTextOn]="'TOGGLE_ON' | translate" [cosToggleTextOff]="'TOGGLE_OFF' | translate"
          [model]="allowNotifications" (click)="toggleAllNotifications()"></cos-toggle>
      </div>
    </div>
  </div>
  <div class="dialog_content"  *ngIf="settings | async as settings">
    <div class="bold" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_NOTIFY_ME_ABOUT"></div>
    <label class="checkbox"><span translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_ALL_ACTIONS"></span>
      <input type="checkbox" [checked]="allChecked()" (click)="toggleAllNotifications()">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_UPDATES"></span>
      <input type="checkbox" [checked]="preferences.Topic && preferences.TopicReport"
        (click)="selectOption('Topic');selectOption('TopicReport');">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_DISCUSSION"></span>
      <input type="checkbox" [checked]="preferences.TopicComment && preferences.CommentVote"
        (click)="selectOption('TopicComment');selectOption('CommentVote');">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_VOTING"></span>
      <input type="checkbox" [checked]="preferences.TopicVoteList" (click)="selectOption('TopicVoteList');">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox"><span translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_FOLLOW_UP"></span>
      <input type="checkbox" [checked]="preferences.TopicEvent" (click)="selectOption('TopicEvent');">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="dialog_footer with_buttons">
    <a mat-dialog-close translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LNK_CANCEL"></a>
    <button class="btn_medium_submit" (click)="doSaveSettings();"
      translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_BTN_SAVE"></button>
  </div>
</div>
