<!-- RIGHT SIDE -->
<div class="topics_right" *ngIf="group$ | async as group">

  <div class="v_line separator"></div>

  <!-- GENERAL INFO GROUPS VIEW -->
  <div class="info_container group_detail">

    <div class="container_header" (click)="generalInfo = !generalInfo">
      <div class="header_text" translate="VIEWS.MY_GROUPS_GROUPID.HEADING_GENERAL_INFORMATION"></div>
      <div class="minimize_container">
        <div [ngClass]="!generalInfo ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite">
        </div>
      </div>
    </div>

    <div class="container_content" *ngIf="generalInfo">

      <div class="content_top">
        <div class="container_title">
          <div class="group_circle big">
            <cos-initials *ngIf="!group.imageUrl && group.name" class="table_cell" [name]="group.name"
              initial-limit="1"></cos-initials>
            <img *ngIf="group.imageUrl" [src]="group.imageUrl">
          </div><span [innerHtml]="group.name">group.name</span>
        </div>
        <div class="container_visibility">
          <div class="ff_table_fix"
            [tooltip]="'<span>'+(('TOOLTIP_GROUP_VISIBILITY_'+group.visibility | uppercase) | translate)+'</span>'">
            <div class="table_cell">
              <div class="sprite"
                [ngClass]="{'sprite-icon-public-topic': !isPrivate(group), 'sprite-icon-private-topic': isPrivate(group)}">
              </div>
            </div>
          </div>
        </div>
        <div class="container_description">
          <span [innerHtml]="group.description">group.name</span>
        </div>
        <!--div class="container_pin" [ngClass]="app.pinned ? 'pinned' : ''" (click)="app.pinned = !app.pinned">  //Needs group pinning
                  <div class="ff_table_fix" tooltips tooltip-side="left" tooltip-template="<span translate='MODALS.TOOLTIP_PIN_TOPIC'>Pin topic</span>">
                      <div class="table_cell">
                          <div class="sprite sprite-icon-favourite2x-white"></div>
                          <div class="yellow_bg"></div>
                      </div>
                  </div>
              </div-->
      </div>

      <div class="line lightest_line"></div>

      <div class="content_bottom">


        <!-- COLUMN 1 -->
        <div class="content_column">

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_TOPICS"></div>
            <div class="item_content">
              <div class="item_text">
                <span [innerHtml]="group.members.topics.count"></span>
                <span class="separator">|</span>
                <span class="item_link blue_link" (click)="viewMemberTopics()"
                  translate="VIEWS.MY_GROUPS_GROUPID.LNK_VIEW"></span>
                <span *ngIf="canUpdate(group)">
                  <span class="separator">|</span>
                  <span class="item_link blue_link" translate="VIEWS.MY_GROUPS_GROUPID.LNK_ADD"
                    (click)="addTopicDialog(group); $event.stopPropagation();"></span>
                </span>
              </div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_USERS"></div>
            <div class="item_content">
              <div class="item_text">
                <span [innerHtml]="group.members.users.count"></span>
                <span class="separator">|</span>
                <span class="item_link blue_link" (click)="viewMemberUsers()"
                  translate="VIEWS.MY_GROUPS_GROUPID.LNK_VIEW"></span>
                <span *ngIf="canUpdate(group)">
                  <span class="separator">|</span>
                  <span class="item_link blue_link" translate="VIEWS.MY_GROUPS_GROUPID.LNK_INVITE"
                    (click)="shareGroupDialog(group)"></span>
                </span>
              </div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_YOUR_RIGHTS"></div>
            <div class="item_content bold">{{'TXT_TOPIC_LEVELS_' + (group.permission?.level || group.userLevel) |
              uppercase | translate}}</div>
            <div class="clearer"></div>
          </div>

        </div>


        <!-- COLUMN 2 -->
        <div class="content_column">

          <div class="content_item" *ngIf="latestTopic">
            <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_LATEST"></div>
            <div class="item_content">
              <div class="item_text">
                <span [innerHtml]="latestTopic.title"></span>
                <span class="separator">|</span>
                <span class="item_link blue_link bold" [routerLink]="['/topics', latestTopic.id]"
                  translate="VIEWS.MY_GROUPS_GROUPID.LNK_VIEW"></span>
              </div>
            </div>
            <div class="clearer"></div>
          </div>

          <div class="content_item">
            <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_GROUP_ACTIONS"></div>
            <div class="item_content">
              <span class="item_text blue_link" *ngIf="canUpdate(group)"
                [routerLink]="['/my/groups',group.id, 'settings']"
                translate="VIEWS.MY_GROUPS_GROUPID.LNK_SETTINGS"></span>
              <span class="separator" *ngIf="canUpdate(group)">|</span>
              <span class="item_text blue_link" (click)="leaveGroup(group)"
                translate="VIEWS.MY_GROUPS_GROUPID.LNK_LEAVE"></span>
              <span *ngIf="canDelete(group)">
                <span class="separator">|</span>
                <span class="remove item_text blue_link" (click)="deleteGroup(group)">
                  <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                  <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_DELETE"></span>
                </span>
              </span>
            </div>
            <div class="clearer"></div>
          </div>

        </div>

        <div class="clearer"></div>

      </div>

    </div>


  </div>

  <!-- ACTIVITY FEED & NOTIFICATIONS -->
  <!--div class="info_container">

      <div class="container_header">
          <div class="header_text">
              Activity feed & notifications
          </div>
          <div class="minimize_container" (click)="app.activityFeed = !app.activityFeed">
              <div [ngClass]="app.activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
          </div>
      </div>

      <div class="container_content activity_container" *ngIf="!app.activityFeed">

          <div class="activity" ng-repeat="(key, this) in ['1', '2']">

              <div class="activity_left">
                  <div class="activiy_time">55.07.2056 11:23</div>
              </div>

              <div class="activity_right">
                  <div class="activity_icon">
                      <div class="sprite sprite-icon-inputfield-error2x"></div>
                  </div>
                  <div class="activiy_title">Kristian Lember <span class="highlight aqua_marine_background">added</span> a <span class="highlight dark_yellow_background">comment</span>:</div>
                  <div class="activiy_description">If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your
                      home office combo? First off, you will need to set a budget for your new ...
                  </div>
              </div>

              <div class="clearer"></div>
          </div>

          <div class="activity">

              <div class="activity_left">
                  <div class="view_older blue_link">View older</div>
              </div>

              <div class="activity_right">
                  &nbsp;
              </div>

          </div>

      </div>

  </div-->

  <!-- TOPIC LIST -->
  <div class="info_container group_list" id="topic_list" #topicListEl>
    <div class="container_header" (click)="doToggleMemberTopicList();">
      <div class="header_text">
        <span translate="VIEWS.MY_GROUPS_GROUPID.HEADING_TOPIC_LIST"
          [translateParams]="{count: group.members.topics.count}"></span>
        <span *ngIf="group.members.topics.count">|</span>
        <div class="blue_link" *ngIf="group.members.topics.count"
          (click)="topicListSearch = !topicListSearch; topicList = true; $event.stopPropagation();"
          translate="VIEWS.MY_GROUPS_GROUPID.LNK_SEARCH"></div>
        <span *ngIf="canUpdate(group)">|
          <div class="blue_link" (click)="addTopicDialog(group); $event.stopPropagation()"
            translate="VIEWS.MY_GROUPS_GROUPID.LNK_ADD"></div>
        </span>
      </div>
      <div [cosDropdown] class="classic_dropdown minimize_container">
        <div class="sprite sprite-btn-filter-gray"></div>

        <!--div class="dropdown">
          <div class="dropdown_item" *ngFor="let filter in groupFilters.items">
            <div class="item_category bold">
              <span translate="{{filter.name}}"></span>
            </div>
            <div *ngIf="filter.children">
              <div class="item_names_wrap">
                <div *ngFor="let child of filter.children" class="item_name" (click)="doOrderTopicList(child.id)">
                  <span translate="{{child.name}}"></span>
                </div>
              </div>
            </div>
            <div class="clearer"></div>
          </div>

        </!--div-->
      </div>
      <div class="minimize_container" *ngIf="group.members.topics.count"
        (click)="doToggleMemberTopicList(); $event.stopPropagation();">
        <div [ngClass]="!topicList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite">
        </div>
      </div>
    </div>
    <div class="container_header second_header" *ngIf="topicList">
      <div class="table_cell">
        <input [placeholder]="'VIEWS.MY_GROUPS_GROUPID.PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate"
          (ngModelChange)="GroupMemberTopicService.setParam('search', GroupMemberTopicService.params.search)"
          [(ngModel)]="GroupMemberTopicService.params.search">
      </div>
      <div class="table_cell">
        <div class="blue_link"
          (click)="GroupMemberTopicService.params.search = '';GroupMemberTopicService.setParam('search', GroupMemberTopicService.params.search);"
          translate="VIEWS.MY_GROUPS_GROUPID.LNK_CLEAR_SEARCH"></div>
      </div>
    </div>
    <div class="container_content" *ngIf="topicList">
      <div class="pretend_table">
        <div class="pretend_tr">
          <div class="mobile_text pretend_th" *ngIf="wWidth <= 560">
            <div class="th_text" translate="VIEWS.MY_GROUPS_GROUPID.LBL_ORDER_BY"></div>
          </div>
          <div class="pretend_th" (click)="GroupMemberTopicService.doOrder('title')">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_TITLE"></span>
            </div>
          </div>
          <div class="pretend_th">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_ROLES"></span>
            </div>
          </div>
          <div class="pretend_th">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_USERS"></span>
            </div>
          </div>
          <div class="pretend_th" *ngIf="canUpdate(group)">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LBL_REMOVE_FROM_GROUP"></span>
            </div>
          </div>
        </div>
        <group-member-topic [topic]="topic" [group]="group" [fields]="['delete', 'level', 'userscount']"
          class="pretend_tr" *ngFor="let topic of memberTopics$ | async"></group-member-topic>
        <ng-container *ngIf="(GroupMemberTopicService.totalPages$ | async) as totalPages ">
          <div class="pretend_tr" *ngIf="totalPages > 1">
            <div class="pagination_wrapper">
              <cos-pagination class="pagination" (select)="GroupMemberTopicService.loadPage($event)"
                [totalPages]=" totalPages || 0" [page]="(GroupMemberTopicService.page$ | async) || 0"></cos-pagination>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <!-- USER LIST -->
  <div class="info_container group_list user_list" id="user_list" #userListEl>
    <div class="container_header" (click)="userList = !userList; $event.stopPropagation();">
      <div class="header_text">
        <span translate="VIEWS.MY_GROUPS_GROUPID.HEADING_USERS_LIST"
          [translateParams]="{count: group.members.users.count}"></span>
        |
        <div class="blue_link" (click)="userListSearch = !userListSearch; userList=true; $event.stopPropagation();"
          translate="VIEWS.MY_GROUPS_GROUPID.LNK_SEARCH"></div>
        <span *ngIf="canUpdate(group)">|
          <div class="blue_link" (click)="shareGroupDialog(group);$event.stopPropagation()"
            translate="VIEWS.MY_GROUPS_GROUPID.LNK_INVITE"></div>
        </span>
      </div>
      <div class="minimize_container">
        <div [ngClass]="!userList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite">
        </div>
      </div>
    </div>
    <div class="container_header second_header" *ngIf="userListSearch">
      <div class="table_cell">
        <input [placeholder]="'VIEWS.MY_GROUPS_GROUPID.PLACEHOLDER_NAME_PERMISSION' | translate"
          (ngModelChange)="GroupMemberUserService.setParam('search', GroupMemberUserService.params.search)"
          [(ngModel)]="GroupMemberUserService.params.search">
      </div>
      <div class="table_cell">
        <div class="blue_link"
          (click)="GroupMemberUserService.params.search = '';GroupMemberUserService.setParam('search', GroupMemberUserService.params.search);"
          translate="VIEWS.MY_GROUPS_GROUPID.LNK_CLEAR_SEARCH"></div>
      </div>
    </div>
    <div class="container_content" *ngIf="userList">
      <div class="pretend_table">
        <div class="pretend_tr">
          <div class="mobile_text pretend_th" *ngIf="wWidth <= 560">
            <div class="th_text" translate="VIEWS.MY_GROUPS_GROUPID.LBL_ORDER_BY"></div>
          </div>
          <div class="pretend_th" (click)="GroupMemberUserService.doOrder('name')">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_PROFILE"></span>
              <div class="sprite sprite-icon-list-ordering2x"
                *ngIf="GroupMemberUserService.params$.value.orderBy === 'name'">
              </div>
            </div>
          </div>
          <div class="pretend_th" (click)="GroupMemberUserService.doOrder('level')">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_ROLES"></span>
              <div class="sprite sprite-icon-list-ordering2x"
                *ngIf="GroupMemberUserService.params$.value.orderBy === 'level'">
              </div>
            </div>
          </div>
          <div class="pretend_th" *ngIf="canUpdate(group)">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LBL_REMOVE_FROM_GROUP"></span>
            </div>
          </div>
        </div>
        <!-- GroupMemberUsers -->
        <group-member-user class="pretend_tr" *ngFor="let user of memberUsers$ | async" [member]="user" [group]="group"
          [fields]="['level', 'remove']"></group-member-user>

        <div class="pretend_tr">
          <div class="pagination_wrapper">
            <cos-pagination class="pagination" (select)="GroupMemberUserService.loadPage($event)"
              [totalPages]="(GroupMemberUserService.totalPages$ | async) || 0"
              [page]="(GroupMemberUserService.page$ | async) || 0"></cos-pagination>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="info_container group_list user_list" id="invite_list" #inviteListEl>
    <div class="container_header" (click)="inviteList = !inviteList; $event.stopPropagation()">
      <div class="header_text">
        <span translate="VIEWS.MY_GROUPS_GROUPID.HEADING_INVITED"
          [translateParams]="{count: (GroupInviteUserService.countTotal$ | async)}"></span>
        |
        <div class="blue_link"
          (click)="inviteListSearch = !inviteListSearch; inviteList=true; $event.stopPropagation();"
          translate="VIEWS.MY_GROUPS_GROUPID.LNK_SEARCH"></div>
        <span *ngIf="canUpdate(group)">|
          <div class="blue_link" (click)="shareGroupDialog(group);$event.stopPropagation()"
            translate="VIEWS.MY_GROUPS_GROUPID.LNK_INVITE"></div>
        </span>
      </div>
      <div class="minimize_container">
        <div [ngClass]="!userList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite">
        </div>
      </div>
    </div>
    <div class="container_header second_header" *ngIf="inviteListSearch">
      <div class="table_cell">
        <input [placeholder]="'VIEWS.MY_GROUPS_GROUPID.PLACEHOLDER_NAME_PERMISSION' | translate"
          (ngModelChange)="GroupInviteUserService.setParam('search', GroupInviteUserService.params.search)"
          [(ngModel)]="GroupInviteUserService.params.search">
      </div>
      <div class="table_cell">
        <div class="blue_link"
          (click)="GroupInviteUserService.params.search = '';GroupInviteUserService.setParam('search', GroupInviteUserService.params.search);"
          translate="VIEWS.MY_GROUPS_GROUPID.LNK_CLEAR_SEARCH"></div>
      </div>
    </div>
    <div class="container_content" *ngIf="inviteList">
      <div class="pretend_table">
        <div class="pretend_tr">
          <div class="mobile_text pretend_th" *ngIf="wWidth <= 560">
            <div class="th_text" translate="VIEWS.MY_GROUPS_GROUPID.LBL_ORDER_BY"></div>
          </div>
          <div class="pretend_th" (click)="GroupInviteUserService.doOrder('name')">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_PROFILE"></span>
              <div class="sprite sprite-icon-list-ordering2x"
                *ngIf="GroupInviteUserService.params$.value.orderBy === 'name'">
              </div>
            </div>
          </div>
          <div class="pretend_th" (click)="GroupInviteUserService.doOrder('level')">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_ROLES"></span>
              <div class="sprite sprite-icon-list-ordering2x"
                *ngIf="GroupInviteUserService.params$.value.orderBy === 'level'">
              </div>
            </div>
          </div>
          <div class="pretend_th" *ngIf="canUpdate(group)">
            <div class="th_text">
              <span translate="VIEWS.MY_GROUPS_GROUPID.LBL_REMOVE_FROM_GROUP"></span>
            </div>
          </div>
        </div>
        <!-- GroupInviteUsers -->
        <group-invite-user class="pretend_tr" *ngFor="let invite of memberInvites$ | async" [invite]="invite"
          [group]="group"></group-invite-user>

        <div class="pretend_tr">
          <div class="pagination_wrapper">
            <cos-pagination class="pagination" (select)="GroupInviteUserService.loadPage($event)"
              [totalPages]="(GroupInviteUserService.totalPages$ | async) || 0"
              [page]="(GroupInviteUserService.page$ | async) || 0"></cos-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
