<div id="home_root" class="no_padding">
  <!-- TOPICS AREA -->

  <div class="section_header">
    <div class="title">
      <h1 translate="VIEWS.HOME.PUBLIC_GROUPS_TITLE"></h1>
    </div>
    <div class="description" translate="VIEWS.HOME.PUBLIC_GROUPS_DESCRIPTION"></div>
  </div>
  <div class="groups_wrap">
    <ng-container *ngIf="groups$ | async; let groups;">
      <public-group-box [group]="group" *ngFor="let group of groups; trackBy: trackByTopic"></public-group-box>
      <div *ngIf="!groups.length" class="table">
        <div class="no_results v_align_cell">
          <div class="no_results_icon_wrap">
            <div class="sprite sprite-icon-no-results2x no_results_img"></div>
          </div>
          <div class="title_area">
            <h3 translate="VIEWS.PUBLIC_GROUPS.HEADING_NO_RESUTS"></h3>
            <p translate="VIEWS.PUBLIC_GROUPS.HEADING_GET_STARTED"></p>
          </div>

          <div class="button_area" *ngIf="isLoggedIn()">

            <div class="big_button" ui-sref="groups/create">
              <div class="button_cell">
                <div class="blue_button topic_text" translate="VIEWS.PUBLIC_GROUPS.BTN_CREATE_PUBLIC_GROUP"
                  (click)="createGroup()"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div id="blue_button_wrap" routerLink="/public/groups">
    <div class="blue_button view_more_button"><span
        translate="VIEWS.HOME.BTN_VIEW_ALL_GROUPS"></span>
      <div class="icon sprite sprite-bullet-arrow2x"></div>
    </div>
  </div>
  <!-- TOPICS AREA -->

  <div class="section_header">
    <div class="title">
      <h1 translate="VIEWS.HOME.PUBLIC_TOPICS_TITLE"></h1>
    </div>
    <div class="description" translate="VIEWS.HOME.PUBLIC_TOPICS_DESCRIPTION"></div>
  </div>


  <ng-container *ngIf="topics$ | async; let topics;">
    <div id="topics_area" [ngClass]="{'no_results': !topics.length}">

      <div class="table" *ngIf="!topics.length">
        <div class="no_results v_align_cell">
          <div class="no_results_icon_wrap">
            <div class="sprite sprite-icon-no-results2x"></div>
          </div>
          <div class="title_area">
            <h3 translate="VIEWS.HOME.HEADING_NO_RESUTS"></h3>
            <p translate="VIEWS.HOME.HEADING_GET_STARTED"></p>
          </div>

          <div class="button_area">

            <div class="big_button" (click)="createNewTopic()">
              <div class="button_cell">
                <div class="topic_text" translate="VIEWS.HOME.BTN_CREATING_A_NEW_TOPIC"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <topicbox [topic]="topic" *ngFor="let topic of topics; trackBy: trackByTopic" [ngClass]="topic.categories">
      </topicbox>
      <div class="clearer"></div>
    </div>

  </ng-container>
  <div id="blue_button_wrap" routerLink="/public/topics">
    <div class="blue_button view_more_button"><span
        translate="VIEWS.HOME.BTN_VIEW_ALL_TOPICS"></span>
      <div class="icon sprite sprite-bullet-arrow2x"></div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>