@use "mixins";

#home_wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 24px;

  @include mixins.tablet {
    padding: 60px 24px 24px 24px;
  }

  @include mixins.mobile {
    gap: 16px;
    padding: 60px 8px 8px 8px;
  }

  .page_heading {
    display: flex;
    gap: 16px;
  align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 16px;
    @include mixins.mobile {
      background-color: var(--color-surfaces);
      width: calc(100% + 16px);
      margin-top: -2px;
      margin-left: -8px;
    }
  }
}

#lets_decide_section {
  display: flex;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  justify-content: space-between;
  width: 100%;
  position: relative;

  @include mixins.mobile {
    flex-direction: column-reverse;
  }

  #text_area {
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 16px;
    max-width: 700px;
    z-index: 9;

    #description {
      font-size: 16px;
      line-height: 24px;
      width: 90%;
    }

    .bold {
      font-size: 16px;
      line-height: 24px;
    }
    @include mixins.tablet {
      max-width: 400px;
      padding: 24px 16px;
    }

    @include mixins.mobile {
      max-width: 100%;
    }

    #stats_wrap {
      display: flex;
      gap: 16px;
      flex-flow: row wrap;
      width: 690px;

      @media (max-width: 1340px) {
        width: 400px;
      }
      @include mixins.mobile {
        flex-direction: column;
        width: 100%;
        gap: 8px;
      }
      .stats_box {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 96px;
        text-align: center;
        align-items: center;
        gap: 8px;
        justify-content: center;
        border-radius: 16px;
        padding: 4px;

        .number {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
        }
        .label {
          font-size: 16px;
          line-height: 24px;
        }
        @include mixins.tablet {
          padding: 16px;
          justify-content: flex-start;
          flex-direction: row;
          width: 168px;
          height: 48px;
        }

        @include mixins.mobile {
          width: 100%;
          height: 40px;
        }

        &.discussion {
          background-color: var(--color-dialog);
          .number {
            color: var(--color-discussion);
          }
        }

        &.ideation {
          background-color: var(--color-dialog-ideation);
          .number {
            color: var(--color-ideation);
          }
        }

        &.votes {
          background-color: var(--color-dialog-voting);
          .number {
            color: var(--color-voting);
          }
        }

        &.participants {
          background-color: var(--color-surface-contrast);
        }
      }
    }
  }

  #illustration {
    display: flex;
    background-color: var(--color-secondary);
    border-radius: 320px 16px 16px 320px;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: flex-end;

    @include mixins.tablet {
      overflow: hidden;
    }

    @include mixins.mobile {
      position: relative;
      border-radius: 0 0px 320px 320px;
      right: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    svg {
      right: -16px;
      position: relative;
      max-height: 340px;

      @include mixins.mobile {
        max-width: 295px;
      }
    }
  }
}

#features_wrap {
  display: flex;
  gap: 24px;
  width: 100%;
  position: relative;

  @include mixins.mobile {
    flex-direction: column;
  }

  .feature_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    border-radius: 16px;
    background-color: var(--color-surfaces);
    width: 100%;
    position: relative;
    overflow: hidden;

    @include mixins.mobile {
      gap: 16px;
    }
  }
}

#feature_group {
  display: flex;
  width: 100%;
  background-color: var(--color-surfaces);
  border-radius: 16px;
  padding: 24px 40px;
  gap: 52px;
  justify-content: space-between;

  @include mixins.mobile {
    padding: 24px 16px;
    flex-direction: column;
    gap: 24px;
  }

  #illustration {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #text_area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 560px;

    .heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
    .description_item {
      display: flex;
      gap: 16px;

      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  #button_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    min-width: 200px;

    @include mixins.tablet {
      display: none;
    }

    @include mixins.mobile {
      display: flex;
    }
    button {
      width: 100%;
    }
  }
}

.home_items_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px 16px 0 0;
  gap: 40px;
  padding: 56px 24px;

  @include mixins.mobile {
    padding: 40px 16px;
    gap: 24px;
  }
  &.topics_section {
    background-color: var(--color-dialog-contrast);
  }

  .section_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;

    .section_description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
  }
  .section_content {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 24px 0;

    @include mixins.mobile {
      padding: 0;
      flex-direction: column;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: var(--color-scrollbar);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scrollbar-thumb);
      border-radius: 8px;
    }
  }

  .view_more_button {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 24px;
      font-weight: 600;

      &:hover {
        color: var(--btn-submit-text);
      }
      @include mixins.mobile {
        width: 100%;
      }
    }
  }
}

#mission_box {
  display: flex;
  width: 100%;
  background-color: var(--color-dialog-contrast);
  padding: 32px 40px;
  gap: 52px;
  justify-content: space-between;

  @include mixins.tablet {
    padding-bottom: 89px;
  }

  @include mixins.mobile {
    flex-direction: column;
    padding: 44px 16px 89px 16px;
  }

  #illustration {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;

    @include mixins.tablet {
      flex-direction: column;
    }

    #text_area {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 560px;
      justify-content: center;

      .heading {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }
      .description {
        display: flex;
        gap: 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    #button_area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      min-width: 200px;

      @include mixins.tablet {
        flex-direction: row;
      }

      @include mixins.mobile {
        flex-direction: column;
      }

      button,
      a {
        width: 100%;
      }
    }
  }
}
