@use 'mixins_n_extends';
@use 'vars';

#home_root {
    background: vars.$light_gray;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 156px;

    &.no_padding {
      padding-top: 0;
    }
    @media (max-width: 767px) {
        padding-top: 50px;
    }

    .icon_holder {
        display: inline-block;
        margin-left: 4px;
    }

    .groups_wrap {
      position: relative;
      width: 100%;
      display: block;
      padding-bottom: 20px;
      padding: 0 10px 10px 10px;
      background: vars.$light_gray;
    }

    .section_header {
        padding: 40px 0;
        background: vars.$light_gray;

        &:nth-child(2) {
            background-color: vars.$white;
        }

        .title {
            h1 {
                color: vars.$medium_black;
                font-weight: 700;
                font-size: 26px;
                line-height: 32px;
            }
        }
        .description {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-top: 8px;
        }
    }

    .view_more_button {
        background-color: vars.$medium_black;
        .icon {
            margin-left: 5px;
            vertical-align: middle;
        }
    }

    #blue_button_wrap {
        background: vars.$light_gray;
        text-align: center;

        .blue_button {
            display: inline-block;
            margin: 10px auto 20px auto;;
            padding-right: 50px;
            padding-left: 50px;
            border-radius: 4px;
            @media (max-width: 667px) {
                margin-top: 0;
            }
        }
    }

    .no_results {
        padding-left: 0 !important;
        height: 100%;
    }

    #topics_area {
      background: vars.$light_gray;
      text-align: left;
      box-sizing: border-box;
      padding-left: 0px;

      @media (max-width: 767px) {
          margin-top: 10px;
      }

      @media (max-width: 667px) {
          padding: 0 10px 10px 10px;
      }

      .table {
          text-align: center;

          .title_area {
              h2 {
                  color: vars.$medium_black;
              }
          }

      }

      .fixed_topic, .topic {
          height: 300px;
          margin: 0 0 10px 10px;
          float: left;
          display: block;
          background: vars.$category_varia;
          color: vars.$black;
          transition: transform .1s;
          cursor: pointer;

          .topic_wrap {
              padding: 19px 20px 0 20px;
              box-sizing: border-box;
              overflow: hidden;
          }

          width: 12%;

          @media (max-width: 2480px) {
              width: 24%;
          }

          @media (max-width: 1350px) {
              width: calc(50% - 15px);
          }

          @media (max-width: 667px) {
              height: 160px;
              overflow: hidden;
          }

          @media (max-width: 667px) {

              &:nth-child(2n+1), &:nth-child(2n), &:nth-child(1) {
                  margin-left: 0;
              }

              margin-left: 0;
              width: 100%;
              float: none;

          }

          .text_area {
              width: 261px;
          }

          .top {
              margin-bottom: 10px;

              .date {
                  float: left;
              }

              .author {
                  float: right;
              }
          }

          .line {
              margin: 0px 0 12px 0;
              background: vars.$black;
          }

          .line::before {
              content: '\00a0';
              position: relative;
              display: block;
              bottom: 2em;
              height: 2em;
              background: linear-gradient(to bottom, rgba(vars.$category_varia, 0), vars.$category_varia);
          }

          .text_small {
              font-size: 13px;
              color: inherit;
              font-weight: inherit;

              &.categories {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }

              @media (max-width: 667px) {
                  width: 100%;
              }

              * {
                  font-size: inherit;
                  color: inherit;
                  font-weight: inherit;
              }
          }

          .main_text {
              height: 207px;
              overflow: hidden;

              .text_small {
                  margin-top: 10px;
              }
          }

          .text_big {
              font-size: 26px;
              font-weight: vars.$bold;
              line-height: 1.23;

              @media (max-width: 667px) {
                  font-size: 18px;
                  line-height: 24px;
              }
          }

          &:hover {
              transform: scale(1.015);
              box-shadow: 0 0 8px 0 vars.$dark_gray;
          }

          &.citizenos {
              background: vars.$citizenos_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$citizenos_background, 0), vars.$citizenos_background);
              }
          }

          &.eurochangemakers {
              background: vars.$eurochangemakers_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$eurochangemakers_background, 0), vars.$eurochangemakers_background);
              }
          }

          &.opinionfestival {
              background: vars.$opinionfestival_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$opinionfestival_background, 0), vars.$opinionfestival_background);
              }
          }

          &.biotoopia {
              background: vars.$biotoopia_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$biotoopia_background, 0), vars.$biotoopia_background);
              }
          }

          &.politics {
              background: vars.$category_politics;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_politics, 0), vars.$category_politics);
              }
          }

          &.taxes {
              background: vars.$category_taxes;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_taxes, 0), vars.$category_taxes);
              }
          }

          &.defense {
              background: vars.$category_defense;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_defense, 0), vars.$category_defense);
              }
          }

          &.environment, &.keepitcleanplan, &.thirtyfourislandproject {
              background: vars.$category_environment; // #00b23b
              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_environment, 0), vars.$category_environment);
              }
          }

          &.thirtyfourislandproject {
              background: vars.$thirtyfourislandproject_background;
              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$thirtyfourislandproject_background, 0), vars.$thirtyfourislandproject_background);
              }
          }

          &.hacktivistcommunity {
              background: vars.$hacktivist_community_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$hacktivist_community_background, 0), vars.$hacktivist_community_background);
              }
          }

          &.thetwelvemovie {
              background: vars.$thetwelvemovie_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$thetwelvemovie_background, 0), vars.$thetwelvemovie_background);
              }
          }

          &.agriculture {
              background: vars.$category_agriculture;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_agriculture, 0), vars.$category_agriculture);
              }
          }

          &.culture {
              background: vars.$category_culture;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_culture, 0), vars.$category_culture);
              }
          }

          &.communities {
              background: vars.$category_communities;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_communities, 0), vars.$category_communities);
              }
          }

          &.integration {
              background: vars.$category_integration;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_integration, 0), vars.$category_integration);
              }
          }

          &.politics,
          &.taxes,
          &.defense,
          &.environment,
          &.keepitcleanplan,
          &.agriculture,
          &.culture,
          &.communities,
          &.thetwelvemovie,
          &.eurochangemakers,
          &.biotoopia,
          &.integration {
              color: vars.$white;

              .line {
                  background: vars.$white;
              }
          }

          &.business {
              background: vars.$category_business;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_business, 0), vars.$category_business);
              }
          }

          &.work {
              background: vars.$category_work;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_work, 0), vars.$category_work);
              }
          }

          &.transport {
              background: vars.$category_transport;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_transport, 0), vars.$category_transport);
              }
          }

          &.health {
              background: vars.$category_health;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_health, 0), vars.$category_health);
              }
          }

          &.education {
              background: vars.$category_education;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_education, 0), vars.$category_education);
              }
          }

          &.society {
              background: vars.$category_society;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_society, 0), vars.$category_society);
              }
          }

          &.varia {
              background: vars.$category_varia;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$category_varia, 0), vars.$category_varia);
              }
          }

          &.eestijazziarengusuunad {
              background: vars.$eestijazziarengusuunad_background;

              .line::before {
                  background-image: linear-gradient(to bottom, rgba(vars.$eestijazziarengusuunad_background, 0), vars.$eestijazziarengusuunad_background);
              }
          }

          &.business,
          &.work,
          &.transport,
          &.health,
          &.education,
          &.society,
          &.varia,
          &.eestijazziarengusuunad,
          &.citizenos,
          &.hacktivistcommunity {
              color: vars.$black;

              .line {
                  background: vars.$black;
              }
          }

      }

      .no_results {
          padding-top: 50px;
          .no_results_icon_wrap {
              width: min-content;
              margin-left: auto;
              margin-right: auto;
          }

          .title_area {
              text-align: center;

              h3 {
                  font-size: 26px;
                  margin-bottom: 0;
                  margin-top: 22px;
              }

              p {
                  font-size: 14px;
                  color: vars.$dark_gray;
              }
          }
      }
  }

}
