@use "mixins";

#home_wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#lets_decide_section {
  display: flex;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  #text_area {
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 16px;

    #stats_wrap {
      display: flex;
      gap: 16px;

      .stats_box {
        width: 160px;
        height: 96px;
        text-align: center;
        justify-content: center;
        border-radius: 16px;
        padding: 4px;

        &.discussion {
          background-color: var(--color-dialog);
          h3 {
            color: var(--color-discussion);
          }
        }

        &.ideation {
          background-color: var(--color-dialog-ideation);
          h3 {
            color: var(--color-ideation);
          }
        }

        &.votes {
          background-color: var(--color-dialog-voting);
          h3 {
            color: var(--color-voting);
          }
        }

        &.participants {
          background-color: var(--color-surface-contrast);
        }
      }
    }
  }

  #illustration {
    background-color: var(--color-secondary);
    border-radius: 320px 0px 0px 320px;
    svg {
      right: -16px;
      position: relative;
    }
  }
}

.home_items_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px 16px 0 0;
  gap: 40px;
  padding: 56px 24px;

  &.topics_section {
    background-color: var(--color-dialog-contrast);
  }
  .section_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section_content {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 24px 0;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: var(--color-scrollbar);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scrollbar-thumb);
      border-radius: 8px;
    }
  }

  .view_more_button {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 24px;
      font-weight: bold;
    }
  }
}
