.dialog_content_join {
  gap: 16px;
}

.content_row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--color-dialog);
  overflow: hidden;
}

.content_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content_inner {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .topic_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .content_title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }

  .topic_text {
    font-weight: 400;
    -webkit-line-clamp: 4;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
  }

  hr {
    width: 100%;
    color: rgba(225, 231, 238, 1);
  }
}

.content_list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.content_list_details {
    li {
      justify-content: space-between;
      padding: 8px;
      margin-bottom: 0;

      &:nth-of-type(odd) {
        background-color: var(--color-dialog-background);
      }
    }
  }
}

.dialog_footer_join {
  padding: 16px;
  background-color: var(--color-dialog-background);
}
