.links_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;

  .link {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}