@use "mixins";

.topic {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 408px;
  border-radius: 16px;
  background-color: var(--color-surfaces);
  position: relative;
  transition: box-shadow 0.3s ease-in-out;

  @include mixins.tablet {
    width: 232px;
  }

  &.moderated {
    &:hover {
      .image {
        .image_overlay {
          display: none;
        }
      }
    }
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
      0px 12px 16px 0px rgba(50, 85, 112, 0.1);
    .image {
      .image_overlay {
        display: flex;
        visibility: visible;
        opacity: 0.4;
      }
    }

    .topic_title {
      color: var(--color-link);
    }
  }

  @include mixins.mobile {
    width: 100%;
    min-width: 250px;
  }

  .topic_header {
    position: relative;
    display: flex;
    border-radius: 16px 16px 0 0;
    height: 40px;
    width: 100%;
    align-items: center;
    overflow: hidden;

    .progress {
      position: relative;
      display: flex;
      height: 40px;
      align-items: center;

      .header_content {
        display: flex;
        position: absolute;
        width: 280px;
        padding: 12px;
        gap: 8px;
        align-items: center;
        color: var(--color-surfaces);
      }
    }

    &.draft {
      background-color: var(--color-border);

      .progress {
        background-color: var(--color-border);
        width: 100%;
        .header_content {
          color: var(--color-text);
          path {
            fill: var(--color-text);
          }
        }
      }
    }

    &.discussion {
      background-color: var(--color-discussion);

      .progress {
        background-color: var(--color-discussion);
        width: 100%;
      }
    }

    &.voting {
      background-color: var(--color-voting-disabled);
      .progress {
        background-color: var(--color-voting);
      }
    }
    &.follow_up {
      background-color: var(--color-follow-up-disabled);
      .progress {
        background-color: var(--color-follow-up);
      }
    }

    &.closed {
      background-color: var(--color-argument-info);
    }
    path {
      fill: var(--color-surfaces);
    }
  }

  .image {
    display: flex;
    width: 100%;
    height: 168px;
    position: relative;

    .no_image {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-border);
    }

    .image_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
      background-color: rgba(17, 104, 168);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s linear;
    }

    img {
      width: inherit;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  .topic_content,
  .topic_footer {
    position: relative;
    padding: 24px;
    color: var(--color-text);

    .topic_title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      overflow: hidden;
      max-height: 72px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      -webkit-line-clamp: 3;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    .date {
      color: var(--color-border-active);
      font-size: 13px;
      line-height: 16px;
    }
  }
  .topic_content {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: visible;

    .icon_area {
      display: flex;
      align-items: flex-end;
      position: absolute;
      right: 4px;
      top: -20px;
      path {
        fill: var(--color-text);
      }
      .svg {
        position: absolute;
        width: 0;
        height: 0;
      }

      .topic_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 40px;

        .clipped {
          width: 100%;
          height: 40px;
          background: var(--color-surfaces);
          background-size: cover;
          -webkit-clip-path: url(#my-clip-path);
          clip-path: url(#my-clip-path);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .topic_footer {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;

    color: var(--color-text);
    path {
      fill: var(--color-text);
    }
    .data_wrap {
      display: flex;
      padding: 16px 0 0 0;
      justify-content: space-between;
      .participants_count {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 13px;
        line-height: 16px;

        span {
          color: var(--color-border-active);
        }
      }
      .last_edit {
        display: flex;
        gap: 8px;
      }
    }
  }
}
