<div id="groups_root">
  <!-- TOPICS AREA -->

  <div class="groups_header">
    <div id="title">
      <h2 translate="VIEWS.PUBLIC_GROUPS.TITLE"></h2>
    </div>

    <div id="action_wrapper">
      <div id="filter">
        <div [cosDropdown] class="bar_select">
          <div class="select_text">
            {{'VIEWS.PUBLIC_GROUP.DROPDOWN_GROUP_ACTIONS' | translate}}
            <div class="icon_holder">
              <div class="table_cell">
                <div class="icon_arrow_down_black"></div>
              </div>
            </div>
          </div>

          <div class="dropdown group_filter_dropdown big_drop">
            <div class="line lightest_line"></div>

            <div class="dropdown_item" (click)="doOrder('title', 'ASC')">
              <div class="icon arrow_th_sort_down"></div>
              <div class="item_name" translate="VIEWS.PUBLIC_GROUPS.ORDER_TITLE_ASC"></div>
              <div class="clearer"></div>
            </div>
            <div class="dropdown_item" (click)="doOrder('title', 'DESC')">
              <div class="icon arrow_th_sort_up"></div>
              <div class="item_name" translate="VIEWS.PUBLIC_GROUPS.ORDER_TITLE_DESC"></div>
              <div class="clearer"></div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loggedIn()" id="create_group" class="blue_button_wrap">
        <button (click)="createGroup()" class="blue_button"
          translate="VIEWS.PUBLIC_GROUPS.BTN_CREATE_PUBLIC_GROUP"></button>
      </div>
    </div>
  </div>
  <div class="groups_wrap">
    <public-group-box [group]="group" *ngFor="let group of groups$ | async"></public-group-box>
    <div *ngIf="!(PublicGroupService.countTotal$ | async)" class="table">
      <div class="no_results v_align_cell">
        <div class="no_results_icon_wrap">
          <div class="sprite sprite-icon-no-results2x no_results_img"></div>
        </div>
        <div class="title_area">
          <h3 translate="VIEWS.PUBLIC_GROUPS.HEADING_NO_RESUTS"></h3>
          <p translate="VIEWS.PUBLIC_GROUPS.HEADING_GET_STARTED"></p>
        </div>

        <div class="button_area" *ngId="loggedIn()" >

          <div class="big_button" ui-sref="groups/create">
            <div class="button_cell">
              <div class="topic_text" translate="VIEWS.PUBLIC_GROUPS.BTN_CREATE_PUBLIC_GROUP"
                (click)="createGroup()"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="blue_button_wrap" (click)="PublicGroupService.loadMore()"
    *ngIf="PublicGroupService.hasMore$ | async">
    <div class="blue_button" translate="VIEWS.PUBLIC_GROUPS.BTN_LOAD_MORE_GROUPS"></div>
  </div>
</div>

<div ui-view></div>
