@use "mixins";

.page_content {
  gap: 24px;

  &.reported {
    filter: blur(1.5rem);
  }

  @include mixins.tablet {
    margin: 60px 0;
    padding: 8px;
    gap: 16px;
    padding-bottom: 60px;
  }

  @include mixins.mobile {
    padding: 0;
  }

  #page_header {
    padding: 16px 0 0 0;

    @include mixins.mobile {
      h3 {
        display: none;
      }
    }

    .dropdown {
      .options {
        position: absolute;
        width: max-content;
        min-width: max-content;
      }
    }
    activities-button {
      display: none;
    }
    @include mixins.tablet {
      background-color: var(--color-surfaces);
      border-radius: 16px 16px 0 0;
      margin: 0;
      padding: 8px 0;
      height: 56px;
      align-items: center;
      vertical-align: middle;
      margin-bottom: -14px;

      activities-button {
        display: flex;
      }

      #buttons_area {
        display: flex;

        .btn_medium_activity {
          display: none !important;
        }
        #join_button,
        #leave_button {
          display: none;
        }
      }
    }
    .button_dropdown {
      background-color: initial;

      .options {
        right: 0;

        .option {
          width: max-content;
          gap: 8px;
        }
      }
    }
  }
  .topic_tabs {
    display: flex;
    background-color: var(--color-surfaces);
    width: 100%;
    border-radius: 16px;
    padding: 0px 16px;

    @include mixins.tablet {
      display: none;
    }

    &.tablet {
      display: none;
      z-index: 999999;
      @include mixins.tablet {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        justify-content: space-between;

        .topic_tab {
          &.discussion.active {
            background-color: var(--color-discussion);
            border-bottom: 2px solid var(--color-discussion);
            rect {
              fill: var(--color-scrollbar);
            }
            path {
              fill: var(--color-discussion);
            }
          }
          &.voting.active {
            background-color: var(--color-voting);
            border-bottom: 2px solid var(--color-voting);
            rect {
              fill: var(--color-dialog-voting-contrast);
            }
            path {
              fill: var(--color-voting);
            }
          }
          &.follow_up.active {
            background-color: var(--color-follow-up);
            border-bottom: 2px solid var(--color-follow-up);
            rect {
              fill: var(--color-dialog-follow-up);
            }
            path {
              fill: var(--color-follow-up);
            }
          }
        }
      }
    }

    &.hidden {
      display: none;
    }
    .topic_tab {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 28px 24px;
      @include mixins.tablet {
        padding: 12px 38px;
        width: 100%;
        justify-content: center;
      }
      @include mixins.mobile {
        padding: 12px;
      }
      &.active {
        color: var(--color-link);
        border-bottom: 2px solid var(--color-link);
      }

      .tab_text {
        @include mixins.tablet {
          display: none;
        }
      }
    }
    #activities_button_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: end;
      position: absolute;
      right: 36px;
      height: 72px;

      @include mixins.tablet {
        display: none;
      }
    }
  }

  .topic_content_area_wrap {
    display: flex;
    gap: 32px;
    flex-direction: row;

    @include mixins.tablet {
      flex-direction: column;
    }

    .content_area_left {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 312px);
      width: 100%;
      gap: 32px;

      @include mixins.tablet {
        max-width: 100%;
      }

      .topic_content_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px;
        background-color: var(--color-surfaces);
        position: relative;

        .moderated_topic {
          background: rgba(255, 255, 255, 0.9);
          backdrop-filter: blur(16px);
        }
        .topic_image {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          display: flex;
          min-height: 60px;
          max-height: 324px;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
          }
        }

        #topic_text_wrap {
          display: flex;
          flex-direction: column;
        }

        .topic_title {
          display: flex;
          padding: 8px 16px;
        }
        .topic_intro {
          display: flex;
          padding: 8px 16px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 26px; /* 162.5% */
        }
        .topic_content {
          display: flex;
          flex-direction: column;
          padding: 8px 16px;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 36px;
        }

        .button_wrap {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: center;
          z-index: 3;
          button {
            margin-top: -21px;
            position: absolute;
            path {
              fill: none;
            }
            &:hover {
              path {
                stroke: var(--color-surfaces);
              }
            }
          }
        }
      }
      .topic_arguments {
        background-color: var(--color-scrollbar);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px;
        margin-bottom: 90px;

        @include mixins.tablet {
          display: none;
          margin-bottom: 0px;
          padding: 16px;

          &.show {
            display: flex;
          }
        }

        @include mixins.mobile {
          padding: 16px 0;
        }
      }

      .topic_feature_section {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
        margin-bottom: 90px;

        &.voting {
          background-color: var(--color-argument-pro-light);

          @include mixins.tablet {
            display: none;

            &.show {
              display: flex;
            }
          }
        }

        &.follow_up {
          background-color: var(--color-dialog-follow-up);
        }
        @include mixins.mobile {
          padding: 24px;
        }

        @include mixins.tablet {
          /*  display: none;

          &.show {
            display: flex;
          }*/
        }
      }
    }
    .content_area_right {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 288px;

      @include mixins.tablet {
        width: 100%;
      }
      @include mixins.mobile {
        padding: 8px;
      }

      .state_items_wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .state_item {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border-left: 8px solid;
        min-height: 64px;
        background-color: var(--color-surfaces);
        width: 100%;
        align-items: center;
        padding: 16px;
        gap: 16px;

        .state_item_text {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .item_heading {
            padding: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            justify-content: flex-start;
          }

          .item_description {
            font-size: 13px;
            font-style: normal;
            line-height: 16px;
          }
        }
        .item_header {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 8px;

          .item_title {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            padding-bottom: 8px;
            display: flex;
          }

          .item_title_with_description {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;

            .description {
              display: flex;
              gap: 4px;
              span {
                font-size: 13px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 123.077% */
              }
              .votes_number {
                color: var(--color-voting-disabled);
              }
            }
          }
        }

        .item_content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;

          @include mixins.tablet {
            width: 100%;
          }
          .graph_wrap {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .legend {
              display: flex;
              justify-content: space-between;
              width: 100%;
              gap: 24px;
              .dot {
                height: 8px;
                width: 8px;
                background-color: var(--color-argument-info);
                border-radius: 50%;
              }

              .legend_item {
                display: flex;
                align-items: center;
                gap: 8px;

                &.pro {
                  .dot {
                    background-color: var(--color-argument-pro);
                  }
                }
                &.con {
                  .dot {
                    background-color: var(--color-argument-con);
                  }
                }
              }
            }

            .graph {
              display: flex;
              width: 100%;
              gap: 4px;
              background-color: var(--color-border);

              .arguments_pro {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-argument-pro);
              }

              .arguments_con {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-argument-con);
              }
              .votes {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-voting-disabled);
              }
              .follow_up {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-dialog-follow-up-contrast);
              }
            }
          }
        }
        &.empty {
          position: relative;
          flex-direction: row;
          background-color: initial;
          border: 1px dashed;
          border-left: 8px solid;

          .info_icon {
            position: absolute;
            right: 16px;
          }
        }
        .icon_wrap {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
        }

        &.discussion {
          border-color: var(--color-discussion);
          .icon_wrap {
            background-color: var(--color-discussion);
          }
        }
        &.vote {
          border-color: var(--color-voting-disabled);
          .icon_wrap {
            background-color: var(--color-voting-disabled);
          }
        }
        &.ideation {
          border-color: var(--color-ideation-disabled);
          .icon_wrap {
            background-color: var(--color-ideation-disabled);
          }
        }
        &.follow-up {
          border-color: var(--color-follow-up-disabled);
          .icon_wrap {
            background-color: var(--color-follow-up-disabled);
          }
        }
      }
      .info_section {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-surfaces);
        padding: 16px;
        min-width: 288px;
        max-width: 288px;
        gap: 8px;
        position: relative;

        @include mixins.tablet {
          width: 100%;
          max-width: 100%;
        }

        .topic_visibility {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 4px;
          justify-content: center;
          align-items: center;
          background-color: var(--color-surface-contrast);
          border-radius: 8px;
          position: absolute;
          top: 8px;
          right: 8px;
        }

        .info_items_wrap {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .info_header {
            display: flex;
            justify-content: space-between;

            .info_title {
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
              padding-bottom: 8px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: var(--color-text);
            }
          }

          a.info_title {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            align-items: center;
          }

          .info_items {
            display: flex;
            flex-direction: column;
            gap: 8px;
            min-height: 0;
            max-height: 0;

            &.open {
              min-height: min-content;
              max-height: min-content;
            }
            .info_item {
              display: flex;
              gap: 8px;
              align-items: center;
            }
          }

          .participants_count_wrap {
            .participants_count {
              font-size: 40px;
              font-style: normal;
              font-weight: 600;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
  .tutorial {
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    background: var(--color-text);
    padding: 16px;
    gap: 16px;
    width: 100%;
    position: fixed;
    right: 24px;
    width: 288px;
    /* Shadow/Heavy */
    box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
      0px 12px 16px 0px rgba(50, 85, 112, 0.1);
    transition: bottom 0.5s;

    @include mixins.tablet {
      margin-bottom: 72px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .tutorial_header {
      display: flex;
      color: var(--color-scrollbar-thumb);
    }

    .tutorial_footer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: var(--color-scrollbar-thumb);
      align-items: center;
      gap: 16px;

      button {
        width: 100%;
        background-color: var(--color-border-active);
      }
      a {
        color: var(--color-error-background);
      }
    }
    .tutorial_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      gap: 8px;

      .title span {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
        color: var(--color-surfaces);
      }

      .description {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        color: var(--color-surfaces);
      }
    }
  }
}
