@use "mixins";

.page_content {
  gap: 24px;

  &.reported {
    filter: blur(1.5rem);
  }

  @include mixins.tablet {
    margin: 60px 0;
    padding: 8px;
    gap: 16px;
    padding-bottom: 60px;

    .notification_inline {
      border-radius: 0;
      margin-bottom: -32px;
    }
  }

  @include mixins.mobile {
    padding: 0;
    .notification_inline {
      width: 100%;
      margin: 0 0 -32px 0;
    }
  }

  .permissions_lable {
    display: flex;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-scrollbar);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: capitalize;
  }

  #page_header {
    padding: 16px 0 0 0;

    @include mixins.tablet {
      margin-bottom: -16px !important;
    }
    @include mixins.mobile {
      h3 {
        display: none;
      }
    }

    .dropdown {
      .options {
        position: absolute;
        width: max-content;
        min-width: max-content;
      }
    }
    activities-button {
      display: none;
    }
    @include mixins.tablet {
      background-color: var(--color-surfaces);
      border-radius: 16px 16px 0 0;
      margin: 0;
      padding: 8px;
      height: 56px;
      align-items: center;
      vertical-align: middle;
      margin-bottom: -14px;

      activities-button {
        display: flex;
      }

      #buttons_area {
        display: flex;

        .btn_medium_activity {
          display: none !important;
        }
        #join_button,
        #leave_button {
          display: none;
        }
      }
    }
  }
  .topic_content_area_wrap {
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: center;

    @include mixins.tablet {
      flex-direction: column;
    }

    .content_area_left {
      display: flex;
      flex-direction: column;
      max-width: 872px;
      width: calc(100% - 320px);
      gap: 32px;

      @include mixins.tablet {
        width: 100%;
        max-width: 100%;
      }

      .topic_content_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px;
        background-color: var(--color-surfaces);
        position: relative;

        @include mixins.tablet {
          border-radius: 0 0 16px 16px;
        }
        .moderated_topic {
          background: rgba(255, 255, 255, 0.9);
          backdrop-filter: blur(16px);
        }
        .topic_image {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          display: flex;
          min-height: 60px;
          max-height: 324px;
          width: 100%;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
          }

          .permissions_lable {
            position: absolute;
            bottom: 16px;
            left: 16px;

            @include mixins.mobile {
              bottom: 8px;
            }
          }
        }

        #topic_text_wrap {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        .topic_title {
          display: flex;
          padding: 40px 32px 0 32px;
          &.tablet_tab_open {
            padding: 16px;
          }
          @include mixins.mobile {
            padding: 16px;
          }
        }
        .topic_intro {
          display: flex;
          padding: 8px 32px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 26px; /* 162.5% */
          @include mixins.mobile {
            padding: 8px 16px;
          }
        }
        .topic_content {
          padding: 8px 32px;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          margin-bottom: 36px;
          strong, li, b, i, em, s, u {
            font-size: 16px;
            line-height: 32px;
          }
          ul,
          ol,
          li {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
          @include mixins.mobile {
            padding: 8px 16px;
          }
        }

        .button_wrap {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: center;
          z-index: 3;
          button {
            margin-top: -21px;
            position: absolute;
            path {
              fill: none;
            }
            &:hover {
              path {
                stroke: var(--color-surfaces);
              }
            }
          }
        }
      }
      .topic_arguments {
        background-color: var(--color-scrollbar);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px;
        margin-bottom: 90px;

        @include mixins.tablet {
          display: none;
          margin-bottom: 0px;
          padding: 16px;

          &.show {
            display: flex;
          }
        }

        @include mixins.mobile {
          padding: 16px 0;
        }
      }

      .topic_feature_section {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
        margin-bottom: 90px;

        &.voting {
          background-color: var(--color-argument-pro-light);

          @include mixins.tablet {
            display: none;

            &.show {
              display: flex;
            }
          }
        }

        &.follow_up {
          background-color: var(--color-dialog-follow-up);
        }
        @include mixins.mobile {
          padding: 24px;
        }

        @include mixins.tablet {
          /*  display: none;

          &.show {
            display: flex;
          }*/
        }
      }
    }
    .content_area_right {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 288px;

      .manage_link {
        background-color: var(--color-background);
        padding: 4px 8px;
        border-radius: 24px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--color-link);
          color: var(--color-surfaces);
        }
      }
      @include mixins.tablet {
        width: 100%;
      }
      @include mixins.mobile {
        padding: 8px;
      }

      .state_items_wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .button_dropdown {
        background-color: initial;

        .options {
          right: 0;
          height: max-content;
          max-height: max-content;

          .option {
            min-width: 100%;
            justify-content: flex-start;
            width: max-content;
            gap: 8px;
            min-width: min-content;
            max-width: max-content;
            height: max-content;
          }
        }
      }

      .state_item {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border-left: 8px solid;
        min-height: 64px;
        background-color: var(--color-surfaces);
        width: 100%;
        align-items: center;
        padding: 16px;
        gap: 16px;

        .state_item_text {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .item_heading {
            padding: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            justify-content: flex-start;
          }

          .item_description {
            font-size: 13px;
            font-style: normal;
            line-height: 16px;
          }
        }
        .item_header {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 8px;

          .item_title {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            padding-bottom: 8px;
            display: flex;
          }

          .item_title_with_description {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;

            .description {
              display: flex;
              gap: 4px;
              span {
                font-size: 13px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 123.077% */
              }
              .votes_number {
                color: var(--color-voting-disabled);
              }
            }
          }
        }

        .item_content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;

          @include mixins.tablet {
            width: 100%;
          }
          .graph_wrap {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .legend {
              display: flex;
              width: 100%;
              gap: 56px;
              .dot {
                height: 8px;
                width: 8px;
                background-color: var(--color-argument-info);
                border-radius: 50%;
              }

              .legend_row {
                display: flex;
                flex-direction: column;
                gap: 4px;
              }
              .legend_item {
                display: flex;
                align-items: center;
                gap: 8px;

                &.pro {
                  .dot {
                    background-color: var(--color-argument-pro);
                  }
                }
                &.con {
                  .dot {
                    background-color: var(--color-argument-con);
                  }
                }
                &.reply {
                  .dot {
                    background-color: var(--color-border);
                  }
                }
              }
            }

            .graph {
              display: flex;
              width: 100%;
              gap: 4px;
              background-color: var(--color-border);

              .arguments_pro {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-argument-pro);
              }

              .arguments_con {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-argument-con);
              }
              .votes {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-voting);
              }
              .follow_up {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-dialog-follow-up-contrast);
              }
            }
          }
        }
        &.empty {
          position: relative;
          flex-direction: row;
          background-color: initial;
          border: 1px dashed;
          border-left: 8px solid;

          .info_icon {
            position: absolute;
            right: 16px;
          }
        }
        .icon_wrap {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
        }

        &.discussion {
          cursor: pointer;
          border-color: var(--color-discussion);
          .icon_wrap {
            background-color: var(--color-discussion);
          }
        }
        &.vote {
          cursor: pointer;
          border-color: var(--color-voting);
          .icon_wrap {
            background-color: var(--color-voting);
          }
          &.empty {
            cursor: pointer;
            border-color: var(--color-voting-disabled);
            .icon_wrap {
              background-color: var(--color-voting-disabled);
            }
          }
        }
        &.ideation {
          border-color: var(--color-ideation-disabled);
          .icon_wrap {
            background-color: var(--color-ideation-disabled);
          }
        }
        &.follow-up {
          cursor: pointer;
          border-color: var(--color-follow-up);
          .icon_wrap {
            background-color: var(--color-follow-up);
          }

          &.empty {
            cursor: pointer;
            border-color: var(--color-follow-up-disabled);
            .icon_wrap {
              background-color: var(--color-follow-up-disabled);
            }
          }
        }
      }
      .info_section {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-surfaces);
        padding: 16px;
        min-width: 288px;
        max-width: 288px;
        gap: 8px;
        position: relative;

        @include mixins.tablet {
          width: 100%;
          max-width: 100%;
        }

        .topic_visibility {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 4px;
          justify-content: center;
          align-items: center;
          background-color: var(--color-surface-contrast);
          border-radius: 8px;
          position: absolute;
          top: 8px;
          right: 8px;
        }

        .info_items_wrap {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .info_header {
            display: flex;
            justify-content: space-between;

            .info_title {
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
              padding-bottom: 8px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: var(--color-text);
            }
          }

          a.info_title {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            align-items: center;
            color: var(--color-text);
            font-weight: 600;
          }

          .info_items {
            display: flex;
            flex-direction: column;
            gap: 8px;
            min-height: 0;
            max-height: 0;

            &.open {
              min-height: min-content;
              max-height: min-content;
            }
            .info_item {
              display: flex;
              gap: 8px;
              align-items: center;
            }
            a.info_item {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .participants_count_wrap {
            display: flex;
            justify-content: space-between;

            .participants_count {
              font-size: 40px;
              font-style: normal;
              font-weight: 600;
              line-height: 40px;
            }

            .avatars_wrap {
              display: flex;

              .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                width: 40px;
                height: 40px;
                border: 2px solid #f8fafc;
                margin-left: -10px;
                background-color: var(--color-secondary);
                font-size: 10px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;

                &:first-child {
                  margin-left: 0;
                }
                img {
                  border: 2px solid #f8fafc;
                  width: inherit;
                  border-radius: 40px;
                  aspect-ratio: 1;
                  object-fit: cover;
                }
                .profile_image_filler {
                  width: 100%;
                  height: 100%;
                  background-color: var(--color-surfaces);
                  border-radius: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cos-initials {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .tutorial {
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    background: var(--color-text);
    padding: 16px;
    gap: 16px;
    width: 100%;
    position: fixed;
    width: 288px;
    /* Shadow/Heavy */
    box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
      0px 12px 16px 0px rgba(50, 85, 112, 0.1);
    transition: bottom 0.5s;
    z-index: 9;

    &.hidden {
      display: none;
    }

    @include mixins.tablet {
      display: none;
    }

    .tutorial_header {
      cursor: pointer;
      display: flex;
      color: var(--color-scrollbar-thumb);
      align-items: center;
      justify-content: space-between;
    }

    .tutorial_footer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: var(--color-scrollbar-thumb);
      align-items: center;
      gap: 16px;

      button {
        width: 100%;
        background-color: var(--color-border-active);
      }
      a {
        color: var(--color-error-background);
      }
    }
    .tutorial_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      gap: 8px;

      .title span {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
        color: var(--color-surfaces);
      }

      .description {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        color: var(--color-surfaces);
      }
    }
  }
}

.topic_tabs {
  display: flex;
  background-color: var(--color-surfaces);
  width: 100%;
  border-radius: 16px;
  padding: 0px 16px;

  @include mixins.tablet {
    display: none;
  }

  &.tablet {
    display: none;
    z-index: 999999;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    &.tour_item {
      position: relative;
    }
    .topic_tab {
      .active {
        background-color: var(--color-scrollbar);
        border-bottom: none;
      }
      &.discussion.active {
        background-color: var(--color-discussion);
        rect {
          fill: var(--color-scrollbar);
        }
        path {
          fill: var(--color-discussion);
        }
      }
      &.voting.active {
        background-color: var(--color-voting);
        rect {
          fill: var(--color-dialog-voting-contrast);
        }
        path {
          fill: var(--color-voting);
        }
      }
      &.follow_up.active {
        background-color: var(--color-follow-up);
        rect {
          fill: var(--color-dialog-follow-up);
        }
        path {
          fill: var(--color-follow-up);
        }
      }
    }
  }

  &.hidden {
    display: none;
  }
  .tabs_wrap {
    display: flex;
  }
  #activities_button_wrap {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: end;
    position: absolute;
    right: 36px;
    height: 72px;

    @include mixins.tablet {
      display: none;
    }
  }
}
.topic_tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 19px 24px;
  color: var(--color-text);

  @include mixins.tablet {
    padding: 12px 38px;
    width: 100%;
    justify-content: center;
  }
  @include mixins.mobile {
    padding: 12px 0;
  }
  &.active {
    font-weight: 600;
    border-bottom: 2px solid var(--color-discussion);

    @include mixins.tablet {
      background-color: var(--color-scrollbar);
      border-bottom: none;
    }

    &.voting {
      border-bottom: 2px solid var(--color-voting);
      @include mixins.tablet {
        border-bottom: none;
      }
    }

    &.follow_up {
      border-bottom: 2px solid var(--color-follow-up);
      @include mixins.tablet {
        border-bottom: none;
      }
    }
  }

  .tab_text {
    @include mixins.tablet {
      display: none;
    }
  }
}

#tablet_actions {

  @include mixins.desktop {
    display: none;
  }
  .options {
    right: 16px;
    max-width: max-content;
    max-height: max-content;
    width: 100%;
    .option {
      gap: 8px;
    }
  }
}
