@use "mixins";

.page_content {
  gap: 24px;

  @include mixins.tablet {
    margin: 60px 0;
    padding: 8px;
    gap: 16px;
    padding-bottom: 60px;
  }

  @include mixins.mobile {
    padding: 0;
  }

  #page_header {
    padding: 16px 0 0 0;

    @include mixins.mobile {
      h3 {
        display: none;
      }
    }

    activities-button {
      display: none;
    }
    @include mixins.tablet {
      background-color: var(--color-surfaces);
      border-radius: 16px 16px 0 0;
      margin: 0;
      padding: 8px 0;
      height: 56px;
      align-items: center;
      vertical-align: middle;
      margin-bottom: -14px;

      activities-button {
        display: flex;
      }

      #buttons_area {
        display: flex;

        .btn_medium_activity {
          display: none !important;
        }
        #join_button,
        #leave_button {
          display: none;
        }
      }
    }
    .button_dropdown {
      background-color: initial;

      .options {
        right: 0;

        .option {
          width: max-content;
          gap: 8px;
        }
      }
    }
  }
  .topic_tabs {
    display: flex;
    background-color: var(--color-surfaces);
    width: 100%;
    border-radius: 16px;
    height: 72px;
    padding: 0px 16px;

    @include mixins.tablet {
      display: none;
    }

    &.tablet {
      display: none;
      z-index: 999999;
      @include mixins.tablet {
        display: flex;
        bottom: 0;
        width: 100%;
        justify-content: space-between;

        .topic_tab {
          &.discussion.active {
            background-color: var(--color-discussion);
            border-bottom: 2px solid var(--color-link);
            rect {
              fill: var(--color-scrollbar);
            }
            path {
              fill: var(--color-discussion);
            }
          }
        }
      }
    }

    .topic_tab {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 28px 24px;
      @include mixins.tablet {
        padding: 12px 38px;
        width: 100%;
        justify-content: center;
      }
      @include mixins.mobile {
        padding: 12px;
      }
      &.active {
        color: var(--color-link);
        border-bottom: 2px solid var(--color-link);
      }

      .tab_text {
        @include mixins.tablet {
          display: none;
        }
      }
    }
    #activities_button_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: end;
      position: absolute;
      right: 36px;
      height: 72px;

      @include mixins.tablet {
        display: none;
      }
    }
  }

  .topic_content_area_wrap {
    display: flex;
    gap: 32px;
    flex-direction: row;

    @include mixins.tablet {
      flex-direction: column;
    }

    .content_area_left {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 312px);
      width: 100%;
      gap: 32px;

      @include mixins.tablet {
        max-width: 100%;
      }

      .topic_content_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 16px;
        background-color: var(--color-surfaces);

        .topic_image {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          display: flex;
          max-height: 324px;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
          }
        }
        .topic_title {
          display: flex;
          padding: 8px 16px;
        }
        .topic_content {
          display: flex;
          flex-direction: column;
          padding: 8px 16px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;

          div {
            position: relative;
            font-weight: 400;
            font-size: 15px !important;
            line-height: 30px !important;
          }
        }
        .button_wrap {
          display: flex;
          //   position: absolute;
          bottom: -21px;
          align-self: center;
          justify-self: center;
          button {
            margin-top: -21px;
            position: absolute;
            path {
              fill: none;
            }
            &:hover {
              path {
                stroke: var(--color-surfaces);
              }
            }
          }
        }
      }
      .topic_arguments {
        background-color: var(--color-scrollbar);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px;
        margin-bottom: 90px;

        @include mixins.tablet {
          display: none;

          &.show {
            display: flex;
          }
        }
      }

      .topic_voting {
        background-color: var(--color-argument-pro-light);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
        margin-bottom: 90px;

        @include mixins.mobile {
          padding: 24px;
        }

        @include mixins.tablet {
          /*  display: none;

          &.show {
            display: flex;
          }*/
        }
        .no_voting_yet {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;

          .description_heading {
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; /* 133.333% */

            @include mixins.mobile {
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }
          }

          .no_voting_description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;

            .description_text {
              display: flex;
              flex-direction: column;
              gap: 16px;
            }

            .description_heading {
              text-align: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }
            @include mixins.mobile {
              flex-direction: column;
            }
          }
        }
      }
    }
    .content_area_right {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 288px;

      @include mixins.tablet {
        width: 100%;
      }
      @include mixins.mobile {
        padding: 8px;
      }

      .state_item {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border-left: 8px solid;
        min-height: 64px;
        background-color: var(--color-surfaces);
        width: 100%;
        align-items: center;
        padding: 16px;
        gap: 24px;

        .item_header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;

          .item_title {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            padding-bottom: 8px;
            display: flex;
          }
        }

        .item_content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          @include mixins.tablet {
            width: 100%;
          }
          .argument_graph_wrap {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .legend {
              display: flex;
              justify-content: space-between;
              width: 100%;
              gap: 24px;
              .dot {
                height: 8px;
                width: 8px;
                background-color: var(--color-argument-info);
                border-radius: 50%;
              }

              .legend_item {
                display: flex;
                align-items: center;
                gap: 8px;

                &.pro {
                  .dot {
                    background-color: var(--color-argument-pro);
                  }
                }
                &.con {
                  .dot {
                    background-color: var(--color-argument-con);
                  }
                }
              }
            }

            .argument_graph {
              display: flex;
              width: 100%;
              gap: 4px;

              .arguments_pro {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-argument-pro);
              }

              .arguments_con {
                height: 4px;
                display: flex;
                width: 50%;
                background-color: var(--color-argument-con);
              }
            }
          }
        }
        &.empty {
          position: relative;
          flex-direction: row;
          background-color: initial;
          border: 1px dashed;
          border-left: 8px solid;

          .info_icon {
            position: absolute;
            right: 16px;
          }
        }
        .icon_wrap {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
        }

        &.discussion {
          border-color: var(--color-discussion);
          .icon_wrap {
            background-color: var(--color-discussion);
          }
        }
        &.vote {
          border-color: var(--color-voting-disabled);
          .icon_wrap {
            background-color: var(--color-voting-disabled);
          }
        }
        &.ideation {
          border-color: var(--color-ideation-disabled);
          .icon_wrap {
            background-color: var(--color-ideation-disabled);
          }
        }
        &.follow-up {
          border-color: var(--color-follow-up-disabled);
          .icon_wrap {
            background-color: var(--color-follow-up-disabled);
          }
        }
      }
      .info_section {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-surfaces);
        padding: 16px;
        min-width: 288px;
        max-width: 288px;
        gap: 8px;
        position: relative;

        @include mixins.tablet {
          width: 100%;
          max-width: 100%;
        }

        .topic_visibility {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 4px;
          justify-content: center;
          align-items: center;
          background-color: var(--color-surface-contrast);
          border-radius: 8px;
          position: absolute;
          top: 8px;
          right: 8px;
        }

        .info_items_wrap {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .info_header {
            display: flex;
            justify-content: space-between;

            .info_title {
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
              padding-bottom: 8px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: var(--color-text);
            }
          }

          a.info_title {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            align-items: center;
          }

          .info_items {
            display: flex;
            flex-direction: column;
            gap: 8px;
            min-height: 0;
            max-height: 0;

            &.open {
              min-height: min-content;
              max-height: min-content;
            }
            .info_item {
              display: flex;
              gap: 8px;
              align-items: center;
            }
          }

          .participants_count_wrap {
            .participants_count {
              font-size: 40px;
              font-style: normal;
              font-weight: 600;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}
