<div class="lightbox_section" *ngIf="group && canShare()">
  <h3 translate="MODALS.TOPIC_SETTINGS_HEADING_LINK_SHARING"></h3>
  <div class="share_link">
    <div class="table_row">
      <div class="searchbox_with_icon_and_text only_text">
        <input id="url_invite_group_input" [value]="joinUrl"
          [placeholder]="'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_CREATE_NEW_LINK' | translate">
        <div class="regenerate_link not_mobile" (click)="generateTokenJoin()"
          *ngIf="canUpdate()">
          <div class="sprite sprite-icon-refresh"></div>
        </div>
      </div>
      <div class="blue_button not_mobile" (click)="copyInviteLink()"
        translate="MODALS.GROUP_CREATE_SETTINGS_BTN_COPY_LINK"></div>
    </div>
    <div class="permissions">
      <div class="label" translate="MODALS.GROUP_CREATE_SETTINGS_LABEL_DROPDOWN_PERMISSION_DESCRIPTION"></div>
       <span *ngIf="!canUpdate()" class="bold"> {{('TXT_GROUP_LEVELS_' + join.level |
        uppercase) | translate}}</span>
      <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">
        <div class="dropdown_selection">
          <div class="dropdown_text">
            {{('TXT_GROUP_LEVELS_' + join.level | uppercase) | translate}}
          </div>

          <div class="arrow_holder">
            <div class="table_cell">
              <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

              <div class="v_line"></div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <div class="dropdown_item" *ngFor="let level of LEVELS">
            <div class="item_name" (click)="doUpdateJoinToken(level)">
              {{('TXT_GROUP_LEVELS_' + level | uppercase) | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table_row mobile_only">
      <div class="blue_button" (click)="copyInviteLink()"
        translate="MODALS.GROUP_CREATE_SETTINGS_BTN_COPY_LINK"></div>
    </div>
    <div class="table_row mobile_only">
      <div class="white_button" (click)="generateTokenJoin()"
        translate="MODALS.GROUP_CREATE_SETTINGS_LNK_CREATE_NEW_LINK"></div>
    </div>
  </div>
</div>

<div class="lightbox_section social_sharing" *ngIf="canUpdate()">
  <h3 translate="MODALS.GROUP_CREATE_SETTINGS_HEADING_SOCIAL_SHARING">Social sharing</h3>
  <a socialshare sharetext="{{group.name}}" shareprovider="facebook" shareurl="{{joinUrl}}">
    <div class="sprite sprite-icon-social-facebook-v2"></div>
  </a>
  <a socialshare sharetext="{{group.name}}" shareprovider="linkedin" shareurl="{{joinUrl}}">
    <div class="sprite sprite-icon-social-linkedin-v2"></div>
  </a>
  <a socialshare sharetext="{{group.name}}" shareprovider="twitter" shareurl="{{joinUrl}}">
    <div class="sprite sprite-icon-social-twitter-v2"></div>
  </a>
</div>

<div class="lightbox_section" *ngIf="canUpdate()">
  <h3 translate="MODALS.GROUP_CREATE_SETTINGS_HEADING_QR_SHARING"></h3>
  <div class="qr_code">
    <qrcode [qrdata]="joinUrl || ''" [width]="120" [version]="4" [errorCorrectionLevel]="'L'"></qrcode>
  </div>
  <!--a href="#fixme" class="table_cell" translate="MODALS.TOPIC_SETTINGS_LINK_QR_CODE_PDF">Download QR code PDF</a-->
</div>
