<div class="form_wrap">
  <form [formGroup]="resetForm" name="passwordResetForm" (ngSubmit)="doPasswordReset()" novalidate>
    <span translate="COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_LBL_EMAIL"></span>
    <b>{{resetForm.value.email}}</b>
    <cos-input placeholder="{{'COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_PLACEHOLDER_PASSWORD' | translate}}">
      <input id="password" formControlName="password" type="password"
        [placeholder]="'COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_PLACEHOLDER_PASSWORD' | translate"
        [ngClass]="{'error_input': errors?.password}" required>
    </cos-input>
    <cos-input placeholder="{{'COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_PLACEHOLDER_PASSWORD_CONFIRM' | translate}}">
      <input id="password_confirm" formControlName="passwordConfirm" type="password"
        [placeholder]="'COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_PLACEHOLDER_PASSWORD_CONFIRM' | translate"
        [ngClass]="{'error_input': errors?.password}" [maxlength]="64">
      <label for="password" class="error_label" *ngIf="errors?.password">
        <div class="icon_notification_error_small"></div>
        <span translate="{{errors.password}}"></span>
      </label>
    </cos-input>
    <button type="submit" [disabled]="resetForm.invalid" class="btn_big_submit"
      translate="COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_BTN_RESET_PASSWORD"></button>
    <div class="link_section">
      <a href="" mat-dialog-close translate="COMPONENTS.PASSWORD_RESET.PASSWORD_RESET_LNK_CANCEL"></a>
    </div>
  </form>
</div>
