#password_reset_form_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    cos-input, input,
    button {
      width: 100%;
    }
  }
}
