.picker_content .bubble_content .set_vote_time_wrap .input_row .time_input, .picker_content .bubble_content .set_vote_timezone_wrap .input_row .time_input {
  width: 40px;
  height: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-appearance: textfield;
  text-align: center;
  margin-top: 0;
}