@use "vars";
@use "mixins_n_extends";

  .options_wrap {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    .options_header {
      background: vars.$light_gray;
      padding: 0 10px;
      height: 40px;
      display: table;
      width: 100%;
      font-weight: vars.$bold;
      box-sizing: border-box;
    }
    .options_content {
      background: vars.$white;
      padding: 5px 10px;
      .blue_link,
      .personal_note {
        padding: 5px 0;
      }
      .line {
        margin: 5px 0;
      }
      .file_type {
        font-size: 9px;
        padding: 2px;
      }
    }
  }

  .feedback_btn_wrap {
    width: 100%;

    div {
      display: inline-block;
      vertical-align: middle;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;

      &.icon_left {
        float: left;
        margin-left: 6px;
        margin-top: 3px;
      }

      &.icon_right {
        float: right;
        margin-right: 14px;
        margin-top: 9px;
      }

      &.btn_text {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .feedback_btn {
      height: 56px;
      background-color: vars.$deep_sky_blue;
      border: none;
      color: vars.$white;
      width: 100%;
    }
  }
