@use "mixins_n_extends";
@use "vars";

#lightbox {
  input {
    @extend %input_small;
  }

  input,
  button {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  #lightbox_header {
    #lightbox_header_text {
      padding: 15px 20px!important;
      font-weight: 700;
      font-size: 14px;
    }

    .description {
      font-weight: normal;
    }
  }

  .feedback_info_textarea {
    min-height: 80px;
    margin: 20px 0;
  }
  .feedback_icon_wrap {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 74px;
    height: 74px;

    .feedback_icon_circle {
      width: 74px;
      height: 74px;
      background-color: vars.$deep_sky_blue;
      border-radius: 74px;

      .icon_checkmark_white {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 18px;
      }
    }
  }

  .feedback_submitted_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
  }
  .feedback_input {
    margin-bottom: 15px;
  }
  .feedback_info_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    &.thank_you {
      text-align: center;
    }
  }
  .checkcontainer {
    clear: both;
    display: block;

    span {
      font-size: 14px;
    }

    input.checkbox {
      width: 1px;
      height: 1px;
      border: none;
      float: right;
    }

    .option_checkbox {
      position: relative;
      float: none;
      top: 5px;
      left: 0;
      height: 18px;
      width: 18px;
      display: inline-block;
      border: 1px solid vars.$lightest_gray;
      background-color: vars.$white;
      border-radius: 4px;
      margin-right: 7px;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 0px;
        width: 6px;
        height: 11px;
        border: solid vars.$white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input:checked ~ .option_checkbox {
      border: 1px solid vars.$dark_blue;
      background-color: vars.$deep_sky_blue;
    }

    input:checked ~ .option_checkbox:after {
      display: block;
    }
  }
}
