.group {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 360px;
  background-color: var(--color-surfaces);
  border-radius: 16px;
  padding: 16px;
  gap: 8px;
  position: relative;

  .group_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text);

    .image_area {
      display: flex;
      align-items: center;
      .initial_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 56px;
        background-color: var(--color-surface-contrast);
      }
      img {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }

    .info_area {
      display: flex;
      align-items: top;
      gap: 8px;
      .item {
        display: flex;
        gap: 8px;
        height: 32px;
        min-width: 32px;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background-color: var(--color-surface-contrast);
        border-radius: 8px;
      }
    }
  }

  .group_content {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    height: 120px;
    padding-right: 16px;

    .group_description {
      display: flex;
      overflow: hidden;
    }
  }
  .group_info_area {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding: 8px 0;

    .info_item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-contrast);
      border-radius: 8px;
      width: 72px;
      height: 56px;

      path: {
        color: initial;
      }
    }
  }
}
