@use "mixins";

.group {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 360px;
  background-color: var(--color-surfaces);
  border-radius: 16px;
  padding: 16px;
  gap: 8px;
  position: relative;

  @include mixins.mobile {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 8px 0 #727c84;
  }
  .group_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text);

    .image_area {
      display: flex;
      align-items: center;
      .initial_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 56px;
        background-color: var(--color-surface-contrast);
      }
      img {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }

    .info_area {
      display: flex;
      align-items: top;
      gap: 8px;
      .item {
        display: flex;
        gap: 8px;
        height: 32px;
        min-width: 32px;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background-color: var(--color-surface-contrast);
        border-radius: 8px;

        .members_count_text {
          color: var(--color-border-active);
        }
      }
    }
  }

  .group_content {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    height: 120px;
    padding-right: 16px;

    .group_title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .group_description {
      display: flex;
      color: var(--color-border-active);
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .group_info_area {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding: 8px 0;

    .info_item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      background-color: var(--color-surface-contrast);
      border-radius: 8px;
      width: 72px;
      height: 56px;

      path: {
        color: initial;
      }
      .bold {
        color: var(--color-border-active);
      }
    }
  }

  .btn_big_secondary {
    font-size: 14px;
    line-height: 16px;
  }
}
