<ngx-loading-bar></ngx-loading-bar>
<app-notification></app-notification>
<!-- NAV -->

<nav *ngIf="translate.currentLang"></nav>
<!-- CONTENT -->
<div id="search_area" *ngIf="wWidth > 1024 && displaySearch()">
  <search></search>
</div>

<div id="content_root" *ngIf="translate.currentLang">
  <!-- CONTENT -->
  <div id="content" [ngClass]="!displaySearch() ? 'content_no_padding' : ''">
    <!-- SEARCH AREA -->
    <!-- ROUTES CONTENT -->
    <router-outlet id="view"></router-outlet>
</div>
<!-- MOBILE NAV -->
<ng-container *ngIf="app.wWidth <= 1024">
  <nav-mobile></nav-mobile>
</ng-container>
<app-help></app-help>
