<ngx-loading-bar></ngx-loading-bar>
<app-notification></app-notification>
<!-- NAV -->
<!-- MOBILE HEADER NAV -->
<ng-container *ngIf="app.wWidth <= 1024">
  <nav-mobile  id="mobile_header"></nav-mobile>
</ng-container>
<nav class="nav" [ngClass]="app.showNav ? 'nav_is_open' : ''" ></nav>
<!-- CONTENT -->
<div id="content_root">
  <!-- CONTENT WRAP -->
  <div id="content_wrap">
      <div id="close_mobile_menu" *ngIf="app.showNav" ng-swipe-right="app.showNav = false" (click)="app.showNav = false"></div>

      <div id="content" [ngClass]="!displaySearch() ? 'content_no_padding' : ''">
          <!-- SEARCH AREA -->
          <div id="search_area" *ngIf="wWidth > 1024 && displaySearch()">
              <search></search>
          </div>
          <div id="content_cell">
              <!-- CLOSE SEARCH AREA -->

              <!-- ROUTES CONTENT -->
              <router-outlet id="view"></router-outlet>
          </div>
      </div>
  </div>
</div>
<app-help></app-help>
