<ngx-loading-bar></ngx-loading-bar>
<!-- NAV -->
<nav *ngIf="translate.currentLang"></nav>
<!-- CONTENT -->
<div id="content_root" *ngIf="translate.currentLang" [ngClass]="{'no_scroll': (app.createMenu && wWidth <= 1024)}">
  <div id="content_header">
    <!-- SEARCH AREA -->
    <div id="search_wrap" [TourItem]="{tourid: 'dashboard', index: 4, position: 'left'}" [ngClass]="{'hidden': !app.showSearch}">
      <search></search>
    </div>
  </div>
  <!-- CONTENT -->
  <div id="content" [ngClass]="!displaySearch() ? 'content_no_padding' : ''">
    <div id="notification_wrap">
      <notification></notification>
    </div>
    <!-- ROUTES CONTENT -->
    <router-outlet id="view"></router-outlet>
  </div>
  <!-- MOBILE NAV -->
  <ng-container *ngIf="app.wWidth <= 1024">
    <nav-mobile></nav-mobile>
  </ng-container>
  <app-help *ngIf="!app.mobileTutorial"></app-help>
</div>

<app-tour></app-tour>