<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen left_menu_visible">
  <div id="lightbox" class="wide_lightbox with_header_menu">
    <div id="lightbox_wrap">
      <div id="lightbox_header">
        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.LANGUAGES_MODAL_HEADING"></div>
        </div>
        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="line lightest_line"></div>
      <!-- SETTINGS -->
      <div class="lightbox_content settings_section_wrap">
        <div class="lightbox_section language_section">
          <div class="settings_section full_width">
            <div class="language_cell" *ngFor="let language of languages$ | keyvalue"
              (click)='doSwitchLanguage(language.key)'>
              <label>
                <div class="table_cell">
                  <div class="item_text " (click)='doSwitchLanguage(language.key)'
                    [ngClass]="translate.currentLang !== language.key ? 'blue_link' : 'gray_link'">{{language.value}}
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="close_lightbox" mat-dialog-close>
  </div>

</div>