@use "mixins";

.page_content {
  gap: 16px;
  padding: 16px 24px 0px 24px;

  @include mixins.tablet {
    margin: 60px 0;
  }
}


#group_invite, #group_add_topics  {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
