@use "mixins";
.arguments_wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mixins.mobile {
    gap: 8px;
  }
  .arguments_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixins.mobile {
      align-items: normal;
      padding: 0 16px;
      flex-direction: column;
      gap: 16px;
    }

    .title_wrap {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
      }

      .data_items_wrap {
        display: flex;
        gap: 8px;
        .data_item {
          display: flex;
          font-weight: 600;
        }
      }
    }

    button {
      padding: 8px 16px;
      font-weight: 600;
    }
  }

  .pagination {
    button {
      background-color: var(--color-surfaces);
      &:hover,
      &.active {
        background-color: initial;
      }
    }
  }
}

.argument_graph_wrap {
  background-color: var(--color-surfaces);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mixins.mobile {
    width: calc(100% - 32px);
    justify-self: center;
    align-self: center;
  }
  .graph_header {
    display: flex;
    justify-content: space-between;

    @include mixins.mobile {
      flex-direction: column;
    }
    .graph_title {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    .legend {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 24px;
      .dot {
        height: 8px;
        width: 8px;
        background-color: var(--color-argument-info);
        border-radius: 50%;
      }

      .legend_item {
        display: flex;
        align-items: center;
        gap: 8px;

        &.pro {
          .dot {
            background-color: var(--color-argument-pro);
          }
        }
        &.con {
          .dot {
            background-color: var(--color-argument-con);
          }
        }
      }
    }
  }

  .argument_graph {
    display: flex;
    width: 100%;
    gap: 4px;

    .arguments_pro {
      height: 4px;
      display: flex;
      width: 50%;
      background-color: var(--color-argument-pro);
    }

    .arguments_con {
      height: 4px;
      display: flex;
      width: 50%;
      background-color: var(--color-argument-con);
    }
  }
}
.arguments_filters {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include mixins.mobile {
    width: calc(100% - 32px);
    justify-self: center;
    align-self: center;
  }

  .dropdown_input {
    width: 100%;
  }

  .dropdown {
    .options {
      position: absolute;
      width: 100%;
    }
  }
}

#arguments {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  position: relative;

  @include mixins.mobile {
    padding-top: 8px;
  }

  argument {
    display: contents;
  }
}

.pagination_wrap {
  justify-content: center;
  display: flex;
}
