<div class="arguments_wrap" *ngIf="arguments$ | async as arguments">
  <div class="arguments_header">
    <div class="title">{{TopicArgumentService.count.value.total}} Arguments</div>
    <button class="btn_medium_submit" (click)="doAddArgument()">Add your argument</button>
  </div>
  <div class="argument_graph_wrap">
    <div class="graph_header">
      <div class="graph_title">
        Discussion sentiment
      </div>
      <div>
        <div class="legend">
          <div class="legend_item pro">
            <div class="dot"></div>
            <div class="bold">Pro</div>
            <span>{{TopicArgumentService.count.value.pro}}</span>
          </div>
          <div class="legend_item con">
            <div class="dot"></div>
            <div class="bold">Con</div>
            <span>{{TopicArgumentService.count.value.con}}</span>
          </div>
          <div class="legend_item">
            <div class="dot"></div>
            <div class="bold">Info</div>
            <span>{{TopicArgumentService.count.value.poi}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="argument_graph">
      <div class="arguments_pro" [style.width.%]="getArgumentPercentage(TopicArgumentService.count.value.pro)"></div>
      <div class="arguments_con" [style.width.%]="getArgumentPercentage(TopicArgumentService.count.value.con)"></div>
    </div>
  </div>
  <div class="arguments_filters">
    <cos-input [placeholder]="'VIEWS.MY_GROUPS.FILTER_VISIBILITY' | translate" class="dropdown_input">
      <div class="dropdown" [cosDropdown]>
        <div class="selection">
          <div class="selected_item">{{TopicArgumentService.params}}</div>
          <div class="icon_arrow_down_black"></div>
        </div>
        <div class="options">
          <div class="option" translate="TXT_TOPIC_STATUS_ALL"></div>
          <div class="option"  *ngFor="let type of argumentTypes">
            {{type}} <!--{{'TXT_TOPIC_STATUS_' + status | uppercase | translate}}-->
          </div>
        </div>
      </div>
    </cos-input>
    <cos-input [placeholder]="'Order'" class="dropdown_input">
      <div class="dropdown" [cosDropdown]>
        <div class="selection">
          <div class="selected_item">{{'VIEWS.TOPICS_TOPICID.TXT_ARGUMENT_ORDER_BY_' + TopicArgumentService.params$.value.orderBy | uppercase
            | translate}}</div>
          <div class="icon_arrow_down_black"></div>
        </div>
        <div class="options">
          <div class="option" translate="TXT_TOPIC_STATUS_ALL"></div>
          <div class="option" *ngFor="let orderOption of orderByOptions" (click)="TopicArgumentService.setParam('orderBy', orderOption)">
            {{orderOption}}
          </div>
        </div>
      </div>
    </cos-input>
  </div>
</div>
<post-argument [topicId]="topic.id"></post-argument>
<!--div class="arguments_container">
  <div class="arguments_wrap">
    <div class="arguments_header">
      <div class="number_of_arguments" translate="VIEWS.TOPICS_TOPICID.TAB_ARGUMENTS_HEADING"
        [translateParams]="{count: (TopicArgumentService.count.value.total)}"></div>
      <div class="arguments_data">
        <div class="data_left">
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_PRO"
            [translateParams]="{countPro:TopicArgumentService.count.value.pro}"></span>
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_CON"
            [translateParams]="{countCon:TopicArgumentService.count.value.con}"></span>
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_POI"
            [translateParams]="{countPoi:TopicArgumentService.count.value.poi}"></span>
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_REPLY"
            [translateParams]="{countReplies:TopicArgumentService.count.value.reply}"></span>
        </div>
        <div class="data_right print_never">
          <div [cosDropdown] class="classic_dropdown borderless_dropdown">
            <div class="dropdown_selection">
              <div class="dropdown_text data_item">
                {{'VIEWS.TOPICS_TOPICID.TXT_ARGUMENT_ORDER_BY_' + TopicArgumentService.params$.value.orderBy | uppercase
                | translate}}
              </div>

              <div class="arrow_holder">
                <div class="table_cell">
                  <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                </div>
              </div>
            </div>

            <div class="dropdown">
              <!-- NO CATEGORY >
              <div class="dropdown_item" *ngFor="let orderOption of orderByOptions">
                <div class="item_name" (click)="TopicArgumentService.setParam('orderBy', orderOption)">
                  {{orderOption}}
                </div>
              </div>
            </div>

          </div>

          <div class="blue_button" (click)="doAddComment()" translate="VIEWS.TOPICS_TOPICID.BTN_ADD_ARGUMENT"></div>

        </div>
      </div>
      <div class="clearer"></div>

      <div class="line lightest_line"></div>
    </div>

    <div class="arguments_content" id="arguments" >
      <!-- FIRST COMMENT >

        <div class="argument_wrap is_{{arg.type}}" *ngFor="let arg of arguments$ | async">

          <argument [argument]="arg" [topicId]="topic.id"></argument>

        </div>
        <cos-pagination class="pagination" (select)="TopicArgumentService.loadPage($event)"
        [totalPages]="(TopicArgumentService.totalPages$ | async) || 0"
        [page]="(TopicArgumentService.page$ | async) || 0"></cos-pagination>
    </div>

    <post-argument [topicId]="topic.id"></post-argument>

  </div>

</!--div-->
