<div class="arguments_wrap" *ngIf="arguments$ | async as arguments">
  <div class="arguments_header">
    <div class="title" translate="COMPONENTS.TOPIC_ARGUMENTS.TITLE"
      [translateParams]="{count: TopicArgumentService.count.value.total}"></div>
    <button class="btn_medium_submit" (click)="doAddArgument()"
      translate="COMPONENTS.TOPIC_ARGUMENTS.BTN_ADD_YOUR_ARGUMENT"></button>
  </div>
  <div class="argument_graph_wrap">
    <div class="graph_header">
      <div class="graph_title" translate="COMPONENTS.TOPIC_ARGUMENTS.GRAPH_TITLE"></div>
      <div>
        <div class="legend">
          <div class="legend_item pro">
            <div class="dot"></div>
            <div class="bold" translate="COMPONENTS.TOPIC_ARGUMENTS.GRAPH_LEGEND_PRO"></div>
            <span>{{TopicArgumentService.count.value.pro}}</span>
          </div>
          <div class="legend_item con">
            <div class="dot"></div>
            <div class="bold" translate="COMPONENTS.TOPIC_ARGUMENTS.GRAPH_LEGEND_CON"></div>
            <span>{{TopicArgumentService.count.value.con}}</span>
          </div>
          <div class="legend_item">
            <div class="dot"></div>
            <div class="bold" translate="COMPONENTS.TOPIC_ARGUMENTS.GRAPH_LEGEND_INFO"></div>
            <span>{{TopicArgumentService.count.value.poi}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="argument_graph">
      <div class="arguments_pro" [style.width.%]="getArgumentPercentage(TopicArgumentService.count.value.pro)"></div>
      <div class="arguments_con" [style.width.%]="getArgumentPercentage(TopicArgumentService.count.value.con)"></div>
    </div>
  </div>
  <div class="arguments_filters">
    <ng-container *ngIf=" wWidth <= 550">
      <div class="mobile_filters" mobileFilters>
        <div class="selector">
          <span>Filters</span>
          <button>
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 10L12 15L7 10" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
            </svg>
            <svg class="icon_active" width="24" height="24" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M17 15L12 10L7 15" stroke="#2C3B47" stroke-width="2" stroke-linecap="round" />
            </svg>
          </button>
        </div>
        <div class="filter_items">
          <div class="filter" mobileFilter>
            <span translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_TYPE"></span>
            <a translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_TYPE_ALL"></a>
            <div class="filter_options">
              <div class="option check">
                <label class="checkbox">
                  <span translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_TYPE_ALL"></span>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="option check" *ngFor="let type of argumentTypes">
                <label class="checkbox">
                  <span [translate]="'COMPONENTS.TOPIC_ARGUMENTS.FILTER_TYPE_'+ type.toUpperCase()"></span>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <button class="btn_medium_secondary bold filter_apply_btn">
                Apply
              </button>
            </div>
          </div>
          <div class="filter" mobileFilter>
            <span translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER"></span>
            <a
              [translate]="'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER_BY_' +
            (TopicArgumentService.params$.value.orderBy? TopicArgumentService.params$.value.orderBy : 'DEFAULT') | uppercase"></a>
            <div class="filter_options">
              <a class="option filter_apply_btn" translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER_BY_DEFAULT"
                (click)="TopicArgumentService.setParam('orderBy', null)"> </a>
              <a class="option filter_apply_btn" *ngFor="let orderOption of orderByOptions"
                (click)="TopicArgumentService.setParam('orderBy', orderOption)">
                {{'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER_BY_' + orderOption | uppercase | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf=" wWidth > 550">
      <cos-input [placeholder]="'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_TYPE' | translate" class="dropdown_input">
        <div class="dropdown" [cosDropdown] [multipleChoice]="true">
          <div class="selection">
            <div class="selected_item">{{'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_TYPE' | translate}}</div>
            <div class="icon_arrow_down_black"></div>
          </div>
          <div class="options">
            <div class="option check">
              <label class="checkbox">
                <span translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_TYPE_ALL"></span>
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="option check" *ngFor="let type of argumentTypes">
              <label class="checkbox">
                <span [translate]="'COMPONENTS.TOPIC_ARGUMENTS.FILTER_TYPE_'+ type.toUpperCase()"></span>
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </cos-input>
      <cos-input [placeholder]="'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER' | translate" class="dropdown_input">
        <div class="dropdown" [cosDropdown]>
          <div class="selection">
            <div class="selected_item">{{'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER_BY_' +
              (TopicArgumentService.params$.value.orderBy? TopicArgumentService.params$.value.orderBy : 'DEFAULT') |
              uppercase
              | translate}}</div>
            <div class="icon_arrow_down_black"></div>
          </div>
          <div class="options">
            <div class="option" translate="COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER_BY_DEFAULT"
              (click)="TopicArgumentService.setParam('orderBy', null)"> </div>
            <div class="option" *ngFor="let orderOption of orderByOptions"
              (click)="TopicArgumentService.setParam('orderBy', orderOption)">
              {{'COMPONENTS.TOPIC_ARGUMENTS.FILTER_ARGUMENT_ORDER_BY_' + orderOption | uppercase | translate}}
            </div>
          </div>
        </div>
      </cos-input>
    </ng-container>
  </div>
  <div id="arguments">
    <argument [argument]="arg" [topicId]="topic.id" *ngFor="let arg of arguments$ | async"></argument>
  </div>
  <div class="pagination_wrap">
    <cos-pagination (select)="TopicArgumentService.loadPage($event)"
      [totalPages]="(TopicArgumentService.totalPages$ | async) || 0"
      [page]="(TopicArgumentService.page$ | async) || 0"></cos-pagination>
  </div>
</div>
<!--div class="arguments_container">
  <div class="arguments_wrap">
    <div class="arguments_header">
      <div class="number_of_arguments" translate="VIEWS.TOPICS_TOPICID.TAB_ARGUMENTS_HEADING"
        [translateParams]="{count: (TopicArgumentService.count.value.total)}"></div>
      <div class="arguments_data">
        <div class="data_left">
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_PRO"
            [translateParams]="{countPro:TopicArgumentService.count.value.pro}"></span>
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_CON"
            [translateParams]="{countCon:TopicArgumentService.count.value.con}"></span>
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_POI"
            [translateParams]="{countPoi:TopicArgumentService.count.value.poi}"></span>
          <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_REPLY"
            [translateParams]="{countReplies:TopicArgumentService.count.value.reply}"></span>
        </div>
        <div class="data_right print_never">
          <div [cosDropdown] class="classic_dropdown borderless_dropdown">
            <div class="dropdown_selection">
              <div class="dropdown_text data_item">
                {{'VIEWS.TOPICS_TOPICID.TXT_ARGUMENT_ORDER_BY_' + TopicArgumentService.params$.value.orderBy | uppercase
                | translate}}
              </div>

              <div class="arrow_holder">
                <div class="table_cell">
                  <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                </div>
              </div>
            </div>

            <div class="dropdown">
              <!-- NO CATEGORY >
              <div class="dropdown_item" *ngFor="let orderOption of orderByOptions">
                <div class="item_name" (click)="TopicArgumentService.setParam('orderBy', orderOption)">
                  {{orderOption}}
                </div>
              </div>
            </div>

          </div>

          <div class="blue_button" (click)="doAddComment()" translate="VIEWS.TOPICS_TOPICID.BTN_ADD_ARGUMENT"></div>

        </div>
      </div>
      <div class="clearer"></div>

      <div class="line lightest_line"></div>
    </div>

    <div class="arguments_content" id="arguments" >
      <!-- FIRST COMMENT >

        <div class="argument_wrap is_{{arg.type}}" *ngFor="let arg of arguments$ | async">

          <argument [argument]="arg" [topicId]="topic.id"></argument>

        </div>
        <cos-pagination class="pagination" (select)="TopicArgumentService.loadPage($event)"
        [totalPages]="(TopicArgumentService.totalPages$ | async) || 0"
        [page]="(TopicArgumentService.page$ | async) || 0"></cos-pagination>
    </div>

    <post-argument [topicId]="topic.id"></post-argument>

  </div>

</!--div-->
