@use "mixins";

.topic_arguments {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;

  @include mixins.tablet {
    display: none;
    margin-bottom: 0px;
    padding: 16px;

    &.show {
      display: flex;
    }
  }

  @include mixins.mobile {
    padding: 16px 0;
  }
}

.no_feature_yet {
  &.discussion {
    padding: 24px;
    border-radius: 16px;
    background-color: var(--color-scrollbar);
  }
}
.arguments_wrap {
  display: flex;
  flex-direction: column;

  .arguments_header {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    border-radius: 16px 16px 0 0;
    background-color: #c9dff1;
    @include mixins.mobile {
      padding: 16px;
    }

    .header_section {
      display: flex;
      justify-content: space-between;

      .question {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
      }
    }
    .data_section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
      .deadline {
      }
    }
    button {
      padding: 8px 16px;
      font-weight: 600;
    }
  }

  .arguments_content {
    background-color: var(--color-scrollbar);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 0 16px 16px;

    .section_header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include mixins.mobile {
        flex-direction: column;
        align-items: initial;
        gap: 16px;
      }

      .title_wrap {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
        }

        .data_items_wrap {
          display: flex;
          gap: 8px;
          .data_item {
            display: flex;
            font-weight: 600;
          }
        }
      }
    }
  }

  .pagination {
    button {
      background-color: var(--color-surfaces);
      &:hover,
      &.active {
        background-color: initial;
      }
    }
  }
}
.setting_button {
  border-radius: 24px;
  height: max-content;
  button {
    gap: 4px;
  }
}
#mobile_actions {
  max-width: max-content;
  align-self: flex-end;
}
.button_dropdown {
  background-color: initial;

  .line_separator {
    background-color: var(--color-border);
  }
  .option {
    gap: 8px;
  }
}
.argument_graph_wrap {
  background-color: var(--color-surfaces);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mixins.mobile {
    width: calc(100% - 32px);
    justify-self: center;
    align-self: center;
  }
  .graph_header {
    display: flex;
    justify-content: space-between;

    @include mixins.mobile {
      flex-direction: column;
      gap: 8px;
    }
    .graph_title {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    .legend {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 24px;
      .dot {
        height: 8px;
        width: 8px;
        background-color: var(--color-argument-info);
        border-radius: 50%;
      }

      .legend_item {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mixins.mobile {
          flex-direction: column;
          gap: 4px;
        }
        &.pro {
          .dot {
            background-color: var(--color-argument-pro);
          }
        }
        &.con {
          .dot {
            background-color: var(--color-argument-con);
          }
        }
        &.reply {
          .dot {
            background-color: var(--color-border);
          }
        }
      }
    }
  }

  .argument_graph {
    display: flex;
    width: 100%;
    gap: 4px;

    .arguments_pro {
      height: 4px;
      display: flex;
      width: 50%;
      background-color: var(--color-argument-pro);
    }

    .arguments_con {
      height: 4px;
      display: flex;
      width: 50%;
      background-color: var(--color-argument-con);
    }
  }
}
.arguments_filters {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include mixins.mobile {
    width: calc(100% - 32px);
    justify-self: center;
    align-self: center;
  }

  .dropdown_input {
    width: 100%;
  }

  .dropdown {
    .options {
      position: absolute;
      width: 100%;
    }
  }
}

#arguments {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  position: relative;

  @include mixins.mobile {
    padding-top: 8px;
  }

  argument {
    display: contents;
  }
}

.pagination_wrap {
  justify-content: center;
  display: flex;
}
