@use "mixins";

.dialog {
  width: 560px;

  .header_text {
    color: var(--color-text);
  }
}

.date_selector {
  width: 100%;

  &:hover,
  &.selected {
    background-color: var(--color-argument-pro-light);
  }

  .checkbox {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    .checkbox_text_wrap {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 40px);

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
.dialog_description {
  padding: 8px 0 24px 0;
}

.deadline_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 16px;
  background-color: var(--color-argument-pro-light);
  .date_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 24px;

    @include mixins.mobile {
      flex-direction: column;
      align-items: flex-start;
    }
    .date_row_title {
      min-width: 25%;
    }

    .input_wrap {
      flex-grow: 2;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      .time_wrap {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mixins.mobile {
          width: 100%;
        }
      }
      .time_input {
        min-width: max-content;
        max-width: max-content;
      }

      .dropdown {
        width: 100%;
      }
    }
  }
}

.reminder_wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--color-argument-pro-medium);
  padding: 16px;
  gap: 8px;

  .dropdown {
    width: 100%;
  }
}
#reminder_options {
  .options {
    position: absolute;
    max-height: 100px;
  }
}
