<div class="pretend_td">
  <div class="blue_link" [routerLink]="['/topics',topic.id]" [innerHtml]="topic.title"></div>
</div>
<div class="pretend_td" *ngIf="isVisibleField('lastActivity')">
  <div class="pretend_table_mobile_text mobile_label" translate="">Last activity</div>
  <span [innerText]="topic.lastActivity | date:'YYYY-MM-dd HH:mm'"></span>
</div>
<div class="pretend_td" *ngIf="isVisibleField('level')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_RIGHTS">Level</div>

  <div [cosDropdown] class="classic_dropdown" *ngIf="TopicService.canUpdate(topic) && group?.visibility !== GroupService.VISIBILITY.public">
      <div class="dropdown_selection">
          <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + topic.permission.levelGroup | uppercase | translate}}</div>

          <div class="arrow_holder">
              <div class="table_cell">
                  <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                  <div class="v_line"></div>
              </div>
          </div>
      </div>
      <div class="dropdown">
          <div class="dropdown_item" *ngFor="let level of GroupMemberTopic.LEVELS | keyvalue">
              <div class="item_name" (click)="doUpdateMemberTopic(level.value)">{{'TXT_TOPIC_LEVELS_' + level.value | uppercase | translate}}</div>
          </div>
      </div>
  </div>
  <span *ngIf="!TopicService.canUpdate(topic) || group?.visibility === GroupService.VISIBILITY.public">{{'TXT_TOPIC_LEVELS_' + topic.permission.levelGroup | uppercase | translate}}</span>
</div>
<div class="pretend_td" *ngIf="isVisibleField('userscount')">
  <span class="pretend_table_mobile_text mobile_label" translate="VIEWS.MY_GROUPS_GROUPID.LBL_USERS_COUNT" [translateParams]="{count: topic.members.users.count}">Users: 0</span>
  <span *ngIf="wWidth > 550" [innerText]="topic.members.users.count"></span>
</div>
<div class="pretend_td" *ngIf="isVisibleField('status')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_STATUS">Status</div>
  <span> {{'TXT_TOPIC_STATUS_'+topic.status | uppercase | translate}} </span>
</div>
<div class="pretend_td recycle_bin_wrap" *ngIf="isVisibleField('delete') && TopicService.canUpdate(topic) ">
  <div class="btn_wrap recycle_bin">
      <div class="btn" (click)="doDeleteMemberTopic()">
          <div class="table_cell">
              <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
              <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
          </div>
      </div>
  </div>
</div>
