<div class="overlay" mat-dialog-close></div>
<div class="dialog">
  <div class="dialog_header warning">
    <div class="header_with_icon">
      <div class="icon_notification">
        <ng-container>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#F39129" />
            <path
              d="M19.0645 8C18.4876 8 18.0304 8.48668 18.0664 9.06238L18.9414 23.0624C18.9743 23.5894 19.4114 24 19.9395 24H20.0605C20.5886 24 21.0257 23.5894 21.0586 23.0624L21.9336 9.06238C21.9696 8.48668 21.5124 8 20.9355 8H19.0645Z"
              fill="white" />
            <path
              d="M20 31C21.1046 31 22 30.1046 22 29C22 27.8954 21.1046 27 20 27C18.8954 27 18 27.8954 18 29C18 30.1046 18.8954 31 20 31Z"
              fill="white" />
          </svg>
        </ng-container>
      </div>
      <h4 class="title" translate="COMPONENTS.REPORT_TOPIC.HEADING"></h4>
    </div>
    <div class="dialog_close">
      <button class="btn_dialog_close" mat-dialog-close>
        <div class="icon_mobile_close"></div>
      </button>
    </div>
  </div>
  <div class="dialog_info_wrap">
    <div class="dialog_info row">
      <div class="delete_info_button_wrap">
        <div class="delete_info_text" translate="COMPONENTS.REPORT_TOPIC.MESSAGE_MAIN"></div>
      </div>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7 4C7 3.44772 7.44772 3 8 3H18.1716C18.4368 3 18.6911 3.10536 18.8787 3.29289L24.7071 9.12132L25.4142 8.41421L24.7071 9.12132C24.8946 9.30886 25 9.56321 25 9.82843V28C25 28.5523 24.5523 29 24 29H8C7.44772 29 7 28.5523 7 28V4Z"
          fill="white" stroke="#2C3B47" stroke-width="2" />
        <path d="M17 2.5L25.5 11H18C17.4477 11 17 10.5523 17 10V2.5Z" fill="#2C3B47" />
        <rect x="11" y="18" width="10" height="1" rx="0.5" fill="#4D5C6A" />
        <rect x="11" y="15" width="10" height="1" rx="0.5" fill="#4D5C6A" />
        <rect x="11" y="21" width="10" height="1" rx="0.5" fill="#4D5C6A" />
        <rect x="11" y="24" width="6" height="1" rx="0.5" fill="#4D5C6A" />
      </svg>

      <div class="bold" [innerHTML]="topic.title"></div>
    </div>
  </div>
  <div class="dialog_content">
    <form [formGroup]="report">
      <cos-input [placeholder]="'COMPONENTS.REPORT_TOPIC.LABLE_REASON' | translate">
        <div class="dropdown" [cosDropdown]>
          <div class="selection">
            <div class="selected_item" [translate]="'TXT_REPORT_TYPES_' + report.value.type.toUpperCase()">
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 10L12 15L7 10" stroke="#727C84" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
          <div class="options">
            <div class="option" *ngFor="let type of reportTypes" (click)="report.value.type=type"
              [translate]="'TXT_REPORT_TYPES_'+ type.toUpperCase()">
            </div>
          </div>
        </div>
      </cos-input>

      <cos-input placeholder="{{'COMPONENTS.REPORT_TOPIC.PLACEHOLDER_REPORT_TEXT' | translate}}">
        <textarea formControlName="text"
          [ngClass]="{'error_input': report.controls['text'].errors && report.controls['text'].errors['required'] && report.touched}"
          [placeholder]="'COMPONENTS.REPORT_TOPIC.PLACEHOLDER_REPORT_TEXT' | translate" [maxlength]="2048"
          rows="5"></textarea>
        <label for="groupDescription" class="error_label"
          *ngIf="report.controls['text'].errors && report.controls['text'].errors['required'] && report.touched">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.89438 1.78863C8.52586 1.05158 7.47405 1.05158 7.10553 1.78863L0.723562 14.5526C0.391112 15.2175 0.874608 15.9998 1.61799 15.9998H14.3819C15.1253 15.9998 15.6088 15.2175 15.2763 14.5526L8.89438 1.78863ZM6.99996 6.99977C6.99996 6.44749 7.44767 5.99977 7.99996 5.99977C8.55224 5.99977 8.99996 6.44749 8.99996 6.99977V9.99977C8.99996 10.5521 8.55224 10.9998 7.99996 10.9998C7.44767 10.9998 6.99996 10.5521 6.99996 9.99977V6.99977ZM6.99996 12.9998C6.99996 12.4475 7.44767 11.9998 7.99996 11.9998C8.55224 11.9998 8.99996 12.4475 8.99996 12.9998C8.99996 13.5521 8.55224 13.9998 7.99996 13.9998C7.44767 13.9998 6.99996 13.5521 6.99996 12.9998Z"
              fill="#EF4025" />
          </svg>
          <div class="error_text">
            <span translate="COMPONENTS.REPORT_TOPIC.ERROR_TEXT"></span>
          </div>
        </label>
      </cos-input>
    </form>
  </div>
  <div class="dialog_content">
    <div class="button_wrap">
      <button class="btn_big_submit" [disabled]="report.invalid" translate="COMPONENTS.REPORT_TOPIC.BTN_SUBMIT"
        (click)="doReport()"></button>
      <a mat-dialog-close translate="COMPONENTS.REPORT_TOPIC.BTN_CANCEL"></a>
    </div>
  </div>
  <div class="dialog_footer">
  </div>
</div>

<!-- LIGHTBOX SKELETON >
<div id="root_lightbox" class="full_screen">
  <div id="lightbox" class="delete_comment">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_REPORT_HEADING"></div>
        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>

        <div class="confirm_description_wrap">
          <div class="confirm_description">
            <div class="confirm_description_under_text">
              <i>
                {{topic.title | cosEllipsis}}
              </i>
            </div>
          </div>
        </div>

        <div class="clearer"></div>

      </div>

      <div class="line lightest_line"></div>

      <!-- CONFIRM CONTENT >
      <div class="lightbox_content">


        <div class="lightbox_section">
          <b translate="MODALS.TOPIC_REPORT_LABEL_REASON"></b> <span class="required_text"
            translate="MODALS.TOPIC_REPORT_LABEL_REASON_REQUIRED"></span>

          <div [cosDropdown] class="classic_dropdown" [ngClass]="{'error_input': errors?.type}">

            <div class="dropdown_selection">
              <div class="dropdown_text">
                {{('TXT_REPORT_TYPES_' + report.type | uppercase) | translate}}
              </div>

              <div class="arrow_holder">
                <div class="table_cell">
                  <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                  <div class="v_line"></div>
                </div>
              </div>
            </div>

            <div class="dropdown">
              <div class="dropdown_item" *ngFor="let type of reportTypes">
                <div class="item_name" (click)="report.type = type">
                  {{('TXT_REPORT_TYPES_' + type | uppercase) | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="error_label" *ngIf="errors?.type">
            <div class="table_cell">
              <div class="icon_notification_error_small"></div>
              <span translate="{{errors.type}}"></span>
            </div>
          </div>

          <textarea class="gray_borders" [(ngModel)]="report.text" [ngClass]="{'error_input': errors?.text}"
            [placeholder]="'MODALS.TOPIC_REPORT_PLACEHOLDER_REPORT_TEXT' | translate"  [maxlength]="2048"></textarea>
          <div class="error_label" *ngIf="errors?.text">
            <div class="table_cell">
              <div class="icon_notification_error_small"></div>
              <span translate="{{errors?.text}}"></span>
            </div>
          </div>
        </div>


        <div class="line lightest_line"></div>

        <div class="lightbox_section confirm_area">
          <span translate="MODALS.TOPIC_REPORT_TXT_ARE_YOU_SURE"></span>

          <div class="yes_no_buttons">
            <div class="table_cell">
              <div class="gray_button no" [attr.disabled]="isLoading"
                mat-dialog-close translate="MODALS.TOPIC_REPORT_BTN_NO"></div>
            </div>
            <div class="table_cell">
              <div class="blue_button yes" [attr.disabled]="isLoading" (click)="doReport()"
                translate="MODALS.TOPIC_REPORT_BTN_YES"></div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>

  <div id="close_lightbox" mat-dialog-close>
  </div>

</div-->
