<div class="voting_platform_wrap">
  <div class="platform_description" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_CREATE"></div>
  <div class="voting_platform_section">
    <div class="line lightest_line"></div>
    <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_STEP1"></div>

    <div class="voting_platform_buttons_wrap">

      <div class="table_cell" (click)="setVoteType(type)" *ngFor="let type of voteTypes">
        <div class="voting_platform_radio_wrap" [ngClass]="vote.type == type? 'active' : ''">
          <div class="check"></div>
          <input class="voting_platform_radio" type="radio" (checked)="vote.type==type" name="{{'voteType'+type}}" />
        </div>
        <div class="voting_platform_button" [ngClass]="vote.type == type? 'active' : ''">
          <div class="table_cell">
            <div class="button_title">{{('VIEWS.TOPICS_TOPICID.VOTE_BTN_TYPE_'+type) | uppercase | translate}}</div>
            <div class="button_description">{{'VIEWS.TOPICS_TOPICID.VOTE_BTN_TYPE_'+type+'_EXPLANATION' | uppercase |
              translate}}</div>
          </div>
        </div>
      </div>

      <!--div class="table_cell"  (click)="setVoteType(voteTypes.multiple)" >
              <div class="voting_platform_radio_wrap" [ngClass]="vote.type == 'multiple' ? 'active' : ''">
                  <div class="check"></div>
                  <input class="voting_platform_radio" type="radio" (checked)="vote.type=='multiple'" name="voteTypeMultiple"/>
              </div>
              <div class="voting_platform_button" [ngClass]="vote.type == 'multiple' ? 'active' : ''">
                  <div class="table_cell">
                      <div class="button_title" translate="VIEWS.TOPICS_TOPICID.VOTE_BTN_TYPE_MULTIPLECHOICE">MULTIPLECHOICE</div>
                      <div class="button_description" translate="VIEWS.TOPICS_TOPICID.VOTE_BTN_TYPE_MULTIPLECHOICE_EXPLANATION">(ie. A/B/C/D/…)</div>
                  </div>
              </div>
          </!--div-->

    </div>

    <div class="clearer"></div>

  </div>

  <div class="line lightest_line"></div>

  <div class="voting_platform_section" *ngIf="vote.type">
    <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_STEP2"></div>

    <!-- regular -->
    <div class="define_answers_wrap" *ngIf="vote.type == 'regular'">
      <div class="table_cell">
        <div class="table">
          <div class="table_cell">
            <div class="gray_toggle_box">
              <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_YES"></div>
              <div class="table_cell">
                <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)"
                  [cosToggleTextOff]="('TOGGLE_OFF' | translate)" [model]="vote.options[0].enabled"
                  (click)="vote.options[0].enabled = !vote.options[0].enabled"></cos-toggle>
              </div>
            </div>
          </div>
          <div class="table_cell">
            <div class="gray_toggle_box">
              <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_NO"></div>
              <div class="table_cell">
                <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)"
                  [cosToggleTextOff]="('TOGGLE_OFF' | translate)" [model]="vote.options[1].enabled"
                  (click)="vote.options[1].enabled = !vote.options[1].enabled"></cos-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table_cell">
        <div class="table">
          <div class="table_cell">
            <div class="gray_toggle_box">
              <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_NEUTRAL"></div>
              <div class="table_cell">
                <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)"
                  [cosToggleTextOff]="('TOGGLE_OFF' | translate)" [model]="extraOptions.neutral.enabled"
                  (click)="extraOptions.neutral.enabled = !extraOptions.neutral.enabled"></cos-toggle>
              </div>
            </div>
          </div>
          <div class="table_cell">
            <div class="gray_toggle_box">
              <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_VETO"></div>
              <div class="table_cell">
                <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)"
                  [cosToggleTextOff]="('TOGGLE_OFF' | translate)" [model]="extraOptions.veto.enabled"
                  (click)="extraOptions.veto.enabled = !extraOptions.veto.enabled"></cos-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- multiplechoice -->
    <div class="double_cell_layout section_padding" *ngIf="vote.type == 'multiple'">
      <div class="left_row">

        <div class="input_with_icon clickable" *ngFor="let option of vote.options; let $index = index">
          <input id="{{'voteOption' + $index}}" class="gray_borders" [(ngModel)]="option.value"
            [ngClass]="{'error_input': option.value && errors?.value}"
            placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_ENTER_A_POSSIBLE_ANSWER' | translate}}">
          <div class="icon_table" [ngClass]="{'error': option.value && errors?.value}">
            <div class="icon_cell" (click)="removeOption($index)">
              <div class="sprite sprite-inputfield-icon-delete2x"></div>
            </div>
          </div>
          <label for="{{'voteOption' + $index}}" class="error_label" *ngIf="option.value && errors?.value">
            <div class="table_cell">
              <div class="sprite sprite-icon-inputfield-error2x"></div>
              <span translate="{{errors.value}}"></span>
            </div>
          </label>
        </div>

        <div class="blue_button" (click)="addOption()" translate="VIEWS.TOPICS_TOPICID.VOTE_BTB_ADD_OPTION"></div>
      </div>
      <div class="right_row add_bottom_borders">

        <div class="gray_toggle_box">
          <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_NEUTRAL"></div>
          <div class="table_cell">
            <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
              [model]="extraOptions.neutral.enabled"
              (click)="extraOptions.neutral.enabled = !extraOptions.neutral.enabled"></cos-toggle>
          </div>
        </div>

        <div class="gray_toggle_box">
          <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_VETO"></div>
          <div class="table_cell">
            <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
              [model]="extraOptions.veto.enabled"
              (click)="extraOptions.veto.enabled = !extraOptions.veto.enabled"></cos-toggle>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="line lightest_line" *ngIf="vote.type == 'multiple'"></div>
  <div class="voting_platform_section" *ngIf="vote.type == 'multiple'">
    <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_STEP_DEFINE_OPTION_COUNT">
    </div>
    <div class="vote_options_count_wrap">
      <p translate="VIEWS.TOPICS_TOPICID.VOTE_TXT_DESCRIPTION_CHOICE_RANGE"></p>
      <div class="options_selector_wrapper">
        <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_MIN_CHOICES"></div>
        <div class="options_count_input_wrap">
          <div class="gray_button options_count_input_subtract" (click)="optionsCountDown('min')">-</div>
          <input class="options_count_input" type="number" [min]="1" [(ngModel)]="vote.minChoices" />
          <div class="gray_button options_count_input_add" (click)="optionsCountUp('min')">+</div>
        </div>
      </div>
      <div class="options_selector_wrapper">
        <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_MAX_CHOICES"></div>
        <div class="options_count_input_wrap">
          <div class="gray_button options_count_input_subtract" (click)="optionsCountDown()">-</div>
          <input class="options_count_input" type="number" [min]="1" [(ngModel)]="vote.maxChoices" />
          <div class="gray_button options_count_input_add" (click)="optionsCountUp()">+</div>
        </div>
      </div>

    </div>
  </div>
  <div class="line lightest_line" *ngIf="vote.type"></div>
  <div class="voting_platform_section" *ngIf="vote.type">
    <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_STEP3"
      [translateParams]="{stepNum: getStepNum(3)}"></div>

    <div class="double_cell_layout ten_px_margin_between section_padding">
      <div class="left_row add_bottom_borders">
        <div class="gray_toggle_box">
          <div class="table_cell">
            <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_AUTH_HARD_ID"></div>
            <div class="toggle_box_description" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_AUTH_HARD_ID_EXPLANATION"></div>
            <div class="toggle_box_icons">
              <div class="icon_wrapper">
                <div class="sprite sprite-id-kaart-small2x"></div>
              </div>
              <div class="icon_wrapper">
                <div class="sprite sprite-mobiil-id-small2x"></div>
              </div>
              <div class="icon_wrapper">
                <div class="sprite sprite-smart-id-small2x"></div>
              </div>
            </div>
          </div>
          <div class="table_cell">
            <cos-toggle value="VOTE_AUTH_TYPES.hard" off-value="VOTE_AUTH_TYPES.soft" model="vote.authType"
              cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate"></cos-toggle>
          </div>
        </div>
      </div>
      <div class="right_row add_bottom_borders">

        <div class="gray_toggle_box">
          <div class="table_cell">
            <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_DELEGATION"></div>
            <div class="toggle_box_description" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_DELEGATION_EXPLANATION"></div>
          </div>
          <div class="table_cell">
            <cos-toggle cos-disabled="(vote.authType == VOTE_AUTH_TYPES.hard)" model="vote.delegationIsAllowed"
              cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate"></cos-toggle>
          </div>
        </div>

        <div class="gray_toggle_box" *ngIf="(vote.authType == VOTE_AUTH_TYPES.hard)">
          <div class="toggle_box_warning">
            <div class="sprite sprite-icon-inputfield-error2x"></div>
            <span translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_NOTICE_DELEGATION_DISABLED_FOR_HARD_ID"></span>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="line lightest_line" *ngIf="vote.type"></div>

  <div class="voting_platform_section" *ngIf="vote.type">
    <div class="voting_platform_section_title" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_STEP4"
      [translateParams]="{stepNum: getStepNum(4)}"></div>
    <div class="voting_platform_section_description" translate="VIEWS.TOPICS_TOPICID.VOTE_HEADING_STEP4_DESCRIPTION">
    </div>
    <div class="double_cell_layout ten_px_margin_between margin_betwen_boxes ten_px_padding">
      <div class="left_row add_bottom_borders">
        <div class="gray_toggle_box">
          <div class="table_cell">
            <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_DEADLINE"></div>
          </div>
          <div class="table_cell">
            <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
              [model]="deadline" (click)="deadline = !deadline"></cos-toggle><!--cos-toggle-datepicker-toggle="true"-->
          </div>
        </div>
        <div class="picker_content" [ngClass]="deadline ? 'active' : ''" *ngIf="deadline">
          <div class="bubble_content">

            <div class="bubble_section">

              <div class="bubble_description">
                <div class="picker_deadline_date">
                  {{getDeadline() | amDateFormat:'L LT Z'}}
                </div>
                <div class="picker_days_left" translate="VIEWS.TOPICS_TOPICID.VOTE_TXT_DEADLINE_CALENDAR_DAYS_LEFT"
                  [translateParams]="{numberOfDaysLeft: numberOfDaysLeft}">
                </div>
                <div class="clearer"></div>
              </div>
            </div>
            <div class="double_cell_layout">
              <div class="left_row gray_toggle_box">
                <div class="set_vote_time_wrap">
                  <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_TIME">Set a time</div>
                  <div class="input_row">
                    <input class="time_input" [(ngModel)]="endsAt.h" (change)="formatTime(endsAt.h); setEndsAtTime()"
                      type="number" min="0" max="{{HCount}}" step="1" /><span class="time_separator">:</span><input
                      type="number" class="time_input" min="0" max="60" step="5" [(ngModel)]="endsAt.min"
                      (change)="formatTime(endsAt.min);setEndsAtTime()" />

                    <div [cosDropdown] class="classic_dropdown">

                      <div class="dropdown_selection">
                        <div class="dropdown_text">
                          {{'VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_'+endsAt.timeFormat |
                          uppercase | translate}}
                        </div>

                        <div class="arrow_holder">
                          <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                          </div>
                        </div>
                      </div>

                      <div class="dropdown">

                        <div class="dropdown_item">

                          <div class="item_names_wrap">
                            <div class="item_name" translate="VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_24"
                              (click)="endsAt.timeFormat = 24; setTimeFormat()">
                              24 hr clock
                            </div>
                            <div class="item_name" translate="VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_AM"
                              (click)="endsAt.timeFormat = 'AM'; setTimeFormat()">
                              AM
                            </div>
                            <div class="item_name" translate="VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_PM"
                              (click)="endsAt.timeFormat = 'PM'; setTimeFormat()">
                              PM
                            </div>
                          </div>

                          <div class="clearer"></div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="set_vote_timezone_wrap">
                  <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_TIMEZONE">Set a time</div>
                  <div class="input_row">
                    <div [cosDropdown] class="classic_dropdown timezone_dropdown">

                      <div class="dropdown_selection">
                        <div class="dropdown_text">
                          {{getTimeZoneName(endsAt.timezone)}}
                        </div>

                        <div class="arrow_holder">
                          <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                          </div>
                        </div>
                      </div>

                      <div class="dropdown">

                        <div class="dropdown_item" [ngClass]="zone === endsAt.timezone ? 'bold' : ''"
                          *ngFor="let zone of timezones">
                          <div class="item_names_wrap">
                            <div class="item_name" (click)="endsAt.timezone = zone.value;setEndsAtTime()">
                              {{zone.name}}
                            </div>
                          </div>
                          <!--div class="item_props">
                                                      404 topics
                                                  </div-->
                          <div class="clearer"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right_row gray_toggle_box">
                <div class="toggle_box_title datepicker_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_DATE">Set
                  date</div>
                <div (click)="setEndsAtTime()" class="date_picker_wrap" date-picker="endsAt.date"
                  min-date="datePickerMin" max-view="date" min-view="date"
                  template="/views/directives/date_picker.html"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="double_cell_layout ten_px_margin_between margin_betwen_boxes section_padding"
      *ngIf="deadline && isVisibleReminderOption(reminderOptions[0])">
      <div class="left_row">
        <div class="gray_toggle_box">
          <div class="table_cell">
            <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_VOTE_REMINDER"></div>
            <div class="toggle_box_description" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_VOTE_REMINDER_EXPLANATION">
            </div>
            <div class="table_cell" *ngIf="reminder">
              <div [cosDropdown] class="classic_dropdown">
                <div class="dropdown_selection">
                  <div class="dropdown_text">{{selectedReminderOption()}}</div>

                  <div class="arrow_holder">
                    <div class="table_cell">
                      <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                      <div class="v_line"></div>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <ng-container *ngFor="let option of reminderOptions">
                    <div class="dropdown_item" *ngIf="isVisibleReminderOption(option)">
                      <div class="item_name" (click)="setVoteReminder(option)">{{'OPTION_' + option.value + '_'+
                        option.unit.toUpperCase() | translate}}</div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="table_cell">
            <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
              [model]="reminder" (click)="reminder = !reminder"></cos-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="double_cell_layout ten_px_margin_between margin_betwen_boxes section_padding">
      <div class="left_row">
        <div class="gray_toggle_box">
          <div class="table_cell">
            <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_ALL_VOTES_ARE_IN">All votes are in
            </div>
            <div class="toggle_box_description" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_ALL_VOTES_ARE_IN_EXPLANATION">
              WHEN EVERY USER IN THE TOPIC HAS VOTED, THE VOTE SYSTEM CLOSES.</div>
          </div>
          <div class="table_cell">
            <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
              [model]="vote.autoClose.allMembersVoted.enabled"
              (click)="vote.autoClose.allMembersVoted.enabled = !vote.autoClose.allMembersVoted.enabled"></cos-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line lightest_line" *ngIf="vote.type"></div>

  <div class="voting_platform_section" *ngIf="vote.type">

    <div class="blue_button aqua_marine_background black_text" (click)="createVote()">
      <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.VOTE_BTN_CREATE_VOTE"></div>
    </div>

  </div>


</div>