@use "mixins";

.dialog {
  max-width: 560px;

  .dialog_header {
    .title {
      color: var(--color-text);
    }
  }
  .dialog_tabs_wrap {
    @include mixins.mobile {
      background-color: var(--color-argument-pro-light);
      padding: 16px;
    }
  }
  .dialog_content {
    gap: 16px;
    padding: 24px;

    @include mixins.mobile {
      padding: 16px;
    }

    .introduction_wrap {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .intro_heading {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .dialog_info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .row {
        span {
          line-height: 20px;
        }
      }
    }
  }
  .dialog_footer {
    @include mixins.mobile {
      gap: 16px;
      flex-direction: column-reverse;

      button {
        width: 100%;
      }
    }
  }
}

.vote_options_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .radio_wrap {
    width: calc(50% - 8px);
  }

  .description_text,
  .input_area {
    width: 100%;
  }
}

.cdk-drag-preview {
  z-index: 999999 !important;
}

.input_area {
  justify-content: space-between;
  .actions_wrap {
    display: flex;
    align-items: center;
    gap: 8p;
  }

  .icon_drag {
    cursor: move;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  input {
    background-color: var(--color-surfaces);
  }
  button {
    width: max-content;
    padding: 8px 16px;
  }
  &.min_max_options {
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
  }

  .options_count_input_wrap {
    display: flex;
    gap: 8px;
    justify-self: flex-end;
    align-self: flex-end;
    vertical-align: middle;
    align-items: center;

    .options_count_input {
      display: flex;
      max-width: 64px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      text-align: center;
      border-radius: 8px;
      border: 1px solid var(--color-border);
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.dropdown.mobile_show {
  width: 100%;

  .selection {
    padding: 8px 16px;
  }
}

.radio_wrap {
  padding: 16px;
  border: 2px solid var(--color-argument-pro-light);
  border-radius: 8px;

  &.selected {
    background-color: var(--color-argument-pro-light);
  }
}

.btn_medium_plain {
  background-color: var(--color-surface-contrast);
}
#voting_question_wrap {
  border-radius: 8px;
}

.date_selector {
  width: 100%;

  .checkbox {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    .checkbox_text_wrap {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 40px);

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.deadline_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .date_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 24px;

    @include mixins.mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .date_row_title {
      min-width: 25%;
    }

    .input_wrap {
      flex-grow: 2;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      .time_wrap {
        display: flex;
        align-items: center;
        gap: 8px;

        @include mixins.mobile {
          width: 100%;
        }
      }

      .time_input {
        min-width: max-content;
        max-width: max-content;
      }

      .dropdown {
        width: 100%;
      }
    }
  }
}

.reminder_wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--color-argument-pro-medium);
  padding: 16px;
  gap: 8px;

  .dropdown {
    width: 100%;
  }

  .checkbox {
    .checkmark {
      background-color: var(--color-surfaces);
    }

    &.selected {
      .checkmark {

      background-color: var(--input-checkbox-background-default);
      }
    }
  }
}

.dialog_info_wrap {
  .dialog_info {
    .dialog_info_header {
      display: flex;
      background-color: var(--color-argument-pro-medium);
    }

    .dialog_info_content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      width: 100%;

      .radio_wrap {
        width: 100%;
        background-color: var(--color-surfaces);
      }
    }
  }
}

.id_icons_wrap {
  display: flex;
  justify-content: space-around;
}

.vote_info_reminder {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
}

.vote_option_ideas_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.idea_selection_wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-dialog-voting-contrast);
  padding: 16px;
  max-height: 240px;
  overflow: auto;
  gap: 16px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-voting-disabled);
    border-radius: 8px;
  }

  .line_separator {
    background: var(--color-dialog-voting-contrast);
  }
  .idea_selection_header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .checkbox_wrap {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    .likes_wrap {
      display: flex;
      gap: 0;
      align-items: center;
    }
  }

  .ideas_wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .folder_row_wrap {
    padding: 4px;
    &.open {
      background-color: var(--color-surface-contrast);
      margin-top: -4px;
      margin-bottom: -8px;
    }
    .folder_ideas_wrap {
      padding-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  .folder_row {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
    height: 24px;

    .checkbox_wrap {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    .votes {
      width: 40px;
    }

    .folder {
      color: var(--color-link);
      display: flex;
      gap: 8px;
      align-items: center;
    }
    .icon {
      display: flex;
      align-items: center;
    }
  }
  .idea_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 24px;

    .icon {
      display: flex;
      align-items: center;
    }
    .checkbox_wrap {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    .votes {
      width: 40px;
    }
    .statement {
      width: 100%;
      max-height: 16px;
      overflow: hidden;
    }
  }
}
