
.vote_options_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .radio_wrap {
    width: calc(50% - 8px);
  }

  .description_text,
  .input_area {
    width: 100%;
  }
}

.radio_text_wrap {
  width: 100%;

  .vote_options_wrap {
    .radio_wrap {
      background-color: var(--color-surfaces);
      border-color: var(--color-dialog-voting-contrast);
      &.selected {
        background-color: var(--color-argument-pro-light);
        border: none;
        padding: 17px;
      }
    }
  }
}

.input_area {

  input {
    background-color: var(--color-surfaces);
  }
  button {
    width: max-content;
    padding: 8px 16px;
  }
  &.min_max_options {
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
  }

  .options_count_input_wrap {
    display: flex;
    gap: 8px;
    justify-self: flex-end;
    align-self: flex-end;
    vertical-align: middle;
    align-items: center;

    .options_count_input {
      display: flex;
      max-width: 64px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      text-align: center;
      border-radius: 8px;
      border: 1px solid var(--color-border);
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.dropdown.mobile_show {
  width: 100%;

  .selection {
    padding: 8px 16px;
  }
}

.radio_wrap {
  padding: 16px;
  border-radius: 8px;

  &.selected {
    background-color: var(--color-argument-pro-light);
  }
}

.date_selector {
  width: 100%;
    max-width: 512px;
  .checkbox {
    width: 100%;

    .deadline {
      position: absolute;
      right: 0;
    }
  }
}

.deadline_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .date_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 24px;

    .date_row_title {
      min-width: 25%;
    }

    .input_wrap {
      flex-grow: 2;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: flex-end;

      .time_input {
        max-width: max-content;
      }

      .dropdown {
        width: 100%;
      }
    }
  }
}

.reminder_wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--color-argument-pro-medium);
  padding: 16px;
  gap: 8px;

  .dropdown {
    width: 100%;
  }

  .checkmark {
    background-color: var(--color-surfaces);
  }
  .checkbox input:checked ~ .checkmark {
    background-color: var(--input-checkbox-background-default);
  }
}

.dialog_info_wrap {
  .dialog_info {
    .dialog_info_header {
      display: flex;
      background-color: var(--color-argument-pro-medium);
    }

    .dialog_info_content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      width: 100%;

      .radio_wrap {
        width: 100%;
        background-color: var(--color-surfaces);
      }
    }
  }
}

.id_icons_wrap{
  display: flex;
  justify-content: space-around;
}
