.dialog {
  max-width: 560px;

  .dialog_content {
    gap: 16px;
  }
}

.vote_options_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .radio_wrap {
    width: calc(50% - 8px);
  }
}

.radio_wrap {
  padding: 16px;
  border: 2px solid var(--color-argument-pro-light);
  border-radius: 8px;

  &.selected {
    background-color: var(--color-argument-pro-light);
  }
}

.date_selector {
  width: 100%;

  .checkbox {
    width: 100%;

    .deadline {
      position: absolute;
      right: 0;
    }
  }
}

.deadline_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .date_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

    .input_wrap {
      flex-grow: 2;
      display: flex;
      gap: 8px;
      .time_input {
        max-width: max-content;
      }
    }
  }
}

.reminder_wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--color-argument-pro-medium);
  padding: 16px;
  gap: 8px;

  .dropdown {
    width: 100%;
  }
}

.dialog_info_wrap {
  .dialog_info {
    .dialog_info_header {
      display: flex;
      background-color: var(--color-argument-pro-medium);
    }

    .dialog_info_content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      width: 100%;

      .radio_wrap {
        width: 100%;
        background-color: var(--color-surfaces);
      }
    }
  }
}
