@use "mixins";

.dropdown {
  min-width: 160px;
}

.row_list {
  .row_cell {
    a {
      min-width: 200px;
    }
    .dropdown {
      @include mixins.mobile {
        width: calc(100% - 40px);
      }
    }
  }

  .remove_item_mobile {
    @include mixins.mobile {
      top: auto !important;
      bottom: 12px !important;
      right: 8px !important;
      background-color: initial !important;
    }
  }
}

.character_limit {
  font-size: 12px;
  width: 100%;
  text-align: right;

  span {
    font-size: 12px;
  }
}
