<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

  <div id="lightbox" class="wide_lightbox with_header_menu with_title_description">

    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.GROUP_INVITE_SHARE_HEADING"></div>
          <div class="title_description" *ngIf="group.id">{{group.name}}</div>
        </div>

        <div id="lightbox_close" class="ngdialog-close" mat-dialog-close>
          <div class="table_cell ngdialog-close">
            <div class="sprite sprite-btn-popup-close2x ngdialog-close">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

        <div class="header_row_wrap">
          <div class="header_row" slide-controller identifier="createGroupSlider">
            <div class="tab_button" *ngFor="let tab of tabs" (click)="tabSelected = tab.id"
              [ngClass]="tabSelected === tab.id ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="{{'MODALS.GROUP_CREATE_SETTINGS_TAB_'+tab.name}}"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="line lightest_line"></div>
      <!-- INVITE USERS -->
      <div class="lightbox_content settings_section_wrap padding_bottom_zero" *ngIf="tabSelected === 'users'">

        <div class="lightbox_section" *ngIf="canShare()">
          <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_INVITE_LBL_OPTIONAL_MESSAGE">
          </div>
          <textarea id="invite_body" class="gray_borders" [(ngModel)]="inviteMessage"
            [placeholder]="'MODALS.GROUP_CREATE_SETTINGS_INVITE_PLACHOLDER_OPTIONAL_MESSAGE' | translate"
            [maxlength]="inviteMessageMaxLength"></textarea>

          <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_INVITE_USERS"></div>

          <div class="searchbox_with_icon_and_text only_text">
            <div [cosDropdown] [ngClass]="{'search_with_dropdown dropdown_active' : resultCount}">
              <!--[items]="searchResultUsers$ | async"-->
              <typeahead id="userSearch" class="auto-complete"
                [term]="searchStringUser" (search)="search($event)" (select)="addGroupMemberUser($event)"
                [placeholder]="'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_SEARCH_BY_NAME_EMAIL' | translate">
                <div class="search_area_wrap">
                  <div class="search_dropdown_area" [ngClass]="{hidden: !resultCount}">
                    <div class="search_dropdown_item" [typeaheadItem]="user"
                      *ngFor="let user of searchResultUsers$ | async">
                      <div class="table_cell search_item_text">
                        <b>{{user.name}}</b> {{user.email}}
                      </div>
                      <div class="table_cell blue_link">
                        <span class="submit_link" (click)="addGroupMemberUser(user)"
                          translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search_text"
                  *ngIf="searchStringUser && !resultCount">
                  <div class="table_cell blue_link" (click)="addGroupMemberUser()"
                    translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD"></div>
                </div>

                <!--div-- class="search_text">
                  <div class="table_cell blue_link" (click)="addGroupMemberUser()"
                    translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD"></div>
                </!--div-->

              </typeahead>

            </div>
          </div>
        </div>

        <!-- INVALID INPUTS -->
        <div class="lightbox_section double_row_list user_list" *ngIf="invalid.length">
          <div class="category_title">
            <div class="input_text_margin_bottom  error_label">
              <div class="icon_notification_error_small"></div>
              <span translate="MODALS.TOPIC_SETTINGS_ERROR_MSG_INVALID_EMAILS_FOUND"></span>
            </div>
          </div>
          <table>
            <tr *ngFor="let email of invalid | keyvalue">
              <td>
                <input name="invalid" type="text" class="error_input" [(ngModel)]="email.value"
                  (keypress)="($event.which === 13)? addCorrectedEmail(email.value, email.key) : 0" />

                <div class="mobile_extra_info">
                  <div class="left">
                    <div class="light_gray_button" (click)="addCorrectedEmail(email.value, email.key)"
                      translate="MODALS.TOPIC_SETTINGS_BTN_ADD"></div>
                  </div>

                  <div class="right">
                    <div class="btn_wrap recycle_bin white_bg">
                      <div class="btn" (click)="removeInvalidEmail(email.key)">
                        <div class="table_cell">
                          <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                <div class="light_gray_button" (click)="addCorrectedEmail(email.value, email.key)"
                  translate="MODALS.TOPIC_SETTINGS_BTN_ADD"></div>
              </td>
              <td>
                <div class="btn_wrap recycle_bin white_bg">
                  <div class="btn" (click)="removeInvalidEmail(email.key)">
                    <div class="table_cell">
                      <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                      <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </div>

        <div class="lightbox_section double_row_list user_list" *ngIf="members.length">
          <div>
            <table>
              <tr *ngIf="members.length > 1">
                <td><span translate="MODALS.GROUP_CREATE_SETTINGS_LBL_CHANGE_ALL"></span>
                  <div class="mobile_extra_info">
                    <div class="left">

                      <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">

                        <div class="dropdown_selection">
                          <div class="dropdown_text">
                            {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                          </div>

                          <div class="arrow_holder">
                            <div class="table_cell">
                              <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                              <div class="v_line"></div>
                            </div>
                          </div>
                        </div>

                        <div class="dropdown">
                          <div class="dropdown_item" *ngFor="let level of LEVELS">
                            <div class="item_name" (click)="updateGroupLevel(level)">
                              {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="right">
                      <div class="btn_wrap recycle_bin white_bg">
                        <div class="btn" (click)="removeAllMembers()">
                          <div class="table_cell">
                            <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="canUpdate()">
                  <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">

                    <div class="dropdown_selection">
                      <div class="dropdown_text">
                        {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                      </div>

                      <div class="arrow_holder">
                        <div class="table_cell">
                          <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                          <div class="v_line"></div>
                        </div>
                      </div>
                    </div>

                    <div class="dropdown">
                      <div class="dropdown_item" *ngFor="let level of LEVELS">
                        <div *ngIf="level !=='none'" class="item_name" (click)="updateGroupLevel(level)">
                          {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="btn_wrap recycle_bin white_bg">
                    <div class="btn" (click)="removeAllMembers()">
                      <div class="table_cell">
                        <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                        <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <ng-container *ngFor="let title of memberGroups">
              <div class="category_title" *ngIf="itemsExist(title)">
                <div class="table_cell">
                  <span>{{"MODALS.TOPIC_SETTINGS_RESULT_GROUP_" + title | uppercase | translate}}</span>
                </div>
              </div>

              <table *ngIf="itemsExist(title)">
                <ng-container *ngFor="let member of members | keyvalue; index as i;">
                  <tr *ngIf="isOnPage(i, membersPage) && isInGroup(member.value, title)">
                    <td>
                      <div class="profile_image_wrapper dark">
                        <div class="profile_moon sprite"></div>
                        <div class="account_picture">
                          <img *ngIf="member.value.imageUrl" [src]="member.value.imageUrl">
                          <div class="profile_image_filler">
                            <cos-initials class="table_cell" [name]="member.value.name"></cos-initials>
                            <div class="profile_circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="name_wrap">
                        <div class="table_cell">
                          <div class="blue_link" (click)="doRemoveMemberUser(member.value)">{{member.value.name}}</div>
                          <div class="via">{{member.value.company}}</div>
                          <div class="via" translate="MODALS.TOPIC_SETTINGS_INVITE_EXPIRES"
                            [translateParams]="{expiresAt: (getExpiresAt() | amTimeAgo)}"></div>
                        </div>
                      </div>

                      <div class="mobile_extra_info">
                        <div class="left">
                          <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">

                            <div class="dropdown_selection">
                              <div class="dropdown_text">
                                {{'TXT_TOPIC_LEVELS_' + member.value.level | uppercase | translate}}
                              </div>

                              <div class="arrow_holder">
                                <div class="table_cell">
                                  <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                  <div class="v_line"></div>
                                </div>
                              </div>
                            </div>

                            <div class="dropdown">
                              <div class="dropdown_item" *ngFor="let level of LEVELS">
                                <div class="item_name" (click)="updateGroupMemberUserLevel(member.value, level)">
                                  {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="right">
                          <div class="btn_wrap recycle_bin white_bg">
                            <div class="btn">
                              <div class="table_cell">
                                <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>

                    <td>
                      <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">

                        <div class="dropdown_selection">
                          <div class="dropdown_text">
                            {{'TXT_TOPIC_LEVELS_' + member.value.level | uppercase | translate}}
                          </div>

                          <div class="arrow_holder">
                            <div class="table_cell">
                              <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                              <div class="v_line"></div>
                            </div>
                          </div>
                        </div>

                        <div class="dropdown">
                          <div class="dropdown_item" *ngFor="let level of LEVELS">
                            <div class="item_name" (click)="updateGroupMemberUserLevel(member.value, level)">
                              {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="btn_wrap recycle_bin white_bg">
                        <div class="btn" (click)="doRemoveMemberUser(member.value)">
                          <div class="table_cell">
                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </ng-container>
            <cos-pagination class="pagination" (select)="loadPage($event)" [totalPages]="totalPages(members)"
              [page]="membersPage"></cos-pagination>
          </div>


        </div>

      </div>

      <!-- SHARE -->
      <group-share [group]="group" class="lightbox_content invite_url" *ngIf="tabSelected === 'share'"></group-share>

      <div class="lightbox_footer" *ngIf="canShare() && tabSelected === 'users'">

        <div class="line lightest_line"></div>
        <div class="blue_button_wrap">
          <div class="blue_button" [cosDisabled]="!members.length" (click)="doSaveGroup()"
            translate="MODALS.GROUP_CREATE_SETTINGS_BTN_SAVE_GROUP_AND_INVITE"></div>
        </div>
      </div>
    </div>

  </div>

  <div id="close_lightbox" class="ngdialog-close" mat-dialog-close></div>

</div>
