#login_form_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    input, button {
      width: 100%;
    }
  }
}

.icons_wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;

  a.login_icon {
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-color: #f9fbfd;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 48px;

    .icon_login_facebook {
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23F9FBFD' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.626 30V20.8769H24.8425L25.3244 17.3212H21.626V15.0515C21.626 14.0222 21.9267 13.3208 23.4769 13.3208L25.4545 13.3202V10.1399C25.1121 10.0969 23.9386 10 22.573 10C19.7219 10 17.7699 11.6569 17.7699 14.6998V17.3212H14.5454V20.8769H17.7699V30' fill='%231877F2' /%3E%3C/svg%3E");
      width: 40px;
      height: 40px;
    }

    .icon_login_google {
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23F9FBFD' /%3E%3Cpath d='M20.625 12.575C23.0896 12.575 24.7521 13.6396 25.7 14.5292L29.4042 10.9125C27.1292 8.79792 24.1687 7.5 20.625 7.5C15.4916 7.5 11.0582 10.4459 8.8999 14.7334L13.1437 18.0292C14.2083 14.8646 17.1541 12.575 20.625 12.575Z' fill='%23EA4335' /%3E%3Cpath d='M33.2251 20.917C33.2251 19.8378 33.1376 19.0503 32.948 18.2336H20.625V23.1045H27.8584C27.7125 24.3149 26.925 26.1379 25.175 27.3629L29.3167 30.5712C31.7959 28.2816 33.2251 24.9128 33.2251 20.917Z' fill='%234285F4' /%3E%3Cpath d='M13.1584 23.2214C12.8813 22.4048 12.7209 21.5298 12.7209 20.6256C12.7209 19.7214 12.8813 18.8464 13.1438 18.0297L8.90001 14.7339C8.01042 16.5131 7.5 18.511 7.5 20.6256C7.5 22.7402 8.01042 24.7381 8.90001 26.5173L13.1584 23.2214Z' fill='%23FBBC05' /%3E%3Cpath d='M20.625 33.7504C24.1688 33.7504 27.1438 32.5837 29.3168 30.5712L25.1751 27.3629C24.0667 28.1358 22.5792 28.6754 20.625 28.6754C17.1542 28.6754 14.2083 26.3858 13.1583 23.2212L8.91455 26.517C11.0729 30.8046 15.4917 33.7504 20.625 33.7504Z' fill='%2334A853' /%3E%3C/svg%3E");
      width: 40px;
      height: 40px;
    }

    .icon_login_esteid {
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23F9FBFD' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.772 30H20.0546V27.6471H17.772V30ZM21.1959 30H23.4785V27.6471H21.1959V30ZM17.772 26.4706H20.0546V24.1176H17.772V26.4706ZM21.1959 26.4706H23.4785V24.1176H21.1959V26.4706ZM17.772 22.9412H20.0546V20.5882H17.772V22.9412ZM21.1959 22.9412H23.4785V20.5882H21.1959V22.9412ZM17.772 19.4118H20.0546V17.0588H17.772V19.4118ZM21.1959 19.4118H23.4785V17.0588H21.1959V19.4118ZM17.772 15.8824H20.0546V13.5294H17.772V15.8824ZM21.1959 15.8824H23.4785V13.5294H21.1959V15.8824ZM17.772 12.3529H20.0546V10H17.772V12.3529ZM21.1959 12.3529H23.4785V10H21.1959V12.3529ZM28.0437 12.3529H30.3263V10H28.0437V12.3529ZM24.6198 12.3529H26.9024V10H24.6198V12.3529ZM28.0437 15.8824H30.3263V13.5294H28.0437V15.8824ZM31.4676 15.8824H33.7502V13.5294H31.4676V15.8824ZM24.6198 15.8824H26.9024V13.5294H24.6198V15.8824ZM28.0437 19.4118H30.3263V17.0588H28.0437V19.4118ZM31.4676 19.4118H33.7502V17.0588H31.4676V19.4118ZM28.0437 22.9412H30.3263V20.5882H28.0437V22.9412ZM31.4676 22.9412H33.7502V20.5882H31.4676V22.9412ZM24.6198 26.4706H26.9024V24.1176H24.6198V26.4706ZM28.0437 26.4706H30.3263V24.1176H28.0437V26.4706ZM31.4676 26.4706H33.7502V24.1176H31.4676V26.4706ZM24.6198 30H26.9024V27.6471H24.6198V30ZM28.0437 30H30.3263V27.6471H28.0437V30Z' fill='%23006CBF' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 30H9.78261V27.6471H7.5V30ZM10.9239 30H13.2065V27.6471H10.9239V30ZM7.5 26.4706H9.78261V24.1176H7.5V26.4706ZM10.9239 26.4706H13.2065V24.1176H10.9239V26.4706ZM7.5 22.9412H9.78261V20.5882H7.5V22.9412ZM10.9239 22.9412H13.2065V20.5882H10.9239V22.9412ZM7.5 19.4118H9.78261V17.0588H7.5V19.4118ZM10.9239 19.4118H13.2065V17.0588H10.9239V19.4118ZM7.5 15.8824H9.78261V13.5294H7.5V15.8824ZM10.9239 15.8824H13.2065V13.5294H10.9239V15.8824ZM7.5 12.3529H9.78261V10H7.5V12.3529ZM10.9239 12.3529H13.2065V10H10.9239V12.3529Z' fill='%23F5762D' /%3E%3C/svg%3E");
      width: 40px;
      height: 40px;
    }

    .icon_login_smart_id {
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23F9FBFD' /%3E%3Cpath d='M23.5454 14.9023C23.5454 15.4585 23.1137 15.8911 22.5588 15.8911C22.0039 15.8911 21.5723 15.4585 21.5723 14.9023C21.5723 14.3462 22.0039 13.9136 22.5588 13.9136C23.1137 13.9136 23.5454 14.3462 23.5454 14.9023Z' fill='%2300AFAA' /%3E%3Cpath d='M27.6766 31.2163C27.43 31.2163 27.1834 31.0927 27.0292 30.9073C26.7826 30.5674 26.8442 30.073 27.1834 29.7949C30.2972 27.5084 32.1469 23.8624 32.1469 20C32.1778 13.3258 26.7209 7.85674 20.0001 7.85674C19.4143 7.85674 18.8285 7.88764 18.2428 7.98034V25.1601C18.2428 25.5927 17.9037 25.9326 17.4412 25.9326C17.0096 25.9326 16.6396 25.5927 16.6396 25.1601V7.30056C16.6396 6.92978 16.9171 6.58989 17.2871 6.52809C18.1811 6.3427 19.0752 6.25 20.0001 6.25C27.5842 6.25 33.7501 12.3989 33.7501 19.9691C33.7501 24.3258 31.6537 28.4663 28.1391 31.0309C27.9849 31.1854 27.8308 31.2163 27.6766 31.2163Z' fill='%2300AFAA' /%3E%3Cpath d='M20 33.7507C12.4159 33.7507 6.25 27.5709 6.25 20.0316C6.25 15.6749 8.34641 11.5344 11.861 8.9698C12.2309 8.69171 12.7242 8.7844 12.9709 9.12429C13.2175 9.46418 13.1558 9.95856 12.8167 10.2367C9.67209 12.4923 7.82231 16.1692 7.82231 20.0316C7.82231 26.7367 13.2791 32.1749 20 32.1749C20.5858 32.1749 21.1715 32.144 21.7573 32.0513V20.7732C21.7573 20.3406 22.0964 20.0007 22.5589 20.0007C22.9905 20.0007 23.3604 20.3406 23.3604 20.7732V32.7001C23.3604 33.0709 23.083 33.4108 22.713 33.4726C21.8189 33.658 20.9249 33.7507 20 33.7507Z' fill='%2300AFAA' /%3E%3C/svg%3E");
      width: 40px;
      height: 40px;
    }
  }
}

#login_email_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  input {
    width: 100%;
  }

  #login_button {
    margin: 36px 0;
  }
}
