<div class="form_wrap">
  <form name="passwordForgotForm" [formGroup]="passwordForgotForm" (ngSubmit)="doPasswordReset()" novalidate>
    <input id="email" formControlName="email" [placeholder]="'COMPONENTS.PASSWORD_FORGOT.PLACEHOLDER_EMAIL' | translate"
      [ngClass]="{'error_input': errors?.email}" required>
    <label for="email" class="error_label" *ngIf="errors?.email">
      <div class="icon_notification_error_small"></div>
      <span translate="{{errors.email}}"></span>
    </label>
    <button type="submit" [disabled]="passwordForgotForm.invalid" class="btn_big_submit"
      translate="COMPONENTS.PASSWORD_FORGOT.SEND_RESET"></button>
  </form>

</div>
