#password_forgot_form_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  form {
    min-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    input,
    button {
      width: 100%;
    }
  }
}
