
#register_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  max-width: 400px;

  a {
    width: max-content;
  }

  h1,
  p {
    text-align: center;
  }
}