<div id="register_page">
  <div class="register_page_section">
    <div class="logo_container">
      <div class="login_logo"></div>
    </div>
    <div class="illustration_container">
      <div class="illustration_cos_all_features"></div>
    </div>
  </div>
  <div class="register_page_section">
    <div id="register_form_wrap">
      <a class="btn_medium_light" [routerLink]="['/']">
        <div class="icon_general_arrow_long_left"></div> <span class="bold" translate="VIEWS.LOGIN.BTN_BACK"></span>
      </a>
      <h1 translate="VIEWS.REGISTER.REGISTER_TITLE"></h1>
      <div translate="VIEWS.REGISTER.REGISTER_DESCRIPTION"></div>
      <register-form></register-form>
    </div>
  </div>
</div>

<!-- LIGHTBOX SKELETON >
<div-- id="root_lightbox">
  <div id="lightbox" class="wide_lightbox with_title_description">
    <div id="lightbox_wrap">
      <form name="signUpForm" [formGroup]="signUpForm">
        <div id="lightbox_header">

          <div *ngIf="!isInviteFlowSignUp" id="lightbox_header_text">
            <div class="title" translate="MODALS.SIGN_UP_HEADING"></div>
            <div class="title_description_register" translate="MODALS.SIGN_UP_HEADING_DESCRIPTION"></div>
          </div>

          <div *ngIf="isInviteFlowSignUp" id="lightbox_header_text">
            <div class="title" translate="MODALS.SIGN_UP_INVITE_FLOW_HEADING"></div>
            <div class="title_description_register" translate="MODALS.SIGN_UP_INVITE_FLOW_HEADING_DESCRIPTION"></div>
          </div>

          <div id="lightbox_close" mat-dialog-close>
            <div class="table_cell">
              <div class="sprite sprite-btn-popup-close2x">
              </div>
            </div>
          </div>
          <div class="line lightest_line"></div>
        </div>
        <div class="lightbox_content">
          <div id="sign_up_lightbox">
            <div class="lightbox_section">
              <div class="settings_section">
                <div class="settings_cell">
                  <div class="setting_title" translate="MODALS.SIGN_UP_LBL_TERMS_AND_CONDITIONS"></div>
                  <div class="setting_description" translate="MODALS.SIGN_UP_LBL_TERMS_AND_CONDITIONS_DESCRIPTION">
                  </div>
                  <div>
                    <div class="policy_links">
                      <div class="policy_link_wrap">
                        <a class="policy_link" target="_blank" [href]="config.termsOfUse">
                          <div class="section_icon">
                            <div class="table_cell">
                              <div class="sprite sprite-bullet-arrow-blue2x"></div>
                            </div>
                          </div>
                          <span translate="MODALS.PRIVACY_POLICY_LNK_TERMS_OF_USE"></span>
                        </a>
                      </div>
                      <div class="policy_link_wrap">
                        <a class="policy_link" target="_blank" [href]="config.privacyPolicy">
                          <div class="section_icon">
                            <div class="table_cell">
                              <div class="sprite sprite-bullet-arrow-blue2x"></div>
                            </div>
                          </div>
                          <span translate="MODALS.PRIVACY_POLICY_LNK_PRIVACY_POLICY"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="settings_cell">
                  <cos-toggle [cosToggleTextOn]="'TOGGLE_ON' | translate" [cosToggleTextOff]="'TOGGLE_OFF' | translate"
                    [(model)]="agreeToTerms" (click)="toggleTerms()"></cos-toggle>
                </div>
              </div>
              <label class="error_label" *ngIf="errors.terms && !signUpForm.get('agreeToTerms')">
                <div class="table_cell">
                  <div class="sprite sprite-icon-inputfield-error2x"></div>
                  <span translate="{{errors.terms}}"></span>
                </div>
              </label>

              <div class="settings_section">
                <div class="settings_cell">
                  <div class="setting_title" translate="MODALS.SIGN_UP_LBL_SHOW_IN_SEARCH"></div>
                  <div class="setting_description" translate="MODALS.SIGN_UP_LBL_SHOW_IN_SEARCH_DESCRIPTION"></div>
                </div>

                <div class="settings_cell">
                  <cos-toggle [cosToggleTextOn]="'TOGGLE_ON' | translate" [cosToggleTextOff]="'TOGGLE_OFF' | translate"
                    [(model)]="preferences.showInSearch"></cos-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lightbox_footer login_footer">
          <div class="line lightest_line"></div>
          <div class="lightbox_section">
            <div class="footer_button_wrap"></div>
            <div class="footer_button_wrap right">
              <a class="footer_link" [routerLink]="['/account/login']" translate="MODALS.SIGN_UP_HAVE_AN_ACCOUNT"></a>
              <button type="submit" (click)="doSignUp()" [disabled]="signUpForm.invalid"
                class="blue_button login_button" translate="MODALS.SIGN_UP_BTN_SAVE"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="close_lightbox" mat-dialog-close>
  </div>

</div-->
