<div id="register_wrap">
  <a class="btn_medium_light" [routerLink]="['/']">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10.4533 6.31262C10.8529 5.89579 11.5009 5.89579 11.9006 6.31262C12.3003 6.72945 12.3003 7.40527 11.9006 7.8221L8.91837 11L19 11C19.5652 11 20 11.4108 20 12.0003C20 12.5897 19.5652 12.9824 19 12.9824L8.91837 12.9824L11.9006 16.1779C12.3003 16.5947 12.3003 17.2705 11.9006 17.6874C11.5009 18.1042 10.8529 18.1042 10.4533 17.6874L5 12L10.4533 6.31262Z"
        fill="#2C3B47" />
    </svg>
    <span class="bold" translate="VIEWS.REGISTER.BTN_BACK"></span>
  </a>
  <div class="main_heading" translate="VIEWS.REGISTER.REGISTER_TITLE"></div>
  <div class="description" translate="VIEWS.REGISTER.REGISTER_DESCRIPTION">
    <div class="tooltip" tooltip>
      <div class="content_title" translate="VIEWS.REGISTER.TOOLTIP_TITLE"></div>
      <div class="content_description" translate="VIEWS.REGISTER.TOOLTIP_DESCRIPTION"></div>
      <div class="tooltip_footer">
        <a target="_blank" href="https://citizenos.com/about-us/">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 12V14L19 11.5L15 9V11H6V12H15Z" fill="#A7D1F3" />
          </svg>
          <span [innerHTML]="'VIEWS.REGISTER.TOOLTIP_LNK_ABOUT' | translate"></span>
        </a>
      </div>
    </div>
  </div>
  <register-form [redirectSuccess]="redirectSuccess" [email]="email"></register-form>
</div>