<div class="overlay" dialog-close></div>
<div class="dialog_wrap">
  <div id="notification_wrap_dialog" class="mobile_hidden">
    <notification></notification>
  </div>
  <div class="dialog">
    <div id="notification_wrap_dialog" class="mobile_show">
      <notification></notification>
    </div>
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title" translate="MODALS.TOPIC_IDEA_REACTIONS_HEADING"></h4>
        <div class="dialog_close">
          <a class="btn_dialog_close icon" dialog-close>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.72152 6.29537C7.3277 5.90154 6.68919 5.90154 6.29537 6.29537C5.90154 6.68919 5.90154 7.3277 6.29537 7.72153L10.5738 12L6.29541 16.2785C5.90159 16.6723 5.90159 17.3108 6.29541 17.7046C6.68923 18.0985 7.32774 18.0985 7.72156 17.7046L12 13.4262L16.2784 17.7046C16.6723 18.0985 17.3108 18.0985 17.7046 17.7046C18.0984 17.3108 18.0984 16.6723 17.7046 16.2785L13.4262 12L17.7046 7.72153C18.0985 7.3277 18.0985 6.68919 17.7046 6.29537C17.3108 5.90154 16.6723 5.90154 16.2785 6.29537L12 10.5739L7.72152 6.29537Z"
                fill="#2C3B47" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="dialog_content">
      <div class="content_section">
        <div class="section_content_wrap table_section">
          <ng-container *ngIf="voteItems| async as members">
            <div *ngIf="!members.length" translate="MODALS.TOPIC_IDEA_REACTIONS_NO_REACTIONS_YET"></div>
            <ng-container *ngFor="let member of members | keyvalue">
              <div class="row_list" *ngIf="isOnPage(member.key, page)">
                <div class="row_cell">
                  <div class="profile_image_wrap">
                    <img class="profile_image" *ngIf="member.value.imageUrl" [src]="member.value.imageUrl">
                    <div class="profile_image_filler" *ngIf="!member.value.imageUrl">
                      <cos-initials class="table_cell" *ngIf="member.value.name" [name]="member.value.name">
                      </cos-initials>
                    </div>
                  </div>
                  <a class="user_name" [innerHtml]>{{member.value.name}}</a>
                </div>
                <div class="row_cell">
                  <svg *ngIf="member.value.vote === 'down'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.92912 13.8337C7.16275 14.6852 5.75 14.1431 5.75 12.9975L5.75 10.0505L2 10.0505C1.0335 10.0505 0.25 9.26697 0.249999 8.30047L0.249999 7.51708C0.249999 7.26726 0.303483 7.02034 0.406861 6.79292L2.55077 2.07631C2.83474 1.45157 3.45766 1.05047 4.14391 1.05047L11.25 1.05071L11.25 10.1438L7.92912 13.8337ZM12.75 10.0508L13.5 10.0508C14.4665 10.0508 15.25 9.26728 15.25 8.30078L15.25 2.80078C15.25 1.83428 14.4665 1.05078 13.5 1.05078L12.75 1.05076L12.75 10.0508Z"
                      fill="#2C3B47" />
                  </svg>

                  <svg *ngIf="member.value.vote === 'up'" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.57088 1.46709C8.33725 0.61557 9.75 1.15769 9.75 2.30329V5.25032H13.5C14.4665 5.25032 15.25 6.03382 15.25 7.00032V7.78371C15.25 8.03352 15.1965 8.28044 15.0931 8.50787L12.9492 13.2245C12.6653 13.8492 12.0423 14.2503 11.3561 14.2503L4.25 14.2501V5.15696L7.57088 1.46709ZM2.75 5.25H2C1.0335 5.25 0.25 6.0335 0.25 7V12.5C0.25 13.4665 1.0335 14.25 2 14.25L2.75 14.25V5.25Z"
                      fill="#2C3B47" />
                  </svg>

                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="dialog_content no_footer" *ngIf="totalPages > 1">
      <div class="info_row">
        <cos-pagination class="pagination" (select)="loadPage($event)" [totalPages]="totalPages"
          [page]="page"></cos-pagination>
      </div>
    </div>
  </div>
</div>
