@use "mixins";

#create_idea_footer_menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-surfaces);
  border-radius: 16px 16px 0 0;
  width: inherit;
  z-index: 999;
  padding: 16px;
  position: fixed;
  bottom: 0;
  align-items: center;
  max-width: 872px;
  width: calc(100% - 567px);
  box-shadow: 0px -8px 20px 0px rgba(220, 231, 240, 0.1),
    0px -12px 16px 0px rgba(50, 85, 112, 0.04);

  @include mixins.tablet {
    max-width: 100%;
    display: none;
  }

  @include mixins.mobile {
    overflow-y: scroll;
  }

  .footer_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }
}

#create_idea_tablet_btn {
  display: none;
  @include mixins.tablet {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 64px;
    right: 8px;

    button {
      svg {
        position: absolute;
      }
    }
  }

  @include mixins.mobile {
    margin-top: -30px;
    margin-bottom: 0;
    margin-right: 0;
  }
}

#create_idea_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-surfaces);
  border-radius: 16px 16px 0 0;
  max-width: 872px;
  width: calc(100% - 567px);
  padding: 16px;
  z-index: 99999;
  // padding: 12px 16px;
  position: fixed;
  bottom: 0;
  gap: 16px;
  box-shadow: 0px -8px 20px 0px rgba(220, 231, 240, 0.1),
    0px -12px 16px 0px rgba(50, 85, 112, 0.04);
  overflow-y: auto;

  @include mixins.tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 8px;
    z-index: 9999999;
    max-width: 100%;
    width: 100%;
  }

  #buttons_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include mixins.mobile {
      flex-direction: column;
      gap: 8px;

      #navigate_create:first-child {
        order: 2;

        .btn_medium_wrapper {
          width: 100%;
          padding-top: 16px;
          margin-top: 8px;
          border-top: 1px solid var(--color-border);
        }
      }

      #navigate_create:last-child {
        order: 1;
      }

      .close_button {
        display: none;
      }
      .btn_medium_secondary,
      .btn_medium_submit,
      .btn_medium_submit_ghost,
      .btn_medium_error {
        width: 100%;
      }
    }

    #navigate_create {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: var(--color-surfaces);

      @include mixins.mobile {
        width: 100%;
        flex-direction: column;
      }
      #chars_left {
        @include mixins.mobile {
          display: none;
        }
      }
    }
  }
}

#post_idea_form_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .form_header {
    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    @include mixins.mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .form_header_actions {
    display: flex;
    gap: 8px;

    @include mixins.mobile {
      flex-direction: column;
    }
  }

  .form_header_expand_button {
    background-color: var(--color-surface-contrast);
    border-radius: 8px;
    padding: 8px 12px;
    gap: 5px;
    min-width: 120px;
  }

  .form_header_expand_icon {
    transition: transform 0.3s ease;
  }

  .form_header_expand_icon.rotated {
    transform: rotate(180deg);
  }

  .form_header_expand_icon {
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: var(--color-text);
  }

  #subject_counter {
    @include mixins.mobile {
      display: none;
    }
  }
  #idea_form {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &.expanded {
    #idea_form {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      height: calc(100vh - 200px);

      #idea_description {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
}

.overlay {
  background-color: rgba(44, 59, 71, 0.6);
}

#image_upload_input {
  width: 1px;
  height: 1px;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

.idea_images_wrap {
  display: flex;
  flex-direction: column;
  padding: 8px 12px 8px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background-color: var(--color-surface-contrast);

  .image {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    width: 100%;
    .image_data {
      display: flex;
      align-items: center;
      gap: 4px;

      @include mixins.mobile {
        flex-direction: column;
      }

      img {
        width: 80px;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
      }
    }
  }
}

.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form_header_title {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
#anonymous_info_wrap {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: right;
  padding: 8px 28px 8px 12px;
  gap: 8px;
  position: relative;
  border-radius: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--color-info-background);
}

.anonymous_info {
  display: flex;
  gap: 16px;

  cos-input,
  .dropdown_wrapper,
  .gender_wrapper {
    min-width: 0;
    flex-grow: 1;
    width: 100%;
  }

  .selected_item_placeholder {
    color: var(--color-argument-info);
  }

  .dropdown {
    .options {
      max-height: 200px;
    }

    .selection {
      padding: 12px 16px 10px 16px;
    }

    .error_input {
      border-color: var(--color-error);
    }
  }

  @include mixins.mobile {
    flex-direction: column;
  }
}

.gender_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .error_label {
    margin-top: 0;
  }
}

::ng-deep textarea.expanded + .EasyMDEContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep textarea.expanded + .EasyMDEContainer .CodeMirror {
  flex: 1 1 auto;
  min-height: 0;
}
