<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">
  <div id="lightbox" class="delete_comment">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_REPORT_REPORTID_REVIEW_HEADING"></div>
        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>

        <div class="confirm_description_wrap">
          <div class="confirm_description">
            <div class="confirm_description_under_text">
              <i>
                {{topic.title | cosEllipsis}}
              </i>
            </div>
          </div>
        </div>

        <div class="clearer"></div>

      </div>

      <div class="line lightest_line"></div>

      <!-- CONFIRM CONTENT -->
      <div class="lightbox_content">


        <div class="lightbox_section">
          <textarea class="gray_borders" [(ngModel)]="text" [ngClass]="{'error_input': errors?.text}"
            [placeholder]="'MODALS.TOPIC_REPORT_REPORTID_REVIEW_PLACEHOLDER_REPORT_TEXT' | translate"
            [maxlength]="2048"></textarea>
          <div class="error_label" *ngIf="errors?.text">
            <div class="table_cell">
              <div class="icon_notification_error_small"></div>
              <span translate="{{errors.text}}"></span>
            </div>
          </div>
        </div>


        <div class="line lightest_line"></div>

        <div class="lightbox_section confirm_area">
          <span translate="MODALS.TOPIC_REPORT_REPORTID_REVIEW_TXT_ARE_YOU_SURE"></span>

          <div class="yes_no_buttons">
            <div class="table_cell">
              <div class="gray_button no" [attr.disabled]="isLoading" mat-dialog-close
                translate="MODALS.TOPIC_REPORT_REPORTID_REVIEW_BTN_NO"></div>
            </div>
            <div class="table_cell">
              <div class="blue_button" [attr.disabled]="isLoading" (click)="doReview()"
                translate="MODALS.TOPIC_REPORT_REPORTID_REVIEW_BTN_YES"></div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>

  <div id="close_lightbox" mat-dialog-close>
  </div>

</div>
