<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

  <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_ACTIONS"></div>
          <div class="title_description">{{topic.title}}</div>
        </div>

        <div id="lightbox_close" class="ngdialog-close" mat-dialog-close>
          <div class="table_cell ngdialog-close">
            <div class="sprite sprite-btn-popup-close2x ngdialog-close">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

        <div class="header_row_wrap">
          <div class="header_row" slide-controller identifier="topicSettingsSlider">
            <div class="tab_button" (click)="selectTab('settings')"
              [ngClass]="tabSelected === 'settings' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_SETTINGS"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
            <div class="tab_button" *ngIf="canEdit()" (click)="selectTab('categories')"
              [ngClass]="tabSelected === 'categories' ? 'active' : ''">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_CATEGORIES"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="line lightest_line"></div>

      <!-- SETTINGS -->
      <div class="lightbox_content settings_section_wrap" *ngIf="tabSelected === 'settings'">


        <div class="lightbox_section">


          <div class="settings_section" *ngIf="canChangeVisibility()">
            <div class="settings_cell">
              <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_MAKE_PRIVATE"></div>
              <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_MAKE_PRIVATE_EXT"></div>
            </div>

            <div class="settings_cell">
              <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
                [(model)]="topic.visibility" [value]="VISIBILITY.private" [offValue]="VISIBILITY.public"></cos-toggle>
            </div>
          </div>

          <div class="line lightest_line" *ngIf="canChangeVisibility()"></div>

          <div class="settings_section" *ngIf="canEdit()">
            <div class="settings_cell">
              <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_HASHTAG"></div>
              <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_HASHTAG_EXT"></div>
            </div>
            <div class="settings_cell hashtag_cell">
              <div class="recycle_bin_wrap">
                <div (click)="doDeleteHashtag()" class="btn_wrap recycle_bin">
                  <div class="btn">
                    <div class="table_cell disabled_area">
                      <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                      <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                    </div>
                  </div>
                </div>
              </div>
              <input id="hashtag" name="hashtag" [(ngModel)]="topic.hashtag" (change)="checkHashtag()"
                placeholder="{{'MODALS.TOPIC_SETTINGS_PLACEHOLDER_HASHTAG' | translate}}"
                [ngClass]="{'error_input': errors.hashtag}">
              <div class="recycle_bin_wrap wrap_mobile">
                <div (click)="doDeleteHashtag()" class="btn_wrap recycle_bin">
                  <div class="btn">
                    <div class="table_cell disabled_area">
                      <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                      <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                    </div>
                  </div>
                </div>
              </div>
              <label for="hashtag" class="error_label" *ngIf="errors.hashtag">
                <div class="table_cell">
                  <div class="sprite sprite-icon-inputfield-error2x"></div>
                  <span translate="{{errors.hashtag}}"></span>
                </div>
              </label>
            </div>

          </div>
          <div class="line lightest_line" *ngIf="canSendToFollowUp() && canEdit()"></div>

          <div class="settings_section" *ngIf="canSendToFollowUp() && canEdit()">
            <div class="settings_cell">
              <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_DEADLINE"></div>
              <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_DEADLINE_EXT"></div>
            </div>
            <div class="settings_cell text-right">
              <span class="bold">{{topic.vote?.endsAt | amDateFormat:'L LT Z'}}</span>
            </div>
            <div class="settings_cell">
              <span class="item_link blue_link" translate="MODALS.TOPIC_SETTINGS_BTN_EDIT_DEADLINE" (click)="openSetDeadline()"></span>
              <!--modal-datepicker name="datepicker" [cosModalLinkText]="'MODALS.TOPIC_SETTINGS_BTN_EDIT_DEADLINE' | translate"
              [cosModalTitle]="'MODALS.TOPIC_SETTINGS_MODAL_DEADLINE_TITLE' | translate"
              [date]="topic.vote?.endsAt" (cosModalOnSave)="doEditVoteDeadline($event)"
              [cosModalDescription]="'MODALS.TOPIC_SETTINGS_MODAL_DEADLINE_DESCRIPTION' | translate"
              ><span translate="MODALS.TOPIC_SETTINGS_BTN_EDIT_DEADLINE"></span></!--modal-datepicker-->
            </div>
          </div>
          <div class="line lightest_line" *ngIf="canEdit()"></div>

          <div class="settings_section" *ngIf="canSendToFollowUp() && canEdit()">
            <div class="settings_cell">
              <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_REMINDER"></div>
              <div class="setting_description">
                <span translate="MODALS.TOPIC_SETTINGS_LBL_REMINDER_EXT"></span>
                <div [cosDropdown] class="classic_dropdown reminder_dropdown" *ngIf="reminder">
                  <div class="dropdown_selection">
                    <div class="dropdown_text">{{selectedReminderOption()}}</div>

                    <div class="arrow_holder">
                      <div class="table_cell">
                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                        <div class="v_line"></div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown">
                    <ng-container *ngFor="let option of reminderOptions">
                      <div class="dropdown_item" *ngIf="isVisibleReminderOption(option)">
                        <div class="item_name" (click)="setVoteReminder(option)">{{'OPTION_'
                          + option.value + '_'+ option.unit.toUpperCase() | translate}}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="settings_cell">
              <cos-toggle [cosToggleTextOn]="('TOGGLE_ON' | translate)" [cosToggleTextOff]="('TOGGLE_OFF' | translate)"
                [model]="reminder"></cos-toggle> <!--(click)="topic.vote.reminder = !topic.vote.reminder"-->
            </div>
          </div>
          <div class="line lightest_line" *ngIf="canEdit()"></div>

          <div class="settings_section" *ngIf="canLeave()">
            <div class="settings_cell">
              <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_LEAVE_TOPIC"></div>
              <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_LEAVE_TOPIC_EXT"></div>
            </div>

            <div class="settings_cell">
              <div class="gray_button" (click)="doLeaveTopic()" translate="MODALS.TOPIC_SETTINGS_BTN_LEAVE_TOPIC">
              </div>
            </div>

          </div>
          <div class="line lightest_line" *ngIf="canDelete()"></div>

          <div class="settings_section" *ngIf="canDelete()">
            <div class="settings_cell">
              <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_DELETE_TOPIC"></div>
              <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_DELETE_TOPIC_EXT"></div>
            </div>

            <div class="settings_cell">
              <div class="blue_button yes" (click)="doDeleteTopic()" translate="MODALS.TOPIC_SETTINGS_BTN_DELETE_TOPIC"></div>
            </div>
          </div>

        </div>

      </div>

      <!-- CATEGORIES -->
      <div class="lightbox_content categories_section_wrap" *ngIf="tabSelected === 'categories'">
        <div class="lightbox_section" *ngIf="canEdit()">
          <div class="tip" translate="MODALS.TOPIC_SETTINGS_TXT_ASSIGN_CATEGORIES"></div>
          <div class="selected_categories">
            <div class="category_wrap" *ngFor="let topicCategory of topic.categories"
              (click)="removeTopicCategory(topicCategory)">
              <div class="category_cell category_title">
                <span translate="{{'TXT_TOPIC_CATEGORY_' + topicCategory | uppercase}}"></span><!--translate-default="{{topicCategory}}" create missing translation handler https://github.com/ngx-translate/core#how-to-handle-missing-translations-->
              </div>
              <div class="category_cell category_control" (click)="removeTopicCategory(topicCategory)">
                <div class="sprite sprite-icon-category-delete2x"></div>
              </div>
            </div>
          </div>

          <div class="line lightest_line"></div>

          <div class="category_selection">
            <div class="category_wrap" *ngFor="let category of CATEGORIES"
              (click)="(topic.categories.indexOf(category) > -1) ? removeTopicCategory(category): addTopicCategory(category)"
              [ngClass]="{'category_selected': (topic.categories.indexOf(category) > -1)}">
              <div class="category_cell category_title">
                {{'TXT_TOPIC_CATEGORY_' + category | uppercase | translate}}
              </div>
              <div class="category_cell category_control">
                <div class="sprite desktop_fix"
                  [ngClass]="(topic.categories.indexOf(category) > -1) ? 'sprite-icon-category-delete2x' : 'sprite-icon-category-add2x'">
                </div>
                <div class="sprite mobile_fix"
                  [ngClass]="(topic.categories.indexOf(category) > -1) ? 'sprite-icon-category-delete2x' : 'sprite-icon-category-add2x-black'">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lightbox_footer" *ngIf="canEdit()">
        <div class="line lightest_line"></div>
        <div class="blue_button_wrap">
          <div class="blue_button" (click)="doSaveTopic()" translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC"></div>
        </div>
      </div>

    </div>
  </div>

  <div id="close_lightbox" class="ngdialog-close" mat-dialog-close>
  </div>

</div>
