<div class="pretend_td">
  <div class="profile_image_wrapper dark">
    <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></!--div-->
    <div class="account_picture">
      <img *ngIf="invite.user.imageUrl" [src]="invite.user.imageUrl">
      <div *ngIf="!invite.user.imageUrl" class="profile_image_filler">
        <cos-initials class="table_cell" [name]="invite.user.name"></cos-initials>
        <div class="profile_circle"></div>
      </div>
    </div>
  </div>
  <div class="name_wrap">
    <div class="table_cell smooth_gray">
        <div [textContent]="invite.user.name"></div>
        <div class="via">
            <span *ngIf="invite.user.email || invite.user.phoneNumber">
                {{invite.user.email}} {{invite.user.phoneNumber}}
            </span>
            <span>
                <span *ngIf="invite.user.email || invite.user.phoneNumber"> • </span>
                <span translate="VIEWS.MY_TOPICS_TOPICID.TXT_INVITE_PENDING"></span>
            </span>
        </div>
        <div class="via">
            <span *ngIf="invite.expiresAt" translate="VIEWS.PUBLIC_GROUP.INIVTE_EXPIRES"
                [translateParams]="{expiresAt: (invite.expiresAt | amTimeAgo)}"></span>
            <span *ngIf="invite.expiresAt < now()" class="red_text"
                translate="VIEWS.PUBLIC_GROUP.INVITE_EXPIRED"></span>
        </div>
    </div>
  </div>
</div>
<div class="pretend_td">
  <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</span>
  <!--div [cosDropdown] class="classic_dropdown disabled">
    <div class="dropdown_selection">
      <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</div>

      <div class="arrow_holder">
        <div class="table_cell">
          <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

          <div class="v_line"></div>
        </div>
      </div>
    </div>
  </!--div-->
</div>
<div class="pretend_td recycle_bin_wrap">
  <div class="btn_wrap recycle_bin" *ngIf="TopicService.canUpdate(topic)">
    <div class="btn" (click)="doDeleteInviteUser()">
      <div class="table_cell">
        <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
        <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
      </div>
    </div>
  </div>
</div>