@use "vars";

.vote_casting_wrap {
  padding: 20px;

  .vote_casting_header {
    margin-bottom: 11px;

    .vote_casting_header_section {
      height: 15px;
      display: table;
      font-size: 13px;

      &:first-child {
        float: left;
      }

      &:nth-child(2) {
        float: right;
      }

      @media (max-width: 1200px) {
        &:first-child {
          float: none;
          margin-bottom: 12px;
        }

        &:nth-child(2) {
          float: none;
        }
      }

      @media (max-width: 1024px) {
        &:first-child {
          float: left;
          margin-bottom: 0;
        }

        &:nth-child(2) {
          float: right;
        }
      }

      @media (max-width: 460px) {
        &:first-child {
          margin-bottom: 12px;
        }
        float: none !important;
      }

      .table_cell {
        height: inherit;

        .v_line {
          background: vars.$dark_gray;
          height: inherit;
          margin: 1px 7px 0;
        }

        .blue_link {
          font-size: 13px;
        }
      }
    }
  }

  .vote_casting_message {
    background: vars.$light_gray;
    padding: 20px 20px 21px;
    margin: 20px 0;
    position: relative;

    &.with_upper_right_links {
      @media (max-width: 1400px) {
        padding-bottom: 56px;
      }

      @media (max-width: 1024px) {
        padding-bottom: 21px;
      }

      @media (max-width: 850px) {
        padding-bottom: 56px;
      }
    }

    &.with_border {
      border: 5px solid vars.$aqua_marine;
    }

    .message_header {
      margin-bottom: 14px;

      .message_title {
        font-size: 16px;
        font-weight: bold;
        float: left;
        width: 60%;
      }

      .message_content {
        font-size: 14px;
        float: left;
        padding-top: 10px;
        width: 65%;
      }

      .float_wrap {
        position: relative;
        float: right;
        max-width: 40%;
        margin: 0;

        .icon_wrapper {
          float: right;
          clear: both;
          padding-bottom: 5px;
        }

        .sprite {
          margin-bottom: 0;
        }

        .blue_link {
          font-size: 13px;
          text-align: right;
        }
      }
    }

    .message_content {
      font-size: 14px;
      @media (max-width: 450px) {
        padding-top: 15px;
      }
    }

    .bar_select {
      margin-top: 20px;
      color: vars.$white;
      position: relative;
      display: inline-block;
      border-radius: 4px;
      text-align: left;
      background: vars.$deep_sky_blue;
      font-weight: 800;
      border: solid 1px vars.$dark_blue;
    }

    .icon_holder {
      height: 8px;
      display: inline-block;
      margin-left: 4px;
    }

    .bar_select {
      padding: 13px;
      cursor: pointer;

      .select_text {
        z-index: 2;
        position: relative;
      }

      .animated_bg_bar {
        z-index: 1;
        background: vars.$white;
        width: 0;
        position: absolute;
        height: 62px;
        top: 0;
        left: 0;
        transition: all 220ms cubic-bezier(0.45, 0.78, 0, 1);
        border-radius: 4px;
      }

      &:hover {
        .animated_bg_bar {
          width: 100%;
        }
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      width: 100%;
      background: vars.$white;
      left: 0;
      z-index: 1;
      margin-top: 10px;
      border-radius: 0 0 4px 4px;
      max-height: 500px;
      overflow-y: auto;
      min-width: 250px;

      .dropdown_item {
        font-weight: initial;
        font-size: 14px;
        padding: 5px 10px;
        box-sizing: border-box;
        color: vars.$black;

        &:nth-child(2) {
          padding-top: 10px;
        }

        &:last-child {
          padding-bottom: 10px;
        }

        &:hover {
          color: vars.$deep_sky_blue;
        }

        .item_name {
          float: left;
        }

        .item_props {
          float: right;
        }
      }
    }

    .dropdown.big_drop {
      margin-top: 13px;

      .dropdown_item {
        padding: 10px 15px;
        font-size: 16px;

        &:nth-child(2) {
          padding-top: 20px;
        }

        &:last-child {
          padding-bottom: 20px;
        }
      }
    }

    .dropdown_active {
      .animated_bg_bar {
        width: 100%;
      }
    }

    .dropdown_active .dropdown {
      display: block;
    }

    .voting_button {
      margin-top: 21px;
    }
  }

  .vote_casting_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    text-align: center;
    padding: 2em;

    h3 {
      line-height: 230px;
    }
  }

  .graph_wrap {
    border-left: 1px solid vars.$lightest_gray;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 100px 10px 0;
    box-sizing: border-box;
    margin-top: 30px;

    * {
      color-adjust: exact;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    .graph_row {
      position: relative;
      height: 40px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &.active {
        .graph_row_fill {
          background: vars.$aqua_marine;
        }
      }

      .graph_row_fill {
        background: vars.$side_panel_gray;
        height: 100%;
        width: 100%;
        position: relative;
      }

      .graph_row_text_wrap {
        display: table;
        height: 100%;
        width: 200px;
        min-width: 150px;
        position: absolute;
        right: -200px;
      }

      .graph_row_text {
        box-sizing: border-box;
        padding-left: 10px;
        font-size: 13px;
        line-height: 15px;
        text-align: left;
        word-wrap: break-word;
        width: 200px;
        min-width: 150px;
      }

      .bullet {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  .big_graph {
    margin-top: 30px;

    .graph_wrap {
      margin-top: 30px;

      .graph_row {
        .graph_row_fill {
          cursor: pointer;
          @media (min-width: 1025px) {
            &:hover {
              background: vars.$another_gray;
            }
          }
        }

        &.active {
          .graph_row_fill {
            @media (min-width: 1025px) {
              &:hover {
                background: vars.$aqua_marine_border_second;
              }
            }
          }
        }
      }
    }

    .long_text_holder {
      font-size: 14px;
      @media (max-width: 500px) {
        padding: 0;
      }

      .long_text {
        cursor: pointer;
        padding: 5px 3px;
        @media (max-width: 500px) {
          padding: 5px 5px 0;
        }

        &.active {
          color: vars.$aqua_marine_text;
          font-weight: vars.$bold;
        }

        @media (min-width: 1025px) {
          &:hover {
            background: vars.$side_panel_gray;
          }
        }
      }
    }
  }
}

.voting_platform_wrap.create_a_milestone_wrap {
  @extend .vote_casting_wrap;

  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10px;
    font-size: 13px;
  }

  input {
    margin-top: 20px;
  }

  textarea {
    margin-top: 10px;
    height: 150px;
    display: block;
  }

  label {
    margin-bottom: 20px;
  }

  .blue_button {
    margin-top: 15px;
  }

  .voting_platform_section:last-child {
    padding: 0;
  }
}

.milestones_in_descriptions_wrap {
  margin-bottom: 60px;

  @media (max-width: 760px) {
    margin-bottom: 50px;
  }
  @media (max-width: 425px) {
    margin-bottom: 40px;
  }

  .milestone_description {
    margin-top: 40px;
    @media (max-width: 760px) {
      margin-top: 30px;
    }

    .milestone_description_header {
      height: 28px;
      display: table;
      margin-left: 21px;
      margin-bottom: 5px;
      padding-right: 20px;

      @media (max-width: 760px) {
        margin-left: 39px;
      }

      @media (max-width: 425px) {
        margin-left: 19px;
      }

      @media print {
        margin-left: 0;
      }

      .milestone_number {
        font-size: 13px;
        font-weight: vars.$bold;
        line-height: 18px;
        margin-left: 12px;
        color: vars.$deep_sky_blue;
        @media (max-width: 760px) {
          margin-left: 7px;
        }
        @media (max-width: 425px) {
          margin-left: 3px;
        }
      }

      .v_line {
        background: vars.$medium_black;
        height: 15px;
        width: 1px;
        opacity: 0.7;
        margin: 1px 10px 0;
      }

      .milestone_date {
        font-size: 13px;
        opacity: 0.7;
      }

      .blue_link {
        font-size: 13px;
      }
    }

    .milestone_description_content {
      padding: 0 60px;
      @media (max-width: 760px) {
        padding: 0 40px;
      }
      @media (max-width: 425px) {
        padding: 0 20px;
      }

      .milestone_description_title {
        font-size: 36px;
        font-weight: vars.$bold;
        line-height: 40px;
        margin-bottom: 19px;
        word-break: break-word;

        @media (max-width: 760px) {
          font-size: 26px;
          line-height: 34px;
          margin-bottom: 10px;
        }
        @media (max-width: 425px) {
          font-size: 22px;
          line-height: 28px;
        }
      }

      .milestone_description_text {
        font-size: 16px;
        line-height: 28px;
        font-family: "Noto Sans", sans-serif;
        word-break: break-word;
        white-space: pre-line;

        @media (max-width: 760px) {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }
}