@use "mixins";

#add_attachment {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.btn_medium_plain {
  background-color: var(--color-info-background);
}
.dropdown {
  .button_options {
    button {
      justify-content: flex-start;
    }
  }
}

#title_wrap {
  justify-content: flex-start !important;
  gap: 16px;
}

.attachments_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .attachment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background-color: var(--color-background);

    .attachment_name_input {
      border: none;
      padding: 0;
      width: 100%;
      color: var(--color-link);
      background: var(--color-background);
    }
  }
}

.dropdown {
  .options {
    position: absolute;
    bottom: 48px;
    align-items: center;
    .option {
      div {
        height: 16px;
      }
    }
  }
}

.mobile_actions_wrap {
  left: 0;
  z-index: 99999999;
}
