
#add_attachment {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.dropdown {
  .button_options {
    button {
      justify-content: flex-start;
    }
  }
}

.attachments_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .attachment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 40px;
    background-color: var(--color-background);

    .attachment_name_input {
      border: none;
      padding: 0;
      width: 100%;
      color: var(--color-link);
      background: var(--color-background);
    }
  }
}