<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">
  <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_ATTACHMENTS_TITLE"></div>
          <div class="title_description">{{topic.title}}</div>
        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell ngdialog-close">
            <div class="sprite sprite-btn-popup-close2x ngdialog-close">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

      </div>


      <div class="line lightest_line"></div>

      <!-- INVITE USERS -->
      <div class="lightbox_content padding_bottom_zero">

        <div class="table file_upload_table">
          <div class="table_row">
            <div class="file_add_cell" *ngIf="config.upload">
              <!--cos-file-upload id="addFile" file-item="form.uploadfiles" , multiple="true"></!--cos-file-upload-->
              <div class="file_add_btn_wrap" (click)="uploadFile()">
                <div class="file_add_btn">
                  <div class="sprite sprite-topic-file-upload2x"></div>
                </div>
                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_COMPUTER">Computer</div>
              </div>
            </div>
            <div class="line_files_sepparator" *ngIf="config.upload"></div>
            <div class="file_add_cell" *ngIf="config.dropbox">
              <div class="file_add_btn_wrap" (click)="dropboxSelect()">
                <div class="file_add_btn">
                  <div class="sprite sprite-topic-file-dropbox2x"></div>
                </div>
                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_DROPBOX">Dropbox</div>
              </div>
            </div>
            <div class="line_files_sepparator" *ngIf="config.dropbox"></div>
            <div class="file_add_cell" *ngIf="config.googleDrive">
              <div class="file_add_btn_wrap" (click)="googleDriveSelect()">
                <div class="file_add_btn">
                  <div class="sprite sprite-topic-file-googledrive2x"></div>
                </div>
                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_GOOGLE_DRIVE">Google Drive
                </div>
              </div>
            </div>
            <div class="line_files_sepparator" *ngIf="config.googleDrive"></div>
            <div class="file_add_cell" *ngIf="config.oneDrive">
              <div class="file_add_btn_wrap" (click)="oneDriveSelect();">
                <div class="file_add_btn">
                  <div class="sprite sprite-topic-file-onedrive2x"></div>
                </div>
                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_ONEDRIVE">OneDrive</div>
              </div>
            </div>
          </div>
        </div>


        <div class="lightbox_section double_row_list user_list" *ngIf="form.files.length">

          <div>

            <div class="category_title">
              <div class="table_cell" translate="MODALS.TOPIC_ATTACHMENTS_TITLE_FILES">
                Files
              </div>
            </div>

            <table>

              <tr *ngFor="let file in form.files | keyvalue">
                <td>
                  <div class="name_wrap file_name">
                    <div class="table_cell">
                      <div *ngIf="!file.value.editMode" class="blue_link">{{file.value.name}}</div>
                      <input *ngIf="file.value.editMode" type="text" ng-model="file.value.name" focus-if
                        (keyup)="$event.keyCode === 13 && editAttachment(file.value)" />
                    </div>
                  </div>

                  <div class="mobile_extra_info">
                    <div class="left">
                      <div class="name_wrap">
                        <div class="table_cell">
                          <div *ngIf="!file.value.editMode" class="blue_link">{{file.value.name}}</div>
                          <input *ngIf="file.value.editMode" type="text" ng-model="file.value.name" />
                        </div>
                      </div>
                    </div>
                    <div class="right">
                      <div class="btn_wrap recycle_bin white_bg">
                        <div class="btn" (click)="deleteAttachment(file.key, file.value)">
                          <div class="table_cell">
                            <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                          </div>
                        </div>
                      </div>
                      <div class="btn_wrap edit_btn" (click)="editAttachment(file.value)">
                        <div class="btn">
                          <div class="table_cell">
                            <div class="sprite sprite-icon-edit2x"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="file_buttons">
                  <div class="btn_wrap edit_btn" (click)="editAttachment(file.value)">
                    <div class="btn">
                      <div class="table_cell">
                        <div class="sprite desktop_fix"
                          [ngClass]="file.value.editMode ? 'sprite-icon-confirm2x' : 'sprite-icon-edit2x'"></div>
                        <div class="sprite mobile_fix"
                          [ngClass]="file.value.editMode ? 'sprite-icon-confirm2x' : 'sprite-icon-edit2x'"></div>
                      </div>
                    </div>
                  </div>
                  <div class="btn_wrap recycle_bin white_bg">
                    <div class="btn" (click)="deleteAttachment(file.key, file.value)">
                      <div class="table_cell">
                        <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                        <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

            </table>

          </div>


        </div>

      </div>

      <!-- MOBILE SAVE BUTTON -->
      <!--div *ngIf="app.wWidth <= 560 && TopicService.canEdit(topic)" class="blue_button_wrap mobile">
        <div class="blue_button" cos-disabled="saveInProgress" (click)="doSaveFiles()"
          translate="MODALS.TOPIC_ATTACHMENTS_SAVE_ATTACHMENTS">Save attachments</div>
      </!--div-->

    </div>
  </div>

  <div id="close_lightbox" class="ngdialog-close" mat-dialog-close>
  </div>

</div>