@use "vars";
@use "mixins_n_extends";

.graph_wrap {
  border-left: 1px solid vars.$lightest_gray;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 10px 100px 10px 0;
  box-sizing: border-box;
  margin-top: 30px;

  * {
      color-adjust: exact;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
  }

  .graph_row {
      position: relative;
      height: 40px;
      width: 100%;

      &:not(:last-child) {
          margin-bottom: 10px;
      }

      &.active {
          .graph_row_fill {
              background: vars.$aqua_marine;
          }
      }

      .graph_row_fill {
          background: vars.$side_panel_gray;
          height: 100%;
          position: relative;
      }

      .graph_row_text_wrap {
          display: table;
          height: 100%;
          width: 200px;
          min-width: 150px;
          position: absolute;
          right: -200px;
      }

      .graph_row_text {
          box-sizing: border-box;
          padding-left: 10px;
          font-size: 13px;
          line-height: 15px;
          text-align: left;
          word-wrap: break-word;
          width: 200px;
          min-width: 150px;
      }

      .bullet {
          padding-left: 2px;
          padding-right: 2px;
      }
  }
}