.row_cell {
  .dropdown {
    min-width: 160px;
    .options {
      min-width: 160px;
    }

    &.dropdown_active {
      .options {
        position: fixed;
        width: max-content;
      }
    }
  }
  .button_dropdown {
    min-width: initial;
  }
}
