<div class="name">
  <div class="profile_image_wrap">
    <img class="profile_image" *ngIf="member.imageUrl" [src]="member.imageUrl">
    <div class="profile_image_filler" *ngIf="!member.imageUrl">
      <cos-initials class="table_cell" *ngIf="member.name" [name]="member.name">
      </cos-initials>
    </div>
  </div>
  <div class="bold" [innerHtml]>{{member.name}}</div>
</div>
<div class="level">
  <div class="dropdown" [cosDropdown]>
    <div class="selection">
      <div class="selected_item">{{'TXT_TOPIC_LEVELS_' + (member.level) |
        uppercase | translate}}</div>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 10L12 15L7 10" stroke="#727C84" stroke-width="2" stroke-linecap="round" />
      </svg>
    </div>
    <div class="options">
      <div class="option" *ngFor="let level of userLevels | keyvalue" (click)="doUpdateMemberUser(level.value)">
        {{'TXT_TOPIC_LEVELS_' + level.value | uppercase | translate}}
      </div>
    </div>
  </div>
  <div class="dropdown button_dropdown" [cosDropdown]>
    <button>
      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9.81738 4.00033C9.81738 3.26699 9.21738 2.66699 8.48405 2.66699C7.75072 2.66699 7.15072 3.26699 7.15072 4.00033C7.15072 4.73366 7.75072 5.33366 8.48405 5.33366C9.21738 5.33366 9.81738 4.73366 9.81738 4.00033ZM9.81738 12.0003C9.81738 11.267 9.21738 10.667 8.48405 10.667C7.75072 10.667 7.15072 11.267 7.15072 12.0003C7.15072 12.7337 7.75072 13.3337 8.48405 13.3337C9.21738 13.3337 9.81738 12.7337 9.81738 12.0003ZM8.48405 6.66699C9.21738 6.66699 9.81738 7.26699 9.81738 8.00033C9.81738 8.73366 9.21738 9.33366 8.48405 9.33366C7.75072 9.33366 7.15072 8.73366 7.15072 8.00033C7.15072 7.26699 7.75072 6.66699 8.48405 6.66699Z"
          fill="#2C3B47" />
      </svg>
    </button>
    <div class="options">
      <div class="option" (click)="doDeleteMemberUser()" translate="COMPONENTS.TOPIC_MEMBER_USER.OPT_REMOVE_USER"></div>
    </div>
  </div>
</div>

<!--div class="row_cell">
  <div class="profile_image_wrap">
    <img class="profile_image" *ngIf="member.imageUrl" [src]="member.imageUrl">
    <div class="profile_image_filler" *ngIf="!member.imageUrl">
      <cos-initials class="table_cell" *ngIf="member.name" [name]="member.name">
      </cos-initials>
    </div>
  </div>
  <div class="bold" [innerHtml]>{{member.name}}</div>
</!--div>
<div-- class="row_cell">
  <div class="dropdown" [cosDropdown]>
    <div class="selection">
      <div class="selected_item">{{'TXT_TOPIC_LEVELS_' + (member.level) |
        uppercase | translate}}</div>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 10L12 15L7 10" stroke="#727C84" stroke-width="2" stroke-linecap="round" />
      </svg>
    </div>
    <div class="options">
      <div class="option" *ngFor="let level of userLevels | keyvalue" (click)="doUpdateMemberUser(level.value)">
        {{'TXT_TOPIC_LEVELS_' + level.value | uppercase | translate}}
      </div>
    </div>
  </div>
  <div class="dropdown button_dropdown" [cosDropdown]>
    <button>
      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9.81738 4.00033C9.81738 3.26699 9.21738 2.66699 8.48405 2.66699C7.75072 2.66699 7.15072 3.26699 7.15072 4.00033C7.15072 4.73366 7.75072 5.33366 8.48405 5.33366C9.21738 5.33366 9.81738 4.73366 9.81738 4.00033ZM9.81738 12.0003C9.81738 11.267 9.21738 10.667 8.48405 10.667C7.75072 10.667 7.15072 11.267 7.15072 12.0003C7.15072 12.7337 7.75072 13.3337 8.48405 13.3337C9.21738 13.3337 9.81738 12.7337 9.81738 12.0003ZM8.48405 6.66699C9.21738 6.66699 9.81738 7.26699 9.81738 8.00033C9.81738 8.73366 9.21738 9.33366 8.48405 9.33366C7.75072 9.33366 7.15072 8.73366 7.15072 8.00033C7.15072 7.26699 7.75072 6.66699 8.48405 6.66699Z"
          fill="#2C3B47" />
      </svg>
    </button>
    <div class="options">
      <div class="option" (click)="doDeleteMemberUser()" translate="COMPONENTS.TOPIC_MEMBER_USER.OPT_REMOVE_USER"></div>
    </div>
  </div>
</div-->

<!--div class="pretend_td">
  <div class="profile_image_wrapper dark">
    <div class="account_picture">
      <img *ngIf="member.imageUrl" [src]="member.imageUrl">
      <div *ngIf="!member.imageUrl" class="profile_image_filler">
        <cos-initials class="table_cell" [name]="member.name"></cos-initials>
        <div class="profile_circle"></div>
      </div>
    </div>
  </div>
  <div class="name_wrap">
    <div class="table_cell">
      <div [innerText]="member.name"></div>
      <div class="via">
        <span *ngIf="member.email || member.phoneNumber">{{member.email}} {{member.phoneNumber}} </span>

        <span *ngIf="member.groups.rows.length && !member.levelUser">
          <span *ngIf="member.email || member.phoneNumber"> • </span>
          <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_VIA"></span>
          <ng-container *ngFor="let group of member.groups.rows; let i = index;">
            <span *ngIf="i !== 0">,</span>
            <span *ngIf="group.name" class="blue_link" [routerLink]="['/my/groups/', group.id]"> {{group.name}} </span>
            <i *ngIf="!group.name" class="disabled" translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP"
              [translateParams]="{level:('TXT_TOPIC_LEVELS_'+group.level | uppercase | translate)}"></i>
            <i class="disabled">({{'TXT_TOPIC_LEVELS_'+group.level | uppercase | translate}})</i>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</!--div>

<div class="pretend_td" *ngIf="isVisibleField('lastActivity')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_LAST_ACTIVITY"></div>
  <div [innerHtml]="member.latestActivity | date : 'yyyy-MM-dd HH:mm'"></div>
</div>
<div class="pretend_td" *ngIf="isVisibleField('level')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_ROLE"></div>
  <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">
    <div class="dropdown_selection">
      <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}</div>

      <div class="arrow_holder">
        <div class="table_cell">
          <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

          <div class="v_line"></div>
        </div>
      </div>
    </div>
    <div class="dropdown" *ngIf="canUpdate()">
      <div class="dropdown_item" *ngFor="let level of userLevels">
        <div class="item_name" (click)="doUpdateMemberUser(level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase |
          translate}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="!canUpdate() ">
    <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}</span>
  </div>
</div>
<div-- class="pretend_td recycle_bin_wrap" *ngIf="canUpdate() && isVisibleField('remove')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LBL_REMOVE">Level</div>
  <div class="btn_wrap recycle_bin">
    <div class="btn" (click)="doDeleteMemberUser()">
      <div class="table_cell">
        <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
        <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
      </div>
    </div>
  </div>
</div-->
