<div class="row_cell">
  <div class="profile_image_wrap">
    <img class="profile_image" *ngIf="member.imageUrl" [src]="member.imageUrl">
    <div class="profile_image_filler" *ngIf="!member.imageUrl">
      <cos-initials class="table_cell" *ngIf="member.name" [name]="member.name">
      </cos-initials>
    </div>
  </div>
  <a class="user_name" [innerHtml]>{{member.name}}</a>
</div>
<div class="row_cell">
  <div class="dropdown" [cosDropdown]>
    <div class="selection">
      <div class="selected_item">{{'TXT_TOPIC_LEVELS_' + (member.level) |
        uppercase | translate}}</div>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 10L12 15L7 10" stroke="#727C84" stroke-width="2" stroke-linecap="round" />
      </svg>
    </div>
    <div class="options">
      <div class="option" *ngFor="let level of userLevels | keyvalue" (click)="doUpdateMemberUser(level.value)">
        {{'TXT_TOPIC_LEVELS_' + level.value | uppercase | translate}}
      </div>
    </div>
  </div>
</div>
<div class="row_cell remove_item_mobile">
  <button (click)="doDeleteMemberUser()">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 6.00065H7.33333L7.33333 11.334H6L6 6.00065Z" fill="#2C3B47" />
      <path d="M10 6.00065H8.66667L8.66667 11.334H10L10 6.00065Z" fill="#2C3B47" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M11.3333 3.33398V2.66732C11.3333 1.93094 10.7364 1.33398 10 1.33398L6 1.33398C5.26362 1.33398 4.66667 1.93094 4.66667 2.66732V3.33398L2.66667 3.33398C2.29848 3.33398 2 3.63246 2 4.00065C2 4.36884 2.29848 4.66732 2.66667 4.66732H3.33333L3.33333 12.0007C3.33333 13.1053 4.22877 14.0007 5.33333 14.0007L10.6667 14.0007C11.7713 14.0007 12.6667 13.1053 12.6667 12.0007L12.6667 4.66732H13.3333C13.7015 4.66732 14 4.36884 14 4.00065C14 3.63246 13.7015 3.33398 13.3333 3.33398H11.3333ZM10 2.66732L6 2.66732V3.33398L10 3.33398V2.66732ZM11.3333 4.66732L4.66667 4.66732L4.66667 12.0007C4.66667 12.3689 4.96515 12.6673 5.33333 12.6673L10.6667 12.6673C11.0349 12.6673 11.3333 12.3689 11.3333 12.0007L11.3333 4.66732Z"
        fill="#2C3B47" />
    </svg>
  </button>
</div>

<!--div class="pretend_td">
  <div class="profile_image_wrapper dark">
    <div class="account_picture">
      <img *ngIf="member.imageUrl" [src]="member.imageUrl">
      <div *ngIf="!member.imageUrl" class="profile_image_filler">
        <cos-initials class="table_cell" [name]="member.name"></cos-initials>
        <div class="profile_circle"></div>
      </div>
    </div>
  </div>
  <div class="name_wrap">
    <div class="table_cell">
      <div [innerText]="member.name"></div>
      <div class="via">
        <span *ngIf="member.email || member.phoneNumber">{{member.email}} {{member.phoneNumber}} </span>

        <span *ngIf="member.groups.rows.length && !member.levelUser">
          <span *ngIf="member.email || member.phoneNumber"> • </span>
          <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_VIA"></span>
          <ng-container *ngFor="let group of member.groups.rows; let i = index;">
            <span *ngIf="i !== 0">,</span>
            <span *ngIf="group.name" class="blue_link" [routerLink]="['/my/groups/', group.id]"> {{group.name}} </span>
            <i *ngIf="!group.name" class="disabled" translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP"
              [translateParams]="{level:('TXT_TOPIC_LEVELS_'+group.level | uppercase | translate)}"></i>
            <i class="disabled">({{'TXT_TOPIC_LEVELS_'+group.level | uppercase | translate}})</i>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</!--div>

<div class="pretend_td" *ngIf="isVisibleField('lastActivity')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_LAST_ACTIVITY"></div>
  <div [innerHtml]="member.latestActivity | date : 'yyyy-MM-dd HH:mm'"></div>
</div>
<div class="pretend_td" *ngIf="isVisibleField('level')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LNK_ROLE"></div>
  <div [cosDropdown] class="classic_dropdown" *ngIf="canUpdate()">
    <div class="dropdown_selection">
      <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}</div>

      <div class="arrow_holder">
        <div class="table_cell">
          <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

          <div class="v_line"></div>
        </div>
      </div>
    </div>
    <div class="dropdown" *ngIf="canUpdate()">
      <div class="dropdown_item" *ngFor="let level of userLevels">
        <div class="item_name" (click)="doUpdateMemberUser(level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase |
          translate}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="!canUpdate() ">
    <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}</span>
  </div>
</div>
<div-- class="pretend_td recycle_bin_wrap" *ngIf="canUpdate() && isVisibleField('remove')">
  <div class="pretend_table_mobile_text mobile_label" translate="VIEWS.PUBLIC_GROUP.LBL_REMOVE">Level</div>
  <div class="btn_wrap recycle_bin">
    <div class="btn" (click)="doDeleteMemberUser()">
      <div class="table_cell">
        <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
        <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
      </div>
    </div>
  </div>
</div-->
