.vote_options {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .vote_option {
    background-color: var(--color-surfaces);
    font-weight: bold;
    .checkbox {
      gap: 16px;
    }

    .checkmark {
      background-color: var(--color-surfaces);
      border: 1px solid var(--color-voting-disabled);

      &::after {
        display: none;
      }
    }

    &.selected {
      background-color: var(--color-voting-disabled);

      .checkmark {
        background-color: var(--color-voting);
      }
      .checkmark::after {
        display: block;
      }
    }
  }
}

.form_wrap {
  padding: 24px 0px;

  form {
    gap: 24px;

    .sign_in_section {
      width: 100%;
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
  }
}

#submit_button {
  path {
    fill: initial;
  }
}

