@use 'vars';
@use 'mixins_n_extends';

.small_topic {
  display: block;
  height: 120px;
  background: vars.$white;
  padding: 13px 20px 17px 20px;
  margin-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  color: inherit;

  .container_pin {
      position: absolute;
      right: -5px;
      top: -5px;
  }

  .container_visibility {
      display: inline-block;
  }

  .small_topic_small_text {
      font-size: 13px;
  }

  .small_topic_left_cont {
      float: left;
  }

  .small_topic_right_cont {
      float: right;
  }

  .small_topic_header {
      height: 20px;

      .small_topic_icon, .small_topic_small_text {
          float: left;
          opacity: .69;
      }

      .small_topic_left_cont {
          .small_topic_icon {
              margin: 3px 8px 0 0;
          }
      }

      .small_topic_right_cont {
          position: relative;

          .icon_container {
              height: 20px;
              width: 20px;
              overflow: hidden;
              border-radius: 50%;

              .topic_image {
                  width: 20px;
                  height: 20px;
              }

          }

          .small_topic_icon {
              margin: 1px 8px 0 0;
          }

          &:hover .hover_info {
              display: block;
              @include mixins_n_extends.tablet {
                  display: none;
              }
          }

          &:hover .small_topic_small_text, &:hover .small_topic_icon {
              opacity: 1;
              @include mixins_n_extends.tablet {
                  opacity: .69;
              }
          }

          .hover_info {
              background-color: vars.$transparent_black;
              position: absolute;
              color: vars.$white;
              border-radius: 4px;
              padding: 14px 15px 1px 15px;
              font-weight: vars.$bold;
              font-size: 14px;
              display: none;
              width: 300px;
              z-index: 9999;
              right: 0;
              margin-right: -340px;
              top: 0;
              margin-top: -15px;

              .info_arrow {
                  position: absolute;
                  left: -5px;
                  top: 20px;
              }

              .hover_item {
                  margin-bottom: 15px;
                  .icon_container {
                      float: left;
                      margin: 0 12px 0 0;
                  }
              }
          }
      }

  }

  .small_topic_title {
      font-size: 16px;
      color: vars.$deep_sky_blue;
      font-weight: vars.$bold;
      margin-top: 6px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;

      .title_div {
          overflow: hidden;
          text-overflow: ellipsis;
          width: calc(100% - 28px);
          display: inline-block;
      }
  }

  .line {
      margin-top: 9px;
  }

  .small_topic_footer {
      color: vars.$medium_black;
      margin-top: 14px;

      .small_topic_icon, .small_topic_small_text {
          float: left;
          opacity: .69;
      }

      .small_topic_left_cont {
          .small_topic_icon {
              margin: 0px 8px 0 0;
          }
      }

  }

}

.small_topic.active, .container_header.active {
  background: vars.$deep_sky_blue;

  .small_topic_title, .small_topic_small_text, .header_text {
      color: vars.$white !important;
  }

  .sprite-menu-icon-groups2x-dark {
      @extend %sprite-menu-icon-groups2x;
  }

  .sprite-mytopics-icon-inprogress2x {
      @extend %sprite-mytopics-icon-inprogress2x-w;
  }

  .sprite-mytopics-icon-followup2x {
      @extend %sprite-mytopics-icon-followup2x-w;
  }

  .sprite-mytopics-icon-voting2x {
      @extend %sprite-mytopics-icon-voting2x-w;
  }

  .sprite-mytopics-icon-closed2x {
      @extend %sprite-mytopics-icon-closed2x-w;
  }

  .sprite-icon-lock2x {
      @extend %sprite-icon-lock2x-white;
  }

  .sprite-btn-filter-gray {
      @extend %sprite-btn-filter-white;
  }

  .sprite-btn-expand2x {
      @extend %sprite-btn-expand2x-white;
  }

  .sprite-btn-minimize2x {
      @extend %sprite-btn-minimize2x-white;
  }

  .minimize_container:hover {
      background: vars.$dark_blue;

      @include mixins_n_extends.tablet {
          background: initial;
      }
  }

}

.small_topic {
  .small_topic_title:hover {
      text-decoration: underline;
      @include mixins_n_extends.tablet {
          text-decoration: none;
      }
  }
  .small_topic_link {
      text-decoration: underline;
      text-transform: capitalize;
  }
}
.no_results {
  .no_results_icon_wrap {
      width: min-content;
      margin-left: auto;
      margin-right: auto;
  }

  .title_area {
      text-align: center;

      h3 {
          font-size: 26px;
      }

      p {
          font-size: 14px;
          color: vars.$dark_gray;
      }
  }
}