@use "mixins_n_extends";

#input_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: var(--color-surfaces);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  position: relative;
  width: 100%;

  input {
    border: none;
    height: 48px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;

    &:focus,
    input:focus {
      outline: none;
    }
  }
}
