@use "vars";

#lightbox {
  width: 600px;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 320px;

  #lightbox_header {
    #lightbox_header_text {
      font-weight: 700;
      font-size: 14px;
    }
  }
  #lightbox_wrap {
    .lightbox_content {
      .lightbox_section {
        border-top: none !important;
        padding: 20px!important;
      }
    }
  }

  table {
    tr {
      height: 29px;
    }
    td {
      &:first-child {
        font-weight: normal;
      }
      padding: 0;
      text-align: left;
    }
  }

  ul {
    list-style: none;
  }
}
