<div class="info_items_wrap">
  <div class="info_header">
    <div class="info_title" translate="VIEWS.TOPICS_TOPICID.SECTION_PARTICIPANTS_HEADING"></div>
    <a class="manage_link" (click)="manageParticipants(topic)"
      *ngIf="canUpdate(topic)"><span translate="VIEWS.TOPICS_TOPICID.LNK_MANAGE"></span></a>
  </div>
  <div class="participants_count_wrap" *ngIf="members$ | async as members">
    <div class="participants_count">
      {{ topic.members.users.count || members.length }}
    </div>
    <div class="avatars_wrap">
      <ng-container *ngFor="let index of [0, 1, 2]">
        <div class="avatar" *ngIf="members[index]">
          <img *ngIf="members[index].imageUrl" [src]="members[index].imageUrl" [alt]="members[index].name || ''" />
          <div class="profile_image_filler" *ngIf="!members[index].imageUrl">
            <cos-initials *ngIf="members[index].name" [name]="members[index].name">
            </cos-initials>
          </div>
        </div>
      </ng-container>

      <div class="avatar" *ngIf="members.length > 3">
        + {{ topic.members.users.count - 3 }}
      </div>
    </div>
  </div>
  <button *ngIf="TopicService.canDelete(topic)" class="btn_medium_secondary bold"
    (click)="inviteMembers(topic)" translate="VIEWS.TOPICS_TOPICID.SECTION_PARTICIPANTS_BTN_SHARE"></button>
</div>

