<div class="big_graph">
  <ng-container *ngFor="let option of sortedOptions; index as i; trackBy: trackByFn;">
    <div class="graph_item">
      <div class="graph_bar" [ngClass]="option.winner ? 'active' : ''" [style.width]="getVoteValuePercentage(option.voteCount)">
      </div>
      <div class="grap_item_info">
        <span class="bold">{{option.voteCount || 0}}</span>
        <span>•</span>
        <span translate="{{'VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_' + i | linky | uppercase}}"
        [translateParams]="{default: (option.value | linky)}"></span>
        <div class="your_vote" *ngIf="option.selected" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_YOUR_VOTE"></div>
      </div>
    </div>
  </ng-container>
</div>
