@use "vars";
@use "mixins_n_extends";

.big_graph {
  margin-top: 30px;

  .graph_wrap {
    margin-top: 30px;

    .graph_row {
      position: relative;
      height: 40px;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }


      .graph_row_text_wrap {
        display: table;
        height: 100%;
        width: 200px;
        min-width: 150px;
        position: absolute;
      }

      .graph_row_text {
        box-sizing: border-box;
        padding-left: 10px;
        font-size: 13px;
        line-height: 15px;
        text-align: left;
        word-wrap: break-word;
        width: 200px;
        min-width: 150px;
      }

      .bullet {
        padding-left: 2px;
        padding-right: 2px;
      }
      .graph_row_fill {
        background: vars.$side_panel_gray;
        height: 100%;
        position: relative;
        cursor: pointer;

        @media (min-width: 1025px) {
          &:hover {
            background: vars.$another_gray;
          }
        }
      }

      &.active {
        .graph_row_fill {
          @media (min-width: 1025px) {
            &:hover {
              background: vars.$aqua_marine_border_second;
            }
          }
        }
      }
    }
  }

  .long_text_holder {
    font-size: 14px;
    @media (max-width: 500px) {
      padding: 0;
    }

    .long_text {
      cursor: pointer;
      padding: 5px 3px;
      @media (max-width: 500px) {
        padding: 5px 5px 0;
      }

      &.active {
        color: vars.$aqua_marine_text;
        font-weight: vars.$bold;
      }

      @media (min-width: 1025px) {
        &:hover {
          background: vars.$side_panel_gray;
        }
      }
    }
  }
}
