.activity_wrap {
  position: relative;
  background-color: var(--color-surfaces);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  padding: 12px 16px;
  gap: 16px;
  color: initial;

  #new_activity {
    border-radius: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  .activity_header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .activity_icon {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }
    .date {
      font-size: 13px;
      line-height: 16px;
    }
  }
  .activity_content {
    display: flex;

  }
  .activity_actions {
    display: flex;
  }
}
