@use "vars";
@use "mixins_n_extends";

#lightbox {
  input {
    @extend %input_small;
  }

  input,
  button {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .profile_image_wrapper {
    height: 80px;
    width: 80px;

    .account_picture {
      height: 80px;
      width: 80px;
    }
  }
}
