@forward "icons";
@forward "icons_new";
@forward "buttons_new";
@forward "illustrations";
@forward "dialog";
@use "themes";
@use "mixins";

:root .default {
  @include mixins.spread-map(themes.$theme-map-default);
  @include mixins.spread-map(themes.$theme-dialog-default);
  @include mixins.spread-map(themes.$theme-messages-default);
  @include mixins.spread-map(themes.$theme-buttons-default);
}
:root .high_contrast {
  @include mixins.spread-map(themes.$theme-map-contrast);
  @include mixins.spread-map(themes.$theme-dialog-contrast);
  @include mixins.spread-map(themes.$theme-messages-contrast);
  @include mixins.spread-map(themes.$theme-buttons-contrast);
}

:root .large {
  @include mixins.spread-map(themes.$theme-font-large);
}
:root .extra_large {
  @include mixins.spread-map(themes.$theme-font-extra-large);
}

.hidden {
  display: none;
}
.main_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px 24px 24px;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-heigth);
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--color-link);
  cursor: pointer;

  path {
    fill: var(--color-link);
  }

  circle {
    stroke: var(--color-link);
  }

  &:hover {
    color: var(--color-link);
  }

}

.input_area {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--color-surfaces);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  input,
  cos-input {
    border: none;
    &:focus,
    &:active,
    &:hover {
      border: none;
      outline: none;
    }

    @include mixins.mobile {
      width: 100%;
      background-color: var(--color-background);
    }
  }
}

input,
.dropdown {
  padding: 14px;
  background: var(--color-surfaces);
  border: 1px solid var(--color-border);
  border-radius: 8px;

  &:focus {
    outline: none;
    border: 1px solid var(--color-border-active);
  }

  &.error_input,
  &.error {
    border: 1px solid var(--color-error);
  }
}

.dropdown {
  border: none;
  height: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;

  .selection {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 14px;
  }

  .options {
    display: none;
    flex-direction: column;
    padding: 8px 0 0;
    background: var(--color-surfaces);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    z-index: 9;

    .option {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 14px;

      &:hover {
        background-color: var(--color-surface-contrast);
      }
    }
  }

  &.dropdown_active {
    .selection {
      border-bottom: none;
      border-radius: 8px 8px 0 0;
    }

    .options {
      border-top: none;
      border-radius: 0 0 8px 8px;
      display: flex;
    }
  }
}

.error_label {
  margin-top: 8px;
  position: relative;
  display: flex;
  gap: 8px;
}

body,
html {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  bottom: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: row;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1.17em;
  }

  h5 {
    font-size: 0.83em;
  }

  .page_header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.line_separator {
  height: 1px;
  width: 100%;
  background: var(--color-border);
  display: flex;
  margin: 16px 0;
}

.row {
  gap: 8px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
}

/*Inline notifications*/

.inline_notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;

  .icon_notification {
    background-size: 24px 24px;
  }
  &.error {
    background-color: var(--color-error-background);
    .icon_notification {
      @extend %icon_notification_error;
      width: 24px;
      height: 24px;
    }
  }

  &.warning {
    background-color: var(--color-warn-background);
    .icon_notification {
      @extend %icon_notification_warning;
      width: 24px;
      height: 24px;
    }
  }

  &.info {
    background-color: var(--color-info-background);
    .icon_notification {
      @extend %icon_notification_info;
      width: 24px;
      height: 24px;
    }
  }

  &.success {
    background-color: var(--color-success-background);
    .icon_notification {
      @extend %icon_notification_success;
      width: 24px;
      height: 24px;
    }
  }
}

/*Components*/
cos-input {
  position: relative;
  display: flex;
  height: max-content;
  .cos_input_wrap {
    display: flex;
    flex-direction: column;

    input {
      position: relative;

      &.with_value {
        padding: 23px 14px 7px 14px;
      }
    }
    .dropdown {
      position: relative;
      &.with_value {
        .selection {
          padding: 23px 14px 7px 14px;
        }
      }
    }
  }
}

cos-toggle {
  width: max-content;
}

.row_list,
.row_header {
  display: flex;
  flex-flow: row wrap;
  padding: 16px 20px;
  background-color: var(--color-surfaces-contrast);
  justify-content: space-between;

  .row_cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }

  &:nth-child(even) {
    background-color: var(--color-surface-contrast);
  }
}

.form_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    input,
    button,
    cos-input {
      width: 100%;
    }

    .inputs_wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      input,
      button,
      cos-input {
        width: 100%;
      }
    }
  }
}

.profile_photo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  img {
    width: inherit;
    border-radius: 40px;
    aspect-ratio: 1;
    object-fit: contain;
  }
}