@forward "icons";
@forward "icons_new";
@forward "buttons_new";
@forward "illustrations";
@forward "dialog";
@use "themes";
@use "mixins";

:root .default {
  @include mixins.spread-map(themes.$theme-map-default);
  @include mixins.spread-map(themes.$theme-dialog-default);
  @include mixins.spread-map(themes.$theme-messages-default);
}
:root .high_contrast {
  @include mixins.spread-map(themes.$theme-map-contrast);
  @include mixins.spread-map(themes.$theme-dialog-contrast);
  @include mixins.spread-map(themes.$theme-messages-contrast);
}

:root .large {
  @include mixins.spread-map(themes.$theme-font-large);
}
:root .extra_large {
  @include mixins.spread-map(themes.$theme-font-extra-large);
}

.hidden {
  display: none;
}
.main_content {
  display: flex;
  flex-direction: column;
  width: 100%;

}

#content_root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 200px;
  width: -webkit-fill-available;
  min-height: 100%;
  padding-top: 60px;

  #content {
    width: 100%;

    min-height: 100%;
    flex-direction: column;

    #view {
      width: 100%;
    }
  }
}


* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--color-link);
  cursor: pointer;
  &:visited {
    color: var(--color-text);
  }
}

input {
  padding: 14px;
  background: var(--color-surfaces);
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

body,
html {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  bottom: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: row;
}

.line_separator {
  height: 1px;
  width: 100%;
  background: var(--color-border);
  display: flex;
  margin: 16px 0;
}

.row {
  gap: 8px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
}
