@forward "styles-old";
@forward "buttons_new";

.main_content {
  display: flex;
  flex-direction: column;

}


#content_root{
  display: flex;
  flex-direction: column;
  padding-left: 190px;
}

$theme-1: (
  container: (
    bg: #e4ada7,
    color: #000,
    border-color: #000,
  ),
  left: (
    bg: #d88880,
    color: #fff,
    height: 100%,
    width: 69%,
  ),
  right: (
    bg: #cc6359,
    color: #fff,
    height: 100%,
    width: 29%,
  ),
  button: (
    bg: #481b16,
    color: #fff,
  ),
);

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .container {
      .left,
      .right {
        font-size: 2rem;
      }
    }

    .container .right {
      position: relative;
    }

    button, .btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: "Noto Sans";
      font-style: normal;
      border-radius: 50vh;
    }

    // Loop through each of the keys (sections)
    @each $section, $map in $theme-map {
      @if ($section == container) {
        .container {
          background-color: map-get($map, bg);
          border: 1px solid map-get($map, border-color);
          display: flex;
          height: 500px;
          justify-content: space-between;
          margin: 0 auto;
          padding: 1em;
          width: 50%;
        }
      } @else {
        .#{$section} {
          background-color: map-get($map, bg);
          color: map-get($map, color);

          @if ($section != button) {
            height: map-get($map, height);
            width: map-get($map, width);
          }
        }
      }
    }
  }
}

@include themable(cos-theme, $theme-1);
