@use "mixins";

argument-reply {
  display: contents;
}

.argument {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.argument_wrap {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 85%;
  max-width: 680px;
  gap: 16px;

  @include mixins.mobile {
    width: calc(100% - 16px);
  }

  .argument_content_wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-radius: 8px;
    padding: 16px;
  }

  &.pro {
    background-color: var(--color-argument-pro-light);
    border-left: solid 4px var(--color-argument-pro);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    align-self: flex-start;
    padding-bottom: 16px;

    .btn_reply_argument {
      background-color: var(--color-voting-disabled);
      color: var(--color-argument-pro-text);
    }
    .btn_ghost_reply_argument {
      border: 2px solid var(--color-voting-disabled);
      color: var(--color-argument-pro-text);
    }

    .replies_wrap {
      align-items: flex-end;
      .reply {
        align-self: flex-end;
      }
    }
  }
  &.con {
    background-color: var(--color-argument-con-light);
    border-right: solid 4px var(--color-argument-con);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-self: flex-end;
    padding-bottom: 16px;

    .btn_reply_argument {
      background-color: var(--color-argument-con-medium);
      color: var(--color-argument-con-text);
    }

    .btn_ghost_reply_argument {
      border: 2px solid var(--color-argument-con-medium);
      color: var(--color-argument-con-text);
    }
    .replies_wrap {
      align-items: flex-start;

      .reply {
        align-self: flex-start;
      }
    }
  }

  &.poi {
    background-color: var(--color-argument-info-light);
    border-left: solid 4px var(--color-info);
    border-right: solid 4px var(--color-info);
    border-radius: 0;
    align-self: center;
    width: 100%;
    max-width: 100%;
    padding-bottom: 16px;

    @include mixins.mobile {
      margin: 0 8px;
      width: calc(100% - 32px);
    }

    .btn_reply_argument {
      background-color: var(--color-argument-info-medium);
      color: var(--color-argument-info-text);
    }

    .btn_ghost_reply_argument {
      border: 2px solid var(--color-argument-info-medium);
      color: var(--color-argument-info-text);
    }

    .replies_wrap {
      align-items: flex-end;

      .reply {
        align-self: flex-end;
      }
    }
  }

  &.reply {

    &:before {
      content: " ";
      border-left: var(--color-argument-pro) 1px solid;
    }
    width: 100%;
    .argument_content_wrap {
      background-color: var(--color-surfaces);
      width: 100%;
    }
    .btn_reply_argument {
      background-color: var(--color-argument-info-medium);
      color: var(--color-argument-info-text);
    }

    .btn_ghost_reply_argument {
      border: 1px solid var(--color-argument-info-text);
      color: var(--color-argument-info-text);
    }
  }
  .argument_header {
    display: flex;
    justify-content: space-between;

    .author_wrap {
      display: flex;
      gap: 8px;
      align-items: center;

      .image_wrap {
        width: 32px;
        height: 32px;
        display: flex;

        .profile_image {
          width: 32px;
          height: 32px;
          display: flex;
          border-radius: 32px;
          aspect-ratio: 1;
          object-fit: cover;
        }

        .profile_image_filler {
          width: 100%;
          background-color: var(--color-surfaces);
          border-radius: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          cos-initials {
            font-size: 14px;
          }
        }
      }
    }

    @include mixins.mobile {
      flex-direction: column;
      gap: 8px;
      .header_left,
      .header_right {
        width: 100%;
        justify-content: space-between;
        .separator {
          display: none;
        }
      }
    }

    .header_left,
    .header_right {
      display: flex;
      gap: 8px;
      align-items: center;

      .dropdown {
        background-color: initial;
        .options {
          position: absolute;
        }
      }
      .btn_argument_actions {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &:hover {
          background-color: var(--color-surfaces);
        }
      }
    }
  }
  .argument_content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .argument_subject {
      display: flex;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    .argument_body {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 20px;

      * {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .argument_footer {
    display: flex;
    justify-content: space-between;

    .footer_left,
    .footer_right {
      display: flex;
      gap: 8px;
      align-items: center;

      .btn_vote_argument {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        &:hover {
          background-color: var(--color-scrollbar);
        }
      }

      .btn_reply_argument,
      .btn_ghost_reply_argument {
        display: flex;
        height: 32px;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        font-weight: 600;
      }

      .btn_ghost_reply_argument {
        @include mixins.mobile {
          padding: 8px;
        }
      }
    }
  }
  .replies_wrap {
    padding-left: 22px;
    display: flex;
    flex-direction: column;

    .reply_container {
      display: flex;
      position: relative;

      .reply_referer {
        height: 48px;
        width: 32px;
        border-radius: 0 0 0 8px;
      }
      .reply_more {
        position: absolute;
        height: 100%;
        width: 1px;
      }
    }
    &.pro {
      .reply_referer {
        border-left: 1px solid var(--color-voting-disabled);
        border-bottom: 1px solid var(--color-voting-disabled);
      }
      .reply_more {
        background-color: var(--color-voting-disabled);
      }
    }
    &.con {
      .reply_referer {
        border-left: 1px solid var(--color-argument-con-medium);
        border-bottom: 1px solid var(--color-argument-con-medium);
      }
      .reply_more {
        background-color: var(--color-argument-con-medium);
      }
    }
    &.poi {
      .argument_wrap {
        max-width: 100%;
      }
      .reply_referer {
        border-left: 1px solid var(--color-argument-info-medium);
        border-bottom: 1px solid var(--color-argument-info-medium);
      }
      .reply_more {
        background-color: var(--color-argument-info-medium);
      }
    }

    &.reply {
      margin-top: -16px;
    }
  }
}
