@use "vars";

%btn_big {
  justify-content: center;
  padding: 8px 24px;
  font-weight: 600;
  gap: 8px;
  font-size: 16px;
  line-height: 32px;
  min-height: 48px;
  border: none;
}

%btn_medium {
  align-items: center;
  padding: 0px 8px;
  gap: 16px;
  min-height: 40px;
}

%btn_small {
  padding: 0px 8px;
  align-items: center;
  gap: 8px;
  min-height: 32px;
}

button,
%btn_big,
%btn_medium,
%btn_small {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans";
  font-style: normal;
  border-radius: 50vh;
  cursor: pointer;
  color: var(--theme-primary);
  border-color: var(--theme-primary);

  &:focus,
  &:hover {
    border: none;
  }

  &.btn_icon {
    width: 1vh;

    div {
      position: absolute;
    }
  }
}

.btn_nav_big {
  @extend %btn_big;
  background-color: var(--theme-primary);
  color: var(--theme-on-primary);
  min-width: 160px;

  &:focus, &:hover {
    background-color: var(--theme-on-secondary);
  }
}

.btn_nav_big_ghost {
  @extend %btn_big;
  background: none;
  border: 2px solid var(--theme-primary);
  min-width: 160px;
  &:focus, &:hover {
    color: var(--theme-on-secondary);
    border: 2px solid var(--theme-on-secondary);
  }
}

.btn_nav_small {
  @extend %btn_small;
  color: var(--theme-primary);
  min-width: 160px;

  &:focus, &:hover {
    background-color: var(--theme-background);
  }

  &.active {
    color: var(--theme-on-secondary);
    background-color: var(--theme-background)
  }
}

.btn_dialog_close {
  border: none;
  background: none;
  border-radius: 50vh;
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:focus,
  &:hover {
    border: none;
  }
}
