@use "vars";

/*Big buttons*/

.button_big {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  gap:8px;
  font-size: 16px;
  line-height: 32px;
  min-width: 160px;
  height: 48px;
  border-radius: 24px;
  border:none;
}

.btn_black {
  /* Black */
  background: vars.$new_medium_black;
  color: vars.$white;
  &:hover {
    background: vars.$blue_700;
  }
}

.btn_black_ghost {
  color: vars.$new_medium_black;
  border: 2px solid vars.$new_medium_black;
  border-radius: 24px;

  &:hover {
    color: vars.$blue_700;
    border: 2px solid vars.$blue_700;
  }
}

.button_big_ghost {
  background: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  min-width: 160px;
  height: 48px;
}

.button_big_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.button_big_ghost_icon {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

/*Medium buttons*/

.btn_black_medium {
  color: vars.$new_medium_black !important; //TODO Remove important after redesign
  &:hover {
    background-color: vars.$blue_50;
  }
}

.button_medium {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 16px;
  min-width: 130px;
  min-height: 32px;

  .button_icon {
    display: inline-flex;
  }
  span {
    display: inline-flex;

    font-family: "Noto Sans";
    font-style: normal;
    font-size: 13px;
    line-height: 16px;

    .bold {
      font-weight: 600;
    }
  }
  &:hover {
    background: vars.$blue_50;
    color: vars.$blue_700;
    border-radius: 24px;
  }


  .bubble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    color: vars.$white;
    padding: 0 8px;
    height: 16px;
    border-radius: 30px;

    &.bg_blue {
      background: vars.$blue_700;
    }

    &.bg_yellow {
      background: vars.$yellow_700;
    }

    &.bg_green {
      background: vars.$green_500;
    }

    &.bg_purple {
      background: vars.$purple_500;
    }
  }
}

.button_medium_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;

  &.dark {
    background-color: vars.$new_medium_black;
  }
  &:hover {
    background-color: vars.$blue_200;
  }
}

/*Small buttons*/