$blue_700: #1168A8;
$blue_100: #EBF4FB;
$blue_200: #D7E9F8;
$gray_300: #F9FBFD;
$gray_500: #E1E7EE;
$green_300: #98DAA2;
$green_500: #5AB467;
$new_medium_black: #2C3B47;
$orange_50: #FFF1E1;
$orange_500: #F39129;
$purple_500: #DA7AB1;
$red_500: #EF4025;
$yellow_50: #FDF0C3;
$yellow_700: #E4B722;