@use "mixins";

mat-dialog-container {
  display: flex!important;

  .mdc-dialog__container {
    height: max-content;
    align-self: flex-start;
  }
}
.cdk-overlay-container {
  z-index: 999;

  .cdk-overlay-pane {
    max-width: initial !important;
    position: initial !important;
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(
    --mdc-dialog-container-shape,
    var(--mdc-shape-medium, 16px)
  ) !important;

  --mdc-dialog-container-shape: 16px;
}

.cdk-global-overlay-wrapper {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  @extend %all_zero;
  position: fixed;
  cursor: pointer;
  z-index: 12;
}
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  position: relative;
  min-width: 560px;

  @include mixins.mobile {
    min-width: initial;
    max-width: 100%;
    width: 100%;
    z-index: 9999999;
    position: fixed;
    left: 0;
    top: 0;
    flex: 1 1;
    height: 100%;
    justify-content: flex-start;
  }

  .dialog_header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 56px;
    background-color: var(--color-dialog);
    justify-content: space-between;

    &.error {
      background-color: var(--color-error-background);
      color: var(--color-error);
    }

    &.warning {
      background-color: var(--color-warn-background);
      color: var(--color-warn);
    }

    &.info {
      background-color: var(--color-info-background);
      color: var(--color-info);
    }

    &.success {
      background-color: var(--color-success-background);
      color: var(--color-success);
    }
    &.voting {
      background-color: var(--color-argument-pro-light);
      color: var(--color-success);
    }

    &.follow_up {
      background-color: var(--color-dialog-follow-up);
    }

    .header_with_icon {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .header_text {
      display: flex;
      padding-left: 20px;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
    .dialog_close {
      display: flex;
      justify-content: center;
      position: absolute;
      right: 0;
      height: 100%;
    }
  }

  .dialog_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dialog-background);
    padding: 16px;

    &.no_padding {
      padding: 0;
    }

    .info_row {
      justify-content: center;
      width: 100%;
    }
    .content_item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .table_section {
      .no_results {
        display: none;
      }
    }
    #form_area {
      .section_header {
        border-radius: initial;
        padding: 8px 16px;
        position: relative;
        width: calc(100% + 32px);
        left: -16px;
      }

      .content_section {
        .section_content_wrap {
          .icon_padding{
            padding: 8px 16px;
          }
        }
      }
    }
  }

  .dialog_info_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surfaces);

    .dialog_info {
      padding: 8px 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      justify-content: space-around;
      position: relative;
      border-radius: 15px;
      background-color: var(--color-dialog);

      &.no_padding {
        padding: 0;
      }

      &.toggle_off {
        background-color: var(--color-error-background);
      }
      &.toggle_on {
        background: var(--color-success-background);
      }

      &.error {
        background-color: var(--color-error-background);
      }

      &.warning {
        background-color: var(--color-warn-background);
      }

      &.info {
        background-color: var(--color-info-background);
      }

      &.voting {
        background-color: var(--color-argument-pro-light);
      }

      &.follow_up {
        background-color: var(--color-dialog-follow-up);
      }

      &.success {
        background-color: var(--color-success-background);
      }

      &.row {
        flex-direction: row;
        justify-content: flex-start;
      }

      a,
      div {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .dialog_info_header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 16px;
        gap: 16px;
      }

      .dialog_info_content {
        padding: 16px;
      }
    }
  }

  .button_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    a {
      line-height: 32px;
    }
  }

  .dialog_footer {
    display: flex;
    background-color: var(--color-dialog);
    flex-direction: column;
    width: 100%;

    &.with_buttons {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;

      .button_row {
        display: flex;
        align-items: center;
        gap: 16px;
        @include mixins.mobile {
          width: 100%;
          flex-direction: column-reverse;
        }
      }
      .btn_medium_submit {
        padding: 12px 24px;
      }
    }
  }

  .info_row {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .dialog_tabs_wrap {
    width: 100%;
    display: flex;
    padding: 0 16px;
    gap: 8px;
    background-color: var(--color-dialog);

    &.follow_up {
      background-color: var(--color-dialog-follow-up);
    }

    .dialog_tab {
      color: var(--color-text);
      display: flex;
      padding: 12px 16px;
      background-color: var(--color-group);
      border-radius: 8px 8px 0 0;

      &.success {
        background-color: var(--color-success-background);
      }

      &.follow_up {
        background-color: var(--color-dialog-follow-up-contrast);
      }

      .tab_text {
        display: none;
      }

      &.active {
        background-color: var(--color-surfaces);
        font-weight: 600;

        .tab_text {
          display: flex;
          gap: 8px;
        }

        .tab_number {
          display: none;
        }
      }
    }
  }
}
