@use "mixins";

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, var(--mdc-shape-medium, 16px))!important;
}

.cdk-global-overlay-wrapper {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  @extend %all_zero;
  position: fixed;
  cursor: pointer;
  z-index: 12;
}
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  position: relative;
  min-width: 560px;

  .dialog_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    background-color: var(--color-dialog);
    justify-content: space-between;
    .header_text {
      display: flex;
      padding-left: 20px;
      justify-content: center;
      align-items: center;
    }
    .dialog_close {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dialog_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dialog-background);
    padding: 16px;
  }

  .dialog_info_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    .dialog_info {
      padding: 16px 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: calc(100% - 32px);
      justify-content: space-around;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      margin-bottom: 16px;
      border-radius: 15px;
      background-color: var(--color-dialog);
    }
  }

  .dialog_footer {
    display: flex;
    background-color: var(--color-dialog);
    flex-direction: column;
    width: 100%;
  }
}
