.illustration_cos_all_features {
  background-image: url('/assets/imgs/cos_all_features.svg');
  width: 453px;
  height: 516px;
}

.illustration_cta {
  background-image: url('/assets/imgs/CTA.svg');
  width: 251px;
  height: 255px;
}

.illustration_who_politics {
  background-image: url('/assets/imgs/illustration_who_politics.svg');
  width: 51px;
  height: 48px;
}