.illustration_cos_all_features {
  background-image: url('/assets/imgs/cos_all_features.svg');
  width: 453px;
  height: 516px;
}

.illustration_cta {
  background-image: url('/assets/imgs/CTA.svg');
  width: 251px;
  height: 255px;
}
