@use "mixins";

#create_heading {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  @include mixins.tablet {
    padding: 12px;
    background-color: var(--color-surfaces);
    border-radius: 16px 16px 0 0;
  }
}

#create_tabs {
  display: flex;
  background-color: var(--color-surfaces);
  width: 100%;
  padding: 0 16px;
  border-radius: 16px;

  @include mixins.tablet {
    border-radius: 0;
    margin-top: -16px;
  }

  .create_tab {
    padding: 28px 56px;
    @include mixins.tablet {
      padding: 12px 38px;
    }
    &.active {
      color: var(--color-link);
      border-bottom: 2px solid var(--color-link);
    }

    .tab_text {
      @include mixins.tablet {
        display: none;
      }
    }
  }
}

#create_content_wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 32px;

  @include mixins.tablet {
    flex-direction: column;
  }

  @include mixins.mobile {
    padding: 0 8px;
  }

  .filter_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    @include mixins.mobile {
      flex-direction: column;
      gap: 24px;
    }
  }
}

#form_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  position: relative;
  justify-content: space-between;

  .error_section {
    display: flex;
    flex-direction: column;
    .section_header {
      display: flex;
      border-radius: 16px 16px 0 0;
      padding: 8px;
      background-color: var(--color-error-background);
      align-items: center;
      padding: 16px;
      gap: 8px;
    }
    .section_content_wrap {
      display: flex;
      flex-direction: row;
      background-color: var(--color-surfaces);
      border-radius: 0 0 16px 16px;
      width: 100%;
      gap: 16px;

      .row_list,
      .row_cell,
      cos-input,
      input,
      textarea {
        width: 100%;
      }
      .row_cell {
        vertical-align: middle;
        align-items: center;
        gap: 16px;
      }
      .remove_button {
        width: 32px;
        height: 32px;
      }
    }
  }
  .create_content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .create_content_section {
      display: flex;
      flex-direction: row;
      background-color: var(--color-surfaces);
      border-radius: 16px;
      width: 100%;
      padding: 26px 24px;
      gap: 16px;

      @include mixins.mobile {
        padding: 12px;
      }

      .number_wrap {
        width: 40px;
        min-width: 40px;
        height: 40px;
        justify-content: center;
        position: relative;
        align-items: center;
        display: flex;
        border-radius: 20px;
        background-color: var(--color-secondary);
        font-weight: bold;

        @include mixins.tablet {
          position: absolute;
        }

        svg {
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .section_content_wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        cos-input,
        input,
        textarea {
          width: 100%;
        }

        h3 {
          padding: 0;
          margin: 0;
          @include mixins.tablet {
            margin: 12px 12px 12px 52px;
          }
        }
        #image_input_area {
          display: flex;
          flex-direction: column;
          gap: 24px;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 160px;
          border: 2px dashed var(--color-border);
          border-radius: 16px;

          @include mixins.tablet {
            div {
              max-width: 210px;
              text-align: center;
            }
          }
          input {
            position: absolute;
            z-index: -1;
            width: 1px;
            height: 1px;
          }
        }

        #image_area {
          display: flex;
          justify-content: space-between;
          align-items: center;

          #image_wrap {
            border-radius: 80px;
            width: 80px;
            height: 80px;
            overflow: hidden;

            img {
              height: inherit;
              width: inherit;
              display: flex;
              aspect-ratio: 1;
              object-fit: cover;
            }
          }
        }

        #search_wrap {
          display: flex;
          gap: 8px;


          .dropdown_input {
            max-width: 160px;
          }

          @include mixins.mobile {
            flex-direction: column;
            .dropdown_input {
              max-width: 100%;
            }
          }

        }

        .rule_input {
          display: flex;
          align-items: center;
          position: relative;

          button {
            display: flex;
            position: absolute;
            right: 8px;
            height: 32px;
            width: 32px;
            top: 8px;
          }
        }
        .add_rule {
          width: fit-content;
        }

        .row_wrap {
          display: flex;
          gap: 16px;

          @include mixins.mobile {
            flex-direction: column;
          }

          .dropdown {
            width: 100%;
          }
          .radio_wrap {
            width: 100%;
            &.active {
              color: var(--color-link);
            }
            .radio_lable {
              font-size: 18px;
              line-height: 24px;
            }
          }
        }

        #category_selection {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          .category_item {
            display: flex;
            background-color: var(--color-surface-contrast);
            border-radius: 8px;
            gap: 8px;
            padding: 8px 16px;
            font-weight: bold;
            cursor: pointer;

            @include mixins.mobile {
              max-width: 100%;
              justify-content: space-between;
            }
          }
        }
      }
      #topic_members_list_wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 16px;

        h3 {
          padding: 0;
          margin: 0;
          @include mixins.tablet {
            margin: 12px 12px 12px 12px;
          }
        }

        .filter_section {
          align-self: baseline;
        }
      }
    }
  }

  #input_area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .search_area_wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--color-surfaces);
      border-radius: 16px;
      padding: 16px 0;
      gap: 24px;

      @include mixins.mobile {
        padding: 8px;
      }

      &.hidden {
        display: none;
      }

      .search_dropdown_item {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding: 8px;
        justify-content: space-between;
        border-radius: 5px;
        &.active {
          background-color: var(--color-surface-contrast);
        }

        .item_text_wrap {
          display: flex;
          gap: 8px;
          align-items: center;
          vertical-align: middle;
        }

        @include mixins.mobile {
          flex-direction: column;
        }
      }
    }

    @include mixins.mobile {
      background-color: var(--color-background);
      border: none;
      border-radius: 0;
    }

    svg {
      position: relative;
    }

    cos-input {
      .cos_input_wrap {
        .cos_input_placeholder {
          left: 8px;
        }
      }
      input {
        &.with_value {
          padding: 23px 0 7px 16px;
        }
      }
    }
    a {
      margin-right: 16px;
    }
  }
}

#help_wrap {
  display: flex;
  min-width: 288px;
  @include mixins.tablet {
    width: 100%;
    margin-bottom: 72px;
  }

  #help_illustration {
    display: flex;
    width: 80px;
    height: 80px;

    @include mixins.mobile {
      display: none;
    }
  }
  #help_illustration_mobile {
    width: 32px;
    height: 32px;
    display: none;

    @include mixins.mobile {
      display: flex;
    }
  }
}

#create_help {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 288px;
  max-height: 292px;
  border-radius: 16px;
  background-color: var(--color-secondary);
  flex-direction: column;

  gap: 16px;
  padding: 24px;

  @include mixins.tablet {
    max-width: 100%;
    flex-direction: row;
    margin-bottom: 96px;
  }

  @include mixins.mobile {
    width: 100%;
    justify-content: flex-start;
    padding: 8px;
    margin-bottom: 84px;
    cursor: pointer;

    &.show {
      #help_text_wrap {
        flex-direction: column;
        align-items: initial;

        .description_text {
          display: flex;
          text-align: left;
          align-items: initial;
        }

        svg {
          display: none;
        }
      }
    }
  }
}

#help_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;

  .description_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  @include mixins.tablet {
    text-align: left;
    align-items: initial;
  }
  @include mixins.mobile {
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    width: 100%;

    .description_text {
      display: none;
    }

    svg {
      display: flex;
    }
  }
}

#create_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-surfaces);
  border-radius: 16px 16px 0 0;
  width: 100%;
  padding: 12px 16px;
  position: relative;
  bottom: 0;

  @include mixins.tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
  }

  div {
    display: flex;
    gap: 16px;
  }

  .btn_big_submit_ghost {
    width: 40px;
    max-width: 40px;
    display: flex;
    padding: 0;

    svg {
      display: flex;
      position: absolute;
    }
  }

  .btn_big_submit {
    #continue_btn {
      display: none;
    }
    @include mixins.mobile {
      width: 40px;
      max-width: 40px;

      .btn_text {
        display: none;
      }

      #continue_btn {
        display: flex;
        position: absolute;
      }
    }
  }
}
