@use "mixins";

.table_section {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row_list,
  .row_header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: var(--color-surface-contrast);
    justify-content: space-between;
    @include mixins.mobile {
      padding: 8px;
    }

    .row_cell {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px;
      gap: 16px;
      align-items: center;
      min-height: 56px;

      @include mixins.mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        &:last-child {
          border-top: 1px solid var(--color-border);
        }
      }
      .cell_title {
        display: none;
        @include mixins.mobile {
          display: flex;
        }
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }
      &.image_cell {
        vertical-align: middle;
        align-items: center;
        gap: 8px;
        padding: 8px;
        font-weight: 600;

        @include mixins.mobile {
          flex-direction: row;
          justify-content: flex-start;
        }
      }
      @include mixins.mobile {
        &.mobile_hide {
          display: none;
        }
        &.remove_item_mobile {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: var(--color-surfaces);
          border-radius: 40px;
          height: 32px;
          width: 32px;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .row_cell_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px;
      align-items: center;
      min-height: 56px;

      &:last-child {
        border-top: 1px solid var(--color-border);
      }
    }

    &:nth-child(even) {
      background-color: var(--color-surface);
    }
  }

  .row_list {
    @include mixins.mobile {
      flex-direction: column;
    }
  }
}

.dialog_content {
  .row_list {
    .row_cell {
      min-height: 40px;
      padding: 0;
    }
    &:nth-child(even) {
      background-color: initial;
    }
    &:nth-child(odd) {
      background-color: initial;
    }
  }

  #topic_members_list_wrap {
    gap: 0;

    .row_list {
      padding: 0;
    }
  }
}
