@use "vars";
@use "mixins_n_extends";
.default_table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  box-sizing: border-box;
  tr,
  .pretend_tr {
    height: 56px;
    background-color: vars.$white;

    &:nth-child(even) {
      background-color: vars.$light_gray;
    }

    &:last-child {
      background-color: vars.$white;
    }
  }

  th,
  .pretend_th {
    padding: 20px;

    @include mixins_n_extends.mobile {
      padding: 0px;
    }

    .icon {
      vertical-align: baseline;
    }

    .th_text {
      width: max-content;
    }
  }
  td,
  .pretend_td {
    padding: 0 20px;
    vertical-align: middle;
    text-align: right;

    @include mixins_n_extends.mobile {
      padding: 0px;
    }

    &:first-child {
      font-weight: 700;
      text-align: left;
    }
    .toggle_cell {
      bottom: 14px;
      position: relative;
    }
  }

  .pretend_table_mobile_text {
    display: none;
  }
}

table,
.pretend_table {
  width: 100%;
  border-collapse: collapse;

  th,
  .pretend_th {
    font-size: 13px;
    opacity: 0.5;
    font-weight: vars.$medium;
    text-decoration: underline;
    cursor: pointer;
    border-bottom: 1px solid vars.$lightest_gray;
    padding: 20px 0 10px 0;

    &:first-child {
      text-align: left;
    }

    &:hover {
      opacity: 1;
    }

    .th_text {
      position: relative;
      display: inline;

      .sprite {
        position: absolute;
        right: -11px;
        top: 4px;
      }
    }
  }

  tr,
  .pretend_tr {
    height: 56px;
  }

  td,
  .pretend_td {
    padding: 0 20px;
    vertical-align: middle;
    text-align: right;

    @include mixins_n_extends.mobile {
      padding: 0px;
    }

    &:first-child {
      font-weight: 700;
      text-align: left;
    }
    .toggle_cell {
      bottom: 14px;
      position: relative;
    }
  }

  .pretend_table_mobile_text {
    display: none;
    opacity: 0.7;
  }
}
