
@use "mixins_n_extends";
@use "vars";

/** TOGGLE WIDGET **/
.toggle_widget {
  position: absolute;
  box-sizing: border-box;
  right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;

  .toggle_text {
    display: none;
  }

  .toggle_circle {
    height: 26px;
    width: 26px;
    background: vars.$white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    transition: all 150ms ease-out;
    z-index: 1;
  }

  &.on {
    background: vars.$aqua_marine;
    border: 1px solid vars.$aqua_marine_border_second;

    .toggle_circle {
      margin-left: 31px;
    }

    &:hover {
      background: vars.$aqua_marine_border_second;

      @include mixins_n_extends.tablet {
        background: vars.$aqua_marine;
      }
    }
  }

  &.off {
    background: vars.$pinky_red;
    border: 1px solid vars.$pinky_red_border;

    .toggle_circle {
      margin-left: 1px;
    }

    &:hover {
      background: vars.$pinky_red_dark_hover;

      @include mixins_n_extends.tablet {
        background: vars.$pinky_red;
      }
    }
  }

  &.text_on {
    width: 69px;

    .toggle_text {
      display: table;
      position: absolute;
      font-size: 14px;
      font-weight: vars.$bold;
      color: vars.$white;
      height: inherit;
      width: 44px;
      margin-top: -1px;
      text-align: center;
    }

    &.on {
      color: vars.$green_dark;

      .toggle_circle {
        margin-left: 40px;
      }
    }

    &.off {
      .toggle_text {
        right: 0;
      }
    }
  }

  &.relative {
    position: relative;
    float: right;
    right: 0;
    margin-top: -5px;
  }
}

.gray_toggle_box {
  display: table;
  background: vars.$light_gray;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;

  & > .table_cell {
    position: relative;

    .toggle_widget {
      position: relative;
      margin: 0 auto;
      top: auto;
      right: auto;
    }

    &:first-child {
      padding: 2px 15px 1px 0;
    }

    &:nth-child(2) {
      width: 60px;
      vertical-align: top;
    }
  }

  .toggle_box_title {
    font-weight: vars.$bold;
  }

  .toggle_box_description {
    margin-top: 3px;
    font-size: 11px;
  }

  .toggle_box_icons {
    padding-top: 15px;

    .icon_wrapper {
      display: inline-block;
    }
  }

  .toggle_box_warning {
    color: vars.$pinky_red;
    padding: 8px 0 13px 36px;
    position: relative;

    .sprite {
      position: absolute;
      left: 0;
      top: 12px;
    }
  }

  .small_input {
    height: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
  }
}
