
$tooltip-background-color: #111111ee;
$margin-tooltip-arrow: 6px !default;
.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: $tooltip-background-color;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;

  :before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $tooltip-background-color;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -$margin-tooltip-arrow;
    position: absolute;
    top: 100%;
    width: 0;
  }
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}