#register_inputs_wrap {
  gap: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
  }
}

.checkbox {
  div {
    display: flex;
    flex-direction: column;
  }
}
/*
.checkbox {
  flex-direction: column;

  .checkmark {
    position: absolute;
    left: 0;
    top: 0;
  }
}
*/
