<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
  <div id="lightbox" class="id_signing wide_lightbox with_title_description">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_HEADING"></div>
          <div class="title_description">{{topic.title}}</div>
        </div>

        <div id="lightbox_close" mat-dialog-close="">
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

        <div class="voting_tag_padding">
          <span *ngIf="options.length === 1" translate="MODALS.TOPIC_VOTE_SIGN_TXT_VOTING_FOR"
            [translateParams]="{optionSelected: options[0]}"></span>
          <div class="voting_tag" *ngFor="let option of options">
            <div class="table_cell">
              <span class="bold"
                [innerHtml]="(('VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_' + option.value) | uppercase) | translate | linky"></span>
              <!--translate-default="{{option.value | linky}}"-->
            </div>
          </div>
        </div>

      </div>

      <div class="line lightest_line"></div>

      <div class="lightbox_content">

        <div class="v_line lightest_line"></div>

        <div class="sign_in_section">
          <form name="formMobileSign" novalidate>
            <div class="sprite_big sprite sprite-mobiil-i-d2x"></div>
            <input id="phone" name="phoneNumber" type="tel" [(ngModel)]="phoneNumber" #phoneNumberInput="ngModel"
              ngModel [placeholder]="'MODALS.TOPIC_VOTE_SIGN_ESTEID_PLACEHOLDER_PHONE' | translate"
              (focus)="wWidth > 1024"
              [ngClass]="{'error_input': (phoneNumberInput.errors && phoneNumberInput.errors['pattern'] && phoneNumberInput.touched)}"
              pattern="^\+?[0-9\s-]{7,}$" required>
            <label for="phoneNumber"
              *ngIf="phoneNumberInput.errors && phoneNumberInput.errors['pattern'] && phoneNumberInput.touched"
              class="error_label">
              <div class="table_cell">
                <div class="icon_notification_error_small"></div>
                <span translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_ERROR_PHONE"></span>
              </div>
            </label>
            <input #pidInput="ngModel" name="pid" type="text" inputmode="numeric" [(ngModel)]="pid"
              ngModel [placeholder]="'MODALS.TOPIC_VOTE_SIGN_ESTEID_PLACEHOLDER_PID' | translate"
              [ngClass]="{'error_input': pidInput.errors && pidInput.errors['pattern'] && pidInput.touched}"
              pattern="^[0-9]{11}$" required>
            <label class="error_label" for="pid"
              *ngIf="pidInput.errors && pidInput.errors['pattern'] && pidInput.touched">
              <div class="table_cell">
                <div class="icon_notification_error_small"></div>
                <span translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_ERROR_PID"></span>
              </div>
            </label>
            <div *ngIf="isLoading && challengeID" class="code"
              translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_TXT_CONTROL_CODE" [translateParams]="{code: challengeID}"></div>
            <div *ngIf="isLoading && challengeID" class="code_text"
              translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_TXT_CHECK_CONTROL_CODE"></div>
            <div *ngIf="isLoading" class="loader_wrap">
              <div class="loader"></div>
            </div>
            <button *ngIf="wWidth <= 550" class="blue_button" (click)="doSignWithMobile()"
              translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_BTN_SIGN_MID"></button><!--[attr.disabled]="formMobileSign.$invalid || isLoading || TopicVoteService.isLoadingIdCard"-->
          </form>
        </div>

        <div class="v_line lightest_line"></div>

        <div class="line_wrap">
          <div class="line lightest_line"></div>
        </div>

        <div class="sign_in_section">
          <div class="sprite_big sprite sprite-i-d-kaart2x"></div>
          <div class="sprite_big sprite sprite-img-idkaart2x"></div>
          <button *ngIf="wWidth <= 550" class="blue_button a" [disabled]="isLoadingIdCard || isLoading"
            (click)="doSignWithCard()" translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_BTN_SIGN_CARD"></button>
        </div>

        <div class="clearer"></div>

        <div *ngIf="wWidth > 550" class="sign_in_section">
          <button class="blue_button" (click)="doSignWithMobile()" [disabled]="isLoading || isLoadingIdCard"
            translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_BTN_SIGN_MID"></button>
        </div>
        <div *ngIf="wWidth > 550" class="sign_in_section">
          <button class="blue_button" [disabled]="isLoadingIdCard || isLoading" (click)="doSignWithCard()"
            translate="MODALS.TOPIC_VOTE_SIGN_ESTEID_BTN_SIGN_CARD"></button>
        </div>

        <div class="clearer"></div>

      </div>

    </div>
  </div>

  <div id="close_lightbox" ng-click="app.closeThisDialog($event)"></div>

</div>
