@use "mixins";

#activity_feed {
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  z-index: 9999;
  padding: 16px;
  height: 100%;
  width: 100%;
  max-width: 300px;
  overflow-y: scroll;
  gap: 16px;
  transition: right 0.5s;

  &.mobile_page {
    z-index: 0;
    top: 60px;
    height: calc(100% - 120px);
  }
  @include mixins.mobile {
    max-width: 100%;
  }

  .feed_heading_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #results_area {
    display: flex;
    flex-direction: column;
    gap: 8px;

    activity {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
