<!-- LIGHTBOX SKELETON -->
<div id="activity_feed">
  <h3 translate="COMPONENTS.ACTIVITY_FEED.HEADING"></h3>
  <a class="btn_medium_close" mat-dialog-close>
    <div class="icon_general_close"></div>
  </a>
  <cos-input [placeholder]="'COMPONENTS.ACTIVITY_FEED.PLACEHOLDER_FILTER' | translate">
    <div class="dropdown" [cosDropdown]>
      <div class="selection">
        <div class="selected_item">{{'COMPONENTS.ACTIVITY_FEED.FILTER_' + ((ActivityService.params$ |
          async)?.include?.toUpperCase() || 'ALL') | translate}}</div>
        <div class="icon_arrow_down_black"></div>
      </div>
      <div class="options">
        <div class="option" *ngFor="let filter of ActivityService.filters" (click)="filterActivities(filter)"
          translate="COMPONENTS.ACTIVITY_FEED.FILTER_{{filter.toUpperCase()}}">
        </div>
      </div>
    </div>
  </cos-input>
  <div id="results_area" (scroll)="loadMore($event)">
    <activity [activitygroup]="item" *ngFor="let item of activities$ | async"></activity>
  </div>
</div>

<div class="overlay"></div>

<!--div class="line lightest_line"></!--div>
<div id="root_lightbox" class="full_screen left_menu_visible">
  <div id="lightbox" class="aligned_left_top">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.ACTIVITY_MODAL_HEADING"></div>
          {{ActivityService.params$.value['filter']?.toUpperCase()}}
          <div [cosDropdown] class="classic_dropdown">

            <div class="dropdown_selection">
              <div class="dropdown_text medium"
                translate="ACTIVITY_FEED.FILTER_{{((ActivityService.params$ | async)?.include?.toUpperCase() || 'ALL')}}">
              </div>

              <div class="arrow_holder">
                <div class="table_cell">
                  <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                  <div class="v_line"></div>
                </div>
              </div>
            </div>
            <div class="dropdown">

              <!-- NO CATEGORY >
              <div class="dropdown_item" *ngFor="let filter of ActivityService.filters"
                (click)="filterActivities(filter)">
                <div class="item_name medium" translate="ACTIVITY_FEED.FILTER_{{filter.toUpperCase()}}">
                </div>
              </div>

            </div>

          </div>

        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>


      </div>

      <div class="line lightest_line"></div>


      <!-- CONFIRM CONTENT >
      <div class="lightbox_content" (scroll)="loadMore($event)">
        <div class="lightbox_section">
          <div class="activity_wrap modal">
            <div class="activity_area">
              <activity [activitygroup]="item" *ngFor="let item of activities$ | async"></activity>
            </div>
          </div>
        </div>

      </div>

      <div class=" lightbox_background">
      </div>


    </div>
  </div>

  <div id="close_lightbox" mat-dialog-close>
  </div>

</div-->
