@use "mixins";

#activity_feed {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  z-index: 9999;
  padding: 16px;
  max-height: 100%;
  overflow-y: scroll;
  gap: 16px;

  .btn_medium_close {
    position: absolute;
    float: right;
    right: 16px;
    top: 16px;
  }

  #results_area {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mixins.mobile {
      padding: 16px;
    }
    activity {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
