@use "mixins";

.overlay {
  @extend %all_zero;
  position: fixed;
  cursor: pointer;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.6);
  @include mixins.mobile {
    display: none;
  }
}

#activity_feed {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  z-index: 98;
  padding: 16px;

  .btn_medium_close {
    position: absolute;
    float: right;
    right: 16px;
    top: 16px;
  }

  #results_area {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mixins.mobile {
      padding: 16px;
    }
  }
}