<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
  <div id="lightbox" class="id_signing">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <span translate="MODALS.LOGIN_SMARTID_HEADING"></span>
        </div>

        <div id="lightbox_close" mat-dialog-close>
          <div class="table_cell">
            <div class="sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>

      </div>

      <div class="lightbox_content">
        <form name="loginSmartIdForm" [formGroup]="smartIdForm" novalidate>
          <div class="sign_in_section sid">
            <div class="sprite_big sprite sprite-smart-i-d2x"></div>
            <div *ngIf="isLoading && !challengeID" class="loader_wrap">
              <div class="loader"></div>
            </div>
            <div *ngIf="!challengeID && !isLoading">
              <input id="countryCode" formControlName="countryCode" type="text" [maxlength]="2"
                [placeholder]="'MODALS.LOGIN_SMARTID_PLACEHOLDER_COUNTRY_CODE' | translate"
                [ngClass]="{'error_input': smartIdForm.controls['countryCode'].errors && smartIdForm.controls['countryCode'].errors['pattern'] && smartIdForm.touched}"
                pattern="^[A-Z]{2}$" required>
              <label for="pid" class="error_label"
                *ngIf="smartIdForm.controls['countryCode'].errors && smartIdForm.controls['countryCode'].errors['pattern'] && smartIdForm.touched">
                <div class="table_cell">
                  <div class="sprite sprite-icon-inputfield-error2x"></div>
                  <span translate="MODALS.LOGIN_SMARTID_ERROR_COUNTRY_CODE"></span>
                </div>
              </label>
              <input id="pid" formControlName="pid" type="text" inputmode="numeric"
                [placeholder]="'MODALS.LOGIN_SMARTID_PLACEHOLDER_PID' | translate"
                [ngClass]="{'error_input': smartIdForm.controls['pid'].errors && smartIdForm.controls['pid'].errors['pattern'] && smartIdForm.touched}">
              <label for="pid" class="error_label"
                *ngIf="smartIdForm.controls['pid'].errors && smartIdForm.controls['pid'].errors['pattern'] && smartIdForm.touched">
                <div class="table_cell">
                  <div class="sprite sprite-icon-inputfield-error2x"></div>
                  <span translate="MODALS.LOGIN_SMARTID_ERROR_PID"></span>
                </div>
              </label>
            </div>

            <div *ngIf="challengeID">
              <div class="code" translate="MODALS.LOGIN_SMARTID_TXT_CONTROL_CODE"
                [translateParams]="{code: challengeID}"></div>
              <div class="code_text" translate="MODALS.LOGIN_SMARTID_TXT_CHECK_CONTROL_CODE"></div>
              <div class="loader_wrap">
                <div class="loader"></div>
              </div>
            </div>
            <button type="submit" (click)="authSmartId()" [disabled]="isLoading || smartIdForm.invalid" class="blue_button"
              translate="MODALS.LOGIN_SMARTID_BTN_AUTHENTICATE_SID"></button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div id="close_lightbox" mat-dialog-close>
  </div>

</div>
