@use "vars";
@use "mixins_n_extends";

.logo_area {
  width: 190px;
  height: 60px;
  background: vars.$dark_black;
  display: table;
  cursor: pointer;

  @include mixins_n_extends.tablet {
    background: none;
    position: absolute;
    left: 0;
  }

  @media (max-width: "750px") {
    width: 59px;
  }

  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
    @media (max-width: "750px") {
      width: 28px;
    }
  }
}

.logo {
  margin: 0 auto;
}

.nav_inside {
  padding: 20px;

  .blue_button {
    margin-top: 20px;
    margin-bottom: 20px;
    word-break: break-word;

    @include mixins_n_extends.tablet {
      margin-top: -10px;
    }
  }

  a:link,
  a:visited {
    color: vars.$transparent_white;
  }

  .sprite,
  a,
  .section_item {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .section_header {
    font-size: 14px;

    .sprite {
      opacity: 1 !important;
    }
  }

  .bold_white {
    font-weight: 700;
    color: vars.$white;
  }

  .bold_blue,
  .bold_blue:visited,
  .bold_blue:link {
    font-weight: 700;
    color: vars.$sky_blue;
    opacity: 1;
  }

  a:hover {
    color: vars.$white;
  }

  #account_area {
    margin-bottom: 21px;
    display: table;
  }

  .section {
    & {
      margin-top: 16px;
    }

    .section_item {
      padding: 4px 0 6px 12px;
      display: block;

      span {
        display: block;
        padding-left: 37px;
      }

      #activity_feed_link_text {
        width: 84px;
      }

      @include mixins_n_extends.tablet {
        padding: 8px 0 8px 12px;
        box-sizing: border-box;
      }

      /* Use tables to center icons*/
      .section_icon {
        width: 21px;
        overflow: hidden;
        height: 20px;
        display: table;
        float: left;
        margin-right: 16px;

        .sprite {
          margin: 0 auto;
          opacity: 0.69;
        }

        .activities_counter {
          height: 17px;
          width: 17px;
          border-radius: 8px;
          background-color: #0680fc;
          color: #ffffff;
          font-family: "Noto Sans";
          font-size: 10px;
          font-weight: bold;
          line-height: 17px;
          text-align: center;
          margin: 0 auto;
        }
      }

      .section_icon.arrow_down {
        float: right;
        margin-right: 1px;
        margin-top: 1px;
      }
    }

    .dropdown_active .section_item {
      background: vars.$black !important;
    }

    .dropdown_active .dropdown {
      visibility: visible;
      height: initial;
      height: 150px;
      overflow-y: auto;
    }

    .dropdown {
      // display: none;
      visibility: hidden;
      height: 0;
      width: 100%;

      .section_item {
        padding-left: 49px;
        padding-right: 5px;
      }
    }

    .section_item:not(.section_header):hover,
    .section_item.active {
      cursor: pointer;
      font-weight: vars.$bold;
      color: vars.$white;

      @include mixins_n_extends.tablet {
        font-weight: initial;

        &.bold_blue {
          font-weight: vars.$bold;
          color: vars.$sky_blue;
          opacity: 1;

          .sprite {
            opacity: 0.69;
          }
        }
      }

      & {
        background: vars.$black;
        font-weight: vars.$bold;
      }

      .sprite {
        opacity: 1;
      }
    }

    .section_item:not(.section_header):hover {
      @include mixins_n_extends.tablet {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.45);
        background: initial;
      }
    }
  }
}

#nav_partner_wrap {
  height: 50px;
  width: 190px;
  background-color: #1a1a1a;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  @include mixins_n_extends.tablet {
    right: 0;
    width: 230px;
  }

  #nav_partner_items {
    display: table-cell;
    height: 50px;
    vertical-align: middle;

    span {
      font-size: 12px;
      float: left;
    }

    .nav_partner_logo {
      background: url("/assets/imgs/cos_logo_small_negative.png");
      width: 88px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: 88px 16px;
      margin-left: 5px;
    }
  }
}
