@use "mixins";

.nav_mobile {
  display: none;
  @include mixins.mobile {
    border-bottom: 1px solid var(--color-background);
    border-radius: 0 0 16px 16px;

    &.box {
      border-radius: 0;
    }
  }
  @include mixins.tablet {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    z-index: 999;
    background: var(--color-surfaces);

    &.dark_backround {
      background: var(--color-background);
    }

    .logo_wrap {
      display: flex;
      padding: 24px 0px;
    }
    #button_area {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      gap: 8px;
      right: 8px;
    }
  }

  &.pos_absolute {
    position: absolute;
    z-index: unset;

    #button_area {
      position: absolute;
    }
  }
}

.line_separator,
.line_separator_tablet {
  background: var(--color-secondary);
}

.nav_wrap {
  position: fixed;
  height: 100%;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;

  &.pos_absolute {
    position: absolute;
  }
  @include mixins.tablet {
    position: absolute;
    width: 320px;
    right: 0;
    max-width: 320px;
  }

  @include mixins.mobile {
    max-width: 100%;
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--color-scrollbar);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 8px;
  }
}
.nav {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  width: 200px;
  min-height: 100%;
  padding: 0 20px;
  left: 0;
  top: 0;
  background: var(--color-surfaces);
  transition: all 0.5s ease-in-out;

  .nav_items_wrap  {
    width: 100%;

    @include mixins.tablet {
      padding: 8px 16px;
    }
  }

  #nav_items_constant {
    @include mixins.tablet {
      background-color: var(--color-surface-contrast);
    }
  }
  #profile_item_wrap {
    display: flex;
    gap: 12px;
    width: 100%;
    flex-direction: row;
    @include mixins.tablet {
      cursor: pointer;
      flex-direction: row;
      padding: 16px;
      justify-content: flex-start;
      align-items: center;
      background-color: var(--color-surface-contrast);
      border-radius: 16px;
      margin: 0 16px 16px 16px;
      width: calc(100% - 32px);

      .options {
        left: 0;
      }
    }
  }

  #profile_text_wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .user_name {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
    }

    a {
      display: flex;
      align-items: center;
      vertical-align: middle;
    }
  }

  #profile_dropdown {
    border: none;

    .selection {
      display: flex;
      border: none;
      padding: 0;
      align-items: center;
      gap: 8px;
      font-size: 13px;
      font-style: normal;
      line-height: 16px;
    }

    .options {
      border: none;
      margin-top: 16px;
      box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
        0px 12px 16px 0px rgba(50, 85, 112, 0.1);

      .line_separator_options {
        height: 1px;
        width: calc(100% - 16px);
        margin-right: auto;
        margin-left: auto;
        background: var(--color-secondary);
      }
    }
    .option {
      color: var(--color-text);
      gap: 8px;

      &:hover {
        color: var(--color-link);
      }
    }
  }
  .btn_small_nav {
    min-width: 160px;
    justify-content: normal;
  }

  .btn_big_submit,
  .btn_big_submit_ghost {
    min-width: 160px;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
    }

    &:hover {
      svg {
        transform: rotate(180deg);
        transition: transform 150ms ease;
      }
    }
  }

  @include mixins.tablet {
    height: max-content;
    padding: 0;
    position: absolute;
    width: 0;
    max-width: 320px;
    .btn_small_nav {
      min-width: 100%;
    }
    .btn_big_submit,
    .btn_big_submit_ghost {
      min-width: 100%;
    }
    opacity: 0;
    height: 0;
    left: 0;
    bottom: 0;
    &.nav_is_open {
      opacity: 1;
      width: 100%;
      height: max-content;
    }
  }

  @include mixins.mobile {
    max-width: 100%;
  }
  &.nav_is_open {
    padding-top: 56px;
    padding-bottom: 56px;
    right: 0;
    left: initial;
    z-index: 10;

    .logo_wrap {
      display: none;
    }
  }

  .logo_wrap {
    display: flex;
    padding: 24px 0px;
  }
  .nav_inside {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include mixins.tablet {
      gap: 0;
      padding: 8px 0;
    }

    .big_button_wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 8px;
      gap: 8px;
      width: 100%;

      @include mixins.tablet {
        padding: 16px 16px 24px 16px;
      }
      @include mixins.mobile {
        flex-direction: row;

        .btn_big_submit, .btn_big_submit_ghost {
          width: 100%;
          min-width: auto;

          &:hover {
            svg {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    #nav_main {
      width: 100%;
    }
    .line_separator {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 160px;
      height: 1px;

      @include mixins.tablet {
        display: none;
      }
    }

    .line_separator_tablet {
      height: 1px;
      width: calc(100% - 30px);
      background: var(--color-border);
      display: none;
      margin: 8px 0 8px 30px;
      @include mixins.tablet {
        display: flex;
      }
    }

    .sub_items {
      display: flex;
      flex-direction: column;

      @include mixins.tablet {
        width: 100%;
        padding-left: 40px;
      }
    }
  }

  .nav_footer_wrap {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    gap: 16px;
    padding: 32px 0;

    .nav_footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 16px;
      height: 48px;

      .footer_icon_wrap {
        background-size: 16px 16px;
        width: 16px;
        height: 16px;

        svg {
          width: 16px;
          height: 16px;
        }

        @include mixins.tablet {
          width: 40px;
          height: 40px;
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .footer_hashtag_wrap {
      color: var(--color-text);
      height: 16px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 24px;

      @include mixins.tablet {
        font-size: 16px;
      }
    }
  }
}

.nav_bubble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: var(--color-surfaces);
  padding: 0 8px;
  height: 16px;
  border-radius: 30px;

  @include mixins.tablet {
    width: 32px;
    height: 24px;
  }

  &.bg_discussion {
    background: var(--color-discussion);
  }

  &.bg_ideation {
    background: var(--color-ideation);
  }

  &.bg_voting {
    background: var(--color-voting);
  }

  &.bg_follow_up {
    background: var(--color-follow-up);
  }
}

.nav_create_menu_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;

  &.hidden {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;

    .create_menu_item {
      display: none;
    }
  }

  .create_menu_item {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;

    @include mixins.mobile {
      width: 100%;
      gap: 16px;
    }

    &:hover {
      background: var(--color-secondary);
      border-radius: 8px;
    }

    .left_wrap {
      display: flex;
      gap: 8px;
      @include mixins.mobile {
        width: 100%;
        gap: 16px;
      }
    }

    .icon_wrap {
      width: 32px;
      height: 32px;
      border-radius: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .item_text_wrap {
      /* Auto layout */

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      /* Inside auto layout */

      .item_title {
        width: 181px;
        height: 24px;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-text);
      }

      .item_description {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-text);
      }
    }
    .icon_item {
      display: flex;
      margin-top: 6px;
    }
  }
}

.btn_small_nav {
  .accessibility_icon {
    svg {
      path {
        fill: none;
      }
    }
  }
  &:hover {
    .accessibility_icon {
      svg {
        path {
          fill: none;
          stroke: var(--color-link);
        }
      }
    }
  }
}
