<div class="nav_mobile">
  <div class="logo_wrap">
    <div class="icon_logo_small_positive" routerLink="/"></div>
  </div>

  <div class="nav_mobile_button" >
    <a [ngClass]="app.showNav ? 'icon_close_mobile' : 'icon_menu_mobile'" (click)="app.showNav = !app.showNav"></a>
    <!--div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_MENU"></!--div-->
  </div>
</div>
<div class="nav" [ngClass]="app.showNav ? 'nav_is_open' : ''">
  <div class="logo_wrap">
    <div class="icon_logo_small_positive" routerLink="/"></div>
  </div>
  <div class="nav_inside">
    <ng-container *ngIf="auth.user$ | async; then loggedIn; else loggedOut"></ng-container>
    <ng-template #loggedOut>
      <button class="nav_button button_big_black" (click)="doShowLogin()" translate="DEFAULT.NAV.BTN_LOGIN"></button>
      <button class="nav_button button_big_ghost" (click)="doShowRegister()"
        translate="DEFAULT.NAV.BTN_REGISTER"></button>
    </ng-template>
    <ng-template #loggedIn>
      <button class="nav_button button_big_black_icon" (click)="showCreateMenu()">
        <div class="icon_create"></div>
        <span translate="DEFAULT.NAV.BTN_CREATE"></span>
      </button>

      <a class="menu_item" [routerLink]="['/', translate.currentLang, 'dashboard']" routerLinkActive="active">
        <div class="menu_icon icon_home"></div>
        <span class="bold" translate="DEFAULT.NAV.LNK_DASHBOARD"></span>
      </a>
      <div class="menu_item">
        <div class="menu_icon icon_topic"></div>
        <span class="bold" translate="DEFAULT.NAV.LNK_MY_TOPICS"></span>
      </div>
      <div class="sub_items">
        <a class="sub_item" [routerLink]="['/', translate.currentLang, 'my', 'topics']"
          [queryParams]="{filter: 'inProgress'}">
          <div class="sub_item_bubble discussion">3</div><span translate="DEFAULT.NAV.LNK_IN_DISCUSSION"></span>
        </a>
        <a class="sub_item" [routerLink]="['/', translate.currentLang, 'my', 'topics']"
          [queryParams]="{filter: 'ideation'}">
          <div class="sub_item_bubble ideation">3</div><span translate="DEFAULT.NAV.LNK_IN_IDEATION"></span>
        </a>
        <a class="sub_item" [routerLink]="['/', translate.currentLang, 'my', 'topics']"
          [queryParams]="{filter: 'voting'}">
          <div class="sub_item_bubble voting">3</div><span translate="DEFAULT.NAV.LNK_IN_VOTING"></span>
        </a>
        <a class="sub_item" [routerLink]="['/', translate.currentLang, 'my', 'topics']"
          [queryParams]="{filter: 'followUp'}">
          <div class="sub_item_bubble follow_up">3</div><span translate="DEFAULT.NAV.LNK_IN_FOLLOW_UP"></span>
        </a>
      </div>
      <a class="menu_item" [routerLink]="['/', translate.currentLang, 'my', 'groups']" routerLinkActive="active">
        <div class="menu_icon icon_group"></div>
        <span class="bold" translate="DEFAULT.NAV.LNK_MY_GROUPS"></span>
      </a>
    </ng-template>
    <div class="line_separator"></div>
    <a class="menu_item" [routerLink]="['/', translate.currentLang, 'public' ,'topics']" routerLinkActive="active">
      <div class="menu_icon icon_public_topics"></div>
      <span class="bold" translate="DEFAULT.NAV.LNK_PUBLIC_TOPICS"></span>
    </a>
    <a class="menu_item" [routerLink]="['/', translate.currentLang, 'public' ,'groups']" routerLinkActive="active">
      <div class="menu_icon icon_public_groups"></div>
      <span class="bold" translate="DEFAULT.NAV.LNK_PUBLIC_GROUPS"></span>
    </a>
    <div class="line_separator"></div>
    <ng-container *ngIf="auth.user$ | async">
      <a class="menu_item" [routerLink]="['/', translate.currentLang, 'account']" routerLinkActive="active">
        <div class="menu_icon icon_profile"></div>
        <span translate="DEFAULT.NAV.LNK_MY_ACCOUNT"></span>
      </a>
    </ng-container>

    <a class="menu_item" (click)="doShowLanguageSelect()">
      <div class="menu_icon icon_language"></div>
      <span>{{ config.get('language').list[translate.currentLang]}}</span>
    </a>
    <a class="menu_item" (click)="toggleHelp()">
      <div class="menu_icon icon_help"></div>
      <span translate="DEFAULT.NAV.LNK_HELP"></span>
    </a>
    <a class="menu_item" *ngIf="config.get('links').about" target="_blank" [href]="config.get('links').about">
      <div class="menu_icon icon_about_us"></div>
      <span translate="DEFAULT.NAV.LNK_ABOUT"></span>
    </a>
    <a class="menu_item" (click)="accessibility()">
      <div class="menu_icon icon_accessibility"></div>
      <span translate="DEFAULT.NAV.LNK_ACCESSIBILITY"></span>
    </a>
  </div>
  <div class="nav_footer_wrap">
    <div class="nav_footer">
      <a class="footer_icon_wrap" href="https://www.facebook.com/citizenos.web" target="_blank">
        <div class="icon_nav_social_facebook"></div>
      </a>
      <a class="footer_icon_wrap" href="https://www.instagram.com/citizen_os_foundation/" target="_blank">
        <div class="icon_nav_social_instagram"></div>
      </a>
      <div class="footer_icon_wrap" href="https://twitter.com/Citizen_OS" target="_blank">
        <div class="icon_nav_social_twitter"></div>
      </div>
      <div class="footer_icon_wrap" href="https://medium.com/@Citizen_OS" target="_blank">
        <div class="icon_nav_social_meedium"></div>
      </div>
      <div class="footer_icon_wrap" href="http://github.com/citizenos" target="_blank">
        <div class="icon_nav_social_github"></div>
      </div>
    </div>
    <div class="footer_hashtag_wrap">
      <div class="footer_hashtag">#citizenos</div>
    </div>
  </div>
</div>

<!--div *ngIf="wWidth > 1024">
  <div class="logo_area">
    <div class="logo sprite sprite-x5-cos-logo-small2x" routerLink="/" *ngIf="!!(auth.loggedIn$ | async)"></div>
    <!-- Only show this if the user is NOT logged in >
    <div class="logo sprite sprite-x6-cos-logo-big2x" routerLink="/" *ngIf="!(auth.loggedIn$ | async)"></div>
  </div>
</!--div-->


<!--div class="nav_inside">
  <!-- Only show this if the user is NOT logged in >
  <ng-container *ngIf="auth.user$ | async; then loggedIn; else loggedOut"></ng-container>
  <ng-template #loggedOut>
    <button class="blue_button ngShow" (click)="doShowLogin()" translate="DEFAULT.NAV.LNK_LOG_IN_REGISTER"></button>

    <div class="section">
      <div class="line dark_line"></div>
      <div class="line light_line"></div>

      <a [routerLink]="['/', translate.currentLang, 'public' ,'topics']" routerLinkActive="active" class="section_item">
        <div class="section_icon">
          <div class="table_cell">
            <div class="sprite sprite-menu-icon-topics2x"></div>
          </div>
        </div>
        <span translate="DEFAULT.NAV.LNK_PUBLIC_TOPICS"></span>
      </a>

      <a [routerLink]="['/', translate.currentLang, 'public', 'groups']" routerLinkActive="active" class="section_item">
        <div class="section_icon">
          <div class="table_cell">
            <div class="sprite sprite-menu-icon-groups2x"></div>
          </div>
        </div>
        <span translate="DEFAULT.NAV.LNK_PUBLIC_GROUPS"></span>
      </a>
    </div>
  </ng-template>
  <!-- Only show this if the user is logged in >
  <ng-template #loggedIn>

    <div>

      <div id="account_area" *ngIf="auth.user$ | async as user">

        <div class="table_cell">
          <div class="profile_image_wrapper">
            <!--div class="profile_moon sprite sprite-icon-certified-google2x"></!--div>
            <div class="account_picture">
              <img [src]="user.imageUrl" *ngIf="user.imageUrl">
              <div class="profile_image_filler" *ngIf="!user.imageUrl">
                <cos-initials class="table_cell" [name]="user.name">
                </cos-initials>
                <div class="profile_circle"></div>
              </div>
            </div>

          </div>
        </div>

        <div id="account_text">
          <div class="section_header bold_white">{{user.name}}</div>
          <a [routerLink]="['/', translate.currentLang, 'account']" routerLinkActive="active" id="account_action" href="" translate="DEFAULT.NAV.LNK_MY_ACCOUNT"></a>
        </div>

      </div>

      <div class="line dark_line"></div>
      <div class="line light_line"></div>

      <!-- Nav section >
      <div class="section">
        <a (click)="doShowActivityModal()" class="section_item">
          <div class="section_icon">
            <ng-container *ngIf="unreadActivitiesCount$ | async ; then unread; else noUnread">
            </ng-container>
            <div class="table_cell">
              <ng-template #noUnread>
                <div class="sprite sprite-menu-icon-activities2x"></div>
              </ng-template>
              <ng-template #unread>
                <div class="activities_counter">
                  {{newActivities}}
                </div>
              </ng-template>
            </div>
          </div>
          <span id="activity_feed_link_text" translate="DEFAULT.NAV.LNK_ACTIVITY"></span>
        </a>
      </div>

      <div class="line dark_line"></div>
      <div class="line light_line"></div>

      <div class="section">
        <div class="section_item section_header bold_white">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-menu-icon-topics2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.HEADING_TOPICS"></span>
        </div>
        <a [routerLink]="['/', translate.currentLang, 'topics', 'create']" routerLinkActive="active" class="section_item bold_blue">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-bullet-plus2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.LNK_CREATE_TOPICS"></span>
        </a>
        <a [routerLink]="['/', translate.currentLang, 'my', 'topics']" routerLinkActive="active" class="section_item">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-bullet-arrow2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.LNK_MY_TOPICS"></span>
        </a>
        <a [routerLink]="['/', translate.currentLang, 'public', 'topics']" routerLinkActive="active" class="section_item">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-bullet-arrow2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.LNK_PUBLIC_TOPICS"></span>
        </a>
      </div>

      <!-- Nav section >
      <div class="section">
        <div class="section_item section_header bold_white">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-menu-icon-groups2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.HEADING_GROUPS"></span>
        </div>
        <a [routerLink]="['/', translate.currentLang, 'my', 'groups', 'create']" routerLinkActive="active" class="section_item bold_blue">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-bullet-plus2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.LNK_CREATE_GROUPS"></span>
        </a>
        <a [routerLink]="['/', translate.currentLang, 'my', 'groups']" routerLinkActive="active" class="section_item"><!--({filter: 'grouped'})>
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-bullet-arrow2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.LNK_MY_GROUPS"></span>
        </a>
        <a [routerLink]="['/', translate.currentLang, 'public', 'groups']" routerLinkActive="active" class="section_item">
          <div class="section_icon">
            <div class="table_cell">
              <div class="sprite sprite-bullet-arrow2x"></div>
            </div>
          </div>
          <span translate="DEFAULT.NAV.LNK_PUBLIC_GROUPS"></span>
        </a>
      </div>
    </div>
  </ng-template>


  <div class="line dark_line"></div>
  <div class="line light_line"></div>


  <!-- Nav section >
  <div class="section">

    <a *ngIf="config.get('links').about" class="section_item" target="_blank" [href]="config.get('links').about">
      <div class="section_icon">
        <div class="table_cell">
          <div class="sprite sprite-menu-icon-about2x"></div>
        </div>
      </div>
      <span translate="DEFAULT.NAV.LNK_ABOUT"></span>
    </a>

    <a class="section_item" (click)="toggleHelp()">
      <div class="section_icon">
        <div class="table_cell">
          <div class="sprite sprite-menu-icon-help2x"></div>
        </div>
      </div>
      <span translate="DEFAULT.NAV.LNK_HELP"></span>
    </a>
    <a class="section_item" (click)="doShowLanguageSelect()">
      <div class="section_icon">
        <div class="table_cell">
          <div class="sprite sprite-x0-menu-icon-help2x"></div>
        </div>
      </div>
      {{ config.get('language').list[translate.currentLang]}}
    </a>
  </div>


  <!-- Only show this if the user is logged in >
  <div *ngIf="auth.loggedIn$ | async">

    <div class="line dark_line"></div>
    <div class="line light_line"></div>


    <div class="section">

      <a (click)="doLogout();" class="section_item" href="">
        <div class="section_icon">
          <div class="table_cell">
            <div class="sprite sprite-menu-icon-logout2x"></div>
          </div>
        </div>
        <span translate="DEFAULT.NAV.LNK_LOG_OUT"></span>
      </a>

    </div>
  </div>
  <div id="nav_partner_wrap" *ngIf="displayEmpoweredIcon()">
    <a href="https://citizenos.com" target="_blank">
      <div id="nav_partner_items">
        <span>Empowered by </span>
        <span>
          <div id="nav_partner_logo" class="nav_partner_logo"></div>
        </span>
      </div>
    </a>
  </div>
</!--div-->