<div id="root_lightbox" class="full_screen">
  <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
    <div id="lightbox_wrap">

      <div id="lightbox_header">

        <div id="lightbox_header_text">
          <div class="title" translate="MODALS.TOPIC_VOTE_DELEGATE_HEADING"></div>
          <div class="title_description">{{topic.title}}</div>
        </div>

        <div id="lightbox_close" class="ngdialog-close" mat-dialog-close>
          <div class="table_cell ngdialog-close">
            <div class="ngdialog-close sprite sprite-btn-popup-close2x">
            </div>
          </div>
        </div>

        <div class="clearer"></div>

        <div class="header_row_wrap">
          <div class="header_row" slide-controller identifier="topicSettingsSlider">
            <div class="tab_button active">
              <div class="tab_buttom_wrap">
                <div class="tab_button_text" translate="MODALS.TOPIC_VOTE_DELEGATE_TAB"></div>
                <div class="blue_bottom_line"></div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="line lightest_line"></div>

      <div class="lightbox_content">

        <div class="lightbox_section">

          <div class="input_text_margin_bottom" translate="MODALS.TOPIC_VOTE_DELEGATE_LBL_SEARCH_MEMBERS"></div>

          <div class="searchbox_with_icon_and_text only_text">
            <div [cosDropdown]
              [ngClass]="{search_with_dropdown : resultCount, dropdown_active : resultCount}">

              <typeahead id="userSearch" class="auto-complete"
                [term]="searchStringUser" (search)="search($event)" (select)="addUser($event)"
                [placeholder]="'MODALS.TOPIC_VOTE_DELEGATE_PLACEHOLDER_SEARCH_BY_NAME' | translate">
                <div class="search_area_wrap">
                  <div class="search_dropdown_area" [ngClass]="{hidden: !resultCount}">
                    <div class="search_dropdown_item" [typeaheadItem]="user"
                      *ngFor="let user of searchResultUsers$ | async">
                      <div class="table_cell search_item_text">
                        <b>{{user.name}}</b> {{user.email}}
                      </div>
                      <div class="table_cell blue_link">
                        <span class="submit_link" (click)="addUser(user)"
                          translate="MODALS.TOPIC_VOTE_DELEGATE_TXT_PRESS_ENTER_OR_CLICK_TO_ADD"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="search_text">
                  <div class="table_cell blue_link" (click)="addUser()"
                    translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD"></div>
                </div>

              </typeahead>
            </div>
            <div class="search_text">
              <div class="table_cell blue_link" translate="MODALS.TOPIC_VOTE_DELEGATE_TXT_PRESS_ENTER_TO_ADD"></div>
            </div>
          </div>

        </div>


        <div class="lightbox_section double_row_list user_list">

          <div *ngIf="delegateUser">

            <div class="category_title">
              <div class="table_cell" translate="MODALS.TOPIC_VOTE_DELEGATE_TH_USERS"></div>
            </div>

            <table>

              <tr>
                <td>
                  <div class="profile_image_wrapper dark">
                    <!--div class="profile_moon sprite"></div-->
                    <div class="account_picture">
                      <img *ngIf="delegateUser.imageUrl" [src]="delegateUser.imageUrl">
                      <div class="profile_image_filler">
                        <cos-initials class="table_cell" [name]="delegateUser.name"></cos-initials>
                        <div class="profile_circle"></div>
                      </div>
                    </div>
                  </div>
                  <div class="name_wrap">
                    <div class="table_cell">
                      <div class="blue_link" (click)="doRemoveDelegateUser()">
                        {{delegateUser.name}}</div>
                      <div class="via">{{delegateUser.company}}</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="btn_wrap recycle_bin white_bg">
                    <div class="btn" (click)="doRemoveDelegateUser()">
                      <div class="table_cell">
                        <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                        <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

            </table>

          </div>


        </div>

      </div>

      <div class="lightbox_footer">

        <div class="line lightest_line"></div>
        <div class="blue_button_wrap">
          <div class="blue_button ngdialog-close" *ngIf="delegateUser"
            (click)="doSaveDelegate()" translate="MODALS.TOPIC_VOTE_DELEGATE_BTN_DELEGATE" mat-dialog-close></div>
        </div>
      </div>

    </div>
  </div>

  <div id="close_lightbox" class="ngdialog-close" mat-dialog-close>

  </div>

</div>