.dialog_content {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dialog-background);
  padding: 16px;
  gap: 16px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
